/**
 ============= Reset generic DI styles ==========
 =======================================
 **/

body, td {
  font-size: 16px !important;
  font-family: $fontfamily !important;

  @media print {
    font-size: 12px !important;
    background: #FFF !important;
  }
}

body {
  background: #eee !important;
}

div.imgBtn {
  border: none;
  outline: none;
}
span.customValidator {
  margin: 0 0 10px 0;
}
#divError {
  background: none !important;

  table {
    td:first-child {
      // Ugly Error icon
      display: none !important;
    }
    td:nth-child(2) {
      // Error message
      padding:5px;
      text-align: center;
      line-height: 1.5
    }
  }
}

strong span {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;

  @include breakpoint($tablet) {
    font-size: 21px;
  }
}

a {
  color: $pepper-red !important;
}