//$bg-dark : #515F6b;
//MB-2240 CR
$bg-dark : #253746;
$bg-light : #eeeeee;

// $backgrounds: (light, $ivory, $pepper-grey-text), (dark, $pepper-grey-text, $white), (red, $red, $white), (red-dark, $red-dark, $white), (red-light, $red-light, $white), (green, $green, $white), (green-dark, $green-dark, $white), (green-light, $green-light, $white), (grey, $grey, $blue), (blue, $blue, $white), (purple, $purple, $white), (yellow, $yellow, $blue), (orange, $orange, $white);
$backgrounds: (light, $bg-light, $pepper-grey-text), (dark, $bg-dark, $white), (grey, #D1D3D4, #000);

@each $color, $bgcolor, $forecolor in $backgrounds {
    .bg-#{$color} {
        background-color: $bgcolor;
        *:not(a) {
            color: $forecolor;
        }
    }
    .#{$color} {
      color: $bgcolor;
    }
}



.colour-pallete {
    padding: 20px 0;
    @include container;
    figure {
        @include span(1 of 1 0);
        @include breakpoint($tablet) {
            @include span(1 of 4 0);
        }
        figcaption {
            padding: 20px;
        }
    }
    pre {
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
        overflow: hidden;
        code {
            background-color: #fff;
            color:#333;
            display: inline-block;
            border: 1px solid darken(#fff, 10);
            margin-top: 5px;
            padding: 4px 10px;
        }
    }

    $pepper-theme-colors: (pepper-red, $pepper-red, $white), (pepper-red-light, $pepper-red-light, $white), (pepper-red-dark, $pepper-red-dark, $white), (pepper-green, $pepper-green, $white), (pepper-green-light, $pepper-green-light, $white), (pepper-green-dark, $pepper-green-dark, $white), (pepper-grey, $pepper-grey, $black), (pepper-text, $pepper-text, $white), (pepper-light-grey, $pepper-light-grey, $black), (pepper-orange, $pepper-orange, $black), (pepper-gold, $pepper-gold, $black), (pepper-yellow, $pepper-yellow, $black), (pepper-midnight-blue, $pepper-midnight-blue, $white), (pepper-blue, $pepper-blue, $white), (pepper-light-blue, $pepper-light-blue, $black), (pepper-steel, $pepper-steel, $white), (pepper-teal, $pepper-teal, $white), (pepper-teal-grey, $pepper-teal-grey, $white), (pepper-night-sky, $pepper-night-sky, $white), (pepper-purple, $pepper-purple, $white), (facebook-blue, $facebook-blue, $white), (twitter-blue, $twitter-blue, $white), (icon-grey, $icon-grey, $white), (border-color, $border-color, $black), (color-success-bg, $color-success-bg, $black), (color-error-bg, $color-error-bg, $black), (color-info-bg, $color-info-bg, $black), (color-info, $color-info, $white);

    @each $class, $bg-color, $color in $pepper-theme-colors {
        .#{$class}{
            @include set-background($bg-color, $color);
        }
    }

    

}