$mobile : 320px; //Old Mobiles including S3 or less series
$narrow   : 400px; //New Mobile like S4 till s5
$phablet : 480px; //Phablets
$mobile-landscape : 640px; //Phablets
$tablet : 768px; //Entire ipad mini to ipad 3 range
$tablet-landscape : 1024px; //Entire ipad to desktop
$desktop : 960px;