//container placeholder
%container {
    @include container(90%);
    @include breakpoint($tablet) {
        @include container(12);
    }
}

%primary-button {
			background-color: $pepper-red;
            font-family: $fontfamily;
            font-weight: 300;
            line-height: 0.95em;
            color: #fff;
            @include border-radius(4px);
            min-width: 136px;
            border: none;
            -webkit-appearance: none;
            padding: 8px 24px;
            margin-top: 20px;
            font-size: 0.875rem;
            margin-left: 0px;
            margin-right: 36px;
            cursor: pointer;
            @include breakpoint(0 410px) {
                display: block;
                margin: 10px auto;
                width: 100%;
                max-width: 100%;
            }
            &:hover, &:focus {
                color: #fff;
                background-color: lighten($pepper-red, 8%);
            }
}

%Ghost-Button-Style {
    background-color: transparent;
    border: 1px solid $pepper-steel;
    color: $pepper-steel;
    &:hover, &:focus {
        background-color: $pepper-steel;
        color: #fff;
    }
}