

fieldset {
    position: relative;
    margin: 6px auto;
    float: none;
    input:not([type="radio"]):not([type="checkbox"]), select, textarea {
        width: 100%;
        margin: 4px 0;
        height: 44px;
        padding: 0 10px;
        @include border-radius(4px);
        border: 1px solid darken(#eee, 15%);
        font-family: $fontfamily;
        @include font-size(18px);
        color: $pepper-steel;
        @include breakpoint(768px 768px) {
            width: 99%;
        }
    }
    input:not([type="radio"]):not([type="checkbox"]):not([type="search"]), textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    input[type=radio] {
        margin-right: 2px;
        margin-left: 20px;
    }
    textarea {
        resize: vertical;
        padding: 10px;
        min-height: 100px;
    }
    > label {
        display: block;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        font-size: 1.2rem;
        line-height: 1.0rem;
    }
    //MB-1763 allow author to keep label option & keep the empty space intact.
    dt label, dt legend {
        display: inline-block;
    }
    @include breakpoint($tablet) {
        legend {
            // float: left;
       
        }
        &.single {
            @include span(1 of 12);
        }
        &.narrow {
            @include span(2 of 12);
        }
        &.small {
            @include span(4 of 12);
        }
        &.medium {
            @include span(5 of 12);
        }
        &.large {
            @include span(8 of 12);
        }
        &.wide {
            @include span(10 of 12);
        }
        &.half {
            @include span(6 of 12);
        }
        &.full {
            @include container(12);
        }
        &.equal {
            @include span(3 of 12);
        }
    }

    &.plain-radio {}
    &.plain-checkbox {
        legend {
            margin-right: 10px;
        }
        &.verticle {
            label, legend {
                float: none;
                display: block;
            }
            label {
                padding-left: 20px;
            }
        }
        label {
            position: relative;
            display: block;
            margin-left: 25px;
            input[type=checkbox] {
                position: absolute;
                left: -22px;
                top: 2px;
                &:focus {
                    outline: $pepper-red solid thin;
                }
            }
        }
    }
    &.button-group {
        text-align: center;
        margin-top: 24px;
        @include container(90%);
        @include breakpoint($desktop) {
            @include container(12);
        }

        button:last-child {
            margin: 0;
        }
        button, a.in-button-group {
            @include primary-button;
            &:last-of-type {
                margin-right: 0px;
            }
            &:hover, &:focus {
                color: #fff;
                background-color: lighten($pepper-red, 8%);
            }
            &.secondary {
                @extend %Ghost-Button-Style;
            }
            &.tertiary {
                background-color: $pepper-green-dark;
                border: 1px solid darken($pepper-green-dark, 5%);
                color: #fff;
                a {
                    padding-top: 16px;
                }
                &:hover, &:focus {
                    background-color: #589184;
                }
            }
            i[class^='fa'] {
                color: white;
                font-size: 0.875rem;
                margin: 0 10px;
            }
        }
        //button group
        &.full {
            @include breakpoint(0 $mobile) {
                button, a.in-button-group {}
            }
        }
        .pos-right {
            float: right;
        }
    }
    mark {
        background-color: transparent;
        position: absolute;
        display: none;
        right: 20px;
        top: 15px;
        i.icon-ok-circled {
            color: $pepper-teal;
        }
        i.icon-cancel-circled {
            color: $pepper-red;
        }
    }
    p.error {
        @include font-size(16px);
        display: none;
        font-weight: 300;
        color: $red;
        span {
            float: left;
            margin-left: 6px;
            width: 88%;
            color: $red;
        }
        color: $red;
        i {
            color: $red;
            float: left;
            font-size: 1.1rem;
            margin-top: 3px;
        }
        a {
            text-decoration: underline;
        }
    }
    cite {
        background-color: lighten($pepper-gold, 35);
        padding: 6px;
        display: none;
        font-size: 0.8rem;
        color: $pepper-red;
        margin-top: 6px;
        position: relative;
        border: 1px solid lighten($pepper-gold, 10);
        &:before, &:after {
            bottom: 100%;
            left: 15%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:before {
            border-color: rgba(232, 178, 38, 0);
            border-bottom-color: lighten($pepper-gold, 10);
            border-width: 6px;
            margin-left: -6px;
        }
        &:after {
            border-color: rgba(244, 219, 153, 0);
            border-bottom-color: lighten($pepper-gold, 35);
            border-width: 5px;
            margin-left: -5px;
        }
        i {
            margin-right: 4px;
            font-size: 1rem;
        }
    }
    // cite
}

// fieldset

//toggle radio switch
.toggle-switch {
    width: 100%;
    @include border-radius(4px);
    @include box-sizing;
    border: none;
    background-color: #fff;
    height: 48px;
    padding: 0;
    margin: 0;
    position: relative;
    input[type=radio] {
        display: none;
    }
    label {
        cursor: pointer;
        @include span(6 of 12);
        height: 48px;
        display: inline-block;
        padding: 15px 0;
        text-align: center;
        position: relative;
        z-index: 999;
        -webkit-transition: color 0.5s ease-in-out;
        -moz-transition: color 0.5s ease-in-out;
        transition: color 0.5s ease-in-out;
        color: #333;
        font-size: 0.9rem;
    }
    a {
        position: absolute;
        background-color: $stepsnav-selected;
        border-radius: 4px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        top: 0;
        left: 0;
        padding: 0;
        z-index: 1;
        width: 50%;
        height: 100%;
    }
    input:last-of-type:checked ~ a {
        left: 50%;
    }
    input:last-of-type:checked ~ label:last-of-type, input:first-of-type:checked ~ label:first-of-type, input:checked:nth-of-type(2) ~ label:nth-of-type(2), input:checked:nth-of-type(3) ~ label:nth-of-type(3) {
        color: #fff;
    }
    &.switch-3 {
        a, label {
            width: 33.333%;
        }
        input:checked:nth-of-type(2) ~ a {
            left: 33%;
        }
        input:last-of-type:checked ~ a {
            left: 67%;
        }
    }
    &.switch-4 {
        a, label {
            width: 24.999%;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        input:checked:nth-of-type(2) ~ a {
            left: 25%;
        }
        input:checked:nth-of-type(3) ~ a {
            left: 50%;
        }
        input:last-of-type:checked ~ a {
            left: 75%;
        }
    }
    &.switch-5 {
        a, label {
            width: 19.999%;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        input:checked:nth-of-type(2) ~ a {
            left: 20%;
        }
        input:checked:nth-of-type(3) ~ a {
            left: 40%;
        }
        input:checked:nth-of-type(4) ~ a {
            left: 60%;
        }
        input:last-of-type:checked ~ a {
            left: 80%;
        }
    }
}

//Choice Switch
.choice-switch {
    dd {
        width: 99%;
        @include border-radius(4px);
        @include box-sizing;
        border: none;
        background-color: #fff;
        height: 48px;
        padding: 0;
        margin: 0;
        overflow: visible;
        position: relative;
        border: 1px solid #d7d7d7;
        @include breakpoint(0 $mobile) {
            margin-top: 5px;
        }

        @include breakpoint($tablet) {
            width: 100%;
        }

        input[type=radio], input[type=checkbox] {
            display: none;
        }
        label {
            cursor: pointer;
            width: 49.99%;
            height: 47px;
            display: inline-block;
            padding: 14px 0;
            text-align: center;
            position: relative;
            color: #333;
            float: left;
            margin: 0;
            position: relative;
            @include checkbuttonStyle;
            //span is a support to avoid js code ;)
            span {
                border-right: 1px solid #d7d7d7;
            }
            &:first-of-type {
                span {
                    @include border-left-radius(4px);
                }
            }
            &:last-of-type {
                span {
                    border-right: none;
                    @include border-right-radius(4px);
                }
            }
            :checked + span {
                color: #fff;
                background-color: $pepper-green-dark;
            }
            // :checked + is magic :)
       
        }
        //label ---magic inside in it :D
        p.error {
            padding-top: 0px !important;
            margin-top: 6px !important;
        }
    }
    //dd
    &.choice-3 {
        dd {
            label {
                width: 33.333%;
                span {
                    padding-top: 13px;
                }
            }
        }
    }
    &.choice-4 {
        dd {
            label {
                width: 25%;
                span {
                    padding-top: 14px;
                }
            }
        }
    }
    &.choice-5 {
        dd {
            label {
                width: 20%;
                span {
                    padding-top: 14px;
                }
            }
        }
    }
    &.choice-3, &.choice-4 {
        label {
            span {
                font-size: 0.8rem;
                @include breakpoint(0 460px) {
                    font-size: 0.7rem;
                    line-height: 0.9em;
                    padding: 13px 2px;
                }
            }
        }
    }
    &.big-rounded {
        float: none;
        margin: 0 auto;
        dd {
            margin: 24px auto;
            // height: 100px;
            // @include border-radius(50px);
            // padding: 0 !important;
            // label {
            //     font-size: 2.4rem;
            //     padding: 0;
            //     height: 100px;
            //     span {
            //         height: 99px;
            //         margin-top: 0;
            //         padding-top: 41px;
            //     }
            //     &:first-of-type {
            //         span {
            //             @include border-left-radius(50px);
            //         }
            //     }
            //     &:last-of-type {
            //         span {
            //             @include border-right-radius(50px);
            //         }
            //     }
            // }
       
        }
    }
    //big rounded
}

//choice-switch

//big round taken later
// &.big-rounded {

// }

//number incrementer
.number-incrementer {
    @include clearfix;
    max-width: 250px;
    margin: 20px auto;
    text-align: center;
    height: 80px;
    a {
        display: inline-block;
        height: 48px;
        width: 48px;
        margin: 0 10px;
        color: #666;
        border: 1px solid darken(#eee, 15%);
        @include border-radius(4px);
        background: rgba(255, 255, 255, 0.5);
        font-size: 1.4rem;
        line-height: 2.05em;
        &:hover:not([class="disabled"]) {
            background-color: $pepper-red;
            color: #fff;
        }
        &:hover {
            text-decoration: none;
        }
        &:last-child {
            margin-left: 95px;
        }
        &.disabled {
            color: darken(#eee, 15%);
            background-color: #eee;
        }
    }
    input {
        // @include fontHelveticaLt;
        font-size: 5.0rem !important;
        height: auto !important;
        line-height: 1.2em;
        border: none !important;
        border-bottom: 1px solid #999 !important;
        position: absolute;
        top: -28px;
        left: 28%;
        color: #666;
        background: none;
        max-width: 104px;
        padding: 0 !important;
        margin: 0 !important;
        text-align: center;
    }
}

.call-shortform {
    @include breakpoint(0 $mobile) {
        max-width: 80%;
    }
}

input[type="search"]::-webkit-search-cancel-button {
    /* Remove default */
    /* Now your own custom styles */
    color: $pepper-teal-grey;
    /* Will place small red box on the right of input (positioning carries over) */
}

input[type="search"]:focus {
    background: #fff;
}

p.required {
    @include container(90%);
    @include breakpoint($desktop) {
        @include container(12);
    }
}

.search-again {
    label {
        width: 100%;
        @include container(90%);
        text-align: left;
        padding-bottom: 12px;
        font-size: 1.4rem;
        line-height: 100%;
        @include breakpoint($desktop) {
            @include container(12);
            font-size: 1.8rem;
        }
    }
    div {
        position: relative;
        overflow: hidden;
        height: 46px;
        @include border-radius(4px);
        border: 1px solid #d7d7d7;
        background: #fff;
    }
    input[type=search] {
        -webkit-appearance: none;
        border: none !important;
        padding: 8px !important;
        position: absolute;
        left: 15px;
        width: 92% !important;
        @include breakpoint(0px 768px) {
            width: 78% !important;
        }
    }
    a {
        position: absolute;
        right: 26px;
        z-index: 9999;
        top: 9px;
    }
    i {
        font-size: 1.6rem;
    }
}

//new changes as per MB-475
fieldset.drop-down {
    dd {
        position: relative;
        min-height: 47px;
        padding-top: 1px;
        &:before {
            position: absolute;
            font-family: FontAwesome;
            content: "\f078";
            //down arrow
            right: 15px;
            top: 9px;
            z-index: 9999;
            color: $pepper-teal-grey;
        }
        select {
            position: absolute;
            -webkit-appearance: none;
            -moz-appearance: none;
            // -ms-appearance: none;
            // appearance: none;
            width: 100%;
            margin-top: -5px;
            option {
                padding: 20px 15px;
                border-bottom: 1px solid #999;
            }
            padding-right: 40px;
        }
        select::-ms-expand {
            display: none;
        }
    }
}

.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $overlay;
    z-index: 999999;
    display: block;
    text-align: center;
    color: #fff;
    .table-cell {
        @include vertical-align;
        position: absolute;
        width: 100%;
    }
    i {
        font-size: 2.6rem;
        padding: 20px;
        color: #fff;
    }
    p {
        padding-top: 15px;
    }
    //below is project name and style related to specific project.
}

.ghost-cta-button {
    fieldset.button-group {
        button, .in-button-group {
            @extend %Ghost-Button-Style;
        }
    }
}

.ghost-button {
    font-family: $fontfamily;
    font-weight: 300;
    line-height: 0.95em;
    @include border-radius(4px);
    min-width: 136px;
    -webkit-appearance: none;
    padding: 8px 24px;
    margin-top: 20px;
    font-size: 0.875rem;
    margin-left: 0px;
    margin-right: 36px;
    cursor: pointer;
    @include breakpoint(0 410px) {
        display: block;
        margin: 10px auto;
        width: 100%;
        max-width: 100%;
    }

    @extend %Ghost-Button-Style;
}

.new-short-form {
    @include container(90%);
    padding: 20px;
    @include breakpoint($tablet) {
        @include container(59em);
    }

    fieldset {
        @include span(1 of 1 0);
        @include breakpoint($tablet) {
            @include span(1 of 2);
        }

        dt {
            label, legend {
                padding-bottom: 10px;
            }
        }
    }

    h4 {
      margin:0;
      font-weight: bold;
      padding-bottom: 10px;
      padding-left: 0 !important;
    }
}