// Heading Size as per UX
$h1size: 2.5em; //eqv. 36pt and 24px;
@each $h in h1, h2, h3, h4, h5, h6{
    #{$h} { 
      font-size: $h1size;
      font-weight: $normal;
      margin:20px auto;
      }
      $h1size: $h1size - .25;
}

#{headings()} {
  padding: 0;
  margin: 0;
}

h2 {
  // MB-2150: On mobile, h2 is set to 26px.
  @include font-size(26px);
  font-weight: $normal;
  line-height: 1.25;

  @include breakpoint($desktop) {
    @include font-size(28.8px);
  }
}
