$icon-size: px-to-em(48);

i[class^="fa"] {
	max-width:$icon-size;
	max-height: $icon-size;
	@include font-size(24px);
	color:$icon-color;
}

//Social icons color
$facebook-color 	: #3b5998;
$twitter-color 		: #55acee;
$you-tube-color		: #bb0000;
$vimeo-color 		: #aad450;
$linked-in-color 	: #007bb5;
$google-plus-color 	: #dd4b39;


$socialnetworks:
('facebook', $facebook-color),
('facebook-square', $facebook-color),
('twitter', $twitter-color),
('twitter-square', $twitter-color),
('you-tube', $you-tube-color),
('you-tube-square', $you-tube-color),
('vimeo', $vimeo-color),
('vimeo-square', $vimeo-color),
('linkedin', $linked-in-color),
('linkedin-square', $linked-in-color),
('google-plus', google-plus-color),
('google-plus-square', google-plus-color)
;

@each $network, $color in $socialnetworks {
    .fa-#{$network} {
            color: $color !important;
    }
    footer menu.social-links > a:hover {
    	i {
    		opacity: .75;
    	}
    }
}