.layout {
    @include clearfix;
    @include blade;

    >.container {
        display:flex;
        //IE issues //MB-3027
        display:block\9;
        flex-wrap:wrap;
    }

    .container, &.single-section > section {
        @include container(90%);
        @include breakpoint($desktop) {
            @include container;
        }


        //padding for mobile devices
        > section, > aside {
            margin-bottom: gutter(3);

            //i.e. see grid_***.scss
            @include breakpoint($tablet) {
                margin-bottom: 0;
            }
        }
    }

    &.section-aside-left {
        .container {
            @include breakpoint($tablet) {
                > section {
                    @include span(8 of 12 omega);
                }

                > aside {
                    @include span(4 of 12);
                }
            }
        }
    }

    &.section-aside-right {
        .container {
            @include breakpoint($tablet) {
                > section {
                    @include span(8 of 12);
                }

                > aside {
                    @include span(4 of 12 omega);
                }
            }
        }
    }

    &.two-section {
        .container {
            @include breakpoint($tablet) {
                section {
                    @include span(6 of 12);
                }
            }
        }
    }

    &.three-section {
        .container {
            @include breakpoint($tablet) {
                section {
                    @include span(4 of 12);
                }
            }
        }
    }

    &.four-section {
        .container {
            @include breakpoint($tablet) {
                section {
                    @include span(3 of 12);
                }
            }
        }
    }

    &.two-aside-left {
        .container {
            @include breakpoint($tablet) {
                > section {
                    @include span(6 of 12 omega);
                }

                > aside {
                    @include span(3 of 12);
                }
            }
        }
    }

    &.two-aside-right {
        .container {
            @include breakpoint($tablet) {
                > section {
                    @include span(6 of 12);
                }

                > aside {
                    @include span(3 of 12 omega);
                }
            }
        }
    }

    &.two-aside-section-mid {
        .container {
            @include breakpoint($tablet) {
                > section {
                    @include span(6 of 12);
                }

                > aside {
                    &:first-of-type {
                        @include span(3 of 12);
                    }

                    &:last-of-type {
                        @include span(3 of 12 omega);
                    }
                }
            }
        }
    }

    &.debug-outline {
        .container > section, .container > aside, > section {
            min-height: 100px;
            border: 1px solid darken($pepper-grey, 25);
            background-color: $pepper-grey;
            position: relative;

            &:before {
                content: 'Section';
                position: absolute;
                top: 5px;
                left: 5px;
            }
        }

        .container {
            > section {
                &:before {
                    content: 'Section';
                }
            }

            > aside {
                &:before {
                    content: 'Aside';
                }
            }
        }
    }
}

.stack-layout {
    .container > section {
        @include span(1 of 1 0);

        margin-bottom: 10px;

        @include breakpoint($tablet) {
            @include span(4 of 6);
        }


        &:first-of-type {
            float: right;

            @include breakpoint($tablet) {
                float: left;
            }
        }

        .container {
            @include container(90%);
        }
    }

    .aside-right {
        @include span(1 of 1 0);

        min-height: 500px !important;

        @include breakpoint($tablet) {
            @include span(2 of 6 omega);
        }


        background-color: #eee;

        .options-form {
            background-color: transparent !important;

            @include container(90%);
        }
    }
}

.aside-form {
    padding-bottom: 0;

    @include breakpoint($tablet) {
        padding-bottom: 20px;
    }

    .container {
        @include container(100%);
        @include breakpoint($tablet) {
            @include container;
        }


        > section {
            @include container(100%);
            @include breakpoint($tablet) {
                @include container;
            }
        }
    }

    > .container > aside {
        background-color: $bg-light;
        padding-top: 20px;
        margin-bottom: 1px;

        @include breakpoint($tablet) {
            padding: 20px;
            border: 1px solid darken($bg-light, 5%);
        }


        .side-form {
            @include container(90%);
            @include breakpoint($tablet) {
                @include container;
            }


            header {
                h2 {
                    @include breakpoint($tablet) {
                        @include font-size(24px);
                    }
                }
            }
        }
    }

    .shortform-slider.within-form {
        header h3 {
            @include font-size(16px);
        }
    }

    .form-range-slider {
        .range-max, .range-min {
            display: none;
        }

        .slider-wrapper .display-box {
            left: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .text-bullets ul li {
        width: 90%;
    }

    .text-image > section img {
        @include breakpoint($desktop) {
            width: 14%;
            height: auto;
        }
    }

    fieldset .button-group {
        .submit {
            width: 100%;
        }
    }

    select + p.error {
        margin-top: 46px;
    }

    small {
        @include clearfix;
        @include container;

        text-align: center;
        padding-bottom: 20px;
        display: block;
    }

    .drop-down label {
        padding-bottom: 10px;
    }

    fieldset.button-group {
        padding-bottom: 8px;

        @include container(100%);
        @include breakpoint($tablet) {
            @include container;
        }
    }

    fieldset.button-group .submit {
        height: 36px;
        font-size: 16px;
    }

    + .pepper-testimonial {
        margin-top: 0;

        @include breakpoint($tablet) {
            margin-top: 80px;
        }
    }
}

//.aside-form

.epi-layout {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e1e1e1;
    background-color: #eee;
    min-height: 100px;
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.epi-layout:after {
    content: " ";
    display: block;
    clear: both;
}

.epi-layout:after {
    position: absolute;
    content: "Flexible Layout Area, select item from top dropdown, then click Add to insert item into flexible layout";
    left: 0;
    top: -28px;
    color: #666;
    display: none;
}

@media (min-width: 768px) {
    .epi-layout:after {
        display: block;
    }
}

.one-col {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.one-col:after {
    content: " ";
    display: block;
    clear: both;
}

@media (min-width: 768px) {
    .one-col {
        width: 25%;
        float: left;
        margin: 0;
    }
}

.one-third-col {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.one-third-col:after {
    content: " ";
    display: block;
    clear: both;
}

@media (min-width: 768px) {
    .one-third-col {
        width: 33.33%;
        float: left;
        margin: 0;
    }
}

.two-col {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.two-col:after {
    content: " ";
    display: block;
    clear: both;
}

@media (min-width: 768px) {
    .two-col {
        width: 50%;
        float: left;
        margin: 0;
    }
}

.three-col {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.three-col:after {
    content: " ";
    display: block;
    clear: both;
}

@media (min-width: 768px) {
    .three-col {
        width: 75%;
        float: left;
        margin: 0;
    }
}

.four-col {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.four-col:after {
    content: " ";
    display: block;
    clear: both;
}

@media (min-width: 768px) {
    .four-col {
        width: 100%;
        float: left;
        max-width: 100%;
        margin: 0;
    }
}

.one-col.outline, .two-col.outline, .three-col.outline, .four-col.outline {
    padding: 5px;
    min-height: 50px;
    border: 1px solid #e1e1e1;
    background-color: #fff;
}

.heading-block, .heading-para-block {
    margin-bottom: 20px;
}

.heading-block, .heading-para-block, .para-block, .image-block, .bullets-block, .cta-block {
    &.add-right-padding {
        padding-right: 20px;
    }
    &.add-left-padding {
        padding-left: 20px;
    }
    &.add-top-padding {
        padding-top: 20px;
    }
    &.add-bottom-padding {
        padding-bottom: 20px;
    }
}

.logo-block {
    padding-bottom: 20px;
    img {
        max-width: 164px;
    }
    figcaption {
        @include font-size(11px);
    }
}