@mixin backImage($image, $grDir: to bottom, $opStart: 0.7, $opEnd: 0.7, $bgPos: center center) {
    background: linear-gradient($grDir, rgba(46, 59, 78, $opStart), rgba(46, 59, 78, $opEnd)), url($image);
    background-repeat: no-repeat;
    background-position: $bgPos;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include breakpoint($desktop) {
        background-position: center top;
    }
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin input-focus-effect {
    background-color: rgba(255, 255, 255, 0.5);
    @include transition(background-color 0.25s ease);
    &:focus {
        background-color: rgba(255, 255, 255, 1);
        color: $print;
    }
}

@mixin clearfix {
    &:before, &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin blade {
    @include clearfix;
    padding:20px 0;
    @include breakpoint($tablet) {
        padding:40px 0;
    }
}

@mixin primary-button {
    background-color: $pepper-red;
            font-family: $fontfamily;
            font-weight: 300;
            line-height: 0.95em;
            color: #fff;
            @include border-radius(4px);
            min-width: 136px;
            border: none;
            -webkit-appearance: none;
            padding: 8px 24px;
            margin-top: 20px;
            font-size: 0.875rem;
            margin-left: 0px;
            margin-right: 36px;
            cursor: pointer;
            @include breakpoint(0 410px) {
                display: block;
                margin: 10px auto;
                width: 100%;
                max-width: 100%;
            }
}

@mixin menu-shadow {
    -moz-box-shadow: #bdc9d5 0px 0px 15px;
    -webkit-box-shadow: #bdc9d5 0px 0px 15px;
    box-shadow: #bdc9d5 0px 0px 15px;
}

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin vertical-align($translate: -50%) {
    position: relative;
    top: 50%;
    -webkit-transform: translateY($translate);
    -ms-transform: translateY($translate);
    transform: translateY($translate);
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

//animations keyframes
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-ms-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin box-sizing($box-model: border-box) {
    -webkit-box-sizing: $box-model;
    // Safari <= 5
    -moz-box-sizing: $box-model;
    // Firefox <= 19
    box-sizing: $box-model;
}

// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// rotate
@mixin rotate($deg) {
    @include transform(rotate(#{$deg}deg));
}

//functions
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@include keyframes(slide-down) {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
}


//end animations mixins

@function headings($from: 1, $to: 6) {
    @if $from == $to {
        @return "h#{$from}";
    }
    @else {
        @return "h#{$from}," + headings($from + 1, $to);
    }
}

$base-sizing: 16;

// convert px to em
@function px-to-em($px, $base: $base-sizing) {
    @return $px / $base * 1 + em;
}

// convert em to px
@function em-to-px($em, $base: $base-sizing) {
    @return $em * $base + px;
}

@mixin scroll-button($color: $white) {
    color: $color;
    border: 1px solid $color;
    padding: 15px;
    @include border-radius(50%);
    margin: 10px auto;
    display: inline-block;
    @include transition(all 0.5s ease-in-out);
    &:hover, &:focus {
        background-color: $pepper-red;
        border-color: $pepper-red;
    }
    i[class^='fa'] {
        color: $color;
    }
}

@mixin text-button {
    background-color: $pepper-red;
    font-family: $fontfamily;
    font-weight: 300;
    line-height: 0.95em;
    color: #fff;
    min-width: 136px;
    border: none;
    -webkit-appearance: none;
    padding: 8px 24px;
    margin:20px 0 0 0;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    line-height: 1.2em;
    //for longer text
    @include border-radius(4px);
    @include transition(all 0.5s ease-in-out);
    @include breakpoint(0 480px) {
        margin: 0 auto;
        margin-top: 20px;
        display: block;
    }

    i[class^='fa'] {
        color: #fff;
        font-size: 1rem;
        margin-right: 10px;
    }
    &:hover {
        background-color: $pepper-red-light;
    }
    &:focus {
        background-color: $pepper-red-dark;
    }
}

@mixin checkbuttonStyle {
    span {
                width: 100%;
                height: 46px;
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0;
                padding-top: 11px;
                -webkit-transition: all 0.25s ease-in-out;
                -moz-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
                line-height: 1.5;
                @include breakpoint(0 460px) {
                    font-size: 0.8rem;
                }
            }
}

@mixin lsnDataLabelStyle {
    dt {
            font-size:1.2rem;
            color:$pepper-steel;
        }
        dd {
            font-size: 0.75rem;
            color:lighten($pepper-steel,20);
        }
}

@mixin set-background($bg-color, $font-color){
    background-color: $bg-color;
    color: $font-color;
}

@mixin slide-down($animationName: dropHeader, $count: 1, $effect: ease-out, $duration: 0.6s) {
    -moz-animation-name: $animationName;
    -moz-animation-iteration-count: $count;
    -moz-animation-timing-function: $effect;
    -moz-animation-duration: $duration;

    -webkit-animation-name: $animationName;
    -webkit-animation-iteration-count: $count;
    -webkit-animation-timing-function: $effect;
    -webkit-animation-duration: $duration;

    animation-name: $animationName;
    animation-iteration-count: $count;
    animation-timing-function: $effect;
    animation-duration: $duration;
}