.hidden {
	display:none !important;
}

.visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.small-print {
    @include container(8);
    p {
        font: $para-font;
        font-size: 0.8rem !important;
        line-height: 1.3em !important;
        text-align: center;
    }
}