html, body {
  height: 100%;
  -webkit-overflow-scrolling: touch; /* lets it scroll lazy */
}

/**
 ============= Wrapper Layout =========
 ======================================
 **/
body > form, #tblLeft,
#divMain table,
body table {
  margin-bottom: 0;
  width: 100%;
}

#divMain {
  overflow-x: auto;
}

#tblLeft {
  margin: 0;

  > tbody > tr > td {
    padding: 0;
  }

  @media print {
    width: 100%;
  }
}

/**
 ============= Main form area =======
 ====================================
 **/

#tdBody,
td#ContentCell {
  padding: 5% !important;
  background: #eee !important;

  @include breakpoint($desktop) {
    padding: 40px !important;
  }

  @media print {
    padding: 0 !important;
    background: #fff !important;
  }

  > table {
    background: none !important;
  }

  &.hamburger-menu-opened {
    overflow: hidden;

    table {
      width: 200%; // force expansio to create effect of hamburger menu
    }

    @include breakpoint($mobile-landscape) {
      display: table-cell;

      table {
        width: 100%;
      }
    }
  }
}

// Contact us page
#MainArea {
  height: calc(100% - 60px - 24px); // 60px for heading logo, 24px for top black strip
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  table#MainTable {
    height: 100%;
  }
}

#Content {
  @include container(100%);

  @include breakpoint($desktop) {
    @include container(60%);
  }
}