/**
 ============= Header =========
 ======================================
 **/

#tblHeading {
  margin: 0;

  > tbody > tr > td {
    padding: 0;
  }

  @media print {
    width: 100%;
  }
}

img#imgHeading {
  // Logo
  max-width: 165px;
  margin: 15px;
  float: left;
  max-height: 30px;
  width: auto;
}

#tblHeadingTop {
  background-color: #000 !important;
  color: white;

  td {
    font-size: 12px !important;
  }
}

#tdHeadingLeft {
  padding: 10px !important;
}

#tdHeadingRight {
  padding: 10px;
  img {
    width: auto;
    margin-bottom: -5px;
  }
}

#divTopOptions {
  top: 34px !important;
}

#tdHeading {
  background-color: white !important;
  height: 60px;
  border-bottom: 1px solid #d7d7d7 !important;

  @media print {
    display: block !important;
    width: 100%;
  }
}

// Contact-us page layout

#TopBar {
  background-color: #000 !important;
  color: white;
}

#HeadingLogo {
  border-top: 0;
  border-bottom: 0;
  height: 60px;
  border-bottom: 1px solid #d7d7d7;
  background: white;

  #HeadingContent {
    img {
      width: auto;
      max-width: 165px;
      float: left;
      margin: 15px;
      max-height: 30px;
    }
  }
}
#divTopOptions{
  background-color: #fff;
  padding: 6px;

  tr{
    height: 22px !important;
  }
}
#tdHeadingRight{
  position: relative;
  text-align: right;

  a{
    color: $pepper-teal-grey !important;
    font-size: 14px;
    font-weight: normal;
    &:link, &:visited{
      font-size: 14px;
      font-weight: normal;
    }
    &:hover, &:focus {
      color: $pepper-red !important;
      font-weight: bold;
    }
  }
}

#CPHBody_ucReportList_divReports img{
  width:15px;
  max-width:15px;
}

