/**
 ** Pepper Form
 **/
.pepper.headerbar {
  margin-bottom: 30px;
}

.shortform-icon {
  width: 140px;
  min-height: 160px;
  height: auto;
  max-width: 140px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

.form-steps {
  margin-bottom: 40px;

  @media print {
    display: none;
  }

  ul {
    margin-top: 20px;
    margin-bottom: 20px;
    @include container(95%);
    overflow: hidden;
    height: 22px;
    @include breakpoint($desktop) {
      @include container(12);
      height: auto;
    }

    padding: 0;
    background-color: $stepsnav-bg;
    @include border-radius(10px);
    li {
      @include span(1 of 7);
      padding: 0;
      position: relative;
      @include breakpoint(0 $mobile) {
        width: 14.286%;
        float: left;
        margin: 0;
      }

      a {
        font-family: $fontfamily;
        font-weight: 300;
        line-height: 0.95em;
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #666 !important;
        text-transform: uppercase;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        padding: 5px 0;
        font-size: 11.2px;

        @include breakpoint(0 $mobile) {
          border-right: 1px solid #fff;
          height: 24px;
        }

        &:hover {
          cursor: default;
        }
        &.active {
          @include breakpoint(651px) {
            @include border-radius(10px);
          }

          background-color: $pepper-green-dark;
          color: #fff !important;
          text-decoration: none;
        }
        span {
          display: none;
          @include breakpoint($desktop) {
            display: block;
          }
        }
      }

      &:last-child {
        a {
          border-right: none;
        }
      }
    }
    //li

  }
}

.pepper.headerbartext {
  font-size: 2.4rem;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto 20px auto;

  @include breakpoint($desktop) {
    margin-bottom: 60px;
  }

  @media print {
    margin: 10px auto 0 auto;
    padding: 0;
    font-size: 24px;
  }
}
.pepper.question {
  @include clearfix();
  @include container(12);
  margin: 0 auto 30px auto;

  .messagetext {
    @include container(100%);

    @include breakpoint($tablet) {
      @include container(70%);
    }
  }

  .questiontext {
    @include breakpoint($tablet) {
      @include span(7 of 12);
    }
    ul {
      list-style: disc;
  list-style-type: disc;
  padding-left: 30px;
      li {
        padding-right: 30px;
      }
    }
  }

  .answer, .questiontext ~ div {
    margin-bottom: 10px;
    @include breakpoint($tablet) {
      @include span(5 of 12 last 0);
    }
  }

  .questiontext {
    font-size: 19.2px;
    line-height: 1.2em;
    margin: 0 0 10px;
    text-align: left;
  }

  .messagetext {
    font-size: 19.2px;
    line-height: 1.2em;
    text-align: center;
    margin: 0 auto 10px auto;

    .scrolldiv {
      width:100%;
      text-align: left;
      min-height: 300px;
      font-size: 0.8em;
      overflow-y: auto;
      border: 1px solid $border-color;
      background: white;
      padding: 10px;
    }
  }

  .answer, .questiontext ~ div {
    @include clearfix();

    input[type=text] {
      width: 100%;
      height: 44px;
      padding: 0 10px;
      @include border-radius(4px);
      border: 1px solid darken(#eee, 15%);
      font-family: $fontfamily;
      font-size: 18px !important;
      color: $pepper-steel;
      @include breakpoint(768px 768px) {
        width: 99%;
      }
      margin-bottom: 10px; /*making space for error message*/
    }

    input[type=text][disabled=disabled],
    input[type=text][readonly=readonly] {
      background: $pepper-grey !important;
      border-color: $border-color !important;
    }

    input[type=button], input[type=submit] {
      width: 100%;
      height: 46px;
      float: left;
      background: white;
      border: 1px solid darken(#eee, 15%);
      font-size: 16px;
    }

    select {
      width: 100%;
      margin: 4px 0;
      height: 44px;
      padding: 0 10px;
      @include border-radius(4px);
      border: 1px solid darken(#eee, 15%);
      font-family: $fontfamily;
      font-size: 18px;
      color: $pepper-steel;
      @include breakpoint(768px 768px) {
        width: 99%;
      }
      margin-bottom:10px; /*making space for error message*/
    }

    input.borrowerCount {
      @include span(1 of 2 0);
      margin-bottom: 10px;

      &:first-child {
        @include border-radius(4px 0 0 4px);
        border-right: 0;
      }

      &:last-child {
        margin-right: 0;
        @include border-radius(0 4px 4px 0);
      }

      &.active {
        @include transition(all 0.35s ease);
        background: $pepper-green-dark;
        color: white;
      }

      &:hover:not(.active) {
        @include transition(all 0.35s ease);
        background: $pepper-steel;
        color: white;
      }
    }

    input.custname {
      min-width: 0;
      width: 100%;
      max-width: 100% !important;
      margin-bottom: 10px;
    }
  }

  .answer .postcode-suburb-verify {
    @include clearfix();
    margin-bottom: 10px;

    input, select {
      float: left;
    }

    // postcode input
    input[type=text] {
      @include span(1 of 4 0);
      margin: 0;
      @include border-radius(4px 0 0 4px);
    }

    // suburb selection
    select {
      margin: 0;
      @include span(2 of 4 0);
      @include border-radius(0 4px 4px 0);
      border-left: none;
      padding-right: 0;
    }

    // verify button
    input[type=submit] {
      @include span(1 of 4);
      float: right;
      margin-right: 0;

      background-color: $pepper-green-dark;
      font-family: $fontfamily;
      font-weight: 300;
      color: #fff;
      border: none;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      padding: 8px 2px;
      cursor: pointer;
      height: 44px;

      @include border-radius(4px);
      @include transition(all 0.5s ease-in-out);

      &:hover {
        background-color: $pepper-green;
      }
      &:focus {
        background-color: $pepper-green;
      }
    }

    span.customValidator {
      margin-top: 5px;
    }
  }
}

.pepper.radiodiv {
  font-size: 19.2px;
  display: block;
  width: 100%;
  position: relative;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;

  &:first-child {
    border-top: 1px solid $border-color;
    @include border-radius(4px 4px 0 0);

    input[type=radio] ~ label,
    input[type=radio]:not([checked]) ~ label {
      @include border-radius(4px 4px 0 0);
    }
  }
  &:last-child {
    @include border-radius(0 0 4px 4px);

    input[type=radio] ~ label,
    input[type=radio]:not([checked]) ~ label {
      @include border-radius(0 0 4px 4px);
    }
  }

  &:nth-child(odd) {
    clear: left;
  }

  input[type=radio] {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 10px;
  }

  input[type=radio] ~ label,
  input[type=radio]:not([checked]) ~ label {
    @include clearfix;
    @include transition(background-color 0.35s ease);

    width: 100%;
    text-align: left;
    position: relative;
    display: block;
    padding: 20px 20px 20px 60px;
    cursor: pointer;
    background-color: #fff;

    &:hover {
      background-color: $pepper-steel;
      color: #fff;
    }

    &:after {
      position: absolute;
      top: 35%;
      left: 20px;
      width: 20px;
      height: 20px;
      border: 1px solid $border-color;
      display: block;

      @include transition(all 0.35s ease);

      &:hover {
        border-color: #fff;
      }
    }
  }

  input[type=radio][checked] ~ label,
  input[type=radio]:checked ~ label {
    background-color: $pepper-green-dark;
    color: #fff;

    &:after {
      border: none;
      height: 10px;
      top: 40%;
      border-left: 4px solid #fff;
      border-bottom: 4px solid #fff;
      @include transform(rotate(-45deg));
    }
  }
}

.pepper.buttoncontainer {
  @include clearfix();
  @include container(12);

  @media print {
    display: none;
  }

  margin: 30px auto;
  text-align: center;

  input[type=button],
  a.text-button {
    @include text-button();
    font-size: 16px;
    color: white !important;

    @include breakpoint($narrow) {
      float: right;
    }

    &.secondary {
      background-color: transparent;
      border: 1px solid $pepper-steel;
      color: $pepper-steel !important;

      @include breakpoint($narrow) {
        float: left;
      }

      &:hover, &:focus {
        background-color: $pepper-steel;
        color: #fff !important;
      }
    }
  }

  a.text-button {
    position:relative;
    display: inline-block;

    &:before {
      display: block;
      content: " ";
      position: absolute;
      left: 20px;
      font-family: "FontAwesome";
    }
  }

  a.text-button.phone{
    padding-left: 40px;
    float:none;
    &:before {
      content: "\f095";
    }
  }

  a.text-button.email{
    padding-left: 50px;
    float:none;
    &:before {
      content: "\f003";
    }
  }

  a.text-button.print-page{
    padding-left: 50px;
    float:none;
    &:before {
      content: "\f02f";
      left: 37px;
    }
    +input[type=button]{
      float:none;
    }
  }

  a.text-button.download{
    padding-left: 45px;
    float:none;
    &:before {
      content: "\f019";
    }
  }

  a.text-button.external-link{
    padding-left: 45px;
    float:none;
    &:before {
      content: "\f08e";
    }
  }

}

// Contact us page
table.tblEntry {
  margin-top: 20px;

  .tdEntryLabel {
    color: $text-color;
    display: block;

    @include breakpoint($tablet) {
      display: table-cell;
    }
  }

  .tdEntryControl {
    padding: 5px 0;

    display: block;

    @include breakpoint($tablet) {
      display: table-cell;
    }

    input[type=text],
    textarea {
      height: 44px;
      padding: 0 10px;
      @include border-radius(4px);
      border: 1px solid darken(#eee, 15%);
      font-size: 18px !important;
      color: $pepper-steel;
      width: 90%;

      @include breakpoint($desktop) {
        width: 400px;
      }
    }

    textarea {
      height: auto;
    }

    .required-flag {
      font-size: 16px;
      margin-left: 5px;
    }
  }
}

td#ContentCell form {
  max-width: 700px;

  a#update {
    @include text-button();
    background: $pepper-red !important; // over-write jQuery UI styles
    text-align: center;
    font-size: 16px;
    width: 90%;
    margin: 0 !important;

    @include breakpoint($phablet) {
      width: auto;
      display: inline-block;
      text-align: center;
    }

    span {
      color: white;
    }

    // overwrite jQuery UI
    .ui-icon {
      display: none !important;
    }
    .ui-button-text {
      padding: 0 !important;
    }
  }

  a#cancel {
    font-size: 16px;
    display: block;
    text-align: center;
    width: 90%;
    margin: 10px 0 !important;

    // overwrite jQuery UI
    &, &:hover {
      background: none !important;
      border: none !important;
      color: $pepper-red !important;
      font-weight: 300;
    }

    @include breakpoint($phablet) {
      margin-top: 0;
      display: inline-block;
      text-align: left;
      width: auto;
    }

    // overwrite jQuery UI
    .ui-icon {
      display: none !important;
    }
    .ui-button-text {
      padding: 0 !important;
    }
  }
}

//styles for error messages on form

.customValidator{
  color: $pepper-red;
  font-weight: normal;
  font-size: 16px;

  &:before{
    content: '\f071';
    display: inline-block;
    font-family: FontAwesome;
    padding-right: 7px;
  }
}

div{
  .pepper.radiodiv:last-of-type{
    margin-bottom: 10px;
  }
}