/**
 ** Sidebar
 **/

$sidemenu-width: 200px;

#tdLeft, td#MenuCell {
  background: #000;

  div.imgBtn {
    @include border-radius(0);
    width: 100% !important;
    padding: 15px 10px;
    border-bottom: 1px solid #d9d9d9;
    background: white;
    color: $pepper-teal-grey !important;
    text-align: left;
    font-size: $font-size-global-nav;
    margin: 0;
    font-weight: 300;

    &:hover {
      background: #d9d9d9;
      color: $pepper-red;
      cursor: pointer;
    }
  }

  // used on Contact Us page
  #MenuButtons {
    padding-top: 0;
  }
}
td.tdLeft {
  padding: 0 !important;
  display: none; // mobile
}
td.tdLeft #tblSideButtons {
  margin: 0 !important;
  width: 100% !important;
  min-width: $sidemenu-width;
}
td.tdLeft td > div {
  max-width: 100%;
  width: 100% !important;
}
table#tblSideButtons .sideButton,
div#divSideButtons .sideButtonNav,
div#divSideButtons > .sideButtonScreen {
  margin: 0;
}

#divSideButtons {
  .imgBtn.imgBtnCstmBACK,
  .imgBtn.imgBtnCstmNEXT,
  .imgBtn.imgBtnCstmNOTES,
  .imgBtn.imgBtnCstmSTORE {
    display: none;
  }
}

// Contact Us page
#MenuCell {
  #Menu {
    margin: 0 !important;
    width: 100% !important;
    min-width: 50px;

    div.imgBtn {
      font-size: 12px;
    }

    @include breakpoint($desktop) {
      min-width: $sidemenu-width;

      div.imgBtn {
        font-size: 14px;
      }
    }
  }
}

// Hamburger menu is injected via Javascript
label[for='HamburgerToggle'] {
  float: left;
  width: 48px;
  height: 48px;
  margin-top: 6px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  position: relative;

  @media print {
    display: none;
  }

  span, span:before, span:after {
    display: block;
    width: 28px;
    height: 4px;
    left: 8px;
    background: $icon-color;
    position: absolute;
    @include transition(all 0.15s ease);
    @include border-radius(4px);
  }
  span {
    top: calc(50% - 4px);
  }
  span:before {
    content: "";
    top: -7px;
    left: 0px;
  }
  span:after {
    content: "";
    bottom: -7px;
    left: 0px;
  }

  &.menu-opened {
    span {
      background: transparent;
      &:before, &:after {
        width: 60%;
        left: 0px;
        background-color: $pepper-red;
      }
      &:before {
        @include rotate(132);
        top: -5px;
      }
      &:after {
        @include rotate(-132);
        bottom: -5px;
      }
    }
  }
}