<div id="CPHBody_ctl00_Current_tblData" class="clsDataContainer">
  <div class="clsDataContent" style="float:none">
    <div id="CPHBody_ctl00_Current_trAddressSearch" class="clsDataRow pepper question no-bottom-margin">
      <div class="pepper questiontext">
        Address Search
      </div><div class="pepper questiontext">
        <input name="ctl01$CPHBody$ctl00$Current$InputBox" type="text" id="CPHBody_ctl00_Current_InputBox" class="clsAddressSearch pepper answer" autocomplete="off" placeholder="Enter a location"><label id="CPHBody_ctl00_Current_lblAddressSearchAdditionalInfo" class="clslblAdditionalInfo" text=""></label>
       
         
         
              
           <div id="CPHBody_ctl00_Current_divToolAddressSearchResults" class="inputTooltip"></div>
        <div id="CPHBody_ctl00_Current_divAddressSearchResults">
        <span id="CPHBody_ctl00_Current_UpdatePanelPicklist">
                <label id="CPHBody_ctl00_Current_AddressListLabel" for="AddressList"></label>
                
            </span>
        </div>    
         <!-- Duplicate view button. One view button will be displayed based on settings -->
        
      </div><div class="pepper questiontext">
        
                
        
      </div>
    </div><div id="CPHBody_ctl00_Current_trNotInList" class="clsDataRow clsCheckBox pepper question">
      <div class="pepper answer">
        
            <input id="CPHBody_ctl00_Current_cbNotInList" type="checkbox" name="ctl01$CPHBody$ctl00$Current$cbNotInList" onclick="fnAddressNotInListToggle('CPHBody_ctl00_Current_cbNotInList','CPHBody_ctl00_Current_trProperty|CPHBody_ctl00_Current_trUnitNo|CPHBody_ctl00_Current_trStreetNo|CPHBody_ctl00_Current_trStreet|CPHBody_ctl00_Current_trStreetType|CPHBody_ctl00_Current_trSuburb|CPHBody_ctl00_Current_trState|CPHBody_ctl00_Current_trPostcode|','CPHBody_ctl00_Current_InputBox','CPHBody_ctl00_Current_divAddressSearchResults','CPHBody_ctl00_Current_hfQasID');">
            <span id="CPHBody_ctl00_Current_lblNotInListed">Address not in list</span>
           
           
            
            <div id="CPHBody_ctl00_Current_divToolNotInListed" class="inputTooltip"></div>
             <div id="CPHBody_ctl00_Current_divToolNotListed" class="inputTooltip"></div>
        
      </div><div class="clsField pepper answer">
        &nbsp;
      </div>
    </div><div id="CPHBody_ctl00_Current_trProperty" class="clsDataRow pepper question" >
      <div class="clsText pepper questiontext" style="width:150px;text-align:left;padding-right:2px;">
        Property:
      </div><div class="clsField">
        
            <input name="ctl01$CPHBody$ctl00$Current$tbProperty" type="text" maxlength="64" id="CPHBody_ctl00_Current_tbProperty" title="Property Name" class="clsMedText">
            
            
            
            
            <div id="CPHBody_ctl00_Current_divToolProperty" class="inputTooltip"></div>
        
      </div>
    </div><div id="CPHBody_ctl00_Current_trUnitNo" class="clsDataRow pepper question" >
      <div class="clsText pepper questiontext" style="width:150px;text-align:left;padding-right:2px;">
        Unit number
      </div><div class="clsField">
        
            <input name="ctl01$CPHBody$ctl00$Current$tbUnitNo" type="text" maxlength="8" id="CPHBody_ctl00_Current_tbUnitNo" title="Unit Number" class="clsTinyText">
            
            
            
            
            <div id="CPHBody_ctl00_Current_divToolUnitNo" class="inputTooltip"></div>
        
      </div>
    </div><div id="CPHBody_ctl00_Current_trStreetNo" class="clsDataRow pepper question" >
      <div class="clsText pepper questiontext" style="width:150px;text-align:left;padding-right:2px;">
        Street Number
      </div><div class="clsField">
        
            <input name="ctl01$CPHBody$ctl00$Current$tbStreetNo" type="text" maxlength="8" id="CPHBody_ctl00_Current_tbStreetNo" title="Street Number" class="clsTinyText">
            
            
            
            
            <div id="CPHBody_ctl00_Current_divToolStreetNo" class="inputTooltip"></div>
        
      </div>
    </div><div id="CPHBody_ctl00_Current_trStreet" class="clsDataRow pepper question" >
      <div class="clsText pepper questiontext" style="width:150px;text-align:left;padding-right:2px;">
        Street Name
      </div><div class="clsField">
        
            <input name="ctl01$CPHBody$ctl00$Current$tbStreet" type="text" maxlength="64" id="CPHBody_ctl00_Current_tbStreet" title="Street Name" class="clsMedText">
            
            
            
            
            <div id="CPHBody_ctl00_Current_divToolStreet" class="inputTooltip"></div>
        
      </div>
    </div><div id="CPHBody_ctl00_Current_trStreetType" class="clsDataRow pepper question" >
      <div class="clsText pepper questiontext" style="width:150px;text-align:left;padding-right:2px;">
        Street Type
      </div><div class="clsField">
        
            <select name="ctl01$CPHBody$ctl00$Current$ddlStreetType" id="CPHBody_ctl00_Current_ddlStreetType" title="Street Type" class="clsMedDropDown">
          <option value="">-Select-</option>
          <option value="ACC">Access</option>
          <option value="Al">Alley</option>
          <option value="Awy">Alleyway</option>
          <option value="Amb">Amble</option>
          <option value="Anc">Anchorage</option>
          <option value="App">Approach</option>
          <option value="Arc">Arcade</option>
          <option value="Art">Artery</option>
          <option value="Ave">Avenue</option>
          <option value="Bk">Bank</option>
          <option value="Bas">Basin</option>
          <option value="By">Bay</option>
          <option value="Bch">Beach</option>
          <option value="Bt">Belt</option>
          <option value="Bnd">Bend</option>
          <option value="Blk">Block</option>
          <option value="Blv">Boulevard</option>
          <option value="Bwl">Bowl</option>
          <option value="Br">Brace</option>
          <option value="Bra">Brae</option>
          <option value="Brk">Break</option>
          <option value="Bs">Briars</option>
          <option value="Brg">Bridge</option>
          <option value="Bwy">Broadway</option>
          <option value="Brw">Brow</option>
          <option value="Bps">Bypass</option>
          <option value="Byw">Byway</option>
          <option value="Cwy">Causeway</option>
          <option value="Ctr">Centre</option>
          <option value="Cnwy">Centreway</option>
          <option value="Ch">Chase</option>
          <option value="Cir">Circle</option>
          <option value="Clt">Circlet</option>
          <option value="Cct">Circuit</option>
          <option value="Crc">Circus</option>
          <option value="Cl">Close</option>
          <option value="Cld">Colonnade</option>
          <option value="Cmn">Common</option>
          <option value="Cnc">Concourse</option>
          <option value="Cps">Copse</option>
          <option value="Cnr">Corner</option>
          <option value="Cso">Corso</option>
          <option value="Crse">Course</option>
          <option value="Ct">Court</option>
          <option value="Cts">Courts</option>
          <option value="Cyd">Courtyard</option>
          <option value="Cve">Cove</option>
          <option value="Crs">Crescent</option>
          <option value="Cs">Crest</option>
          <option value="Crft">Croft</option>
          <option value="Crss">Cross</option>
          <option value="Csg">Crossing</option>
          <option value="Crd">Crossroad</option>
          <option value="Crw">Crossway</option>
          <option value="Csw">Cruiseway</option>
          <option value="Cds">Cul-de-sac</option>
          <option value="Cut">Cutting</option>
          <option value="Dal">Dale</option>
          <option value="Dl">Dell</option>
          <option value="Dvn">Deviation</option>
          <option value="Dip">Dip</option>
          <option value="Dtr">Distributor</option>
          <option value="Dn">Downs</option>
          <option value="Dr">Drive</option>
          <option value="Dry">Driveway</option>
          <option value="Ea">East</option>
          <option value="Ege">Edge</option>
          <option value="Elb">Elbow</option>
          <option value="Elm">Elm</option>
          <option value="Ed">End</option>
          <option value="Ent">Entrance</option>
          <option value="Esp">Esplanade</option>
          <option value="Est">Estate</option>
          <option value="Exp">Expressway</option>
          <option value="Extn">Extension</option>
          <option value="Fay">Fairway</option>
          <option value="Ftk">Fire Track</option>
          <option value="Ftl">Firetrail</option>
          <option value="Flt">Flat</option>
          <option value="Flats">Flats</option>
          <option value="Flw">Follow</option>
          <option value="Ftw">Footway</option>
          <option value="Fsr">Foreshore</option>
          <option value="Fmn">Formation</option>
          <option value="Fwy">Freeway</option>
          <option value="Frt">Front</option>
          <option value="Fr">Frontage</option>
          <option value="Gap">Gap</option>
          <option value="Gdn">Garden</option>
          <option value="Gds">Gardens</option>
          <option value="Gte">Gate</option>
          <option value="Gts">Gates</option>
          <option value="Gl">Glade</option>
          <option value="Gln">Glen</option>
          <option value="Gra">Grange</option>
          <option value="Ge">Great</option>
          <option value="Grn">Green</option>
          <option value="Grd">Ground</option>
          <option value="Gve">Grove</option>
          <option value="Gly">Gully</option>
          <option value="Havn">Haven</option>
          <option value="Head">Head</option>
          <option value="Hth">Heath</option>
          <option value="Hts">Heights</option>
          <option value="Hrd">Highroad</option>
          <option value="Hwy">Highway</option>
          <option value="Hl">Hill</option>
          <option value="Hub">Hub</option>
          <option value="Itc">Interchange</option>
          <option value="Its">Intersection</option>
          <option value="Is">Island</option>
          <option value="Jn">Junction</option>
          <option value="Key">Key</option>
          <option value="Ldg">Landing</option>
          <option value="La">Lane</option>
          <option value="Lwy">Laneway</option>
          <option value="Largo">Largo</option>
          <option value="Lee">Lees</option>
          <option value="Li">Line</option>
          <option value="Lk">Link</option>
          <option value="Lt">Little</option>
          <option value="Loch">Loch</option>
          <option value="Lkt">Lookout</option>
          <option value="Lp">Loop</option>
          <option value="Lwr">Lower</option>
          <option value="Ma">Mall</option>
          <option value="Md">Mead</option>
          <option value="Mw">Meadows</option>
          <option value="Mdr">Meander</option>
          <option value="Mew">Mew</option>
          <option value="Mws">Mews</option>
          <option value="Ml">Mile</option>
          <option value="Mwy">Motorway</option>
          <option value="Mt">Mount</option>
          <option value="Nk">Nook</option>
          <option value="Out">Outlook</option>
          <option value="Pde">Parade</option>
          <option value="Pk">Park</option>
          <option value="Pkld">Parklands</option>
          <option value="Pwy">Parkway</option>
          <option value="Prt">Part</option>
          <option value="Pss">Pass</option>
          <option value="Pth">Path</option>
          <option value="Phwy">Pathway</option>
          <option value="Pza">Piazza</option>
          <option value="Pl">Place</option>
          <option value="Plat">Plateau</option>
          <option value="Plz">Plaza</option>
          <option value="Pkt">Pocket</option>
          <option value="Pnt">Point</option>
          <option value="Pts">Points</option>
          <option value="Pt">Port</option>
          <option value="Prm">Promenade</option>
          <option value="Purs">Pursuit</option>
          <option value="Qud">Quad</option>
          <option value="Qdg">Quadrangle</option>
          <option value="Qd">Quadrant</option>
          <option value="Qy">Quay</option>
          <option value="Qys">Quays</option>
          <option value="Ra">Ramble</option>
          <option value="Rmp">Ramp</option>
          <option value="Rge">Range</option>
          <option value="Rch">Reach</option>
          <option value="Res">Reserve</option>
          <option value="Rst">Rest</option>
          <option value="Ret">Ret</option>
          <option value="Rt">Retreat</option>
          <option value="Retn">Return</option>
          <option value="Rid">Ride</option>
          <option value="Rdg">Ridge</option>
          <option value="Rdw">Ridgeway</option>
          <option value="Rtw">Right of Way</option>
          <option value="Rng">Ring</option>
          <option value="Ri">Rise</option>
          <option value="Rvr">River</option>
          <option value="Rvw">Riverway</option>
          <option value="Rva">Riviera</option>
          <option value="Rd">Road</option>
          <option value="Rds">Roads</option>
          <option value="Rsd">Roadside</option>
          <option value="Rdy">Roadway</option>
          <option value="Rde">Ronde</option>
          <option value="Rbl">Rosebowl</option>
          <option value="Rty">Rotary</option>
          <option value="Rnd">Round</option>
          <option value="Rte">Route</option>
          <option value="Row">Row</option>
          <option value="Rue">Rue</option>
          <option value="Run">Run</option>
          <option value="Swy">Service Way</option>
          <option value="Shop">Shopping Centre</option>
          <option value="Sdg">Siding</option>
          <option value="Slp">Slope</option>
          <option value="Snd">Sound</option>
          <option value="Spr">Spur</option>
          <option value="Sq">Square</option>
          <option value="Sta">Stairs</option>
          <option value="Shw">State Highway</option>
          <option value="Stp">Steps</option>
          <option value="Strait">Strait</option>
          <option value="Stra">Strand</option>
          <option value="St">Street</option>
          <option value="Sp">Strip</option>
          <option value="Sy">Subway</option>
          <option value="Smmt">Summit</option>
          <option value="Ta">Tailings</option>
          <option value="Tarn">Tarn</option>
          <option value="Tce">Terrace</option>
          <option value="Thf">Thoroughfare</option>
          <option value="Twy">Tollway</option>
          <option value="Top">Top</option>
          <option value="Tor">Tor</option>
          <option value="Twr">Towers</option>
          <option value="Tr">Track</option>
          <option value="Trl">Trail</option>
          <option value="Trr">Trailer</option>
          <option value="Ty">Tramway</option>
          <option value="Tri">Triangle</option>
          <option value="Tkw">Trunkway</option>
          <option value="Tn">Tunnel</option>
          <option value="Tur">Turn</option>
          <option value="Unp">Underpass</option>
          <option value="Upr">Upper</option>
          <option value="Val">Vale</option>
          <option value="Vy">Valley</option>
          <option value="Vdt">Viaduct</option>
          <option value="Vw">View</option>
          <option value="Ve">Village</option>
          <option value="Vlls">Villas</option>
          <option value="Vst">Vista</option>
          <option value="Wd">Wade</option>
          <option value="Wk">Walk</option>
          <option value="Wky">Walkway</option>
          <option value="Waters">Waters</option>
          <option value="Way">Way</option>
          <option value="Wt">West</option>
          <option value="Wf">Wharf</option>
          <option value="Wood">Wood</option>
          <option value="Wnd">Wynd</option>
          <option value="Yrd">Yard</option>

        </select>
            
            
            
            
            <div id="CPHBody_ctl00_Current_divToolStreetType" class="inputTooltip"></div>
        
      </div>
    </div><div id="CPHBody_ctl00_Current_trSuburb" class="clsDataRow pepper question" >
      <div class="clsText pepper questiontext" style="width:150px;text-align:left;padding-right:2px;">
        Suburb / City
      </div><div class="clsField">
        
            <input name="ctl01$CPHBody$ctl00$Current$tbSuburb" type="text" maxlength="64" id="CPHBody_ctl00_Current_tbSuburb" title="Suburb" class="clsMedText">
            
            
            
            
            <div id="CPHBody_ctl00_Current_divToolSuburb" class="inputTooltip"></div>
        
      </div>
    </div><div id="CPHBody_ctl00_Current_trState" class="clsDataRow pepper question" >
      <div class="clsText pepper questiontext" style="width:150px;text-align:left;padding-right:2px;">
        State
      </div><div class="clsField">
        
            <select name="ctl01$CPHBody$ctl00$Current$ddlState" id="CPHBody_ctl00_Current_ddlState" title="State" class="clsMedDropDown">
          <option value="">-Select-</option>
          <option value="NSW">New South Wales</option>
          <option value="VIC">Victoria</option>
          <option value="TAS">Tasmania</option>
          <option value="WA">Western Australia</option>
          <option value="SA">South Australia</option>
          <option value="ACT">Australian Capital Territory</option>
          <option value="NT">Northern Territory</option>
          <option value="NZ">New Zealand</option>
          <option value="QLD">Queensland</option>

        </select>
            
            
            
            
            <div id="CPHBody_ctl00_Current_divToolState" class="inputTooltip"></div>
        
      </div>
    </div><div id="CPHBody_ctl00_Current_trPostcode" class="clsDataRow pepper question" >
      <div class="clsText pepper questiontext" style="width:150px;text-align:left;padding-right:2px;">
        Postcode
      </div><div class="clsField">
        
            <input name="ctl01$CPHBody$ctl00$Current$tbPostcode" type="text" maxlength="4" id="CPHBody_ctl00_Current_tbPostcode" title="Postcode" class="clsTinyText">
            
            &nbsp;&nbsp;
            
            
            
            <div id="CPHBody_ctl00_Current_divToolPostcode" class="inputTooltip"></div>
            <div style="position: relative;">
             
            </div>
        
      </div>
    </div>
  </div>
</div>
