<tr>
  <td colspan="2" valign="top">
    <table id="tblHeading">
      <tbody>
      <tr>
        <td id="tdHeadingTop">
          <table cellpadding="0" cellspacing="0" id="tblHeadingTop">
            <tbody><tr>
              <td id="tdHeadingLeft">
                <span id="lblSupportMessage">Contact DI Support via the contact page</span></td>
              <td id="tdHeadingRight">
                <span id="lblLoggedIn" class="loggedIn" style="font-weight:bold;">Integate Administrator [GetMyScore]</span>
                <img src="http://test.inteflow.com.au/Integate/coreimages/Options_Search_0.gif" id="imgHeadingOptions" style="cursor: pointer" onclick="if(document.getElementById(&#39;divTopOptions&#39;).style.display == &#39;none&#39; ) { document.getElementById(&#39;divTopOptions&#39;).style.display = &#39;block&#39;; } else { document.getElementById(&#39;divTopOptions&#39;).style.display = &#39;none&#39;; }">

                <div id="divTopOptions" style="padding: 4px; border-right: #000000 1px solid; border-top: #000000 1px solid; display: none; right: 10px; border-left: #000000 1px solid; width: 200px; border-bottom: #000000 1px solid; position: absolute; top: 15px; z-index: 99;">
                  <table id="tblOptions">
                    <tbody><tr style="height: 18px">
                      <td style="width: 24px">
                        <img src=""></td>
                      <td style="color: #000000; font-weight: bold;">
                        <a id="hlPreferences" href="/">Preferences</a></td>
                    </tr>
                    <tr id="trTermsConditions" style="height: 18px">
                      <td style="width: 24px">
                        <img src=""></td>
                      <td style="color: #000000; font-weight: bold;">
                        <a id="hlTermsConditons" href="/">Terms and Conditions</a></td>
                    </tr>
                    <tr style="height: 18px">
                      <td style="width: 24px">
                        <img src=""></td>
                      <td style="color: #000000; font-weight: bold;">
                        <a id="hlAdministration" href="/">Administration</a></td>
                    </tr>
                    <tr style="height: 18px">
                      <td style="width: 24px">
                        <img src=""></td>
                      <td style="color: #000000; font-weight: bold;">
                        <a id="hlPassword" href="/">Change Password</a></td>
                    </tr>
                    <tr>
                      <td style="width: 24px">
                        <img src=""></td>
                      <td style="color: #000000; font-weight: bold;">
                        <a id="hlLogout" href="/">Logout</a></td>
                    </tr>
                    </tbody></table>

                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </td>

      </tr>
      <tr>
        <td colspan="2" valign="top" id="tdHeading">
          <img src="http://test.inteflow.com.au/Integate/customimages/GetMyScore/pepper_money_logo.png" id="imgHeading" style="display: block;">
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>