<table>
  <tbody><tr>
    <td style="width:50%">
    </td><td>
    <div id="CPHBody_NAVIGATOR_divNavEdge" class="navbar">
      <table id="CPHBody_NAVIGATOR_tblNavigationBar">
        <tbody><tr>
          <td class="navbarPrefix0">&nbsp;</td>
          <td class="navbarGroup0" onmousemove="fnOpenSubMenu('CPHBody_NAVIGATOR_ctl07','CPHBody_NAVIGATOR_ctl06',['CPHBody_NAVIGATOR_ctl07','CPHBody_NAVIGATOR_ctl20','CPHBody_NAVIGATOR_ctl30','CPHBody_NAVIGATOR_ctl37','CPHBody_NAVIGATOR_ctl44']);" onmouseout="fnCloseSubMenuDelay('CPHBody_NAVIGATOR_ctl07');"><div class="navbarHeading0">Loan Details</div></td>
          <td class="navbarInfix1">&nbsp;</td>
          <td class="navbarGroup1" onmousemove="fnOpenSubMenu('CPHBody_NAVIGATOR_ctl20','CPHBody_NAVIGATOR_ctl19',['CPHBody_NAVIGATOR_ctl07','CPHBody_NAVIGATOR_ctl20','CPHBody_NAVIGATOR_ctl30','CPHBody_NAVIGATOR_ctl37','CPHBody_NAVIGATOR_ctl44']);" onmouseout="fnCloseSubMenuDelay('CPHBody_NAVIGATOR_ctl20');"><div class="navbarHeading1">LVR</div></td>
          <td class="navbarInfix2">&nbsp;</td>
          <td class="navbarGroup0"><div class="navbarHeading0">Questions</div></td>
          <td class="navbarInfix0">&nbsp;</td>
          <td class="navbarGroup0"><div class="navbarHeading0">Applicants</div></td>
          <td class="navbarInfix0">&nbsp;</td>
          <td class="navbarGroup0"><div class="navbarHeading0">Confirmation</div></td>
          <td class="navbarSuffix0">&nbsp;</td>
        </tr>
        <tr style="height:0px;">
          <td>&nbsp;</td>
          <td id="CPHBody_NAVIGATOR_ctl06" onmousemove="fnOpenSubMenu('CPHBody_NAVIGATOR_ctl07','CPHBody_NAVIGATOR_ctl06',['CPHBody_NAVIGATOR_ctl07','CPHBody_NAVIGATOR_ctl20','CPHBody_NAVIGATOR_ctl30','CPHBody_NAVIGATOR_ctl37','CPHBody_NAVIGATOR_ctl44']);" onmouseout="fnCloseSubMenuDelay('CPHBody_NAVIGATOR_ctl07');"><div id="CPHBody_NAVIGATOR_ctl07" class="navbarDropdown" style="display: none; position: absolute;" onmousemove="fnOpenSubMenu('CPHBody_NAVIGATOR_ctl07','CPHBody_NAVIGATOR_ctl06',['CPHBody_NAVIGATOR_ctl07','CPHBody_NAVIGATOR_ctl20','CPHBody_NAVIGATOR_ctl30','CPHBody_NAVIGATOR_ctl37','CPHBody_NAVIGATOR_ctl44']);" onmouseout="fnCloseSubMenuDelay('CPHBody_NAVIGATOR_ctl07');"><table>
            <tbody><tr>
              <td><div class="navbarMenu0">
                <a id="CPHBody_NAVIGATOR_navBtnNewCustomer" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl01$CPHBody$NAVIGATOR$navBtnNewCustomer", "", true, "", "", false, true))'>Initial Scenario Details</a>
              </div></td>
            </tr>
            <tr>
              <td><div class="navbarMenu0">
                <a id="CPHBody_NAVIGATOR_navBtnInitialLoanDetails" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl01$CPHBody$NAVIGATOR$navBtnInitialLoanDetails", "", true, "", "", false, true))'>Loan Details</a>
              </div></td>
            </tr>
            </tbody></table>
          </div></td>
          <td>&nbsp;</td>
          <td id="CPHBody_NAVIGATOR_ctl19" onmousemove="fnOpenSubMenu('CPHBody_NAVIGATOR_ctl20','CPHBody_NAVIGATOR_ctl19',['CPHBody_NAVIGATOR_ctl07','CPHBody_NAVIGATOR_ctl20','CPHBody_NAVIGATOR_ctl30','CPHBody_NAVIGATOR_ctl37','CPHBody_NAVIGATOR_ctl44']);" onmouseout="fnCloseSubMenuDelay('CPHBody_NAVIGATOR_ctl20');"><div id="CPHBody_NAVIGATOR_ctl20" class="navbarDropdown" style="display: none; position: absolute;" onmousemove="fnOpenSubMenu('CPHBody_NAVIGATOR_ctl20','CPHBody_NAVIGATOR_ctl19',['CPHBody_NAVIGATOR_ctl07','CPHBody_NAVIGATOR_ctl20','CPHBody_NAVIGATOR_ctl30','CPHBody_NAVIGATOR_ctl37','CPHBody_NAVIGATOR_ctl44']);" onmouseout="fnCloseSubMenuDelay('CPHBody_NAVIGATOR_ctl20');"><table>
            <tbody><tr>
              <td><div class="navbarMenu1">
                <a id="CPHBody_NAVIGATOR_navBtnLVR" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl01$CPHBody$NAVIGATOR$navBtnLVR", "", true, "", "", false, true))'>LVR Details</a>
              </div></td>
            </tr>
            </tbody></table>
          </div></td>
          <td>&nbsp;</td>
          <td><div id="CPHBody_NAVIGATOR_ctl30" class="navbarDropdown" style="display:none;"><table>
          </table>
          </div></td>
          <td>&nbsp;</td>
          <td><div id="CPHBody_NAVIGATOR_ctl37" class="navbarDropdown" style="display:none;"><table>
          </table>
          </div></td>
          <td>&nbsp;</td>
          <td><div id="CPHBody_NAVIGATOR_ctl44" class="navbarDropdown" style="display:none;"><table>
          </table>
          </div></td>
          <td>&nbsp;</td>
        </tr>
        </tbody></table>

    </div>
  </td>
    <td style="width:50%">
    </td></tr>
  </tbody></table>