   <div class="brand-guide">
   <h1>Welcome to the Pepper UI Library</h1>
   <h6>Gulp reflect changes v11</h6>
   <h4>Develop brand compliant websites quicker than ever before</h4>
   <p><br>Our UI Team is continuously developing and upgrading this modular, responsive front-end framework. After successfully delivering 3 responsive web projects (Pepper Direct, LSN and Pepper Money) back to back, we have a collection of quality assured components presented in this <b>UI Component library</b>. Now, both in-house and third party developers can build fully responsive web projects faster and, most importantly, with <b>brand consistency.</b></p>

   <p>The UI team approach is to make a comprehensive set of <b>re-usable</b> web components. Quality and efficiency is the core principle of Pepper UI framework.</p>
   <br>
   <h2>There are 2 easy ways to utilize this library</h2>
   <br/>
   <h5>1. Using CDN CSS and JS Link</h5>
   <ol type="a">
     <li>
     <em>Copy the links below, into the head of your html</em>
     <pre>
     <code class="language-html">
     &lt;script type="text/javascript" src="https://fonts.pepper.com.au/fonts/halis/halis.js"&gt;&lt;/script&gt;
     &lt;link rel="stylesheet" href="//ui.pepper.com.au/ui-library/css/pwc.main.min.css" media="screen"&gt;

     </code>
     </pre>
     </li>
     <li>
     <em>Then copy the link below, just before the closing body tag of html</em>
     <pre>
     <code class="language-html">
     &lt;script type="text/javascript" src="//ui.pepper.com.au/ui-library/js/pwc.script.min.js"&gt;&lt;/script&gt;
     </code>
     </pre>
     <p><b>Great! Now you are ready to build a Pepper web based project with brand consistency, regardless of what back-end or front-end framework you are using along with it.</b> Simply copy the html markup of the listed component on the left hand menu and paste it into your project.</p>
     <p><a href="#">How do I find and copy the component markup?</a></p>
     </li>
   </ol>

   <br/>
   <h5>2. Customize Pepper's UI Component CSS / JS</h5>
   <p>You might only require a few components from the library for your project. If this is the case, then we are more than happy to deliver you customized css and js files (thanks to our flexible modular framework). Simply <a href="mailto:dl-pepepr-ui@pepper.com.au">email us</a> your component requirements from the library and we will generate and send you the css and js file link for your project. Once you have received the link, you can follow step (1.) mentioned above, with the newly provided link.</p>

   <blockquote>
     <q>We recommended that you <b id="bookmark-this">bookmark this library</b> and re-visit it often, as we are constantly building new components, fixing issues and bugs.</q>
     <br/>
   </blockquote>
   <p><b>Thank You</b><br>Pepper UI Team</p>
</div>