<div class="brand-guide">
<h1>Pepper UI Responsive Layouts</h1>
<p>Often we got feedback from developers and agencies that using susy grid has learning curve and because of that they happy to stay with bootstrap framework to fulfil the responsive needs of the site while admiting that the draw back of way too much cluttered html of bootstrap.</p>
<p>So, here we attempted to elimenate the need of susy grid learning by utilising susy power to provides you following possible layouts Pepper used for building components.</p>
<p>By using below layouts you can built your own component with width 100% to fit into these layout and those layout will take care of responsiveness. No more learning curve :) cheers</p>
<cite>Just click a link in break-points nav on the top right and see how layout respond to breakpoints</cite>
</div>
<br/>
<!-- below is code for ux page, we should move to one page -->
   <pre>
   <h2>Single Blade</h2><br/>
     <code class="language-html">
          &lt;article class=&quot;layout single-section&quot;&gt;
            &lt;section&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/section&gt;
          &lt;/article&gt;
     </code>
   </pre>
  <!-- remove debug-outline for development and production -->
  <article class="layout single-section debug-outline">
            <section></section>
  </article>
  
  <pre>
   <h2>Column with Side bar on the left</h2><br/>
     <code class="language-html">
          &lt;article class=&quot;layout section-aside-left&quot;&gt;
            &lt;div class=&quot;container&quot;&gt;
              &lt;section&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/section&gt;
              &lt;aside&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/aside&gt;
            &lt;/div&gt;
          &lt;/article&gt;
     </code>
  </pre>
  <article class="layout section-aside-left debug-outline">
    <div class="container">
      <section></section>
      <aside></aside>
    </div>
  </article>

  <pre>
   <h2>Column with Side bar on the right</h2><br/>
     <code class="language-html">
          &lt;article class=&quot;layout section-aside-right&quot;&gt;
            &lt;div class=&quot;container&quot;&gt;
              &lt;section&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/section&gt;
              &lt;aside&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/aside&gt;
            &lt;/div&gt;
          &lt;/article&gt;
     </code>
  </pre>

  <article class="layout section-aside-right debug-outline">
    <div class="container">
      <section></section>
      <aside></aside>
    </div>
  </article>

  <pre>
   <h2>Two equal column sections</h2><br/>
     <code class="language-html">
          &lt;article class=&quot;layout two-section&quot;&gt;
            &lt;div class=&quot;container&quot;&gt;
              &lt;section&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/section&gt;
              &lt;section&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/section&gt;
            &lt;/div&gt;
          &lt;/article&gt;
     </code>
  </pre>
  <article class="layout two-section debug-outline">
    <div class="container">
      <section><!-- Your component(s) Reside here --></section>
      <section><!-- Your component(s) Reside here --></section>
    </div>
  </article>

  <pre>
   <h2>Three equal column sections</h2><br/>
     <code class="language-html">
          &lt;article class=&quot;layout three-section&quot;&gt;
            &lt;div class=&quot;container&quot;&gt;
              &lt;section&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/section&gt;
              &lt;section&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/section&gt;
              &lt;section&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/section&gt;
            &lt;/div&gt;
          &lt;/article&gt;
     </code>
  </pre>
  <article class="layout three-section debug-outline">
    <div class="container">
      <section><!-- Your component(s) Reside here --></section>
      <section><!-- Your component(s) Reside here --></section>
      <section><!-- Your component(s) Reside here --></section>
    </div>
  </article>

  <pre>
   <h2>Four equal column sections</h2><br/>
     <code class="language-html">
          &lt;article class=&quot;layout four-section&quot;&gt;
            &lt;div class=&quot;container&quot;&gt;
              &lt;section&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/section&gt;
              &lt;section&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/section&gt;
              &lt;section&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/section&gt;
              &lt;section&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/section&gt;
            &lt;/div&gt;
          &lt;/article&gt;
     </code>
  </pre>
  <article class="layout four-section debug-outline">
    <div class="container">
      <section><!-- Your component(s) Reside here --></section>
      <section><!-- Your component(s) Reside here --></section>
      <section><!-- Your component(s) Reside here --></section>
      <section><!-- Your component(s) Reside here --></section>
    </div>
  </article>

  <pre>
   <h2>Two aside on left with one section</h2><br/>
     <code class="language-html">
          &lt;article class=&quot;layout two-aside-left&quot;&gt;
            &lt;div class=&quot;container&quot;&gt;
              &lt;aside&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/aside&gt;
              &lt;aside&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/aside&gt;
              &lt;section&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/section&gt;
            &lt;/div&gt;
          &lt;/article&gt;
     </code>
  </pre>
  <article class="layout two-aside-left debug-outline">
    <div class="container">
      <aside><!-- Your component(s) Reside here --></aside>
      <aside><!-- Your component(s) Reside here --></aside>
      <section><!-- Your component(s) Reside here --></section>
    </div>
  </article>

  <pre>
   <h2>Two aside on right with one section</h2><br/>
     <code class="language-html">
          &lt;article class=&quot;layout two-aside-right&quot;&gt;
            &lt;div class=&quot;container&quot;&gt;
              &lt;section&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/section&gt;
              &lt;aside&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/aside&gt;
              &lt;aside&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/aside&gt;
            &lt;/div&gt;
          &lt;/article&gt;
     </code>
  </pre>
  <article class="layout two-aside-right debug-outline">
    <div class="container">
      <section><!-- Your component(s) Reside here --></section>
      <aside><!-- Your component(s) Reside here --></aside>
      <aside><!-- Your component(s) Reside here --></aside>
    </div>
  </article>

  <pre>
   <h2>Two aside, one on left, one on right with one section in mid</h2><br/>
     <code class="language-html">
          &lt;article class=&quot;layout two-aside-section-mid&quot;&gt;
            &lt;div class=&quot;container&quot;&gt;
              &lt;aside&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/aside&gt;
              &lt;section&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/section&gt;
              &lt;aside&gt;&lt;!-- Your component(s) Reside here --&gt;&lt;/aside&gt;
            &lt;/div&gt;
          &lt;/article&gt;
     </code>
  </pre>
  <article class="layout two-aside-section-mid debug-outline">
    <div class="container">
      <aside><!-- Your component(s) Reside here --></aside>
      <section><!-- Your component(s) Reside here --></section>
      <aside><!-- Your component(s) Reside here --></aside>
    </div>
  </article>


 
 