<header class="h1-only">
<div class="container">
  <h2>Important</h2>
  <p>The accordion collapse toggle functionality written using CSS Advance psuedo class i.e :checked instead of javascript</p><p>Due to that the item contain checkbox input (hidden) to trigger check/uncheck using lable with 'for' attribute</p>
  <p>In this demo after adding more item will always trigger check / uncheck to the first accordion becuase duplicating of the item with same input id. At epi you need you apply unique id and for each item checkbox input id and label 'for' attribute</p>
  </div>
  <fieldset class="button-group">
    <button id="AddPortholeItem">Add item</button>
  </fieldset>
</header>
<article class="layout single-section">
  <div class="container" id="AddItemHere">
    <section class="faq-accordion-item">
      <article>
        <!-- The below input require for toggle collapse, along with label in h2 with 'for' attribute to trigger input id checked and uncheked, This is because the toggle function handled via CSS psuedo classes :checked and not by js -->
        <input type="checkbox" name="grouped" id="accr1">
        <h2><label for="accr1">How do I check my loan balance?</label></h2>
        <content>
        <p>To check the balance of your loan view your account summary (1). This is the first screen
        you see after you log in. To navigate to this screen select Accounts (2).</p>
        </content>
      </article>
    </section>
  </div> <!-- Container -->
</article>