<header class="h1-only">
  <div class="container">
    <h1>Flexible Layout from Epi -Suits Portholes</h1>
    <p>We can combine Porthole + Feature with Two columns Text Block of UI Library</p>
    <p>Please choose layout class from Helper Classess section in the right panel</p>
  </div>
  <fieldset class="button-group">
    <button id="AddPortholeItem">Add item</button>
  </fieldset>
</header>
<article class="layout two-section enable-swipe tick-bullet">
  <div class="container" id="AddItemHere">
    <section class="porthole-item">
    <!-- In case of whole link -->
    <!-- <a href="whole-link"> -->
    <!-- mandatory -->
    <figure><img src="//placehold.it/320" alt="This is an image"></figure>
    <!-- optional -->
    <h2>This is sample item</h2>
    <!-- optional -->
    <p>This is rich text para, where author can create <a href="#">enternal</a> or <a href="https://ui.pepper.com.au" target="_blank">external</a> link in this area.</p>
    <!-- optional -->
    <p>Author should be able to add unlimited para into this item like in this example it has 2 p tags of rich text.</p>
    <!-- optional bullets point -->
    <ul>
      <li>This is bullet point</li>
      <li>This is another bullet point</li>
      <li>This is third bullet point</li>
      <li>Author can put unlimited bullet points</li>
    </ul>
    <!-- In case of whole link, fieldstet cta-button shouldn't be allow to choose -->
    <!-- optional -->
    <fieldset class="button-group">
      <a href="#" class="in-button-group">CTA Link (optional)</button>
    </fieldset>
    <!-- </a>  --><!-- In case of whole link -->
  </section>
</div>
</article>