<header class="h1-only">
  <fieldset class="button-group">
    <button id="AddPortholeItem">Add item</button>
  </fieldset>
</header>
<article class="layout single-section">
  <div class="container" id="AddItemHere">
    <section class="bio-list-item">
        <figure>
          <a href="#" class="disabled" title="Seumas Dawes"><img src="http://placehold.it/100x128" alt="Seumas Dawes"></a>
        </figure>
        <header>
          <h3><a href="#" class="disabled" title="Read more about Seumas Dawes">Seumas Dawes</a> <small>Chairman and Non-Executive Director</small></h3>
        </header>
        <div class="bio-desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non pharetra odio, ac consequat quam. Donec tempor consequat nisl, id pharetra ligula faucibus eu.</p>
        </div>
        <footer>
          <!-- <a class="bio-more" href="" title="Read more about Seumas Dawes">
            <span>Read more</span>
            <i class="fa fa-chevron-right"></i>
          </a> -->
          <menu class="social-profiles">
            <a href="http://www.linkedin.com/" title="Follow Seumas Dawes on Linkedin" target="_blank"><i class="fa fa-linkedin-square"></i></a>
            <a href="#" title="Email Seumas Dawes"><i class="fa fa-envelope-o"></i></a>
            <a href="tel:04043906691" title="Call Seumas Dawes">
              <i class="fa fa-phone-square"></i>
              <span class="phone-number">0404 309 961</span>
            </a>
          </menu>
        </footer>
      </section>
  </div> <!-- Container -->
</article>