<header class="h1-only">
	<fieldset class="button-group">
		<button id="AddPortholeItem">Add item</button>
	</fieldset>
</header>
<article class="layout single-section">
	<div class="container" id="AddItemHere">
		<section class="flexible-aside-form">
			<form id="directSqueezeForm" class="campaign-enquiry no-top-padding  scroll-here " data-analytic="true" data-url="/absolutely-pepper-mon" data-redirect="https://qa.pepper.com.au/absolutely-pepper-money/thank-you" autocomplete="off" method="post" action="" enctype="multipart/form-data">
				<fieldset class="plain-input">
					<dl>
						<dt>
						<label for="firstName">Full name*</label>
						</dt>
						<dd>
						<input tabindex="1" type="text" placeholder="" name="firstName" id="firstName" value="" maxlength="100" minlength="0" required="" pattern="[a-zA-Z0-9\-]{1,100}">
						<p class="serverSideError" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span></span>
						</p>
						<p class="error" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span>Please enter your first name.</span>
						</p>
						</dd>
					</dl>
				</fieldset>
				<fieldset class="plain-input">
					<dl>
						<dt>
						<label for="email">Email address*</label>
						</dt>
						<dd>
						<input tabindex="1" type="email" placeholder="" name="email" id="email" value="" maxlength="50" minlength="0" required="">
						<p class="serverSideError" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span></span>
						</p>
						<p class="error" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span>Please enter a valid email address.</span>
						</p>
						</dd>
					</dl>
				</fieldset>
				
				<fieldset class="plain-input">
					<dl>
						<dt>
						<label for="phoneNo">Phone number*</label>
						</dt>
						<dd>
						<input tabindex="1" type="text" placeholder="" name="phoneNo" id="phoneNo" value="" maxlength="15" minlength="0" required="" pattern="[0-9]{6,18}">
						<p class="serverSideError" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span></span>
						</p>
						<p class="error" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span>Please provide your telephone number. Use numbers only.</span>
						</p>
						</dd>
					</dl>
				</fieldset>
				
				<fieldset class="plain-input">
					<dl>
						<dt>
						<label for="postCode">Post code*</label>
						</dt>
						<dd>
						<input tabindex="1" type="text" placeholder="" name="postCode" id="postCode" value="" maxlength="4" minlength="0" required="" pattern="[0-9]{1,4}">
						<p class="serverSideError" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span></span>
						</p>
						<p class="error" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span>Please enter your 4 digit post code. </span>
						</p>
						</dd>
					</dl>
				</fieldset>
				<fieldset class="plain-radio">
					<dl>
						<dt>
						<label for="marketingChannel">What role best describes you?*</label>
						</dt>
						<dd>
						<select class="conditional" id="brokerRole" tabindex="1" name="brokerRole" required>
							<option value="" selected="">Please select:</option>
							<option value="Mortgage Broker" data-field="AggregatorQuestion">Mortgage Broker</option>
							<option value="Aggregator BDM" data-field="AggregatorQuestion">Aggregator BDM</option>
							<option value="Aggregator Management" data-field="AggregatorQuestion">Aggregator Management</option>
							<option value="Mortgage Manager / White Label Partner" data-field="CompanyField">Mortgage Manager / White Label Partner</option>
							<option value="Financial Adviser">Financial Adviser</option>
							<option value="Mentor / Trainer">Mentor / Trainer</option>
							<option value="Credit Specialist">Credit Specialist</option>
							<option value="Industry Media">Industry Media</option>
							<option value="Other">Other</option>
						</select>
						<p class="error" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span>Please select an option from the dropdown menu.</span>
						</p>
						<p class="serverSideError" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span></span>
						</p>
						</dd>
					</dl>
				</fieldset>
				<fieldset class="plain-radio AggregatorQuestion" style="display:none;">
					<dl>
						<dt>
						<label for="marketingChannel">Select your Aggregator</label>
						</dt>
						<dd>
						<select class="conditional" id="Aggregator" tabindex="1" name="Aggregator" required>
							<option value="" selected="">Please select:</option>
							<option value="AFG">AFG</option>
							<option value="Astute">Astute</option>
							<option value="Aussie">Aussie</option>
							<option value="Choice">Choice</option>
							<option value="Connective">Connective</option>
							<option value="Other" data-field="PleaseSpecify">Other</option>
						</select>
						<p class="error" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span>Please select an option from the dropdown menu.</span>
						</p>
						<p class="serverSideError" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span></span>
						</p>
						</dd>
					</dl>
				</fieldset>
				<fieldset class="plain-input CompanyField" style="display:none;">
					<dl>
						<dt>
						<label for="postCode">Company Name*</label>
						</dt>
						<dd>
						<input tabindex="1" type="text" placeholder="" name="CompanyName" id="CompanyName" value="" maxlength="4" minlength="0" required="" pattern="[0-9]{1,4}">
						<p class="serverSideError" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span></span>
						</p>
						<p class="error" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span>Please enter your company / agency name</span>
						</p>
						</dd>
					</dl>
				</fieldset>
				<fieldset class="plain-input PleaseSpecify" style="display:none;">
					<dl>
						<dt>
						<label for="postCode">Please specify*</label>
						</dt>
						<dd>
						<input tabindex="1" type="text" placeholder="" name="AggregatorName" id="AggregatorName" value="" maxlength="4" minlength="0" required="" pattern="[0-9]{1,4}">
						<p class="serverSideError" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span></span>
						</p>
						<p class="error" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span>Please enter your aggregator name</span>
						</p>
						</dd>
					</dl>
				</fieldset>
				<fieldset class="plain-radio plain-radio choice-switch  choice-3">
					<dl>
						<dt>
						<legend>Best Time to Contact?</legend>
						</dt>
						<dd>
						<label><input type="radio" tabindex="1" name="bestTimetoContact" value="Morning" required=""><span>Morning</span></label>
						<label><input type="radio" tabindex="1" name="bestTimetoContact" value="Afternoon" required=""><span>Afternoon</span></label>
						<label><input type="radio" tabindex="1" name="bestTimetoContact" value="Evening " required=""><span>Evening </span></label>
						<p class="serverSideError" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span></span>
						</p>
						<p class="error" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span>Please select best time to contact.</span>
						</p>
						</dd>
					</dl>
				</fieldset>
				<fieldset class="plain-checkbox plain-checkbox promo-email">
					<dl>
						<dt>
						<legend> </legend>
						</dt>
						<dd>
						<label><input type="checkbox" tabindex="1" name="toReceivePepperNewsOrOffers" value="Tick to receive Pepper news or offers"><span>Tick to receive Pepper news or offers</span></label>
						<p class="serverSideError" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span></span>
						</p>
						<p class="error" style="display: none">
							<i class="fa fa-exclamation-triangle"></i><span></span>
						</p>
						</dd>
					</dl>
				</fieldset>
				<fieldset class="button-group">
				<button type="button" class="submit">Submit</button>
				</fieldset>
			<!-- <small>won't affect yoru credit score</small> -->
		</form>
		@@include('../sections/toggle-accordion.html', {})
	</section>
	</div> <!-- Container -->
</article>


