<header class="h1-only">
  <fieldset class="button-group">
    <button id="AddPortholeItem">Add item</button>
  </fieldset>
</header>
<article class="layout single-section">
  <div class="container" id="AddItemHere">
    <section class="disclaimer small">The result is indicative only and is subject to final approval. This
 tool does not provide a formal approval for a loan. For a formal approval, contact us now to 
discuss your needs on 13 73 77.</section>
  </div> <!-- Container -->
</article>