<head>
  <link href="https://prod-brokertools.pepper.com.au/Content/themes/pepper/css/IrelandFormCss.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://www.pepper.com.au/docroot/fonts/halis.js"></script>
  <link rel="stylesheet" href="css/pwc.main.css" type="text/css" />
  <link rel="stylesheet" href="css/serviceability-calculator.css" />
  <style type="text/css">
    body {
      margin: 0;
    }
    form ol li { height: auto; }
    .table-responsive {
      position: relative;
      overflow-y: auto;
    }
    .table-responsive table {
      width: 100%;
      max-width: 100%;
      border: none;
    }
    .table-responsive table tr td, .table-responsive tr th {
      padding: 15px 5px;
      border: 0;
      font-size: 12px;
      vertical-align: middle;
      background: none;
      min-height: 60px;
    }
    .table-responsive table tr td.first, .table-responsive tr th.first {
      border-right: 1px solid #E7E8E9;
    }
    .table-responsive table tbody tr.even td {
      background: none;
    }
  </style>
</head>


<body>

<div class="serviceability-calculator calculator-form">
  <form id="calc_form" class="serviceability-form" novalidate="" action="EmailServiceabilityCalculator" method="post">
    <h2>Serviceability Calculator</h2>
    <a class="red" href="/documents/finance-partners/serviceability_calculator_retail.xlsm" onclick="ga('send', 'event', 'download', 'click', 'serviceabilitycaldownload');">Download Calculator to PC</a>
    <br>
    <input id="email" name="email" type="hidden" value="khasibul@pepper.com.au">
    <div class="section" data-section="information">

      <div class="section-header">

        <div class="row">

          <div class="col-15">

            <h2><strong>Step 1.</strong> Loan Information</h2>

          </div>

        </div>

      </div>

      <div class="row">

        <label class="col-5">

            <span class="label">

              Loan Amount ($)

            </span>

          <input type="text" name="loan-amount" pattern="^[0-9]+$">

        </label>

        <label class="col-5">

            <span class="label">

              P&amp;I Loan Term (years)

            </span>

          <input type="text" name="loan-term" pattern="^[0-9]+$">

        </label>

        <div class="col-1" style="">
          <div class="information" data-title="P&amp;I Loan Term" data-text="Please input the actual P&amp;I term. For example if the loan has a 25 year loan term with a 5 year Interest Only portion then the correct input is 20 years."></div>
        </div>

        <label class="col-4">

            <span class="label">

              Interest Rate (% p.a.)

            </span>

          <input type="text" name="interest-rate" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>


      </div>

    </div>

    <div class="section" data-section="household">

      <div class="section-header">

        <div class="row">

          <div class="col-15">

            <h2><strong>Step 2.</strong> Household Information</h2>

          </div>

        </div>

      </div>

      <div class="row">

        <label class="col-5">

            <span class="label">

              Main Applicant's Name

            </span>

          <input type="text" name="applicant-name" pattern=".{6}">

        </label>

        <label class="col-3">

            <span class="label">

              No. of Single Adults

            </span>

          <input type="number" name="single-adults" min="0" value="1" class="valid">

        </label>

        <label class="col-3">

            <span class="label">

              No. of Couples

            </span>

          <input type="number" name="couples" min="0" value="0" class="valid">

        </label>

        <label class="col-3">

            <span class="label">

              No. of Dependents

            </span>

          <input type="number" name="children" min="0" value="0" class="valid">

        </label>
      </div>
    </div>
    <div class="section" data-section="liabilities">

      <div class="section-header">

        <div class="row">

          <div class="col-15">

            <h2><strong>Step 3.</strong> Liabilities</h2>

          </div>

        </div>

      </div>

      <div class="row">

        <label class="col-5">

            <span class="label">

              Basic Living Costs <br>(groceries, utilities per month)

            </span>

          <input type="text" name="living-costs" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>

        <label class="col-5">

            <span class="label">

              Mobile, Internet &amp; TV <br>&nbsp;

            </span>

          <input type="text" name="lc-itv" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>
        <label class="col-5">

            <span class="label">

              Childcare, School Fees<br>Child Maintenance

            </span>

          <input type="text" name="lc-csf" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>
      </div>
      <div class="row">
        <label class="col-5">

            <span class="label">

              Insurance Premiums

            </span>

          <input type="text" name="lc-ip" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>
        <label class="col-5">

            <span class="label">

              Travel and/or Transport

            </span>

          <input type="text" name="lc-tat" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>
        <label class="col-5">

            <span class="label">

              Other Living Expenses

            </span>

          <input type="text" name="other-living-expenses" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>
      </div>
      <div class="row">
        <label class="col-5">

            <span class="label">

              Rent / Board (per month) <br>&nbsp;

            </span>

          <input type="text" name="rent" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>
        <label class="col-5">

            <span class="label">

              Total Credit Card Limit<br>&nbsp;

            </span>

          <input type="text" name="credit-card-limit" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>
        <label class="col-5">

            <span class="label">

              Other Mortgage Repayments <br>(per month)

            </span>

          <input type="text" name="other-mortgage-repayments" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>
      </div>
      <div class="row">
        <label class="col-5">

            <span class="label">

              Other Liabilities (per month)<br>&nbsp;

            </span>

          <input type="text" name="other-liabilities" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>
      </div>

    </div>

    <div class="section" data-section="income">

      <div class="section-header">

        <div class="row">

          <div class="col-6">

            <h2><strong>Step 4.</strong> Income</h2>

          </div>

          <div class="col-8" style="text-align:right;padding-right:45px;float:right;">

            <h2><strong>Total: </strong> $ <span data-field="totalIncome" data-format="currency">0.00</span></h2>

          </div>

        </div>

      </div>

      <div class="row applicant" data-applicant="1">

        <div class="col-15">

          <h3>Applicant <span class="applicant-number">1</span></h3>

        </div>

        <label class="col-5">

            <span class="label">

              Gross Annual Income <br><br>

            </span>

          <input type="text" name="annual-income-1" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>

        <label class="col-5">

            <span class="label">

              100% Gross Rental<br>Annual Income

            </span>

          <input type="text" name="rental-annual-income-1" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>

        <label class="col-5">

            <span class="label">

              Investment Property<br>Loan Balance

            </span>

          <input type="text" name="investment-property-loan-balance-1" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>

      </div>

      <div class="row row-inset">

        <div class="col-15">

          <h3>Other Income</h3>

        </div>

        <label class="col-3">

            <span class="label">

              Add backs (p/a)

            </span>

          <input type="text" name="add-backs" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>


        <label class="col-3">

            <span class="label">

              Business NPBT (p/a)

            </span>

          <input type="text" name="business-npbt" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>


        <label class="col-3">

            <span class="label">

              Untaxed Allowable Income (p/a)

            </span>

          <input type="text" name="untaxed-allowable-income" pattern="^[0-9]+(\.[0-9]+)?$">

        </label>


      </div>

    </div>


  </form>

  <div class="serviceability-summary">

    <p><strong>Effective Date:</strong> 12/03/2012</p>

    <div class="section">

      <div class="section-header">

        <div class="row">

          <div class="col-15">

            <h2>Loan Information</h2>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-5">

          Loan Amount: $ <span data-field="presentValue" data-format="currency">0.00</span>

        </div>

        <div class="col-5">

          Loan Term: <span data-field="loanTerm">0</span> years

        </div>

        <div class="col-5">

          Interest Rate: <span data-field="interestRate">0</span>%

        </div>

      </div>

    </div>

    <div class="section">

      <div class="section-header">

        <div class="row">

          <div class="col-15">

            <h2>Household Information</h2>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-15">

          <strong>Applicant: <span data-field="applicantName"></span></strong>

        </div>

      </div>

      <div class="row">

        <div class="col-15">

          <span data-field="singleAdults">1</span> Single Adults, <span data-field="couples">0</span> Couples, <span data-field="children">0</span> Children

        </div>

      </div>

    </div>

    <div class="section">

      <div class="section-header">

        <div class="row">

          <div class="col-15">

            <h2>Liabilities</h2>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-4">

          <strong>Living Costs (p/m):</strong>

        </div>

        <div class="col-3">

          <strong>$ <span data-field="reportedLivingCosts" data-format="currency">0.00</span></strong>

        </div>

        <div class="col-4">

          <strong>Rent / Board (p/m):</strong>

        </div>

        <div class="col-3">

          <strong>$ <span data-field="rent" data-format="currency">0.00</span></strong>

        </div>

      </div>

      <div class="row">

        <div class="col-4">

          Total Credit Card Limit:

        </div>

        <div class="col-3">

          $ <span data-field="creditCardLimit" data-format="currency">0.00</span>

        </div>

        <div class="col-4">

          Other Liabilities::

        </div>

        <div class="col-3">

          $  <span data-field="otherLiabilities" data-format="currency">0.00</span>

        </div>

      </div>

      <div class="row">

        <div class="col-5 important">

          Annualised Living Costs:

        </div>

        <div class="col-5 important">

          $ <span data-field="livingExpenses" data-format="currency">15,564.00</span>

        </div>

      </div>

    </div>

    <div class="section">

      <div class="section-header">

        <div class="row">

          <div class="col-15">

            <h2>Income</h2>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-7 applicant" data-applicant="1" style="padding-bottom:1em;">

          <h3>Applicant <span class="applicant-number">1</span></h3>

          <div class="row">

            <div class="col-5"><strong>Gross Annual Income:</strong></div>

            <div class="col-2"><strong>$ <span data-field="1-GrossAnnualIncome" data-format="currency">0.00</span></strong></div>

          </div>

          <div class="row">

            <div class="col-5">80% Gross Rental Income:</div>

            <div class="col-2">$ <span data-field="1-GrossRentalIncome" data-format="currency">0.00</span></div>

          </div>

          <div class="row">

            <div class="col-5">Investment Property Loan Balance:</div>

            <div class="col-2">$ <span data-field="1-InvestmentPropertyLoanBalance" data-format="currency">0.00</span></div>

          </div>

          <div class="row">

            <div class="col-5">Workings for Negative Gearing:</div>

            <div class="col-2">$ <span data-field="1-WorkingsForNegativeGearing" data-format="currency">0.00</span></div>

          </div>

          <br>

          <div class="row">

            <div class="col-5">Total Taxable Income:</div>

            <div class="col-2">$ <span data-field="1-TotalTaxableIncome" data-format="currency">0.00</span></div>

          </div>

          <div class="row">

            <div class="col-5">Tax:</div>

            <div class="col-2">$ <span data-field="1-Tax" data-format="currency">0.00</span></div>

          </div>

          <div class="row">

            <div class="col-5">Net:</div>

            <div class="col-2">$ <span data-field="1-Net" data-format="currency">0.00</span></div>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-15">

          <div class="row">

            <div class="col-5">Add Backs</div>

            <div class="col-2">$ <span data-field="addBacks" data-format="currency">0.00</span></div>

          </div>

          <div class="row">

            <div class="col-5">Business NPBT</div>

            <div class="col-2">$ <span data-field="businessNpbt" data-format="currency">0.00</span></div>

          </div>

          <div class="row">

            <div class="col-5">Untaxed Allowable Income</div>

            <div class="col-2">$ <span data-field="untaxedAllowableIncome" data-format="currency">0.00</span></div>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-5 important">

          Net Available Income:

        </div>

        <div class="col-5 important">

          $ <span data-field="netAvailableIncome" data-format="currency">-15,564.00</span>

        </div>

      </div>

    </div>

  </div>



  <div class="section result">

    <div class="section-header">

      <div class="row">

        <div class="col-15">

          <h2>Results</h2>

        </div>

      </div>

    </div>

    <div class="box-result first">

      <h3>Monthly Repayments</h3>

      <div class="result">

        $ <span data-field="monthlyRepayment" data-format="currency">0.00</span>

      </div>

    </div>

    <div class="box-result data-incomplete" data-field-class="nsrStatus">

      <h3>NSR</h3>

      <div class="status" data-field="nsrStatus">incomplete</div>

      <div class="result">

        <span data-field="nsr">-</span>

      </div>

    </div>



  </div>



  <div class="section" style="padding-top:20px;">

    <input type="submit" value="View Summary" data-action="view-summary">

    <input type="submit" value="Send" style="float:right;" data-action="send-summary" onclick="ga('send', 'event', 'send', 'click', 'serviceabilitycalsend');">

  </div>



  <small class="disclaimer">

    Self Employed or PAYG applicants: Net Service Ratio must be above 1.00, and Debt Service Ratio must be below 50%.<br>

    Centrelink Beneficiaries as sole/main income (Pensions, Family Tax Benefits etc): Net Service Ratio must be above 1.25, and Debt Service Ratio must be below 50%.

  </small>


</div>

</body>