<head>
  <link href="https://prod-brokertools.pepper.com.au/Content/themes/pepper/css/IrelandFormCss.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://www.pepper.com.au/docroot/fonts/halis.js"></script>
  <link rel="stylesheet" href="/css/serviceability-calculator.css" />
</head>

<body>

<section class="pepper-form calculator-form">

  <form>
    <div class="postcode-calculator">
      <ol>
        <li class="">
          <label for="postcode-to-search" class="line-label-a">Enter a postcode</label>
          <div class="inputs input-type-a">
            <input id="postcode-to-search" type="text" class="text text-long validate">
            <input class="postcode-search-submit" type="submit" value="Search">
          </div>
        </li>
      </ol>

      <div id="suburb-search-result">
        <ol>
          <li class="mandatory">
            <label for="suburb-to-search" class="line-label-a">Select a suburb</label>
            <div class="asterix"></div>
            <div class="inputs input-type-a">
              <select id="suburb-to-search" name="suburb">
                <option value="1-Unit">BARANGAROO</option>
                <option value="1-Unit">DARLING HARBOUR</option>
                <option value="1-Unit">DAWES POINT</option>
                <option value="1-Unit">HAYMARKET</option>
                <option value="1-Unit">MILLERS POINT</option>
                <option value="1-Unit">PARLIAMENT HOUSE</option>
                <option value="1-Unit">SYDNEY</option>
                <option value="1-Unit">SYDNEY SOUTH</option>
                <option value="1-Unit">THE ROCKS</option>
              </select>	 <input class="suburb-search-submit" type="submit" value="Search">
            </div>
          </li>
        </ol>

        <div id="postcode-search-result-wrapper">

          <strong>Category 1</strong>

          <div class="calculator-results-table col-8">
            <dl>
              <dt></dt>
              <dd>65%</dd>
              <dd>70%</dd>
              <dd>75%</dd>
              <dd>80%</dd>
              <dd>85%</dd>
              <dd>90%</dd>
              <dd>95%</dd>
            </dl>
            <dl>
              <dt>Pepper Prime Full Doc</dt>
              <dd data-label="65%">$2,000,000**</dd>
              <dd data-label="70%">$2,000,000**</dd>
              <dd data-label="75%">$1,500,000</dd>
              <dd data-label="80%">$1,000,000</dd>
              <dd data-label="85%">$850,000</dd>
              <dd data-label="90%">$750,000</dd>
              <dd data-label="95%">$650,000*</dd>
            </dl>
            <dl>
              <dt>Pepper Prime Full Doc PLUS</dt>
              <dd data-label="65%">$2,000,000**</dd>
              <dd data-label="70%">$2,000,000**</dd>
              <dd data-label="75%">$1,500,000</dd>
              <dd data-label="80%">$1,000,000</dd>
              <dd data-label="85%">$850,000</dd>
              <dd data-label="90%">$750,000</dd>
              <dd data-label="95%">$650,000*</dd>
            </dl>
            <dl>
              <dt>Pepper Near Prime Full Doc</dt>
              <dd data-label="65%">$1,250,000</dd>
              <dd data-label="70%">$1,250,000</dd>
              <dd data-label="75%">$1,250,000</dd>
              <dd data-label="80%">$1,250,000</dd>
              <dd data-label="85%">$750,000</dd>
              <dd data-label="90%">$750,000*</dd>
              <dd data-label="95%">$650,000*</dd>
            </dl>
            <dl>
              <dt>Pepper Full Doc</dt>
              <dd data-label="65%">$1,500,000</dd>
              <dd data-label="70%">$1,500,000</dd>
              <dd data-label="75%">$1,000,000</dd>
              <dd data-label="80%">$1,000,000</dd>
              <dd data-label="85%">$750,000</dd>
              <dd data-label="90%">$750,000*</dd>
              <dd data-label="95%">N/A</dd>
            </dl>
            <dl>
              <dt>Pepper Full Doc Jumbo</dt>
              <dd data-label="65%">$2,500,000</dd>
              <dd data-label="70%">$2,000,000</dd>
              <dd data-label="75%">$1,750,000</dd>
              <dd data-label="80%">$1,250,000</dd>
              <dd data-label="85%">N/A</dd>
              <dd data-label="90%">N/A</dd>
              <dd data-label="95%">N/A</dd>
            </dl>
            <dl>
              <dt>Pepper Full Doc PLUS</dt>
              <dd data-label="65%">$1,000,000</dd>
              <dd data-label="70%">$1,000,000</dd>
              <dd data-label="75%">$750,000</dd>
              <dd data-label="80%">$750,000</dd>
              <dd data-label="85%">N/A</dd>
              <dd data-label="90%">N/A</dd>
              <dd data-label="95%">N/A</dd>
            </dl>
            <dl>
              <dt>Pepper Prime Alt Doc</dt>
              <dd data-label="65%">$2,000,000**</dd>
              <dd data-label="70%">$2,000,000**</dd>
              <dd data-label="75%">$1,500,000</dd>
              <dd data-label="80%">$1,000,000</dd>
              <dd data-label="85%">N/A</dd>
              <dd data-label="90%">N/A</dd>
              <dd data-label="95%">N/A</dd>
            </dl>
            <dl>
              <dt>Pepper Prime Alt Doc PLUS</dt>
              <dd data-label="65%">$2,000,000**</dd>
              <dd data-label="70%">$2,000,000**</dd>
              <dd data-label="75%">$1,500,000</dd>
              <dd data-label="80%">$1,000,000</dd>
              <dd data-label="85%">N/A</dd>
              <dd data-label="90%">N/A</dd>
              <dd data-label="95%">N/A</dd>
            </dl>
            <dl>
              <dt>Pepper Near Prime Alt Doc</dt>
              <dd data-label="65%">$1,250,000</dd>
              <dd data-label="70%">$1,250,000</dd>
              <dd data-label="75%">$1,250,000</dd>
              <dd data-label="80%">$1,250,000</dd>
              <dd data-label="85%">$650,000</dd>
              <dd data-label="90%">N/A</dd>
              <dd data-label="95%">N/A</dd>
            </dl>
            <dl>
              <dt>Pepper Alt Doc</dt>
              <dd data-label="65%">$1,500,000</dd>
              <dd data-label="70%">$1,500,000</dd>
              <dd data-label="75%">$1,000,000</dd>
              <dd data-label="80%">$1,000,000</dd>
              <dd data-label="85%">$650,000*</dd>
              <dd data-label="90%">N/A</dd>
              <dd data-label="95%">N/A</dd>
            </dl>
            <dl>
              <dt>Pepper Alt Doc Jumbo</dt>
              <dd data-label="65%">$2,500,000</dd>
              <dd data-label="70%">$2,000,000</dd>
              <dd data-label="75%">$1,750,000</dd>
              <dd data-label="80%">$1,250,000</dd>
              <dd data-label="85%">N/A</dd>
              <dd data-label="90%">N/A</dd>
              <dd data-label="95%">N/A</dd>
            </dl>
            <dl>
              <dt>Pepper Alt Doc PLUS</dt>
              <dd data-label="65%">$1,000,000</dd>
              <dd data-label="70%">$1,000,000</dd>
              <dd data-label="75%">$750,000</dd>
              <dd data-label="80%">N/A</dd>
              <dd data-label="85%">N/A</dd>
              <dd data-label="90%">N/A</dd>
              <dd data-label="95%">N/A</dd>
            </dl>
          </div>


          <p class="disclaimerText">* Only available on purchase</p>
          <p class="disclaimerText">** Loans &gt; $1,500,000 require multiple securities</p>

          <p>For further enquiries, please contact our <a href="mailto:origination@pepperhomeloans.com.au?subject=Postcode Search Enquiry">Origination Team</a></p>
          <a href="/Pepper/PostcodeSearch">Perform a new search</a></div>
      </div>
    </div>
    </div>
  </form>

</section>

</body>