body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
}

#wrapper {
    width: 955px;
    margin: auto;
    text-align: left;
}

#header_box {
    clear: both;
}

#navbar ul {
    height: 35px;
    padding: 5px 0px 0px;
    margin: 0px;
}

#navbar ul li {
    text-decoration: none;
    list-style: none;
    float: left;
    margin-right: 20px;
}

#navbar ul li a {
    font-weight: bold;
    font-family: helvetica, arial, sansserif;
    font-size: 13px;
    color: #9F9F9F;
}

#navbar a:link, #navbar a:visited {
    text-decoration: none;
}

#bread_crumb ul {
    // border-top:1px solid #b2b2b2;
    padding-left: 0px;
    height: 30px;
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none;
    margin: 0px 0px;
    padding-top: 3px;
}

#bread_crumb ul li {
    font-size: 9px;
    float: left;
    margin-right: 5px;
}

#bread_crumb ul li a {
    text-decoration: none;
}

#bread_crumb a:link, #bread_crumb a:visited {
    color: #666;
    text-decoration: none;
}

#leftnav {
    top: 31px;
    width: 127px;
    float: left;
}

#leftnav ul {
    list-style-type: none;
    left-style-position: outside;
    padding-left: 0px;
    margin: 0px;
}

#leftnav ul li {
    background-color: #009900;
    margin: 3px 0px;
    font-size: 10px;
}

#leftnav ul li a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    padding: 4px 0px 4px 3px;
    width: 127px;
}

#space {
    width: 8px;
    height: 5px;
    float: left;
}

#maincontent {
    // float:right;
    // font-size:10px;
    // width:817px;
    // height:100px;
    // margin-bottom:10px;
}

#footer {
    clear: both;
    text-align: center;
    font-size: 9px;
    margin-bottom: 10px;
}

// External libraries
@import "compass";

// this is the compass-mixins library from node_modules, not Ruby-based compass
@import "susy";
@import "breakpoint";

// Core
@import "../../core/grid-960";
@import "../../core/mixins";
@import "../../core/variables";
@import "../../core/normalize";
@import "../../core/util";
@import "../../core/breakpoints";
@import "../../core/extends";
@import "../../core/headings";
@import "../../core/icons";
@import "../../core/backgrounds";
@import "../../core/form-elements";
@import "../../core/layouts";

#header_box {
    height: 54px;
    border-bottom: 1px solid #d7d7d7;

    > img {
        float: left;
        max-width: 208px;
        margin-top: 10px;
        margin-left: 0px;
    }

    .side-nav {
        float: right;
        margin-top: 21px;

        a {
            font-size: 12px;
        }

        .pepper-link {
            margin-right: 10px;

            &:hover {
                color: $pepper-text;
            }
        }
    }

    .pepper-linkedIn {
        color: $pepper-text;

        &:hover {
            color: $pepper-red;
        }

        span {
            margin-right: 10px;
        }

        i {
            font-size: 18px;
        }
    }
}

.content-area {
    display: flex;

    #maincontent {
        width: calc(100% - 208px);
        margin-right: 20px;
    }

    .rightPanel {
        width: 187px;
        padding: 15px;
        background-color: #eee;
    }
}

.main-navbar {
    float: left;
    margin-top: 9px;
    margin-left: 20px;

    a {
        display: inline-block;
        padding: 14px 17px 14px;
        max-height: 48px;
        font-size: 14px;
        font-size: .875rem;
        color: $pepper-text;
        -webkit-transition: all .35s ease;
        transition: all .35s ease;

        &:hover, &.active {
            -moz-border-radius-topleft: 4px;
            -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
            -moz-border-radius-topright: 4px;
            -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
            background-color: #d9d9d9;
            color: #DF0024;
            outline: 0;
        }
    }
}

#footer {
    width: 100%;
    margin-top: 20px;
    background-color: #D1D3D4;

    p {
        max-width: 60em;
        padding: 10px;
        margin: 0 auto;
        font-size: 10px;
    }
}

p {
    font-family: HalisR-Light,Helvetica,sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    font-size: 1rem;
    color: #2f3d4a;
}

.pepper-intro {
    p {
        margin: 20px 0;
    }
}

#bread_crumb {
    ul {
        height: 35px;
        padding-top: 11px;
    }

    ul li {
        font-size: 11px;

        a {
            &:hover {
                text-decoration: underline;
                color: $pepper-red;
            }
        }

        &:first-of-type {
            a {
                span {
                    display: none;
                }

                i {
                    font-size: 14px;
                    margin-top: -1px;
                }
            }
        }

        &:last-of-type {
            a {
                cursor: default;

                &:hover {
                    color: $pepper-text;
                    text-decoration: none;
                }
            }
        }
    }
}

.link-card {
    background-color: #fff;
    border-top: 2px solid $pepper-red;

    &:not(:last-of-type) {
        margin-bottom: 15px;
    }

    img {
        margin-bottom: -5px;
    }

    p {
        margin-bottom: 0;
        padding: 10px;
    }

    a {
        &:hover {
            p {
                color: $pepper-red;
            }
        }
    }
}