//font change
form:not([action*='frmBureauReport']) * {
    font-family: $fontfamily !important;
}

//desktop nav
#imgHeadingOptions {
    width: 16px;
    height: 16px;
}

#tdHeadingRight, #lblSupportMessage, #tdHeadingLeft {
    background-color: #000 !important;
}

#divLastLoggedin {
    float: left;
    margin-left: -34px;
    margin-top: 2px;
}

#tdHeadingLeft {
    height: 34px !important;
}

//main header
#tdHeading {
    background-color: #fff !important;
    height: 60px !important;
    border-bottom: 1px solid #d7d7d7 !important;
}

//main logo
#imgHeading {
    max-width: 213px;
    margin-top: 19px;
    margin-left: 13px;
}

//main menu left side
#tdLeft {
    background-color: #000;
    width: 200px;
    max-width: 200px;
    border: none;
}

td.tdLeft #tblSideButtons {
    margin-top: 0;
}

td.tdLeft #tblSideButtons {
    width: 200px;
}

td.tdLeft td > div {
    max-width: 200px;
}

form:not([action*='frmDesignerFlow']) div.imgBtn, form:not([action*='frmDesignerFlow']) input.BtnStyleGray, form:not([action*='frmDesignerFlow']) .tblContribution a, form:not([action*='frmDesignerFlow']) .datagrid + a, form:not([action*='frmDesignerFlow']) .clsDocPrefBranch span[id$='divBranchHelp'] > a, form:not([action*='frmDesignerFlow']) div#CPHBody_divDirectors a[id*='lnkDeleteDirector'] {
    background: #fff;

    @include border-radius(0px);

    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #d7d7d7 !important;

    &:hover {
        border: none;
        border-bottom: 1px solid #d7d7d7 !important;
        background-color: #d9d9d9;
    }

    span {
        color: #2f3d4a;
        text-align: left;
        float: left;
        font-size: 14px;
        font-weight: 300;
    }
}

table#tblSideButtons .sideButton, div#divSideButtons .sideButtonNav, div#divSideButtons > .sideButtonScreen {
    margin-top: 0px !important;
    margin-bottom: -4px !important;
    padding: 20px;
}

//applicaiton base
#tdBody, #tdBody > table {
  background-color: #eee !important;
}

//form wizard steps indicator

#CPHBody_NAVIGATOR_tblNavigationBar {
  > tbody {
    > tr:first-of-type {
  background-color: #E7E3E2 !important;
  border-radius: 10px !important;
  border:1px solid #d1d1d1;
  }
  td {
    padding:10px 0px;
  }
}
  div {
    border:none;
    border-radius: 10px !important;
    background-color:#006845 !important;
    font-size: 11px !important;
    text-transform: uppercase;
    margin:0 20px;
    &:hover {
      background-color: lighten(#006845, 5%) !important;
    }
  }
}

#CPHBody_divMain {
  .divFilterBG > div {
    padding:0 0px 20px 0px !important;
  }
  .divFilterContent {
    div:last-of-type {
      background-color: transparent !important;
    }
  }
}

form:not([action*='frmDesignerFlow']) div.divFilterContent, div.divFilterContent > div.divFilterBG + div > div:not(:empty){
  border:none !important;
  background-color: transparent !important;
}
div.divFilterContent > div.divFilterBG + div > div:not(:empty), div.divFilterContent > div.divFilterBG  + div {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

//RESET FORM LABELS
#CPHBody_IndividualDetails_tblData, #CPHBody_ContactEmail_tblData {
  tr td {
    font-size: 16px;
  }
}

//input controls
input[type='text'], input[type='password'], textarea[id] {
  padding:8px;
}

//radio button
input[type=radio] {
  display:none !important;
  ~ label {
    display:block;
    width:100%;
    background-color: #fff;
    padding:20px;
    margin:0;
    cursor:pointer;
    border:1px solid #d0d0d0;
    position:relative;
    padding-left: 55px; 
    font-size:  14px;
    &:after {
      content:'';
          position: absolute;
    top: 35%;
    left: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #CCC;
    display: block;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    }
    &:hover {
      background-color: #5f6a7d;
      color: #fff;
    }
  }
  &:checked ~ label {
    background-color: #006845;
    color: #fff;
    &:after {
          border: none;
    height: 10px;
    top: 40%;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
  }
}
#div_CPHBody_imgBtnNext, #div_CPHBody_imgBtnBack {
  @include border-radius(4px);
  span {
    text-align: center;
    width: 100%;
  }
}
#div_CPHBody_imgBtnNext {
  background-color: $pepper-red !important;
  color:#fff !important;
  span {
    color:#fff !important;
  }
  &:hover {
    background-color: lighten($pepper-red, 5%) !important;
  }
}

#div_CPHBody_imgBtnBack {
      background-color: transparent !important;
    border: 1px solid #5f6a7d !important;
    span {
    color: #5f6a7d !important;  
    }
    &:hover {
      background-color: #5f6a7d !important;
      span {
        color: #fff !important;  
      }
    }
    
}