<header class="app-header">
  <h1 class="hidden">Welcome to Pepper</h1>
  <nav class="desktop-nav">
    <ul>
      <li><a tabindex="1" href="#" class="active">Lending</a></li>
      <li><a tabindex="1" href="#">Servicing</a></li>
      <li><a tabindex="1" href="#">Advisory</a></li>
      <li><a tabindex="1" href="#">About us</a></li>
    </ul>
  </nav>
  <nav class="app-nav">
    <input id="HamburgerToggle" type="checkbox">
    <menu class="nav-icons">
    <label for="HamburgerToggle"><span></span></label>
    <div class="site-brand">
    <a tabindex="1" href="#"><img src="images/pepper-money-logo.png" alt="Pepper Logo"></a>
    <!-- <a tabindex="1" href="#"><img src="images/pepper-logo-small.png" alt="Pepper Logo"></a> -->
    </div>
    <!-- <a tabindex="2" href="#" class="nav-login"><i class="fa fa-lock"></i><span>Log In</span></a> -->
    <a tabindex="2" href="#" class="nav-login my-ac"><i class="fa fa-user"></i><span>My Account</span></a>
    <a tabindex="3" href="tel:137777" class="nav-call"><i class="fa fa-phone"></i><span>1300 907 947</span></a>
    </menu>
    <menu class="nav-login-list">
    <ul>
      <li><h5>Hi there</h5></li>
      <li class="has-sub-links">
      <a href="#"><span>Aussie</span><i class="fa fa-plus"></i></a>
      <ul>
        <li>
          <a href="#"><span>Home</span><i class="fa fa-home"></i></a>
        </li>
        <li>
          <a href="#"><span>Interest Rate &amp; Fees</span><i class="fa fa-percent"></i></a>
        </li>
        <li>
          <a href="#"><span>Calculators</span><i class="fa fa-calculator"></i></a>
        </li>
        <li>
          <a href="#"><span>Current Offers &amp; Updates</span><i class="fa fa-bullhorn"></i></a>
        </li>
        <li>
          <a href="#"><span>Pepper Product Selector</span><i class="fa fa-product-hunt"></i></a>
        </li>
        <li>
          <a href="#"><span>Pepper Product Selector Dashboard</span><i class="fa fa-list-alt"></i></a>
        </li>
      </ul>
      </li> <!-- has-sub-links -->
      <li class="has-sub-links">
      <a href="#"><span>Mortgage Choice</span><i class="fa fa-plus"></i></a>
      <ul>
        <li>
          <a href="#"><span>Home</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Interest Rate &amp; Fees</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Calculators</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Current Offers &amp; Updates</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Pepper Product Selector</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Pepper Product Selector Dashboard</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
      </ul>
      </li> <!-- has-sub-links -->
      <li class="has-sub-links">
      <a href="#"><span>White Label</span><i class="fa fa-plus"></i></a>
      <ul>
        <li>
          <a href="#"><span>Home</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Interest Rate &amp; Fees</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Calculators</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Current Offers &amp; Updates</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Pepper Product Selector</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Pepper Product Selector Dashboard</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
      </ul>
      </li> <!-- has-sub-links -->
      <li class="has-sub-links">
      <a href="#"><span>Personal Loan</span><i class="fa fa-plus"></i></a>
      <ul>
        <li>
          <a href="#"><span>Home</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Interest Rate &amp; Fees</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Calculators</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Current Offers &amp; Updates</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Pepper Product Selector</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Pepper Product Selector Dashboard</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
      </ul>
      </li> <!-- has-sub-links -->
      <li class="has-sub-links">
      <a href="#"><span>Retails</span><i class="fa fa-plus"></i></a>
      <ul>
        <li>
          <a href="#"><span>Home</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Interest Rate &amp; Fees</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Calculators</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Current Offers &amp; Updates</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Pepper Product Selector</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
        <li>
          <a href="#"><span>Pepper Product Selector Dashboard</span><i class="fa fa-chevron-circle-right"></i></a>
        </li>
      </ul>
      </li>
      <li><a href="#"><span>Broker portal</span><i class="fa fa-chevron-circle-right"></i></a></li>
    </ul>
    </menu>
    <menu class="nav-main">
    <ul class="level-one">
      <li>
        <a tabindex="1" href="#" class="active has-sub"><span>Lending</span><i class="fa fa-plus"></i></a>
        <ul class="level-two active">
          <li>
            <a tabindex="1" href="#" class="has-sub">
              <span>Home Loans</span>
              <i class="fa fa-plus"></i>
            </a>
            <ul class="level-three">
              <li>
                <ul class="wrapper">
                  <li>
                    <article class="nav-cta">
                      <h3>Home loans designed to fit you</h3>
                      <a tabindex="1" href="#"><i class="fa fa-check-circle"></i><span>Home loan pre-approval tool</span></a>
                    </article>
                  </li>
                  <li>
                    
                    <a tabindex="1" href="/index.html"><i class="fa fa-home"></i><span>I'm a home buyer</span>
                    </a>
                    <a tabindex="1" href="#"><i class="fa fa-home"></i><span>I'm investing</span>
                    </a>
                    <a tabindex="1" href="#"><i class="fa fa-home"></i><span>I’m a refinancer</span>
                    </a>
                    <a tabindex="1" href="https://www.pepper.com.au" target="_blank"><i class="fa fa-home"></i><span>I'm self employed</span></a>
                  </li>
                  <li>
                    <a tabindex="1" href="#"><i class="fa fa-home"></i><span>Menu 02</span></a>
                    <a tabindex="1" href="#"><i class="fa fa-home"></i><span>Menu 02</span></a>
                    <a tabindex="1" href="#"><i class="fa fa-home"></i><span>Menu 02</span></a>
                    <a tabindex="1" href="#"><i class="fa fa-home"></i><span>Menu 02</span></a>
                  </li>
                  <li>
                    <a tabindex="1" href="#"><i class="fa fa-home"></i><span>Menu 02</span></a>
                    <a tabindex="1" href="#"><i class="fa fa-home"></i><span>Menu 02</span></a>
                    <a tabindex="1" href="#"><i class="fa fa-home"></i><span>Menu 02</span></a>
                    <a tabindex="1" href="#"><i class="fa fa-home"></i><span>Menu 02</span></a>
                  </li>
                </ul> <!-- wrapper -->
              </li>
              </ul> <!-- //level-three -->
            </li>
            <li>
            <a tabindex="1" href="#" class="has-sub"><span>Car Loans</span><i class="fa fa-plus"></i></a>
            <ul class="level-three">
              <li>
                <ul class="wrapper">
                  <li>
                    <article class="nav-cta">
                      <h3>Car loans designed to fit you</h3>
                      <a tabindex="1" href="#"><i class="fa fa-car"></i><span>Car Loan</span></a>
                    </article>
                  </li>
                  <li>
                    
                    <a tabindex="1" href="/index.html">Menu 02<i class="fa fa-home"></i>
                    </a>
                    <a tabindex="1" href="#">Menu 03<i class="fa fa-home"></i>
                    </a>
                    <a tabindex="1" href="#">Menu 04<i class="fa fa-home"></i>
                    </a>
                    <a tabindex="1" href="#">Menu 05<i class="fa fa-home"></i></a>
                  </li>
                  <li>
                    <a tabindex="1" href="#">Menu 06<i class="fa fa-home"></i></a>
                    <a tabindex="1" href="#">Menu 07<i class="fa fa-home"></i></a>
                    <a tabindex="1" href="#">Menu 08<i class="fa fa-home"></i></a>
                    <a tabindex="1" href="#">Menu 09<i class="fa fa-home"></i></a>
                  </li>
                  <li>
                    <a tabindex="1" href="#">Menu 06<i class="fa fa-home"></i></a>
                    <a tabindex="1" href="#">Menu 07<i class="fa fa-home"></i></a>
                    <a tabindex="1" href="#">Menu 08<i class="fa fa-home"></i></a>
                    <a tabindex="1" href="#">Menu 09<i class="fa fa-home"></i></a>
                  </li>
                </ul> <!-- wrapper -->
              </li>
              </ul> <!-- //level-three -->
            </li>
            <li><a tabindex="1" href="#"><span>Personal Loans</span><i class="fa fa-plus"></i></a></li>
            <li><a tabindex="1" href="#"><span>Help Centre</span><i class="fa fa-plus"></i></a></li>
            <li><a tabindex="1" href="#"><span>Contact Us</span><i class="fa fa-plus"></i></a></li>
            </ul> <!-- level-two -->
          </li>
          <li>
            <a tabindex="1" href="#"><span>Servicing</span><i class="fa fa-plus"></i></a>
          </li>
          <li>
            <a tabindex="1" href="#"><span>Advisory</span><i class="fa fa-plus"></i></a>
          </li>
          <li>
            <a tabindex="1" href="#"><span>About Us</span><i class="fa fa-plus"></i></a>
          </li>
          </ul> <!-- level-one -->
          </menu>
        </nav>
        </header> <!-- app-header -->