<nav class="menu-bar">
	<ul class="container">
		<li>
		<a href="#" title="Calculators and Tools">
		<img src="images/menu-bar/calc-icon.png" alt="Link Icon">
		<span>Calculators and Tools</span>
		</a>
		</li>
		<li>
		<a href="#" title="Forms and Documents">
		<img src="images/menu-bar/folder-icon.png" alt="Link Icon">
		<span>Forms and Documents</span>
		</a>
		</li>
		<li>
		<a href="#" title="Rates and Fees">
		<img src="images/menu-bar/interest-icon.png" alt="Link Icon">
		<span>Rates and Fees</span>
		</a>
		</li>
		<li>
		<a href="#" title="Product Updates">
		<img src="images/menu-bar/product-icon.png" alt="Link Icon">
		<span>Product Updates</span>
		</a>
		</li>
	</ul>
</nav>