<article class="layout section-aside-right aside-form">
  <div class="container">
    <section>
    	<article class="text-bullets tick-bullet no-bottom-padding no-top-padding">
  <div class="container">
    <h2>So you're interested in a property and need finance but you have been knocked back by the banks for being self-employed? </h2>
    <p>You've come to the right place. We understand that being self-employed for less than two years can create some frustrating obstacles when it comes to finding a home loan. That’s why Pepper Money applies a human element to the application process, so we can fully understand your situation and provide a specialist lending solution.</p>

    <h3>What you get with Pepper Money</h3>
    <ul>
    <li style="height: 48px;">We offer an Alternative Documentation (Alt Doc) loan, so your tax returns don't have to be completely up-to-date</li>
    <li style="height: 48px;">We use alternative methods to verify your income</li>
    <li style="height: 48px;">You can take cash out for business purposes</li>
    <li style="height: 48px;">You can consolidate up to four debts into one (including payout of ATO debt)&nbsp;</li>
</ul>

    
  </div>
</article>
    	@@include('text-image.html', {})
    </section>
    <aside>
    	@@include('pepper-form.html', {})
    	@@include('toggle-accordion.html', {})
    </aside>
  </div>
</article>