<section id="blog-news" class="blog-news">
  <article>
    <h1>What does non-conforming actually mean?</h1>
    <dl>
      <dt>By John Citizen</dt>
      <dd>Posted in <a href="#">Pepper News</a> on 9 Febuary, 2015</dd>
      <dd class="right"><a href="/help-centre.html?dc=true">Disclaimer</a></dd>
    </dl>
    <figure>
      <img src="images/blog-news/helpcentre-bad-credit-basket.jpg" alt="What does non-conforming actually mean?">
      <figcaption>Image caption Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit</figcaption>
    </figure>
    <div>
      <ol>
        <li>Test 01</li>
        <li>Test 01</li>
      </ol>
      <ul>
        <li>Test 01</li>
        <li>Test 02</li>
      </ul>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exrcitation.
      </p>
      <section class="pepper-quiz">
        <article>
          <div class="quizz-container" data-width="100%" data-height="auto" data-quiz="90237"></div>
          <script src="//dcc4iyjchzom0.cloudfront.net/widget/loader.js" async></script>
        </article>
      </section> <!-- Pepper quiz wrapper -->
      <p>Commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptat </p>
    </div>
    <nav class="tag">
      <a href="#">Self-employed</a>
      <a href="#">Bad credit</a>
      <a href="#">Property</a>
      <a href="#">First home buyer</a>
      <a href="#">Case Study</a>
      <a href="#">More...</a>
    </nav>
    <figure class="author">
      <img src="images/blog-news/news-author.jpg" alt="John Citizen">
      <summary>
        <a href="#" rel="author">About John Citizen</a>
        <p>Commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidevnt, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusant</p>
      </summary>
    </figure>
  </article>
  <aside class="social-nav">
    <!--     <menu>
        <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
        <a href="#" class="li"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
        <a href="#" class="gp"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="em"><i class="fa fa-envelope"></i></a>
        </menu> -->
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55238c156eaa17aa" async="async"></script>

  </aside>
</section>