<section class="carousel-circle-images">
  <header>
    <h1>How can we help you?</h1>
    <p>Whatever your circumstance we can help with a home loan that suits you.</p>
  </header>

  <div class="circle-slider">
    <div>
      <a href="#">
        <figure>
          <img src="images/carousel-circle/how-can-we-help-buying-a-home.png" alt="I'm looking to buy Home">
          <h3>I'm looking to buy Home</h3>
          <p>I'm looking to buy my first home</p>
        </figure>
      </a>
    </div>
    <div>
      <a href="#">
        <figure>
          <img src="images/carousel-circle/how-can-we-help-im-an-investor.png" alt="I'm looking to buy Home">
          <h3>I'm an Investor</h3>
          <p>Looking for Investment Opportunities</p>
        </figure>
      </a>
    </div>
    <div>
      <a href="#">
        <figure>
          <img src="images/carousel-circle/how-can-we-help-im-a-refinancer.png" alt="I'm looking to buy Home">
          <h3>I'm a refinancer</h3>
          <p>I'm looking for refinance</p>
        </figure>
      </a>
    </div>
    <div>
      <a href="#">
        <figure>
          <img src="images/carousel-circle/how-can-we-help-im-self-employed.png" alt="I'm looking to buy Home">
          <h3>I'm self employed</h3>
          <p>I'm looking to buy my own home</p>
        </figure>
      </a>
    </div>
  </div>
</section> <!-- carousel circle -->

<section class="carousel-circle-images">
  <div class="circle-slider">
    <div>
      <a href="#">
        <figure>
          <img src="http://placehold.it/160" alt="I'm looking to buy Home">
          <h3>Title</h3>
          <p>Description (optional)</p>
        </figure>
      </a>
    </div>
    <div>
      <a href="#">
        <figure>
          <img src="http://placehold.it/160" alt="I'm looking to buy Home">
          <h3>Title</h3>
          <p>Description (optional)</p>
        </figure>
      </a>
    </div>
    <div>
      <a href="#">
        <figure>
          <img src="http://placehold.it/160" alt="I'm looking to buy Home">
          <h3>Title</h3>
          <p>Description (optional)</p>
        </figure>
      </a>
    </div>
    <div>
      <a href="#">
        <figure>
          <img src="http://placehold.it/160" alt="I'm looking to buy Home">
          <h3>Title</h3>
          <p>Description (optional)</p>
        </figure>
      </a>
    </div>
  </div>
</section> <!-- carousel circle -->