<section class="contact-cards">

  <nav class="page-tabs five-tabs">
    <ul>
      <li><a href="#" class="active">Home Loans</a></li>
      <li><a href="#">Car Loans</a></li>
      <li><a href="#">Finance Partners</a></li>
      <li><a href="#">Personal Loans</a></li>
      <li><a href="#">Enquire Now</a></li>
    </ul>
  </nav>

  <ul class="page-tabs active">
    <li>
      <article class="featured">
        <h3>If you are looking to a Pepper home loan</h3>
        <a href="tel:137377">13 73 77</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a></menu>      
      </article>
      <article class="featured">
        <h3>If you have Pepper home Loan</h3>
        <a href="tel:1300650931">1300 650 931</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu>
        <a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
        </menu>
      </article>
      <article>
        <h4>Commercial Customers</h4>
        <a href="tel:1800249757">1800 249 757</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
      <article>
        <h4>Customer Resolutions</h4>
        <a href="tel:1800356246">1800 356 246</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
      <article>
        <h4>Hardship Enquiries</h4>
        <a href="tel:1800249757">1800 356 383</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
    </li>
  </ul>
  <ul class="page-tabs">
    <li>
      <article>
        <h3>If you are looking to a Pepper Car loan</h3>
        <a href="tel:137377">13 73 77</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">carloan@pepper.com.au</a></menu>
      </article>
      <article>
        <h3>If you have Pepper Car Loan</h3>
        <a href="tel:1300650931">1300 660 931</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">carcustomer@pepper.com.au</menu></a>
      </article>
    </li>
  </ul>
  <ul class="page-tabs">
    <li>
      <article>
        <h3>If you are looking for a Finance Partners</h3>
        <a href="tel:137377">13 73 77</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
      <article>
        <h3>If you have Pepper home Loan</h3>
        <a href="tel:1300650931">1300 650 931</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
      <article>
        <h4>Commercial Customers</h4>
        <a href="tel:1800249757">1800 249 757</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
      <article>
        <h4>Customer Resolutions</h4>
        <a href="tel:1800356246">1800 356 246</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
      <article>
        <h4>Hardship Enquiries</h4>
        <a href="tel:1800249757">1800 356 383</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
    </li>
  </ul>
  <ul class="page-tabs">
    <li>
      <article>
        <h3>Enquire Now</h3>
        <a href="tel:137377">13 73 77</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
      <article>
        <h3>If you have Pepper home Loan</h3>
        <a href="tel:1300650931">1300 650 931</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
      <article>
        <h4>Commercial Customers</h4>
        <a href="tel:1800249757">1800 249 757</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
      <article>
        <h4>Customer Resolutions</h4>
        <a href="tel:1800356246">1800 356 246</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
      <article>
        <h4>Hardship Enquiries</h4>
        <a href="tel:1800249757">1800 356 383</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
    </li>
  </ul>
  <ul class="page-tabs">
    <li>
      <article>
        <h3>Personal Loans</h3>
        <a href="tel:137377">13 73 77</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
      <article>
        <h3>If you have Pepper home Loan</h3>
        <a href="tel:1300650931">1300 650 931</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
      <article>
        <h4>Commercial Customers</h4>
        <a href="tel:1800249757">1800 249 757</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
      <article>
        <h4>Customer Resolutions</h4>
        <a href="tel:1800356246">1800 356 246</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
      <article>
        <h4>Hardship Enquiries</h4>
        <a href="tel:1800249757">1800 356 383</a>
        <time>8:30am - 5:30pm</time>
        <time>Monday - Friday (AEST)</time>
        <menu><a href="mailto:direct@pepper.com.au" class="email">direct@pepper.com.au</a>
</menu>      </article>
    </li>
  </ul>  <!-- ul.page-tabs -->
</section>

<section class="pepper-form bg-light no-bottom-padding">

  <form id="directSqueezeForm" class="campaign-enquiry pepper-form no-top-padding  scroll-here " data-analytic="true" data-url="/absolutely-pepper-mon" data-redirect="https://qa.pepper.com.au/absolutely-pepper-money/thank-you" autocomplete="off" method="post" action="" enctype="multipart/form-data">

    <header>
      <h2>Leave your details and we'll be in touch!</h2>
      <p></p><p>If you're ready to speak to someone immediately, call us now on 1300 000 142 (Mon-Fri). Alternatively, submit an enquiry today, and a Lending Specialist will contact you at your chosen time.</p>
      <p></p>
    </header>

    <div class="form-item-hidden">
      <input type="hidden" name="headerTitle" value="Leave your details and we'll be in touch!">
      <input type="hidden" name="campaignId" value="Display Campaign Page">
      <input type="hidden" name="pageNodeID" value="50584598-7ca3-46d3-be0b-8bc28ff60b5b">

    </div>
    <!-- end form-item-hidden -->

    <fieldset>
      <fieldset class="plain-input">
        <dl>
          <dt>
            <label for="firstName">First / Last Name</label>
          </dt>
          <dd>
            <input tabindex="1" type="text" placeholder="" name="firstName" id="firstName" value="" maxlength="100" minlength="0" required="" pattern="[a-zA-Z0-9\-]{1,100}">
            <p class="serverSideError" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span></span>
            </p>
            <p class="error" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span>Please enter your first name.</span>
            </p>
          </dd>
        </dl>
      </fieldset>

      <fieldset class="plain-input">
        <dl>
          <dt>
            <label for="lastName"></label>
          </dt>
          <dd>
            <input tabindex="1" type="text" placeholder="" name="lastName" id="lastName" value="" maxlength="50" minlength="0" required="" pattern="[a-zA-Z0-9\-]{1,100}">
            <p class="serverSideError" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span></span>
            </p>
            <p class="error" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span>Please enter your last name.</span>
            </p>
          </dd>
        </dl>
      </fieldset>

      <fieldset class="plain-input">
        <dl>
          <dt>
            <label for="email">Email address*</label>
          </dt>
          <dd>
            <input tabindex="1" type="email" placeholder="" name="email" id="email" value="" maxlength="50" minlength="0" required="">
            <p class="serverSideError" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span></span>
            </p>
            <p class="error" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span>Please enter a valid email address.</span>
            </p>
          </dd>
        </dl>
      </fieldset>

      <fieldset class="date-picker">
        <dl>
          <dt>
            <legend for="DatePicker">Date of Birth</legend>
          </dt>
          <dd>
            <label>
            <input id="DatePicker" name="DatePicker" placeholder="dd/mm/yyyy" type="text" required readonly="readonly" value="">
            <i class="fa fa-calendar"></i>
            <p class="serverSideError" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span></span>
            </p>
            <p class="error" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span>You must be 18 year old. Please choose valid date</span>
            </p>
            <!-- <p class="info-box info">
              <i class="fa fa-exclamation-triangle"></i><span>Eligible date you can pick is 18+ years</span>
            </p> -->
            </label>
          </dd>
        </dl>
      </fieldset>

      <fieldset class="plain-input">
        <dl>
          <dt>
            <label for="phoneNo">Phone number*</label>
          </dt>
          <dd>
            <input tabindex="1" type="text" placeholder="" name="phoneNo" id="phoneNo" value="" maxlength="15" minlength="0" required="" pattern="[0-9]{6,18}">
            <p class="serverSideError" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span></span>
            </p>
            <p class="error" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span>Please provide your telephone number. Use numbers only.</span>
            </p>
          </dd>
        </dl>
      </fieldset>

      <fieldset class="plain-input">
        <dl>
          <dt>
            <label for="postCode">Post code*</label>
          </dt>
          <dd>
            <input tabindex="1" type="text" placeholder="" name="postCode" id="postCode" value="" maxlength="4" minlength="0" required="" pattern="[0-9]{1,4}">
            <p class="serverSideError" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span></span>
            </p>
            <p class="error" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span>Please enter your 4 digit post code. </span>
            </p>
          </dd>
        </dl>
      </fieldset>

      <fieldset class="plain-radio drop-down">
        <dl>
          <dt>
            <label for="marketingChannel">How did you hear about us?*</label>
          </dt>
          <dd>
            <select id="marketingChannel" tabindex="1" name="marketingChannel" required>
              <option value="" selected="">Please select:</option>
              <option value="Google (other search engine)">Google (other search engine)</option>
              <option value="News/Article">News/Article</option>
              <option value="Social Media">Social Media</option>
              <option value="Website">Website</option>
              <option value="Advertising (radio/print/TV/billboard etc)">Advertising (radio/print/TV/billboard etc)</option>
              <option value="Friend/Family/Professional">Friend/Family/Professional</option>
              <option value="Sporting Team">Sporting Team</option>
              <option value="Email/Letter">Email/Letter</option>
              <option value="Other/Don't Know">Other/Don't Know</option>
            </select>
            <p class="serverSideError" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span></span>
            </p>
            <p class="error" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span>Please select an option from the dropdown menu.</span>
            </p>
          </dd>
        </dl>
      </fieldset>

      <fieldset class="plain-radio plain-radio choice-switch  choice-3">
        <dl>
          <dt>
            <legend>Best Time to Contact?</legend>
          </dt>
          <dd>
            <label><input type="radio" tabindex="1" name="bestTimetoContact" value="Morning" required=""><span>Morning</span></label>
            <label><input type="radio" tabindex="1" name="bestTimetoContact" value="Afternoon" required=""><span>Afternoon</span></label>
            <label><input type="radio" tabindex="1" name="bestTimetoContact" value="Evening " required=""><span>Evening </span></label>

            <p class="serverSideError" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span></span>
            </p>
            <p class="error" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span>Please select best time to contact.</span>
            </p>
          </dd>
        </dl>
      </fieldset>

      <fieldset class="plain-checkbox plain-checkbox promo-email">
        <dl>
          <dt>
            <legend> </legend>
          </dt>
          <dd>
            <label><input type="checkbox" tabindex="1" name="toReceivePepperNewsOrOffers" value="Tick to receive Pepper news or offers"><span>Tick to receive Pepper news or offers</span></label>
            <p class="serverSideError" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span></span>
            </p>
            <p class="error" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span></span>
            </p>
          </dd>
        </dl>
      </fieldset><fieldset class="button-group">
      <button type="button" class="submit">Submit</button>
    </fieldset>
    </fieldset>

  </form>
  <header>
    <p></p><p>Pepper Group Ltd ACN 094 317 665 Australian Credit Licence Number 286655 is the servicer of loans by Pepper Finance Corporation Limited ACN 094 317 647.
    All applications are subject to Pepper's normal credit assessment and loan suitability criteria. Terms, conditions, fees and charges apply.
    Personal information is collected, used and disclosed in accordance with <a href="https://stage.pepper.com.au/privacy-policy" target="_blank">Pepper's Privacy Policy.</a></p>
    <p></p>
  </header>
</section>