<section class="text-figure bg-grey">
  <article>
  <figure><img src="images/cta-figure/about-us-people.png" alt="We're all ears"></figure>
  <div>
    <h2>CTA Text Image without background</h2>
    <p>You can always find someone to give you one-on-one help at Pepper. Just give us a call and tell us about your situation. The more we learn, the better we can help. Simply speak to one of our professional Private Account Managers and fire away with any questions you’d like answered.</p>
    <em>Call us today on <a href="tel:137377">13 73 77</a></em>
    <fieldset class="button-group">
      <a href="#" class="in-button-group">Get Pre Approval</a>
    </fieldset>
  </div>
</article>
</section>

<section class="text-figure bg-light no-image">
  <article>
  <div>
    <h2>CTA Text Image without background</h2>
    <p>You can always find someone to give you one-on-one help at Pepper. Just give us a call and tell us about your situation. The more we learn, the better we can help. Simply speak to one of our professional Private Account Managers and fire away with any questions you’d like answered.</p>
    <em>Call us today on <a href="tel:137377">13 73 77</a></em>
    <fieldset class="button-group">
      <a href="#" class="in-button-group">Get Pre Approval</a>
    </fieldset>
  </div>
</article>
</section>

<section class="text-figure" style="background: url('http://trafalgar-intl.com/wp-content/uploads/2014/11/Office-background.jpg'); ">
  <article>
    <figure><img src="images/cta-figure/about-us-people.png" alt="We're all ears"></figure>
    <div>
      <h2>CTA Text Image with background</h2>
      <p>You can always find someone to give you one-on-one help at Pepper. Just give us a call and tell us about your situation. The more we learn, the better we can help. Simply speak to one of our professional Private Account Managers and fire away with any questions you’d like answered.</p>
      <em>Call us today on <a href="tel:137377">13 73 77</a></em>
      <fieldset class="button-group">
        <a href="#" class="in-button-group">Get Pre Approval</a>
      </fieldset>
    </div>
  </article>
</section>