<section class="cta-with-bg with-overlay" style="background-image: url('https://www.pepper.com.au/.imaging/stk/pepper-direct/pep-original/dam/pepper-com-au/help-centre/pepper-stadium/jcr:content/pepper-stadium.jpg.jpg')">
  <article>
    <figure>
      <img src="http://placehold.it/256x256" alt="CTA with background image" />
    </figure>
    <content>
      <h4>Win the ULTIMATE Wanderers Experience</h4>
      <p>Enter before March 25, 2016!</p>
      <fieldset class="button-group">
        <a href="http://www.google.com.au" class="in-button-group">Enter Now</a>
      </fieldset>
    </content>
  </article>
</section>