<section class="pepper-form">
      <fieldset class="date-picker">
        <dl>
          <dt>
            <legend for="DatePicker">Date of Birth</legend>
          </dt>
          <dd>
            <label>
            <input id="DatePicker" name="DatePicker" placeholder="dd/mm/yyyy" type="text" required value="" maxlength="10" minlength="10">
            <i class="fa fa-calendar"></i>
            <p class="serverSideError" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span></span>
            </p>
            <p class="error" style="display: none">
              <i class="fa fa-exclamation-triangle"></i><span>You must be 18 year old. Please choose valid date</span>
            </p>
            <!-- <p class="info-box info">
              <i class="fa fa-exclamation-triangle"></i><span>Eligible date you can pick is 18+ years</span>
            </p> -->
            </label>
          </dd>
        </dl>
      </fieldset>
</section>