<section class="error-blade">
  <div class="container">
    <h2>404 Page not found</h2>
    <figure>
      <img src="images/error-blade/404.jpg" />
    </figure>
    <article class="message">
      <p>Oops! It seems this page doesn't exist anymore.</p>
      <p>Let's get you back on track:</p>
    </article>
    <form action="/search-results.html" method="POST">
      <fieldset class="search-box">
        <input type="search" placeholder="What were you looking for?" tabindex="1"/>
        <button type="submit" tabindex="1"><i class="fa fa-search"></i></button>
      </fieldset>
    </form>
  </div>
</section>