<fieldset class="file-upload mandatory">
    <dl>
        <dt>
            <label for="LoadFile">Upload your files</label>
        </dt>
        <dd>
            <button id="LoadFile" type="button" data-maxSize="5" data-accept=".jpg, .gif, .png, .pdf, .doc, .docx, .xlsx, .xls">Browse</button>
            <span class="size-limit">(Limit 5MB)</span>
            <p class="hint">Attachment file can only be Word document, pdf, spread sheet and images (.gif, .jpg, .png, .pdf, .doc,.docx, .xlsx etc)</p>
            <ul class="file-list">
            </ul>
            <p class="serverSideError" style="display: none">
                <i class="fa fa-exclamation-triangle"></i><span></span>
            </p>
            <p class="error" style="display: none">
                <i class="fa fa-exclamation-triangle"></i><span>You must upload the requested file(s).</span>
            </p>
        </dd>
    </dl>
</fieldset>