<footer class="strip bg-grey">
	<section class="copyright">
    <div class="container">
      <h2 class="hidden">Copyright</h2>
      <small>
        Pepper Group Limited ABN 55 094 317 665; Australian Finance Services Licence 286655; Australian Credit Licence 286655<br>
        Pepper Asset Finance Pty Ltd ACN 165 183 317; Australian Credit Licence 458899
        © 2016 Pepper Group Ltd, All rights reserved
      </small>
    </div>
  </section>
</footer>