<div class="brand-guide">
    <header>
        <h2>Form Validation</h2>
        <p>The form validation implemented in Pepper UI Library using 3 base attribute of html 5 as follow:</p>
        <ol>
            <li><strong>input type</strong> : i.e. text, email, select, textarea</li>
            <li><strong>required</strong> : required attribute on any input element will made it mandatory to fill</li>
            <li><strong>pattren</strong> : allows to set criteria of validation.</li>
        </ol>
        <p>
        <b>For example</b>
        </p>
                 <pre>
                 <code class="language-html">
                 &lt;input type=&quot;text&quot; required pattren=&quot;[a-z]{3,10}&quot;/&gt;
                 </code>
        </pre>
        <p>Will validate the input type text against pattren of a-z (means only chars, and {min.Length, max.Length} (means min. 3 chars and max. 15 chars are entered by user<br>
            <b>Try this</b>
        </p>

        <fieldset>
        <input type="text" required pattern="[a-z]{3,10}"/>
        <p class="error" style="display: none">
            <i class="fa fa-exclamation-triangle"></i><span>input should have characters and should not be less than 3 or more than 15 characters</span>
        </p>
        </fieldset>

        <p>
        <b>Validate Numeric (numbers only)</b>
        <br>Just change the pattern to [0-9]
        </p>
                 <pre>
                 <code class="language-html">
                 &lt;input type=&quot;text&quot; required pattern=&quot;[0-9]{4,5}&quot;/&gt;
                 </code>
        </pre>
        <p>Will validate the input type text against pattren of 0-9 (means only numbers, and {min.Length, max.Length} (means min. 4 digits or max. 5 digits should be entered by users<br>
            <b>Try this</b>
        </p>

        <fieldset>
        <input type="text" required pattern="[0-9]{3,5}"/>
        <p class="error" style="display: none">
            <i class="fa fa-exclamation-triangle"></i><span>Enter Post Code, should be 4 or 5 digits</span>
        </p>
        </fieldset>

        <p>
        <b>Validate Numeric (numbers with commas only)</b>
        <br>Just change the pattern to [0-9,]
        </p>
                 <pre>
                 <code class="language-html">
                 &lt;input type=&quot;text&quot; required pattern=&quot;[0-9,]{3,9}&quot;/&gt;
                 </code>
        </pre>
        <p>Will validate the input type text against pattren (means only numbers and coma accepted, and {min.Length, max.Length} (means min. 4 digits or max. 5 digits should be entered by users<br>
            <b>Try this</b>
        </p>

        <fieldset>
        <input type="text" required pattern="[0-9,]{3,9}"/>
        <p class="error" style="display: none">
            <i class="fa fa-exclamation-triangle"></i><span>Enter amount, should be 3 to 9 digits value, comma accepted</span>
        </p>
        <p class="alert">max length will differ due to coma acceptance, so define pattern carefully for e.g. if expecting max value is 99,000 with one in it then your max length should be 6, if expected value is 100,000 then 7 and so on...</p>
        </fieldset>


        
    </header>
</div>
<section class="pepper-form bg-light  with-slider">
    <form id="directSqueezeForm" class="campaign-enquiry no-top-padding  scroll-here " data-analytic="true" data-url="/absolutely-pepper-mon" data-redirect="https://qa.pepper.com.au/absolutely-pepper-money/thank-you" autocomplete="off" method="post" action="" enctype="multipart/form-data">
        
        <div class="form-item-hidden">
            <input type="hidden" name="headerTitle" value="Leave your details and we'll be in touch!">
            <input type="hidden" name="campaignId" value="Display Campaign Page">
            <input type="hidden" name="pageNodeID" value="50584598-7ca3-46d3-be0b-8bc28ff60b5b">
        </div>
        <!-- end form-item-hidden -->
        <fieldset>
            <section class="shortform-slider within-form">
                <header>
                    <h3>User the slider below to tell us how much you want to borrow</h3>
                </header>
                <fieldset class="form-range-slider">
                    <div class="slider-wrapper">
                        <input type="text" class="js-check-change"/>
                        <div class="display-box" >
                            <span class="currency-symbol">$</span>
                            <input type="text" id="js-display-change" value="0" data-min="10000" data-max="3500000" data-steps="1000">
                        </div>
                    </div>
                </fieldset>
            </section>
            <fieldset class="plain-radio plain-radio choice-switch  choice-4">
                <dl>
                    <dt>
                    <legend>I am...</legend>
                    </dt>
                    <dd>
                    <label><input type="radio" tabindex="1" name="iam" value="A Home Buyer" required=""><span>A Home Buyer</span></label>
                    <label><input type="radio" tabindex="1" name="iam" value="An Investor" required=""><span>An Investor</span></label>
                    <label><input type="radio" tabindex="1" name="iam" value="A Refinancer" required=""><span>A Refinancer</span></label>
                    <label><input type="radio" tabindex="1" name="iam" value="Self Employed" required=""><span>Self Employed</span></label>
                    <p class="serverSideError" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span></span>
                    </p>
                    <p class="error" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span>Please select the following options.</span>
                    </p>
                    </dd>
                </dl>
            </fieldset>
            <fieldset class="plain-input">
                <dl>
                    <dt>
                    <label for="firstName">First name*</label>
                    </dt>
                    <dd>
                    <input tabindex="1" type="text" placeholder="" name="firstName" id="firstName" value="" maxlength="100" minlength="0" required="" pattern="[a-zA-Z0-9\-]{1,100}">
                    <p class="serverSideError" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span></span>
                    </p>
                    <p class="error" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span>Please enter your first name.</span>
                    </p>
                    </dd>
                </dl>
            </fieldset>
            
            <fieldset class="plain-input">
                <dl>
                    <dt>
                    <label for="lastName">Last name*</label>
                    </dt>
                    <dd>
                    <input tabindex="1" type="text" placeholder="" name="lastName" id="lastName" value="" maxlength="50" minlength="0" required="" pattern="[a-zA-Z0-9\-]{1,100}">
                    <p class="serverSideError" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span></span>
                    </p>
                    <p class="error" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span>Please enter your last name.</span>
                    </p>
                    </dd>
                </dl>
            </fieldset>
            
            <fieldset class="plain-input">
                <dl>
                    <dt>
                    <label for="email">Email address*</label>
                    </dt>
                    <dd>
                    <input tabindex="1" type="email" placeholder="" name="email" id="email" value="" maxlength="50" minlength="0" required="">
                    <p class="serverSideError" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span></span>
                    </p>
                    <p class="error" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span>Please enter a valid email address.</span>
                    </p>
                    </dd>
                </dl>
            </fieldset>
            
            <fieldset class="plain-input">
                <dl>
                    <dt>
                    <label for="phoneNo">Phone number*</label>
                    </dt>
                    <dd>
                    <input tabindex="1" type="text" placeholder="" name="phoneNo" id="phoneNo" value="" maxlength="15" minlength="0" required="" pattern="[0-9]{6,18}">
                    <p class="serverSideError" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span></span>
                    </p>
                    <p class="error" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span>Please provide your telephone number. Use numbers only.</span>
                    </p>
                    </dd>
                </dl>
            </fieldset>
            
            <fieldset class="plain-input">
                <dl>
                    <dt>
                    <label for="postCode">Post code*</label>
                    </dt>
                    <dd>
                    <input tabindex="1" type="text" placeholder="" name="postCode" id="postCode" value="" maxlength="4" minlength="0" required="" pattern="[0-9]{1,4}">
                    <p class="serverSideError" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span></span>
                    </p>
                    <p class="error" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span>Please enter your 4 digit post code. </span>
                    </p>
                    </dd>
                </dl>
            </fieldset>
            <fieldset class="plain-radio drop-down">
                <dl>
                    <dt>
                    <label for="marketingChannel">How did you hear about us?*</label>
                    </dt>
                    <dd>
                    <select id="marketingChannel" tabindex="1" name="marketingChannel" required>
                        <option value="" selected="">Please select:</option>
                        <option value="Google (other search engine)">Google (other search engine)</option>
                        <option value="News/Article">News/Article</option>
                        <option value="Social Media">Social Media</option>
                        <option value="Website">Website</option>
                        <option value="Advertising (radio/print/TV/billboard etc)">Advertising (radio/print/TV/billboard etc)</option>
                        <option value="Friend/Family/Professional">Friend/Family/Professional</option>
                        <option value="Sporting Team">Sporting Team</option>
                        <option value="Email/Letter">Email/Letter</option>
                        <option value="Other/Don't Know">Other/Don't Know</option>
                    </select>
                    <p class="serverSideError" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span></span>
                    </p>
                    <p class="error" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span>Please select an option from the dropdown menu.</span>
                    </p>
                    </dd>
                </dl>
            </fieldset>
            <fieldset class="plain-radio plain-radio choice-switch  choice-3">
                <dl>
                    <dt>
                    <legend>Best Time to Contact?</legend>
                    </dt>
                    <dd>
                    <label><input type="radio" tabindex="1" name="bestTimetoContact" value="Morning" required=""><span>Morning</span></label>
                    <label><input type="radio" tabindex="1" name="bestTimetoContact" value="Afternoon" required=""><span>Afternoon</span></label>
                    <label><input type="radio" tabindex="1" name="bestTimetoContact" value="Evening " required=""><span>Evening </span></label>
                    <p class="serverSideError" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span></span>
                    </p>
                    <p class="error" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span>Please select best time to contact.</span>
                    </p>
                    </dd>
                </dl>
            </fieldset>
            <fieldset class="plain-checkbox plain-checkbox promo-email">
                <dl>
                    <dt>
                    <legend> </legend>
                    </dt>
                    <dd>
                    <label><input type="checkbox" tabindex="1" name="toReceivePepperNewsOrOffers" value="Tick to receive Pepper news or offers"><span>Tick to receive Pepper news or offers</span></label>
                    <p class="serverSideError" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span></span>
                    </p>
                    <p class="error" style="display: none">
                        <i class="fa fa-exclamation-triangle"></i><span></span>
                    </p>
                    </dd>
                </dl>
            </fieldset><fieldset class="button-group">
            <button type="button" class="submit">Submit</button>
        </fieldset>
    </fieldset>
</form>
<header>
    <p></p><p>Pepper Group Ltd ACN 094 317 665 Australian Credit Licence Number 286655 is the servicer of loans by Pepper Finance Corporation Limited ACN 094 317 647. All applications are subject to Pepper’s normal credit assessment and loan suitability criteria. Terms, conditions, fees and charges apply. Personal information is collected, used and disclosed in accordance with <a href="https://stage.pepper.com.au/privacy-policy" target="_blank">Pepper’s Privacy Policy.</a></p>
    <p></p>
</header>
</section>
@@include('footer-strip.html', {})