<header class="grid-header scroll-here">
  <h1>The good things about Pepper Group</h1>
  <p>It's not just about being the best, it's about doing our best.</p>
</header> <!-- grid header -->

<section class="grid-box">
  <article class="three-box">
    <figure><img src="https://peppergroup.atlassian.net/secure/attachment/20167/icon-award.png" alt="@@article1-title"></figure>
    <details open>
      <summary>2015 winner</summary>
      <p>
        Best non-bank BDM
      </p>
    </details>
  </article>

  <article class="three-box">
    <figure><img src="http://placehold.it/200" alt="@@article2-title"></figure>
    <details open>
      <summary>You first</summary>
      <p>
        When we look at you for a loan, we treat you like an individual not a number.
      </p>
    </details>
  </article>

  <article class="three-box">
    <figure><img src="http://placehold.it/200" alt="@@article3-title"></figure>
    <details open>
      <summary>2015 winner</summary>
      <p>
        Best non-bank BDM
      </p>
    </details>
  </article>
</section> <!-- grid-box -->

<section class="grid-box">
  <article class="four-box">
    <figure><img src="http://placehold.it/200" alt="@@article1-title"></figure>
    <details open>
      <summary>2015 winner</summary>
      <p>
        Best non-bank BDM
      </p>
    </details>
  </article>

  <article class="four-box">
    <figure><img src="http://placehold.it/200" alt="@@article2-title"></figure>
    <details open>
      <summary>You first</summary>
      <p>
        When we look at you for a loan, we treat you like an individual not a number.
      </p>
    </details>
  </article>

  <article class="four-box">
    <figure><img src="http://placehold.it/200" alt="@@article3-title"></figure>
    <details open>
      <summary>2015 winner</summary>
      <p>
        Best non-bank BDM
      </p>
    </details>
  </article>

  <article class="four-box">
    <figure><img src="http://placehold.it/200" alt="@@article3-title"></figure>
    <details open>
      <summary>2015 winner</summary>
      <p>
        Best non-bank BDM
      </p>
    </details>
  </article>
</section> <!-- grid-box -->