<section class="hero-video">
  <header>
    <h1>Welcome to Hero Video</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illum sint vero illo exercitationem cumque nulla eius quos excepturi maxime temporibus.</p>
    <a href=""><i class="fa fa-chevron-down"></i></a>
  </header>
  <article class="video-wrapper" data-image-url="../img/hero-home-grey.jpg">
    <video id="Hero-Video" preload="auto" loop="loop" muted>
      <source src="images/video/hero-video.mp4" type="video/mp4">
    </video>
  </article>
  <aside class="overlay"></aside>
</section>