
<div class="hero-carousel" data-autoPlay="false" data-delay="4">
	<div class="slide">
		 <section class="hero-image underline-title" style="background-image:url('https://www.pepper.com.au/.imaging/stk/pepper-blade/pep-original/dam/pepper/lending/personal-loans/portholes-banners/personal-loans-hero/jcr:content/personal-loans-hero.jpg.jpg')">
  <div class="hero-image-inner">
    <article class="hero-image-content">
        <header>
          <h1>Welcome <b>Pepper Money</b></h1>
          <h2>	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum obcaecati illo veritatis autem aperiam enim</h2>
          <!-- <p class="hero-call"><a class="call-button" href="tel:046 926 7130">Call us 13 77 77</a></p> -->
        </header>
        <!-- <a class="scroll-button" href=""><i class="fa fa-chevron-down"></i></a> -->
        <!-- The chevron will scroll to the section that has the class "scroll-here" -->
        <!-- <a class="scroll-button" href=""><i class="fa fa-chevron-down"></i></a> -->
        <!-- <br/> -->
        <!-- If external page button is selected, specify the "href" and target="_blank" -->
        <!-- <a class="text-button" href="http://www.google.com.au" target="_blank"><i class="fa fa-external-link"></i> Open external page</a> -->
        <!--If internal page button is selected, specify the "href" -->
        <!-- <a class="text-button" href="http://www.google.com.au"><i class="fa fa-chevron-circle-right"></i> Open internal page</a> -->
        <!--If login button is selected, specify the "href" -->
        <!-- <a class="text-button" href="http://www.google.com.au"><i class="fa fa-lock"></i> Login</a> -->
    </article>
  </div>
</section> <!-- hero-image -->
	</div>
	<div class="slide">
		 <section class="hero-image" style="background-image:url('https://www.pepper.com.au/.imaging/stk/pepper-blade/pep-original/dam/pepper/lending/home-loans/portholes-banners/hero-home-buyer.jpg/jcr:content/hero-home-buyer.jpg.jpg')">
  <div class="hero-image-inner">
    <article class="hero-image-content">
        <header>
          <h3>Pepper Money</h3>
          <h4>Discovering new ways to finance ambition</h4>
          <!-- <p class="hero-call"><a class="call-button" href="tel:046 926 7130">Call us 13 77 77</a></p> -->
        </header>
        <!-- <a class="scroll-button" href=""><i class="fa fa-chevron-down"></i></a> -->
        <!-- The chevron will scroll to the section that has the class "scroll-here" -->
        <!-- <a class="scroll-button" href=""><i class="fa fa-chevron-down"></i></a> -->
        <!-- <br/> -->
        <!-- If external page button is selected, specify the "href" and target="_blank" -->
        <!-- <a class="text-button" href="http://www.google.com.au" target="_blank"><i class="fa fa-external-link"></i> Open external page</a> -->
        <!--If internal page button is selected, specify the "href" -->
        <!-- <a class="text-button" href="http://www.google.com.au"><i class="fa fa-chevron-circle-right"></i> Open internal page</a> -->
        <!--If login button is selected, specify the "href" -->
        <a class="text-button" href="http://www.google.com.au"><i class="fa fa-lock"></i> Login</a>
    </article>
  </div>
</section> <!-- hero-image -->
	</div>
	<div class="slide">
		<section class="hero-image" style="background-image:url('https://www.pepper.com.au/.imaging/stk/pepper-blade/pep-original/dam/pepper/lending/home-loans/portholes-banners/lending-hero.jpg/jcr:content/lending-hero.jpg.jpg')">
  <div class="hero-image-inner">
    <article class="hero-image-content">
        <header>
          <h5>Pepper</h5>
          <h6>Testing new line text</h6>
          <!-- <p class="hero-call"><a class="call-button" href="tel:046 926 7130">Call us 13 77 77</a></p> -->
        </header>
        <!-- <a class="scroll-button" href=""><i class="fa fa-chevron-down"></i></a> -->
        <!-- The chevron will scroll to the section that has the class "scroll-here" -->
        <!-- <a class="scroll-button" href=""><i class="fa fa-chevron-down"></i></a> -->
        <!-- <br/> -->
        <!-- If external page button is selected, specify the "href" and target="_blank" -->
        <!-- <a class="text-button" href="http://www.google.com.au" target="_blank"><i class="fa fa-external-link"></i> Open external page</a> -->
        <!--If internal page button is selected, specify the "href" -->
        <!-- <a class="text-button" href="http://www.google.com.au"><i class="fa fa-chevron-circle-right"></i> Open internal page</a> -->
        <!--If login button is selected, specify the "href" -->
        <a class="text-button" href="http://www.google.com.au"><i class="fa fa-lock"></i> Login</a>
    </article>
  </div>
</section> <!-- hero-image -->
	</div>
</div>