<!--   Extension classes to hero-image:
  1. "full-screen": make the hero image go full page
  2. "with-overlay": add the overlay on the image
  3. "slim-screen": make the hero image occupy a height of 300px on desktop
 -->
  <section class="hero-image underline-title" style="background-image:url('https://www.pepper.com.au/.imaging/stk/pepper-blade/pep-original/dam/pepper/lending/home-loans/portholes-banners/lending-hero.jpg/jcr:content/lending-hero.jpg.jpg')">
  <div class="hero-image-inner">
    <article class="hero-image-content">
        <header>
          <h1 style="display:none;">Welcome to the Broker Portal</h1>
          <h5><p>Welcome to the <b>Broker</b> <strong>Portal</strong></p></h5>
          <h6><p>Your gateway to business growth</p></h6>
          <!-- <p class="hero-call"><a class="call-button" href="tel:046 926 7130">Call us 13 77 77</a></p> -->
        </header>
        <!-- <a class="scroll-button" href=""><i class="fa fa-chevron-down"></i></a> -->
        <!-- The chevron will scroll to the section that has the class "scroll-here" -->
        <!-- <a class="scroll-button" href=""><i class="fa fa-chevron-down"></i></a> -->
        <!-- <br/> -->
        <!-- If external page button is selected, specify the "href" and target="_blank" -->
        <!-- <a class="text-button" href="http://www.google.com.au" target="_blank"><i class="fa fa-external-link"></i> Open external page</a> -->
        <!--If internal page button is selected, specify the "href" -->
        <!-- <a class="text-button" href="http://www.google.com.au"><i class="fa fa-chevron-circle-right"></i> Open internal page</a> -->
        <!--If login button is selected, specify the "href" -->
        <!-- <a class="text-button" href="http://www.google.com.au"><i class="fa fa-lock"></i> Login</a> -->
    </article>
  </div>
</section> <!-- hero-image -->
