<!--
Always specify the height of the iframe,
and using the classes below:
  .custom-width   :    specify a custom width, iframe center-aligns.
  .normal-width   :    don't need to specify width, iframe fills the central area.
  .full-width     :    don't need to specify width, iframe fills 100% page width.

Additional Classes
  .with-border    :    to add borders
  .float-left     :    align the iframe to the left
  .float-right    :    align te iframe to the right
-->
<script language="javascript" type="text/javascript">
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
  window.addEventListener('message', function(e) {
  var $iframe = jQuery(".iframe iframe");
  var eventName = e.data[0];
  var data = e.data[1];
  switch(eventName) {
    case 'setHeight':
      $iframe.height(data);
      break;
  }
}, false);
</script>

<!-- <section class="iframe normal-width">
  <div class="container">
    <iframe src="@@src" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
  </div>
</section> -->

<section class="iframe normal-width">
  <div class="container">
    <iframe src="@@src" frameborder="0" scrolling="no"></iframe>
  </div>
</section>

<!-- <section class="iframe normal-width with-border">
  <div class="container">
    <iframe src="https://qa-brokertools.pepper.com.au/FinancePartnerSignup/Questionnaire" height="500px"></iframe>
  </div>
</section> -->

<!-- 'custom-width', Author needs to specify the width -->
<!-- <section class="iframe custom-width with-border">
  <div class="container">
    <iframe src="https://qa-brokertools.pepper.com.au/FinancePartners/LumpSumCalculator" width="690px" height="650px"></iframe>
  </div>
</section> -->

<!-- 'no-border' applied, to remove border -->
<!-- <section class="iframe custom-width">
  <div class="container">
    <iframe src="https://wcsecure.weblink.com.au:443/Clients/PepperGroup/priceframe.aspx" width="290px" height="160px"></iframe>
  </div>
</section>

<section class="iframe normal-width">
  <div class="container">
    <iframe src="https://wcsecure.weblink.com.au:443/Clients/PepperGroup/headlineContents.aspx" height="200px"></iframe>
  </div>
</section>

<section class="iframe normal-width">
  <div class="container">
    <iframe src="https://wcsecure.weblink.com.au:443/Clients/PepperGroup/charttabs.aspx" height="700px"></iframe>
  </div>
</section> -->

<!-- 'full-width', to span 100% width of the page -->
<!-- <section class="iframe full-width">
  <div class="container">
    <iframe src="https://wcsecure.weblink.com.au:443/Clients/PepperGroup/charttabs.aspx" height="700px"></iframe>
  </div>
</section> -->