<article class="info-box alert">
  <p>
    <i class="fa fa-exclamation-triangle"></i>
    <b>For any future Additional Payment Request, please ensure you have sufficient funds available for your Additional Payment Request to occur.</b>
  </p>
</article>

<article class="info-box alert half-margin-top">
  <p>
    <i class="fa fa-exclamation-triangle"></i>
    <b>Important Information - Payments into your loan</b><br>
  </p><ol>
    <li>Payments from your linked account must be submitted before midnight for processing to your loan on the next business day.</li>
    <li>Please ensure you have sufficient funds in your linked bank account on the day prior to the scheduled payment date.</li>
    <li>It is your responsibility to ensure that you meet your minimum contractual repayment amount at all times.</li>
    <li>These online payment services are fee-free. However, should your bank or financial institution dishonour any payments you have scheduled, normal dishonour fees will apply. A loan arrears fee may also apply if your loan falls into arrears.</li>
  </ol>
  <p></p>
</article>

<section class="info-box half-margin-top inside">
  <p><i class="fa fa-info-circle"></i> This text has the helper class ".inside" added to the parent </p>
</section>

<section class="info-box half-margin-top half-margin-bottom">
  <p><i class="fa fa-info-circle"></i> To stop more cheques, cancel previous stops or review previous requests <a href="#">click here</a></p>
</section>