<section class="list-cards">
	<div class="container">
	<header>
		<h2>Test</h2>
		<p>Below are the test of better business learning with thier status and course notes</p>
	</header>
	<article>
		<ul class="card-list">
			<li>
				<figure>
					<img src="//placehold.it/102x68" alt="">
					<figcaption>
						<h5>Specialist Leanding</h5>
						<p>Episode<em>7</em></p>
					</figcaption>
				</figure>
				<menu>
					<a href="#" class="completed"><i class="fa fa-bars"></i><span>Completed</span></a>
					<a href="#"><i class="fa fa-download"></i><span>Download Course Notes</span></a>
					<a href="#"><i class="fa fa-eye"></i><span>Review Episodes</span></a>
				</menu>
			</li>
			<li>
				<figure>
					<img src="//placehold.it/102x68" alt="">
					<figcaption>
						<h5>Effective Business Plans</h5>
						<p>Episode<em>10</em></p>
					</figcaption>
				</figure>
				<menu>
					<a href="#" class="completed"><i class="fa fa-bars"></i><span>Completed</span></a>
					<a href="#"><i class="fa fa-download"></i><span>Download Course Notes</span></a>
					<a href="#"><i class="fa fa-eye"></i><span>Review Episodes</span></a>
				</menu>
			</li>
			<li>
				<figure>
					<img src="//placehold.it/102x68" alt="">
					<figcaption>
						<h5>Interviewing Clients to understand their needs</h5>
						<p>Episode<em>8</em></p>
					</figcaption>
				</figure>
				<menu>
					<a href="#"><i class="fa fa-bars"></i><span>Complete the test</span></a>
					<a href="#"><i class="fa fa-download"></i><span>Download Course Notes</span></a>
					<a href="#"><i class="fa fa-eye"></i><span>Review Episodes</span></a>
				</menu>
			</li>
			<li>
				<figure>
					<img src="//placehold.it/102x68" alt="">
					<figcaption>
						<h5>Compelling Value Proposition</h5>
						<p>Episode<em>7</em></p>
					</figcaption>
				</figure>
				<menu>
					<a href="#"><i class="fa fa-bars"></i><span>Complete the test</span></a>
					<a href="#"><i class="fa fa-download"></i><span>Download Course Notes</span></a>
					<a href="#"><i class="fa fa-eye"></i><span>Review Episodes</span></a>
				</menu>
			</li>
			<li>
				<figure>
					<img src="//placehold.it/102x68" alt="">
					<figcaption>
						<h5>Relationship Management Process</h5>
						<p>Episode<em>7</em></p>
					</figcaption>
				</figure>
				<menu>
					<a href="#"><i class="fa fa-bars"></i><span>Complete the test</span></a>
					<a href="#"><i class="fa fa-download"></i><span>Download Course Notes</span></a>
					<a href="#"><i class="fa fa-eye"></i><span>Review Episodes</span></a>
				</menu>
			</li>
		</ul>
	</article>
	<aside>
		<h4>How to access your MFAA or FBAA CPD Code</h4>
		<p>There is a total of 11 MFAA or FBAA CPD Activity Hours to be earned once you have viewed all modules in their entirety (including all episodes and mini modules) and completed the 10 question multiple choice quiz for each module.</p>
		<p>The great thing is you can pick and choose which modules you want to complete and continue your professional development in your own time and at your own pace.</p>
		<p>If you have any queries regarding CPD hours email <a href="mailt:peppercomms@pepper.com.au">peppercomms@pepper.com.au</a></p>
	</aside>
	</div>
</section>