<section class="login-form">
  <div class="container">
    <header>
      <h2>Welcome to the Broker Portal</h2>
    </header>

    <form action="#" method="POST">
      <fieldset>
        <label for="email">Email address</label>
        <input id="email" type="email" required/>
        <span class="error">Incorrect email address</span>
      </fieldset>
      <fieldset>
        <label for="password">Password</label>
        <input id="password" type="password" required/>
        <span class="error">Incorrect password</span>
      </fieldset>
      <fieldset class="forgot-password">
        <a href="#">Forgotten password?</a>
      </fieldset>
      <fieldset class="button-group">
        <button class="in-button-group" type="submit">Login<i class="fa fa-chevron-circle-right"></i></button>
      </fieldset>
    </form>

    <aside>
      <h3>
        Not accredited? <br/>
        <fieldset class="button-group no-top-margin">
          <a href="#" class="in-button-group">Start Now<i class="fa fa-chevron-circle-right"></i></a>
        </fieldset>
      </h3>
    </aside>
  </div>
</section>