<section class="maintenance">
  <nav class="header-strip">
  <div class="container">
    <figure class="brand-logo">
      <img src="images/pepper-money-logo.png" alt="pepper-money">
      <figcaption>Pepper Money</figcaption>
    </figure>
    <menu>
      <a href="tel:137377"><i class="fa fa-phone"></i><span>13&nbsp;73&nbsp;77</span></a>
    </menu>
    </div>
  </nav>
  <div class="container">
    <h2>We’ll be right back!</h2>
    <figure>
      <img src="images/maintenance/maintenance.png">
    </figure>
    <article class="message">
      <p>Unfortunately the Pepper site is currently down for scheduled maintenance.</p>
      <p>Please bear with us as we’ll be back up and running very soon. Thanks for your patience.</p>
    </article>
  </div>
</section>
<section class="cta123 bg-light no-top-padding">
  <div class="container">
    <p><b>In the meantime, you can still access your Loan portals here;</b></p>
    <menu class="cta">
      <a class="text-button" href="https://www.lsn.com.au/LsnWeb/faces/LsnrLogin.jsp?EWF_SYS_0=e95654f1-2565-11d4-8fa4-00b0d0302a92&amp;EWF_FORM_NAME=0000201&amp;EWF_BUTTON_Submit=Submit" target="_blank"><i class="fa 
fa-external-link"></i>My Home Loan (LSN)</a>
      <a class="text-button" href="https://www.myloanportal.com/loginpage" target="_blank"><i class="fa 
fa-external-link"></i>My Personal Loan</a>
<a class="text-button" href="//investor.pepper.com.au" target="_blank"><i class="fa 
fa-external-link"></i>Debt Investors</a>
    </menu>
  </div>
</section>