<section class="press-release">
  <h2 class="hidden">Press Release</h2>

  <div class="articles">
    <article>
      <figure>
        <img src="http://placehold.it/320" alt="Pepper Group commits to Wanderers for three more exciting years" />
      </figure>
      <div class="content">
        <header>
          <h3>Pepper Group commits to Wanderers for three more exciting years</h3>
          <small class="date">12 Jan 2016</small>
        </header>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum tincidunt ex, eu dignissim velit congue eget. Nullam ut mi at libero interdum tristique.
        </p>
        <footer>
          <a class="read-more" href="#">Read more <i class="fa fa-chevron-right"></i></a>
        </footer>
      </div>
    </article>
    <article>
      <figure>
        <img src="http://placehold.it/320" alt="Pepper Group commits to Wanderers for three more exciting years" />
      </figure>
      <div class="content">
        <header>
          <h3>Pepper Group commits to Wanderers for three more exciting years</h3>
          <small class="date">12 Jan 2016</small>
        </header>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum tincidunt ex, eu dignissim velit congue eget. Nullam ut mi at libero interdum tristique.
        </p>
        <footer>
          <a class="read-more" href="#">Read more <i class="fa fa-chevron-right"></i></a>
        </footer>
      </div>
    </article>

    <article class="page-pagination">
      <div class="pagination">
        <ul>
          <li class="current"><a href="#" title="Page">1</a></li>
          <li><a href="#" title="Page">2</a></li>
          <li><a href="#" title="Page">3</a></li>
          <li><span>...</span></li>
          <li><a href="#" title="Page">4</a></li>
          <li><a href="#" title="Page">5</a></li>
        </ul>
      </div>
    </article>

  </div>

  <aside class="archive">
    <h3>Archive</h3>
    <ul>
      <li class="archive-year">
        <input id="archive-year-2016" type="checkbox" class="hidden" />
        <label for="archive-year-2016">2016 <i class="fa"></i></label>
        <ul>
          <li class="archive-month"><a href="#">February 2016 <span>(2)</span></a></li>
          <li class="archive-month"><a href="#">January 2016</a></li>
        </ul>
      </li>
      <li class="archive-year">
        <input id="archive-year-2015" type="checkbox" class="hidden" />
        <label for="archive-year-2015">2015 <i class="fa"></i></label>
        <ul>
          <li class="archive-month"><a href="#">December 2015</a></li>
          <li class="archive-month"><a href="#">November 2015</a></li>
          <li class="archive-month"><a href="#">October 2015</a></li>
          <li class="archive-month"><a href="#">September 2015</a></li>
        </ul>
      </li>
      <li class="archive-year">
        <input id="archive-year-2014" type="checkbox" class="hidden" />
        <label for="archive-year-2014">2014 <i class="fa"></i></label>
        <ul>
          <li class="archive-month"><span class="notice">No article found.</span></li>
        </ul>
      </li>
    </ul>
  </aside>

</section>

<section class="blog-news press-release-news">
  <article>
    <h1>Pepper Group commits to Wanderers for three more exciting years</h1>
    <dl>
      <dt>By John Citizen</dt>
      <dd>Posted in <a href="#">Pepper News</a> on 9 Febuary, 2015</dd>
    </dl>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium ante a dui euismod pretium. Duis velit ante, sagittis vel felis ut, interdum rutrum arcu. Quisque aliquet consectetur interdum. Donec urna est, vehicula eget magna vel, rhoncus aliquet nunc. Maecenas dapibus nulla quis purus condimentum, ac pulvinar orci congue. Pellentesque condimentum, massa id facilisis facilisis, velit elit sagittis ligula, nec hendrerit orci eros sit amet nisl. Nunc et quam pharetra, suscipit sem a, commodo dui. Fusce pellentesque dolor pellentesque enim scelerisque aliquam. Mauris nec semper massa. Sed egestas dolor a ligula pellentesque, venenatis condimentum magna tincidunt. Duis vitae mattis orci. Quisque nec blandit sem. Mauris id nisl maximus, fermentum dui et, maximus ligula. Suspendisse nec elit sit amet magna elementum molestie.

      </p><p>Praesent ac sollicitudin risus. Pellentesque ligula massa, feugiat ac orci vitae, venenatis consectetur neque. Praesent ut velit rhoncus, lacinia massa eu, euismod est. Suspendisse elit quam, bibendum sit amet dolor sed, dignissim varius dui. Vivamus posuere, tortor eu tristique dapibus, lorem diam lobortis nisl, ac blandit neque nibh a dolor. Aenean dignissim nunc ante, in vestibulum nulla ornare ac. Nullam eleifend odio ultricies ipsum feugiat hendrerit a imperdiet libero. Quisque sit amet ante sed tellus iaculis tristique. Morbi nec purus tincidunt, pellentesque odio non, pharetra nulla. In nisl orci, congue in tellus ut, commodo tincidunt sapien. Maecenas sollicitudin elementum velit sit amet semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin orci sapien, scelerisque vitae congue et, euismod ac mauris.

      </p><p>Vivamus efficitur vel diam in scelerisque. Vestibulum commodo iaculis porttitor. Duis at arcu mi. Nam varius at velit eget elementum. Quisque in felis sodales, vulputate enim ac, faucibus arcu. Duis luctus tristique diam. Maecenas sit amet purus ex. Proin gravida vitae mi ac ultricies. Fusce at euismod ex, vitae tincidunt purus. Nullam dignissim, ipsum gravida eleifend semper, orci leo viverra orci, a posuere nulla neque sed nulla. Quisque et dolor ac turpis ullamcorper auctor sed nec massa. Donec at dictum ipsum. Integer at mi dictum, gravida mauris vel, sodales mauris. Nullam ut pellentesque magna, at maximus orci.

      </p><p>Aenean ultricies libero dapibus orci tempor aliquam. Cras imperdiet vel massa sed faucibus. Phasellus auctor eleifend elit eget pulvinar. Praesent iaculis dapibus ipsum, sit amet viverra erat volutpat at. Nulla facilisi. Etiam malesuada rhoncus magna a porta. In hac habitasse platea dictumst. Nunc pretium enim ullamcorper porttitor bibendum. Ut a quam nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed nisl erat, luctus vel dignissim a, sodales at mauris. Sed mattis orci velit, sed sodales justo porta at. In condimentum vestibulum mauris, quis bibendum dui porta nec.

      </p><p>Fusce posuere mi non dui semper aliquet. Duis ut luctus est, vel malesuada ipsum. Aliquam gravida elementum nulla, vel ornare justo pharetra ut. Curabitur accumsan ornare nulla et pulvinar. Aliquam molestie lectus ex, ac iaculis quam placerat vel. Aliquam dictum metus felis, in aliquet dolor molestie id. Nunc tincidunt est ac sagittis imperdiet. Nulla cursus consequat sagittis. Duis molestie, quam quis ultrices tempus, turpis mi ultricies turpis, vitae viverra est sem sit amet sem. Ut vitae dictum ligula. Cras a libero quis quam rutrum consectetur at eget lorem. Suspendisse dignissim tempor lorem ac dictum.
      </p>

      <fieldset class="button-group">
        <a class="in-button-group" href="http://www.google.com.au" target="_blank"><i class="fa fa-file-pdf-o"></i> Download PDF</a>
      </fieldset>
    </div>
  </article>
</section>

