<fieldset class="radio-choice">
  <label><input type="radio" name="radioGrp" id="opt1" value="yes"><span class="radio-option" for="opt1">Yes</span></label>
  <label><input type="radio" name="radioGrp" id="opt2" value="maybe"><span class="radio-option" for="opt2">Maybe</span></label>
  <label><input type="radio" name="radioGrp" id="opt3" value="no"><span class="radio-option" for="opt3">No</span></label>
</fieldset>