    <section class="short-form">

      <nav class="form-steps">
        <h1 style="display:none;">Pepper Pre-approval Calculator</h1>
        <ul id="NavSteps">
          <li id="StepBorrowers"><a href="#"><span class="titles">Borrowers</span></a></li>
          <li id="StepPurchaseType"><a href="#"><span class="titles">Loan Type</span></a></li>
          <li id="StepDependants"><a href="#"><span class="titles">Dependants</span></a></li>
          <li id="StepIncome"><a href="#"><span class="titles">Income</span></a></li>
          <li id="StepFinances"><a href="#"><span class="titles">Finances</span></a></li>
          <li id="StepContact"><a href="#"><span class="titles">Contact Details</span></a></li>
          <!-- <li id="StepFinish"><a href="#"><span class="titles">Finish</span></a></li> -->
        </ul>
      </nav> <!-- steps of form -->
      <section class="slides-wrapper">
        <h2 style="display:none;">Calculator</h2>
        <section class="slides-container transition-left">
          <h2 style="display:none;">Steps</h2>
          <form id="pepperShortForm" method="post" action="" enctype="multipart/form-data">
            <input type="hidden" name="mgnlModelExecutionUUID" value="712be317-6546-4ab3-a62e-d0b983d60566">
            <fieldset>
              <article class="slide active" data-nav="StepStart">
                <img class="shortform-icon" src="https://www.pepper.com.au/.imaging/stk/pepper-blade/pep-original/dam/pepper/icons/icon-key-house.png/jcr:content/12-house-key.png.png" alt="Pre-approval in mins" />
                <h1>Indicative pre-approval<br/>in minutes</h1>
                <p>Tell us a bit about yourself and your situation and we'll give you an estimate of how much you may be able to borrow.</p>
                <q>
                  Your information will only be held by us and will be secure. By pressing start you agree to our <a href="#">Terms and Conditions</a>
                </q>
                <fieldset class="button-group full">
                  <button type="button" class="step-next" tabindex="1">Start</button>
                </fieldset>
              </article>

              <article class="slide" data-nav="StepBorrowers">
                <img class="shortform-icon" src="//placehold.it/320" alt="How many borrowers" />
                <h1>How many borrowers?</h1>
                <p>For more than two borrowers, please contact a Lending Specialist on <a href="tel:137377">13 73 77</a></p>
                <fieldset class="plain-radio choice-switch small big-rounded">
                  <dl>
                    <dt>
                      <legend></legend>
                    </dt>
                    <dd>
                      <label><input type="radio" name="dependents" value="1" required><span tabindex="1">1</span></label>
                      <label><input type="radio" name="dependents" value="2" required><span tabindex="1">2</span></label>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please choose How many Borrowers</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="button-group full">
                  <button type="button" class="secondary step-back" tabindex=1>Back</button>
                  <button type="button" class="step-next" tabindex="1">Continue</button>
                  
                  
                </fieldset>
              </article>

              <article class="slide" data-nav="StepPurchaseType">
                <img class="shortform-icon" src="//placehold.it/320" alt="Pre-approval in mins" />
                <h1>Loan type</h1>

                <fieldset class="cols-2-lg-sm short-form plain-radio choice-switch">
                  <dl>
                    <dt>
                      <legend>Do you want to purchase a property or refinance an existing home loan?</legend>
                    </dt>
                    <dd>
                      <label><input type="radio" name="PurchaseType" value="Purchase" required><span tabindex="1">Purchase</span></label>
                      <label><input type="radio" name="PurchaseType" value="Refinance" required><span tabindex="1">Refinance</span></label>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please choose Loan Type</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>

                <fieldset class="cols-2-lg-sm short-form plain-radio choice-switch PurchaseType1" style="display:none;">
                  <dl>
                    <dt>
                      <legend>Have you found a property?</legend>
                    </dt>
                    <dd>
                      <label><input type="radio" name="PropFound" value="Yes" required><span tabindex="1">Yes</span></label>
                      <label><input type="radio" name="PropFound" value="No" required><span tabindex="1">No</span></label>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please choose property found?</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>

                <fieldset class="cols-2-lg-sm short-form plain-input currency-mark PurchaseType2" style="display:none;">
                  <dl>
                    <dt>
                      <legend>Property Value</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="text" placeholder="" name="" pattern="[0-9]{5,7}" maxlength="7" required>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Property value should be min 10000 or max 1 Million in digits only</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form currency-mark plain-input PurchaseType2" style="display:none;">
                  <dl>
                    <dt>
                      <legend>Loan Amount</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="text" placeholder="" pattern="[0-9]{5,7}" maxlength="7" required>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Loan Amount should be min 10000 or max 1 Million in digits only</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>

                <fieldset class="button-group full">
                  <button type="button" class="secondary step-back" tabindex=1>Back</button>
                  <button type="button" class="step-next" tabindex="1">Continue</button>
                  
                  
                </fieldset>
              </article>
              <article class="slide" data-nav="StepPurchaseType">
                <img class="shortform-icon" src="//placehold.it/320" alt="Pre-approval in mins" />
                <h1>Loan Type</h1>
                <fieldset class="cols-2-lg-sm short-form plain-input currency-mark PropFound1">
                  <dl>
                    <dt>
                      <legend>What is the Property Value?</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="text" placeholder="" required pattern="[0-9]{5,8}">
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please type the property value, should be min 5 and maximum 8 digits only</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>

                <fieldset class="cols-2-lg-sm short-form plain-input currency-mark PropFound2">
                  <dl>
                    <dt>
                      <legend>How much is the property you want to purchase?</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="text" placeholder="" required pattern="[0-9]{5,8}">
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please provide the value of property you are looking for!</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>

                <fieldset class="button-group full">
                 <button type="button" class="secondary step-back" tabindex=1>Back</button>
                 <button type="button" class="step-next" tabindex="1">Continue</button>
                  
                 
                </fieldset>
              </article>
              <article class="slide" data-nav="StepPurchaseType">
                <img class="shortform-icon" src="//placehold.it/320" alt="Pre-approval in mins" />
                <h1>Loan type</h1>
                <fieldset class="cols-2-lg-sm short-form choice-switch plain-radio">
                  <dl>
                    <dt>
                      <legend>Are you planning to live in the property?</legend>
                    </dt>
                    <dd>
                      <label><input type="radio" name="PropLiveIn" value="Yes" required><span tabindex="1">Yes</span></label>
                      <label><input type="radio" name="PropLiveIn" value="No" required><span tabindex="1">No</span></label>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please answer Yes or No</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form plain-input currency-mark PropLiveIn2" style="display:none;">
                  <dl>
                    <dt>
                      <legend>Estimated rental income</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="text" name="rentalincome" required pattern="[0-9]{3,5}">
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please tell us about the rental income, should be min 3 and max 5 digits only</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form choice-switch choice-3 plain-radio PropLiveIn2" style="display:none;">
                  <dl>
                    <dt>
                      <legend>Rent Frequency</legend>
                    </dt>
                    <dd>
                      <label><input type="radio" name="rentperiod" value="week" required><span tabindex="1">Weekly</span></label>
                      <label><input type="radio" name="rentperiod" value="month" required><span tabindex="1">Monthly</span></label>
                      <label><input type="radio" name="rentperiod" value="year" required><span tabindex="1">Yearly</span></label>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please choose the rent frequency</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="button-group full">
                <button type="button" class="secondary step-back" tabindex=1>Back</button>
                   <button type="button" class="step-next" tabindex="1">Continue</button>
                 
                </fieldset>

              </article>
              <article class="slide" data-nav="StepPurchaseType">
                <img class="shortform-icon" src="//placehold.it/320" alt="Pre-approval in mins" />
                <h1>Loan type</h1>
                <fieldset class="form-range-slider">
                  <label class="">How much deposit do you have?</label>

                  <div class="slider-wrapper">
                    <input type="text"  class="js-check-change" style="visibility:hidden;"/>
                    <div class="display-box" >
                      <span class="currency-symbol">$</span>
                      <input tabindex="1" type="text" data-type="range" id="js-display-change" value="0" data-min="0" data-max="1000000" data-steps="0">
                    </div>
                  </div>
                </fieldset>
                <fieldset class="button-group full">
                <button type="button" class="secondary step-back" tabindex=1>Back</button>
                  <button type="button" class="step-next" tabindex="1">Continue</button>
                  
                  
                </fieldset>
              </article>
              <article class="slide" data-nav="StepDependants">
                <img class="shortform-icon" src="//placehold.it/320" alt="Pre-approval in mins" />
                <h1>Do you have any dependants</h1>
                <fieldset class="number-incrementer">
                  <a href="#" class="disabled">-</a>
                  <input tabindex="1" type="text" pattern="[0-9]*" value="0" data-max="10" data-min="0" data-increment="1"/>
                  <a href="#">+</a>
                </fieldset>

                <fieldset class="button-group full">
                <button type="button" class="secondary step-back" tabindex=1>Back</button>
                  <button type="button" class="step-next" tabindex="1">Continue</button>
                </fieldset>
              </article>

              <article class="slide" data-nav="StepIncome">
                <img class="shortform-icon" src="//placehold.it/320" alt="Income" />
                <h1>Tell us about your income</h1>
                <h2 style="display:none;">Borrower 1</h2>
                <fieldset class="cols-2-lg-sm short-form choice-switch plain-radio">
                  <dl>
                    <dt>
                      <legend>What is your income type?</legend>
                    </dt>
                    <dd>
                      <label><input type="radio" name="incometype" value="Salary(PAYG)" required><span tabindex="1">Salary(PAYG)</span></label>
                      <label><input type="radio" name="incometype" value="Self Employed" required><span tabindex="1">Self Employed</span></label>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span tabindex="1">Please choose income type</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form plain-input year-month incometype2" style="display:none;">
                  <dl>
                    <dt>
                      <legend>How long have you been self-employed?</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="text" name="year" value="3"/>
                      <label for="">Years</label>
                      <input tabindex="1" type="text" name="month" value="6"/>
                      <label for="">Months</label>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form choice-switch choice-4 plain-radio incometype2 incometype1" style="display:none;">
                  <dl>
                    <dt>
                      <legend>What is your income frequency?</legend>
                    </dt>
                    <dd>
                      <label>
                        <input type="radio" name="incomefrequency" required value="Weekly" />
                        <span tabindex="1">Weekly</span>
                      </label>
                      <label>
                        <input type="radio" name="incomefrequency" required value="Fortnight" />
                        <span tabindex="1">Fortnight</span>
                      </label>
                      <label>
                        <input type="radio" name="incomefrequency" required value="Monthly" />
                        <span tabindex="1">Monthly</span>
                      </label>
                      <label><input type="radio" name="incomefrequency" required value="Yearly" />
                        <span tabindex="1">Yearly</span>
                      </label>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please choose your income frequency</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form currency-mark plain-input incometype2 incometype1" style="display:none;">
                  <dl>
                    <dt>
                      <legend>What is your income before tax?</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="text" placeholder="" pattern="[0-9]{2,8}" maxlength="7" required>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please type your gross income</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>
                <!--
                <a class="page-scroll-button" href="#SecondBorrower">Next Borrower</a> -->

                <!-- Borrower 2 Start Here -->
                <h2 style="display:none;">Borrower 2</h2>
                <fieldset class="cols-2-lg-sm short-form choice-switch plain-radio borrower2" style="display:none;">
                  <dl>
                    <dt>
                      <legend>What is your income type?</legend>
                    </dt>
                    <dd>
                      <label><input type="radio" name="incometype2" value="Salary(PAYG)" required><span tabindex="1">Salary(PAYG)</span></label>
                      <label><input type="radio" name="incometype2" value="Self Employed" required><span tabindex="1">Self Employed</span></label>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please choose income type</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form plain-input year-month incometype22" style="display:none;">
                  <dl>
                    <dt>
                      <legend>How long have you been self-employed?</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="text" name="year2" value="3"/>
                      <label for="">Years</label>
                      <input tabindex="1" type="text" name="month2" value="6"/>
                      <label for="">Months</label>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form choice-switch choice-4 plain-radio incometype22 incometype21" style="display:none;">
                  <dl>
                    <dt>
                      <legend>What is your income frequency?</legend>
                    </dt>
                    <dd>
                      <label><input type="radio" name="incomefrequency2" value="Weekly" required><span tabindex="1">Weekly</span></label>
                      <label><input type="radio" name="incomefrequency2" value="Fortnight" required><span tabindex="1">Fortnight</span></label>
                      <label><input type="radio" name="incomefrequency2" value="Monthly" required><span tabindex="1">Monthly</span></label>
                      <label><input type="radio" name="incomefrequency2" value="Yearly" required><span tabindex="1">Yearly</span></label>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please choose income frequency</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form currency-mark plain-input incometype22 incometype21" style="display:none;">
                  <dl>
                    <dt>
                      <legend>What is your income before tax?</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="text" placeholder="" pattern="[0-9]{2,8}" maxlength="7" required>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please type your gross income</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>

                <fieldset class="button-group full">
                  <button type="button" class="secondary step-back" tabindex=1>Back</button>
                  <button type="button" class="step-next" tabindex="1">Continue</button>
                  
                  
                </fieldset>
              </article>

              <article class="slide" data-nav="StepFinances">
                <img class="shortform-icon" src="img/icon-wallet-creditcard.png" alt="Fianance" />
                <h1>Your credit history</h1>
                <p>
                  Pepper can help people with past credit issues. If you'd like to speak to a Private Account Manager directly about your situation, please call
                  <a href="tel:137737">13 73 77</a>
                </p>
                <h2 style="display:none;">Borrower 1</h2>
                <fieldset class="cols-2-lg-sm short-form choice-switch plain-radio">
                  <dl>
                    <dt>
                      <legend>Have you had any previous credit issues?</legend>
                    </dt>
                    <dd>
                      <label><input type="radio" name="creditissue" value="Yes" required><span tabindex="1">Yes</span></label>
                      <label><input type="radio" name="creditissue" value="No" required><span tabindex="1">No</span></label>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please choose credit issue</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form choice-switch choice-3 plain-radio creditissue1" style="display:none;">
                  <dl>
                    <dt>
                      <legend>When was it?</legend>
                    </dt>
                    <dd>
                      <label><input type="radio" name="creditissuehappen" value="Less than Year" required><span tabindex="1">-1 Yr</span></label>
                      <label><input type="radio" name="creditissuehappen" value="1-2 Years" required><span tabindex="1">1-2 Yrs</span></label>
                      <label><input type="radio" name="creditissuehappen" value="2+ Years" required><span tabindex="1">2+ Yrs</span></label>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span tabindex="1">Let us know when you had credit issue?</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>

                <h2 style="display:none;">Borrower 2</h2>
                <fieldset class="cols-2-lg-sm short-form choice-switch plain-radio borrower2" style="display:none;">
                  <dl>
                    <dt>
                      <legend>Have you had any previous credit issues?</legend>
                    </dt>
                    <dd>
                      <label><input type="radio" name="creditissue2" value="Yes" required><span tabindex="1">Yes</span></label>
                      <label><input type="radio" name="creditissue2" value="No" required><span tabindex="1">No</span></label>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please choose credit issue</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form choice-switch choice-3 plain-radio creditissue21" style="display:none;">
                  <dl>
                    <dt>
                      <legend>When was it?</legend>
                    </dt>
                    <dd>
                      <label><input type="radio" name="creditissuehappen2" value="<1 Yr" required><span tabindex="1">&lt; Year</span></label>
                        <label><input type="radio" name="creditissuehappen2" value="1-2 Years" required><span tabindex="1">1-2 Years</span></label>
                        <label><input type="radio" name="creditissuehappen2" value=">2 years" required><span tabindex="1">&gt;2 Years</span></label>
                        <p class="error" style="display:none;">
                          <i class="fa fa-exclamation-triangle"></i>
                          <span tabindex="1">Let us know when you had credit issue?</span>
                        </p>
                      </dd>
                    </dl>
                  </fieldset>

                  <fieldset class="button-group full">
                    <button type="button" class="secondary step-back" tabindex=1>Back</button>
                    <button type="button" class="step-next" tabindex="1">Continue</button>
                    
                    
                  </fieldset>
                </article>

              <article class="slide" data-nav="StepFinances">
                <img class="shortform-icon" src="img/icon-wallet-creditcard.png" alt="Fianance" />
                <h1>Your current commitments</h1>
                <p class="">To help us assess your borrowing capacity, we need the following details.</p>
                <fieldset class="cols-2-lg-sm short-form currency-mark plain-input">
                  <dl>
                    <dt>
                      <legend>What are your current monthly repayments?</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="text" required pattern="[0-9]{0,8}">
                      <p class="hint">Includes personal loans and car loans</p>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Let us know when you had credit issue?</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form currency-mark plain-input">
                  <dl>
                    <dt>
                      <legend>What are your current monthly living expenses?</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="text" class=""  required pattern="[0-9]{0,8}">
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form currency-mark plain-input">
                  <dl>
                    <dt>
                      <legend>What is your total limit on all your credit cards?</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="text" class="" pattern="[0-9]{0,8}">
                    </dd>
                  </dl>
                </fieldset>

                <fieldset class="button-group full">
                  <button type="button" class="secondary step-back" tabindex=1>Back</button>
                  <!-- <button type="button" class="step-next" tabindex="1">Continue</button> -->
                   <button type="button" id="shortformSubmit">Submit for PRE-Approval</button>
                </fieldset>
              </article>

                <article class="slide" data-nav="StepContact">
                <img class="shortform-icon" src="img/icon-clock.png" alt="Pre-approval in mins" />
                <h1>Your contact details</h1>
                <p>Provide us with your details and we'll do our best to contact you within 24 hours.</p>
                <p>See our Privacy Policy for information on our commitment to protect your privacy.</p>
                <fieldset class="cols-2-lg-sm short-form plain-input">
                  <dl>
                    <dt>
                      <legend>First Name</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="text" placeholder="First name">
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form plain-input">
                  <dl>
                    <dt>
                      <legend>Last Name</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="text" placeholder="Last name">
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form plain-input">
                  <dl>
                    <dt>
                      <legend>Email Address</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="email" placeholder="Email id" required>
                      <p class="error" style="display:none;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Please type your valid email id</span>
                      </p>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form plain-input">
                  <dl>
                    <dt>
                      <legend>Telephone</legend>
                    </dt>
                    <dd>
                      <input tabindex="1" type="tel" placeholder="+61">
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form choice-switch choice-3 plain-radio">
                  <dl>
                    <dt>
                      <legend>Preferred contact</legend>
                    </dt>
                    <dd>
                      <label><input type="radio" name="prefercontact" value="Email"><span tabindex="1">Email</span></label>
                      <label><input type="radio" name="prefercontact" value="Telephone"><span tabindex="1">Telephone</span></label>
                      <label><input type="radio" name="prefercontact" value="No Contact"><span tabindex="1">No Contact</span></label>
                    </dd>
                  </dl>
                </fieldset>

                <fieldset class="cols-2-lg-sm short-form choice-switch choice-3 plain-radio prefercontact2" style="display:none;">
                  <dl>
                    <dt>
                      <legend>Preferred Time</legend>
                    </dt>
                    <dd>
                      <label><input type="radio" name="prefertime" value="Morning" required><span tabindex="1">Morning</span></label>
                      <label><input type="radio" name="prefertime" value="Afternoon" required><span tabindex="1">Afternoon</span></label>
                      <label><input type="radio" name="prefertime" value="Evening" required><span tabindex="1">Evening</span></label>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form plain-checkbox">
                  <dl>
                    <dt>
                      <legend>&nbsp;</legend>
                    </dt>
                    <dd>
                      <label for="SubscribeMe" class="subscription-check">
                        <input tabindex="1" type="checkbox" id="SubscribeMe"/>Send me occasional emails with Pepper news and deals
                      </label>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="cols-2-lg-sm short-form drop-down">
                  <dl>
                    <dt>
                      <legend>How you heard about us?</legend>
                    </dt>
                    <dd>
                      <select name="title" id="HearAboutUs">
                        <option value="">Please Choose</option>
                        <option value="Google">Google (other search engine)</option>
                        <option value="Friends">News/Article</option>
                        <option value="WordofMouth">Social Media</option>
                        <option value="WordofMouth">Website</option>
                        <option value="WordofMouth">Advertising (print, TV, radio, billboard etc)</option>
                        <option value="WordofMouth">Friend/Family/Professional</option>
                        <option value="WordofMouth">Sporting Team</option>
                        <option value="WordofMouth">Email/Letter</option>
                        <option value="WordofMouth">Other/Don’t Know</option>
                      </select>
                    </dd>
                  </dl>
                </fieldset>
                <fieldset class="button-group full">
                  <!-- <button type="button" class="secondary step-back" tabindex=1>Back</button> -->
                  <button type="button" id="shortformSubmitContactDetail">Sumbit</button>
                </fieldset>
              </article>


              <article class="slide" data-nav="StepFinish">
                <p>Congratulation! Your indicative borrowing power is</p>
                <blockquote>$500,000</blockquote>
                <p>If you wish to make is official approval, feel free to contact us</p>
                <fieldset class="button-group full">
                  <a href="tel:"  class="in-button-group secondary">Call us 13 77 73</button>
                  <button type="button" id="getContactDetails">Yes, I need official approval</button>
                </fieldset>

                <small class="disclaimer"><p>This calculator is intended to be an approximate guide of how much you can borrow based on the information you provide.  The results should not be considered an approval for a loan and are not an offer to provide credit by Pepper.  Applications are subject to Pepper’s normal credit assessment and loan suitability criteria.  Fees and charges not taken into account in the calculator also apply.  Terms and conditions also apply to all of Pepper’s home loans.<br/>
                  Pepper Australia Pty Ltd ABN 55 094 317 665, Australian Credit Licence 286655.</p>
                </small>
              </article> <!-- final sucess page -->



              <article class="slide" data-nav="StepReferral">
                  <img class="shortform-icon" src="img/icon-phone.png" alt="Pre-approval in mins" />
                  <h1>We need some more information</h1>
                  <p>We are going to need some details about your current situation and what your home loan needs are.</p>
                  <p>Call us on 13 73 77 to speak to a lending specialist or fill out an enquiry form</p>

                  <fieldset class="button-group full">
                    <button type="button" class="secondary">close window</button>
                    <a href="#" class="in-button-group tertiary">Enquiry Form</a>

                    <a href="tel:137377" class="in-button-group tertiary">Call us on 13 73 77</a>
                  </fieldset>
              </article> <!-- final sucess page -->

              <article class="slide" data-nav="StepThankYou">
                  <img class="shortform-icon" src="img/icon-phone.png" alt="Pre-approval in mins" />
                  <h1><i class="fa fa-warning"></i>Oops! We're sorry but something went wrong</h1>
                  <p>Please try again later<br/><br/></p>
                  <fieldset class="button-group full">
                    <a href="/lending" class="in-button-group">Go to Home Page</a>
                  </fieldset>
              </article> <!-- final sucess page -->

            </fieldset> <!-- Free marker fieldset -->
          </form> <!-- Free marker form -->

        </section> <!-- slider container -->
      </section> <!-- slider wrapper -->
      <!-- Blade to display the Disclaimer drop-down -->
    <section class="disclaimer-expandable">
      <article class="text-only no-top-padding">
        <section class="expandable on-short-form">
          <header>
            <span class="icon"><i class="fa fa-warning"></i></span>
            <h4>Disclaimer: Please read</h4>
            <a class="expand-btn" href="javascript:void(0)">
              <span><i class="fa fa-chevron-up"></i> <label>Close</label></span>
              <span><i class="fa fa-chevron-down"></i> <label>View</label><span>
              </span></span></a>
            </header>
            <content>
              <p class="disclaimer-text">
                This tool does not provide a formal approval for a loan and you should not enter commitments based on it. It is a guide to whether you may be able to borrow a certain amount based on the basic information you provided. If you need a formal approval, contact us now to discuss your needs. Pepper Group Limited ABN 55 094 317 665, Australian Credit Licence 286655.
              </p>
            </content>
          </section>
        </article>
      </section>
    </section> <!-- short form -->

    <div class="page-loader" style=" display: none; ">
            <div class="table-cell">
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </div>
        </div>