<section class="text-bullets tick-bullet">
  <div class="container">
    <h2>So you're interested in a property and need finance but you have been knocked back by the banks for being self-employed? You've come to the right place.</h2>
    <p>If you're self-employed...</p>
    <ul>
      <li>We offer an Alt Doc loan, so your tax returns doen't have to be completely up to date</li>
      <li>We use alternative methods to verify yoru incom</li>
      <li>You can take cash out for business purposes</li>
      <li>You can consolidate up to for debts into one (including payout of ATO debt)</li>
    </ul>
  </div>
</section>
