<article class="text-image">
  <section>
    <h2>Service you can rely on</h2>
    <img src="http://placehold.it/140" alt="Thinking outside the tickbox">
    <p>At the 2016 Australian Awards we were awarded <b>Best Self-Employed Lender</b> for the second year in a row as well as <b>Best Specialist Lender</b> for the fourth year in a row.</p>
    <p>We're also a well established global credit provider, listed in the top 500 companies on the Australian Stock Exchange (ASX:PEP).</p>
  </section>
</article>