<section class="video-blade single">
  <article class="video-header">
  	<h2>Sold on Specialist Lending</h2>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo aspernatur, perferendis, facere placeat distinctio nam repellendus eos voluptates similique a incidunt quo hic obcaecati ipsum vitae error cupiditate harum in!</p>
  </article>
  <article class="video-container">
	  <iframe src="https://player.vimeo.com/video/145082704" width="500" height="316" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
  </article>
</section>