// Confirmation screen
#CPHBody_divConfirmationTransform {
  @include container(12);
  background: white;
  padding: 20px 0 0 0;

  @media print {
    padding-top: 0;
  }

  > img.top-image {
    display: block;
    width: 150px;
    margin: 0 auto;

    @media print {
      width: 150px;
    }
  }

  > h1 {
    text-align: center;
    font-size: 32px;
    margin: 20px 0 5px 0;

    @media print {
      margin: 0 0 5px 0;
      font-size: 24px;
    }
  }

  > p {
    text-align: center;
    @include container(90%);
  }

  p {
    text-align: center;
    font-size: 16px;

    @media print {
      font-size: 12px;
    }

    &.important {
      color: $pepper-red;
    }
  }

  p.cta-buttons {
    @media print {
      display: none;
    }

    a.text-button {
      @include text-button();
      color: white !important;
      font-size: 16px;
    }
  }

  .access-container {
    height: auto !important;
    background: #e8e8e8;
    margin: 20px 0 0 0;
    padding: 20px 0;

    @media print {
      margin-top: 5px;
      padding: 5px 0;
      background: none;
      border-top: 1px solid $border-color;
    }

    .access-inner-container {
      @include clearfix();
      display: table;
      width: 100%;
    }

    .access-col1 {
      display: block;
      text-align: center;

      @include breakpoint($tablet) {
        display: table-cell;
        width: 40%;
        vertical-align: middle;
      }

      @media print {
        display: table-cell;
        width: 40%;
        vertical-align: middle;
      }

      figure {
        margin-bottom: 10px;

        img {
          width: auto;
          max-width: 200px;

          @media print {
            max-width: 100px;
          }
        }

        figcaption {
          font-size: 24px;

          strong {
            font-weight: 600;
            margin-right: 5px;
          }
        }
      }
    }

    .access-col2 {
      display: block;
      padding: 0 10px;

      @include breakpoint($tablet) {
        display: table-cell;
        width: 60%;
        vertical-align: middle;
      }

      @media print {
        display: table-cell;
        width: 60%;
        vertical-align: middle;
      }

      p {
        @include breakpoint($tablet) {
          text-align: left;
        }

        @media print {
          text-align: left;
        }
      }
    }
  }

  $doc_green_bg: #006745;
  $doc_orange_bg: #f38b00;
  $doc_red_bg: #d9272e;

  .doc_header {
    background: #222;
    color: #FFF;
    font-size: 18px;
    padding: 10px 0;
    text-align: center;

    &.pepper-essential {
      background: $doc_green_bg;
    }
    &.pepper-easy {
      background: $doc_orange_bg;
    }
    &.pepper-specialist {
      background: $doc_red_bg;
    }

    @media print {
      margin-bottom: 10px;

      // When printing, background-color is disabled on some browser,
      // Our work around is to display a thick colored bottom border.

      &.pepper-essential {
        color: #000;
        background: white;
        border-bottom: 5px solid $doc_green_bg;
        padding: 0 0 5px;
      }
      &.pepper-easy {
        color: #000;
        background: white;
        border-bottom: 5px solid $doc_orange_bg;
        padding: 0 0 5px;
      }
      &.pepper-specialist {
        color: #000;
        background: white;
        border-bottom: 5px solid $doc_red_bg;
        padding: 0 0 5px;
      }
    }
  }

  .doc-container {
    text-align: center;
    @include container(90%);
    padding: 20px 0;
    line-height: 1.5;

    @media print {
      padding: 5px 0;
    }
  }

  .rate-container {
    @include container(90%);
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    @include breakpoint($tablet) {
      @include container(50%);
    }

    @media print {
      margin: 10px auto;
    }

    .v-rate, .c-rate {
      @include span(1 of 2 0);
      padding: 15px 0;

      @media print {
        padding: 5px 0;
      }

      .rate-header {
        margin: 0;
      }

      .rate-cal {
        font-size: 18px;
        font-weight: 600;
      }
    }

    .c-rate {
      //MB-2960
      // color: #CCC;
    }
  }

  .fee-container {
    padding: 0 0 20px 0;
    background: #e8e8e8;

    @media print {
      padding-bottom: 5px;
    }

    .fee-header {
      margin-bottom: 15px;
      color: $doc_green_bg;
      font-size: 24px;
      padding: 20px 0 0 0;
      text-align: center;

      @media print {
        margin-top: 10px;
        padding-top: 5px;
        margin-bottom: 10px;
        border-top: 1px solid $border-color;
        font-size: 18px;
      }
    }

    .fee-content,
    .fee-contact-details {
      @include container(90%);

      @include breakpoint($desktop) {
        @include container (70%);
      }
    }

    .fee-contact-details {
      margin-top: 40px;
      @include clearfix();

      @media print {
        margin-top: 10px;
      }

      figure.avatar {
        @include span(1 of 4 0);
        text-align: right;
        @include breakpoint($desktop) {
          @include span(1 of 7);
        }

        img {
          border-radius: 3px;
          max-width: 100px;

          @media print {
            max-width: 70px;
          }
        }
      }

      .contact-details {
        @include span(3 of 4 0);
        padding-left: 5px;
        @include breakpoint($desktop) {
          padding-left: 0;
          @include span(6 of 7);
        }
      }

      .name {
        font-weight: bold;
        margin-bottom: 5px;
      }

      .phone,
      .email {
        display: block;
        padding: 5px 0;
        width:100%;
        margin-left: 0;
        i {
          width:9%;
          float:left;
          top:4px;
          font-size: 16px;
          @include breakpoint($tablet) {
            width:18px;
          }
        }
        a {
          display: inline-block;
          word-wrap: break-word;
          text-transform: lowercase;
          float:left;
          width:84%;
          padding-left: 5px;
          @include breakpoint($tablet) {
            width:calc(100% - 30px);
          }
        }

        @include breakpoint($desktop) {
          display: inline-block;
        }

        .fa {
          position: relative;
          top: 2px;
          margin-right: 3px;
          float:left;
          @media print {
            font-size: 12px;
          }
        }
      }
    }

    table {
      border: 0;

      td {
        padding: 5px;
        border: 0;
        border-bottom: 1px solid $border-color;
      }

      td.fee-col1 {
        width: 40%;
      }
    }
  }

  .promo-bg-container {
    background-size: cover;
    background-position: top center;
    height: 150px;

    @media print {
      height: 80px;
      background-color: #e8e8e8;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }

    h3, p {
      color: white;
      text-align: center;
      padding: 0 5px;
    }

    h3 {
      padding-top: 30px;

      @media print {
        padding-top: 15px;
      }

      @include breakpoint($desktop) {
        padding-top: 40px;
      }
    }
  }

  .footer-txt {
    margin: 0 auto;
    text-align: justify;
    padding: 20px 0 10px;

    @media print {
      padding: 5px 0 0 0;
      background: none;
    }

    p {
      font-size: 0.9em;
      @include container(90%);

      @media print {
        font-size: 8px;
      }
    }
  }

  .buttoncontainer {
    background: #e8e8e8;
    margin: 0;
    padding-bottom: 30px;

    @media print {
      display: none;
    }
  }

  @media print {
    .access-container,
    .doc_header,
    .doc-container,
    .rate-container,
    .fee-container,
    .footer-txt,
    {
      // avoid content is not broken across the pages
      page-break-before: avoid;
      page-break-after: avoid;
    }
  }
}
//MB-2960
#CPHBody_divConfirmationTransform .rate-container .c-rate .rate-cal {
  font-size: 22px;
}