// Data grid

table.datagrid {
  img {
    width: auto;
  }
  th, td {
    padding: 1px !important;
    font-size: 10px !important;

    @include breakpoint($phablet) {
      padding: 5px !important;
      font-size: 14px !important;
    }

    @include breakpoint($desktop) {
      padding: 10px !important;
    }
  }

  tr.dashboardLink td {
    background: white;

    a:hover {
      text-decoration: underline;
    }
  }
}

.DataGridContainer {
  padding-right: 0 !important;
  border: 1px solid $border-color;
  border-left: none;
}

// Buttons

#CPHBody_UcApplicationSearch1_divSearchButton {
  text-align: center;
}

div.imgBtn.imgBtnCstmRESET, div.imgBtn.imgBtnCstmSEARCH {
  @include text-button();
  text-align: center;
  font-size: 16px;
}
div.imgBtn.imgBtnCstmRESET {
  background-color: $pepper-grey;
  color: $text-color;
  font-size: 16px;

  &:hover {
    color: white;
  }
}
div.imgBtn.imgBtnCstmRESETQUEUESELECTION {
  @include text-button();
  text-align: center;
  margin: 0 0 10px 0 !important;
  width: 150px;

  font-size: 12px;
  padding: 8px;

  @include breakpoint($phablet) {
    font-size: 16px;
    width: 220px;
  }
}

// Search Summary

#CPHBody_UcApplicationSearch1_divSearchSummary {
  line-height: 1.5;
}

// Queue Summary

#CPHBody_UcApplicationSearch1_divQueueSummary {
  tbody tr:not(:first-child) {
    background: white;
  }
  margin-bottom: 30px;
}

// Search table

table.tblSearch {
  background: #FAFAFA;

  tbody tr:first-child td {
    padding: 10px 20px 0 20px !important;
    background: $pepper-grey;
  }

  // Queue select
  select#CPHBody_UcApplicationSearch1_lbQueue {
    height: 400px !important;
  }

  // Date input
  input#CPHBody_UcApplicationSearch1_tbFrom,
  input#CPHBody_UcApplicationSearch1_tbTo,
  input#CPHBody_UcApplicationSearch1_tbDOB {
    display: block;
    margin-bottom: 5px;

    @include breakpoint($tablet) {
      width: 140px !important;
    }
  }

  // Decision select
  select#CPHBody_UcApplicationSearch1_lbDecision {
    height: 200px !important;
  }

  // Merchant, Channel select
  select#CPHBody_UcApplicationSearch1_lbDealer,
  select#CPHBody_UcApplicationSearch1_lbChannel {
    height: 100px !important;
  }

  // Phone area
  input#CPHBody_UcApplicationSearch1_tbPhoneArea {
    width: 70px !important;
    margin-right: 10px;
  }
  input#CPHBody_UcApplicationSearch1_tbPhoneNumber {
    width: 190px !important;
  }
  input#CPHBody_UcApplicationSearch1_imgBtnOptionsHide{
    width: 40px !important;
    border: none;
  }

  select,
  input {
    padding: 10px;
    border: 1px solid $border-color;
    @include border-radius(4px);

    width: 100% !important;
    margin-bottom: 10px;

    @include breakpoint($desktop) {
      width: 80% !important;
      margin-bottom: 0;
      max-width: 400px;
    }
  }

  select[multiple] {
    padding: 5px 10px;
    min-width: 200px;
  }

  td {
    display: block;
    height: auto !important;
    padding: 5px 20px 0 20px !important;
    width: 100% !important;

    strong span {
      font-size: 16px;
    }

    @include breakpoint($tablet) {
      padding: 20px !important;
      display: table-cell;
      width: auto !important;

      &:nth-child(1) {
        width: 15% !important;
      }
      &:nth-child(2) {
        max-width: 35% !important;
      }
      &:nth-child(3) {
        width: 15% !important;
      }
      &:nth-child(4) {
        width: 35% !important;
      }
    }
  }
}