// Login page
#CPHLogin {
  #loginTopLeft,
  #loginTopRight,
  #loginBottomRight,
  #loginBottomLeft {
    display: none !important;
  }

  #loginTop,
  #loginBottom,
  #loginBodyRight,
  #loginBodyLeft {
    background: none !important;
    width: 0 !important;
  }

  #imgLogoMain {
    width: auto;
    margin: 0 auto;
  }

  input[type=text],
  input[type=password] {
    margin-bottom: 10px;

    height: 44px;
    padding: 0 10px;
    @include border-radius(4px);
    border: 1px solid darken(#eee, 15%) !important;
    font-family: $fontfamily;
    font-size: 18px !important;
    color: $pepper-steel;

    width: 100% !important;

    @include breakpoint($phablet) {
      width: 300px !important;
    }
  }

  input[type=text][disabled=disabled],
  input[type=text][readonly=readonly] {
    background: $pepper-grey !important;
    border-color: $border-color !important;
  }

  #lblLeftNavHeader > table {
    width: auto !important;
  }

  #lblEnvironment {
    display: none;
  }

  #cvLoginFailed {
    color: $pepper-red;
  }

  #div_bnEnter {
    @include text-button();
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 50px;
  }
}

#loginBottom table {
  td {
    display: block;
    text-align: left !important;

    span {
      font-weight: 300 !important;
      margin-bottom: 5px;
      display: inline-block;
    }
  }
}