// LVR Table

#CPHBody_divLVRTransformation {
  @include container(12);

  overflow-x: auto; // add horizontal scroll
  overflow-y: hidden;
  width: 220px !important; // less than $mobile

  @include breakpoint($mobile) {
    width: 280px !important; // ~ $mobile * 90% (left and right margin of 5% each)
  }

  @include breakpoint($narrow) {
    width: 360px !important; // ~ $narrow * 90% (left and right margin of 5% each)
  }

  @include breakpoint($phablet) {
    width: 100% !important;
  }

  table {
    border: none;
    width: 100% !important;
  }

  table:first-child {
    background: white;

    td, th {
      border: 1px solid #CCC;
      padding: 2px;
      font-size: 11px !important;

      @include breakpoint($tablet) {
        padding: 5px;
        font-size: 14px !important;
      }
    }
  }
}