.imgBtnCstmGOTOSCHEDULE,
.imgBtnCstmCHANGEPARAMETERS,
.imgBtnCstmRETURNTOREPORTLIST,
.imgBtnCstmRETURNTODASHBOARD,
.imgBtnCstmGENERATEREPORT,
.imgBtnCstmPRINTREPORT,
.imgBtnCstmCREATENEWREPORT,
div#div_CPHBody_imgBtnBack1 {
  @include text-button();
  text-align: center;
  font-size: 16px;
  max-width: 220px;

  margin: 0 !important;

  @include breakpoint($desktop) {
    margin: 0 auto !important;
  }
}

.imgBtnCstmCHANGEPARAMETERS,
.imgBtnCstmRETURNTOREPORTLIST,
.imgBtnCstmRETURNTODASHBOARD,
.imgBtnCstmGENERATEREPORT {
  margin-top: 20px !important;
}

table#CPHBody_ucReportRun_tblParams {
  td, th {
    padding: 10px 0;
  }
}

div#div_CPHBody_imgBtnBack1,
.imgBtnCstmPRINTREPORT {
  margin-bottom: 20px !important;
}

.imgBtnCstmPRINTREPORT {
  float: right;
}

.pf {
  padding: 30px;

  h3 {
    margin-top: 30px;
  }
}