img#CPHBody_Summary_imDecision{
  width: 64px;
}

div#div_CPHBody_imgBtnBack {
	float: left;
	span{
		width: 100%;
		background-color: transparent;
		border: 1px solid $pepper-steel;
		color: $pepper-steel !important;
		line-height: 0.95em;
    	padding: 8px 24px;
    	cursor: pointer;
		@include border-radius(4px);
		@include transition(all 0.5s ease-in-out);
		&:hover, &:focus {
			background-color: $pepper-steel;
			color: #fff !important;
		}
	}
}

div#div_CPHBody_imgBtnNext{
	span{
		width: 100%;
		background-color: $pepper-red ;
		border: 1px solid $pepper-red ;
		color: #fff !important;
		line-height: 0.95em;
    	padding: 8px 24px;
    	cursor: pointer;
		@include border-radius(4px);
		@include transition(all 0.5s ease-in-out);
		&:hover, &:focus {
			background-color: $pepper-red-light;
		}
	}
}

table#CPHBody_NAVIGATOR_tblNavigationBar{
	tr:first-child{
		background-color: #000;
	}
	.navbarHeading0, .navbarHeading1{
		cursor: pointer;
		&:hover, &:focus {
			color: $pepper-red;
		}
	}
	#CPHBody_NAVIGATOR_ctl06, #CPHBody_NAVIGATOR_ctl16, #CPHBody_NAVIGATOR_ctl26, #CPHBody_NAVIGATOR_ctl39, #CPHBody_NAVIGATOR_ctl49{
    	position: relative;
    }
    #CPHBody_NAVIGATOR_ctl07, #CPHBody_NAVIGATOR_ctl17, #CPHBody_NAVIGATOR_ctl27, #CPHBody_NAVIGATOR_ctl40, #CPHBody_NAVIGATOR_ctl50{
    	@include menu-shadow;
    	border: 1px solid #eee;
    }

	.navbarMenu0, .navbarMenu1{
		background-color: #fff;
		padding: 7px;
        font-size: 14px;
        z-index: 10;
        position: relative;
	}
	div.navbarMenu0 a, div.navbarMenu1 a{
		color: $pepper-teal-grey !important;
	}
}

#CPHBody_pnlData {
	.divFilterBG {
	  left: 0;
	  text-align: center;
	  margin: 20px 0 0 0;

	  background: none;
	  border: none;
	  @include box-shadow(none);

	  > div {
		color: black !important;
	  }
	}
  .divFilterContent {
	background: white;
	border: 1px solid $border-color;

	#CPHBody_Action_ucIF_Actions_lblActions,
	#CPHBody_Action_ucIF_Actions_dgActionOptions,
	#CPHBody_Alerts_divAlerts {
	  display: none;
	}
  }
}

#CPHBody_NAVIGATOR_tblNavigationBar {
	td {
	  position: relative;

	  .navbarDropdown {
		left: 0;
		top: 0;
		box-shadow: #bdc9d5 0 0 15px;
		border: 1px solid #eee;
	  }
	}
}

td#CPHBody_LinkConfirmation_tdLink {
  text-align: right;
}

#CPHBody_LinkConfirmation_divLinkButton span {
  @include text-button();
  text-align: center;
  font-size: 16px;
  max-width: 220px;

  margin: 0 !important;

  @include breakpoint($desktop) {
	margin: 0 auto !important;
  }
}