.clsTermsContainer {
  background: white;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px 0 15px;
  font-size: 0.9em;

  @include breakpoint($desktop) {
    @include container(80%);
    max-width: 960px;
    font-size: 1em;
    padding: 35px 35px 0 35px;
  }

  .clsTermsInner {
    padding: 5px 0 0 0;
    line-height: 1.5;
  }

  .clsTermsAcceptance {
    font-weight: bold;
    margin-top: 40px;
  }

  .clsTermsTxt {
    li {
      margin-bottom: 10px;
      text-indent: -16px;
      margin-left: 16px;

      @include breakpoint($desktop) {
        margin-bottom: 20px;
      }
    }
  }

  #CPHBody_btnRedirect {
    @include text-button();
    font-size: 16px;
    text-align: center;

    margin: 50px auto 0 auto;
    width: 150px;
    display: block;
    float: none;
  }
}