.flexi-layout {
    &.hero {
        @include clearfix;

        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        min-height: 300px;

        > .container {
            width: 100%;
            margin: 0;
        }
    }

    //hero
    &.item {
        > .container {
            @include container(90%);

            @extend %display-flex;

            @include flex-flow(row, wrap);
            @include breakpoint($tablet) {
                @include container(12);
            }
        }

        
        //container
   
    }

    &.two-columns, &.three-columns, &.four-columns {
        > .container {
            justify-content: space-between;

            > section {
                @extend %display-flex;

                @include flex-flow(row, wrap);

                flex: 1 0 auto;
                width: calc(100%);

                @include breakpoint($mobile-landscape) {
                    width: calc(50%);
                }
            }
        }
    }

    &.two-columns {
        > .container {
            > section {
                @include breakpoint($tablet) {
                    width: calc(50%);
                }
            }
        }
    }

    &.three-columns {
        > .container {
            > section {
                @include breakpoint($tablet) {
                    width: calc(33%);
                }
            }
        }
    }

    &.four-columns {
        > .container {
            > section {
                @include breakpoint($desktop) {
                    width: calc(25%);
                }
            }
        }
    }
}

.compo-test {
    margin: 0;
    padding: 0;
    position: relative;

    .compo-settings {
        position: fixed;
        min-height: 300px;
        background-color: #ddd;
        top: 58px;
        right: 0;
        width: 300px;
        height: calc(100% - 58px);
        padding: 10px;
        overflow-y: scroll;
        z-index: 999;
        transition: right .5s ease .2s;

        header {
            background-color: #333;
            color: fff;
            transition: right .5s ease .2s;

            @include display-flex;

            i, h3 {
                @include display-flex;

                color: #fff;

                @include font-size(18px);

                padding: 5px;

                @include align-items(center, center);
            }
        }

        header {
            position: fixed;
            right: 0;
            top: 0;
            width: 300px;

            i {
                margin-right: 15px;
                cursor: pointer;
            }
        }

        form {
            padding: 15px;
            opacity: 1;
            transition: opacity .5s ease;
            label {
                cursor: pointer;
            }
        }


        fieldset:not(:last-of-type) {
            padding-bottom: 30px;
            border-bottom: 1px groove #fff;

            &.button-group {
                button, .in-button-group {
                    display: block;
                    width: 100%;

                    &:first-of-type {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    #compoSettingToggle ~ .compo-settings {
        right: -300px;

        header {
            right: -262px;
        }

        form {
            opacity: 0;
        }
    }

    #compoSettingToggle:checked ~ .compo-settings {
        right: 0px;

        header {
            right: 0px;
        }

        form {
            opacity: 1;
        }
    }
}

.bg-image {
    @include backImage("//placehold.it");
}

.text-align-center {
    text-align: center;
}