//flex mixins and extend
%display-flex {
    display: flex;
    display: -webkit-flex;
    display: flex;
}



%flow-column {
        -webkit-flex-flow:column;
        -ms-flex-flow:column;
        flex-flow:column;
}

%justify-content-center {
          -webkit-justify-content:center;
        -ms-flex-pack:center;
        justify-content:center;
}
@mixin display-flex {
    display: flex;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-flow($fDir: row, $fwrap: wrap) {
   -webkit-flex-flow: $fDir $fwrap;
   flex-flow: $fDir $fwrap;
}
@mixin flex($grow: 0, $shrink: 0, $basis: 0) {
  -webkit-flex: $grow $shrink $basis;
   flex: $grow $shrink $basis;
}
@mixin justify-content($value: space-between) {
  -webkit-justify-content:$value;
        -ms-flex-pack:$value;
        justify-content:$value;
}

@mixin align-items($value, $tweenerValue) {
    -webkit-align-items: $value;
    -ms-flex-align: $tweenerValue;
    align-items: $value;
}

@mixin flex-order($value) {
  -webkit-order:$value;
  -ms-order:$value;
  order:$value;
}

@mixin align-self($value:flex-start,$tweenerValue:start) {
    -webkit-align-self: $value;
    -ms-flex-item-align: $tweenerValue;
    align-self: $value;
}