// flex cheat sheet using 2012 with MS tweener syntax
// this will helps developer to bring max. browsers support

//to apply display flex
%display-flex {
    display: -webkit-flex;

    //for webkit browser, note newer version of chrome does support display : flex and disregard webkit prefix;
    display: -ms-flex;

    //for old IE versions
    display: flex;

    //Mostly supported by all new browser, check caniuse.com
}

//to apply flex main axis direction
@flex-direction ($mainAxis : row) {
    -webkit-flex-direction: $mainAxis;
    -mx-flex-direction: $mainAxis;
    flex-direction: $mainAxis;

    // available properties, defualt: row
    // column; row; column-reverse; row-reverse;
}

@flex-wrap ($wrap : wrap) {
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

//combine shorthand for direction and wrap
@flex-flow ($dir: row, $wrap: wrap) {
    -webkit-flex-flow: $row $warp;
    -ms-flex-flow: $row $warp;
    flex-flow: $row $warp;
}

//flex : grow || shrink || basis;
@flex ($grow : 1, $shrink: 1, $basis: auto) {
    -webkit-flex: $grow $shrink $basis;
    -ms-flex: $grow $shrink $basis;
    flex: $grow $shrink $basis;
}

// advance prefixer, give control in your to choose what browsers you want to support. not like autoprefixers which culters old obselleted prefixers into the css.
@mixin prefix($declarations, $prefixes: ()) {
    @each $property, $value in $declarations {
        @each $prefix in $prefixes {
            #{"-" + $prefix + "-" + $property}: $value;
        }

        // Output standard non-prefixed declaration
        #{$property}: $value;
    }
}

//Alignment using justify-content for main axis; you must aware of the diff. between main axis and cross axis of flex.
//also checkout justify-conent values
@justify-content($value : flex-start, $tweenerValue: start) {
    -webkit-justify-content: $value;
    -ms-flex-pack: $tweenerValue; //there is no space-around for tweene value, use justify
    //tweener syntax for ms fall back.
    justify-content: $value;
}

//Alignment for Cross Axis
//align-items; align-self properties
@align-items($value, $tweenerValue) {
    -webkit-align-items: $value;
    -ms-flex-align: $tweenerValue;
    align-items: $value;
}

//should only apply to item on felx container;
@align-self($value:flex-start,$tweenerValue:start) {
    -webkit-align-self: $value;
    -ms-flex-item-align: $tweenerValue;
    align-self: $value;
}

@align-content($value:flex-start, $tweenerValue: start) {
  -webkit-align-content: $value;
  -ms-flex-line-pack: $tweenerValue;
  align-content: $value;
}

@flex-order($value) {
  -webkit-order:$value;
  -ms-order:$value;
  order:$value;
}

//example to use prefixer mixin
// .selector {
//   @include prefix((column-count: 3, column-gap: 1.5em, column-rule: 2px solid hotpink), webkit moz ms);
// }