.flexi-block {
    @extend %display-flex;

    @extend %flow-column;

    @extend %justify-content-center;

    > .container {
        @extend %display-flex;

        @include flex-flow(row, nowrap);
    }

    &.image-left {
        .content-block {
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
            margin-left: 10px;
        }

        .image-block {
            -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
            order: 0;
            margin-left: 0;
        }
    }

    &.image-right {
        .content-block {
            -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
            order: 0;
            margin-left: 0;
        }

        .image-block {
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
            margin-left: 10px;
        }
    }

    &.image-sticky-top {
        > .container {
            @include flex-flow(column, nowrap);
        }

        .image-block {
            -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
            order: -1;
            max-height: 200px;
            overflow: hidden;
            margin-bottom: 10px;
        }
    }

    &.image-sticky-bottom {
        > .container {
            @include flex-flow(column, nowrap);
        }

        .content-block {
            -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
            order: -1;
            margin-bottom: 10px;
        }

        .image-block {
            max-height: 200px;
            overflow: hidden;
        }
    }

    &.primary-cta {
        .cta-secondary {
            display: none;
        }
    }

    &.secondary-cta {
        .cta-primary {
            display: none;
        }
    }

    &.both-cta {
        .cta-secondary, .cta-primary {
            display: inline-block;
        }
    }

    &.hero {
        min-height: 250px;

        @include breakpoint($mobile-landscape) {
            min-height: 300px;
        }


        @include breakpoint($tablet) {
            min-height: 400px;
        }


        @include breakpoint($desktop) {
            min-height: 450px;
        }


        > .container {
            @include container(90%);

            display: block;

            @include breakpoint($tablet) {
                @include display-flex;
            }


            @include breakpoint($desktop) {
                @include container(12);
            }
        }

        &.overlay {
            position: relative;

            &:after {
                background: $overlay;
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            .container {
                position: relative;
                z-index: 2;
            }
        }

        .content-block {
            @extend %display-flex;

            @include flex-flow(column, nowrap);
            @include justify-content;
        }

        .cta-secondary {
            background-color: rgba(0, 0, 0, 0.2);
            border-color: #fff;
        }

        .image-block {
            @include flex(0, 0, 12em);
        }

        .para-block {
            padding-bottom: 30px;
        }
    }

    /*hero*/

    &.half-image {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: initial;
        flex-direction: initial;

        .image-block {
            @include flex(0, 0, 50%);

            max-height: 100%;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                top: -20%;
                left: 0;
            }
        }

        .content-block {
            padding: 20px;
        }
    }

    /*half-image*/

    &.content-bg-dark {
        .content-block {
            padding: 20px;
            background: $overlay;
        }
    }



    &.content-bg-light {
        .content-block {
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.85);

            .header-block  #{headings()}, .para-block p {
                color: $pepper-text;
            }
        }
    }

    &.same-line {
        .header-block {
            #{headings()} {
                display: inline;
            }

            h1 {
                margin-right: 8px;
            }
        }
    }

    &.title-red {
        .header-block {
            h1 {
                color: $pepper-red;
            }
        }
    }

    &.title-yellow {
        .header-block {
            h2 {
                color: $pepper-yellow;
            }
        }
    }

    &.title-orange {
        .header-block {
            h2 {
                color: $pepper-orange;
            }
        }
    }

    &.big-headings {
        .header-block {
            h1 {
                @include font-size(32px);
            }

            h2 {
                @include font-size(26px);
            }
        }
    }

    &.mid-headings {
        .header-block {
            h1 {
                @include font-size(28px);
            }

            h2 {
                @include font-size(22px);
            }
        }
    }

    &.normal-headings {
        .header-block {
            h1 {
                @include font-size(24px);
            }

            h2 {
                @include font-size(16px);
            }
        }
    }

    &.no-image {
        &.content-align-top, &.content-align-bottom {
            .content-block {
                .header-block, .para-block {
                    padding-bottom: 20px;
                }
            }
        }

        &.half-content &.content-align-top, &.content-align-bottom {
            .content-block {
                .para-block {
                    padding-bottom: 30px;
                }
            }
        }

        &.content-align-bottom {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: inherit;
            flex-direction: inherit;

            .content-block {
                padding-bottom: 40px;
            }
        }

        &.content-align-top {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: inherit;
            flex-direction: inherit;

            .content-block {
                padding-top: 40px;
            }
        }

        .image-block {
            display: none;
        }
    }

    /*no-image*/

    /*this option for hero block only*/
    &.hero.half-content {
        .content-block {
            @include flex(0, 0, 50%);
        }
    }

    /**/

    &.bg-image, &.bg-dark {
        * {
            color: #fff;
        }
    }

    &.bg-image {
        @include backImage("//plcehold.it/");
    }

    &.content-align-bottom {
        .content-block {
            @include justify-content(flex-end);
        }
    }

    &.content-align-top {
        .content-block {
            @include justify-content(flex-start);
        }
    }

    &.content-align-center {
        .content-block {
            @include justify-content(center);
        }
    }

    &.item {
        padding: 20px;
        &:hover {
            position:relative;
            &:before {
                position: absolute;
                left:0;
                top:0;
                padding:10px;
                content: 'Click to Select, then apply styling to this block only';
                background: $pepper-yellow;
            }
        }
        &.selected {
            position:relative;
            border:4px solid $pepper-yellow;
            &:before {
                position: absolute;
                left:0;
                top:0;
                padding:10px;
                content: 'Selected';
                background: $pepper-yellow;
            }
            &:hover {
                &:before {
                    content: 'Click again to De-Select';
                }
            }
        }
        .content-block {
            @include display-flex;
            @include flex-flow(column, nowrap);

            /* flex:3 0 auto; //require to fill the entire row;*/
            -ms-flex-line-pack: stretch;
            align-content: stretch;
        }

        .header-block {
            @include display-flex;
            @include flex-flow(column, wrap);

            -webkit-box-flex: 2;
            -ms-flex: 2 0 auto;
            flex: 2 0 auto;
        }

        .para-block {
            @include display-flex;
            @include flex-flow(column, wrap);

            padding: 10px 0;
        }

        .cta-block {
            padding: 10px 0;
            margin-top: auto;

            /*requier to keep the button at bottoms of flex container.*/
        }

        &.image-sticky-top {
            .image-block {
                img {
                    max-width: 142px;
                }
            }
        }

        .image-block img {
            min-width: 142px;
        }

        &.text-align-center {
            .cta-block {
                @include justify-content(center);
                @include align-items(center, center);

                /*tweener value*/
            }
        }
        &.card-style {
            padding:20px 10px;
            .container {
                background-color: #fff;
                border-top:3px solid $pepper-red;
                .content-block {
                    padding: 10px;
                    .para-block {
                        display:none;
                    }
                }
                .image-block {
                    img {
                        margin-bottom: -4px;
                    }
                }
            }
        }
    }

    /*item*/
    &.text-align-left {
        &.item, &.hero {
            .cta-block {
                @include display-flex;
                @include flex-flow(row, wrap);
                @include justify-content(space-between);

                .cta-primary, .cta-secondary {
                    margin: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }

    &.text-align-right {
        &.primary-cta, &.secondary-cta {
            .cta-block {
                button, a {
                    margin-right: 0;
                }
            }
        }

        &.both-cta {
            .cta-block {
                button, a {
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &.no-cta {
        .content-block {
            .cta-block {
                display: none;
            }
        }
    } //
    &.no-h1 {
        .header-block {
            h1 {
                display: none;
            }    
        }
    }
    &.no-h2 {
        .header-block {
            h2 {
                display: none;
            }    
        }
    }
    &.no-header {
        .header-block {
            display: none;
        }
    }
}

//flexi block

.bg-grey {
    background-color: #eee;
}

.bg-white {
    background-color: #fff;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-justify {
    text-align: justify;
}

.cta-primary {
    @extend %primary-button;
}

.cta-secondary {
    @extend %primary-button;

    @extend %Ghost-Button-Style;
}

.cta-primary, .cta-secondary {
    min-width: 152px;
    text-align: center;
    margin:0;
}
