<!-- DI code -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Flexi Layout</title>
<!-- Pepper's code -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://fonts.pepper.com.au/fonts/halis/halis.js"></script>
<link rel="stylesheet" href="css/interflex.main.css" />
