.text-center {
    text-align:center;
}

/* Override for matching the alignment of the bbutton on the Lending Home page */
.match-height .porthole {
    display:inline-block;
    min-height:285px !important;
    position:relative;
}

// .match-height .porthole fieldset {
//     // position:absolute !important;
//     // bottom:0;
// }

/*Centering of 2 column Porthole*/
.porthole-two-column .swipe-slider {
    text-align:center;
}
.porthole-two-column .porthole {
    display:inline-block;
    float:none !important;
    margin-left:auto !important;
    margin-right:auto !important;
}
/*Download Button Positioning */
@media screen and (min-width: 768px) {
    .button-top-right {
        margin-top: -105px;
    }

        .button-top-right article {
            float: right !important;
        }

            .button-top-right article footer {
                border-bottom: none !important;
                padding-right: 0px !important;
            }

                .button-top-right article footer fieldset {
                    text-align: right !important;
                }
}
/*Table styling container class*/
table th {
    padding:12px;
    font-weight:bold;
    vertical-align:top;
}
table td {
    padding:8px;
}
.table-styling th {
     color:#fff;
 }

//MB-2264 Discalimer scroll able.
.short-form form footer {
  max-height: 250px;
  margin-bottom: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 60em;
  margin: 0 auto;
  background-color: #fff;
  border:1px solid #ddd;
  p {
    font-size: 16px !important;
    max-width: 100% !important;
    margin: 0 auto !important;
    padding: 20px !important;
  }
}

.pepper-table table tr:first-of-type {
    background-color: #fff;
}
.pepper-table table thead tr th {
    background-color: #eee;
}
.pepper-table table tbody tr th {
    background-color: #eee;
}
.pepper-table-sub-header table tr th {
    border-collapse:collapse;
    border-top: 4px solid #DF0024;
}
.pepper-table-sub-header table tbody tr th {
    height:0px;
    font-size:0px;
    padding:0px;
    background-color: #fff;
    line-height: 0;
}
.bg-dark.pepper-table table thead tr th {
    background-color: #fff;
}
.bg-dark.pepper-table table tbody tr td {
    background-color: #eee;
}
.bg-dark.pepper-table table thead tr th, .bg-dark.pepper-table table tbody tr th, .bg-dark.pepper-table table tbody tr td, .bg-dark.pepper-table table thead tr th, .bg-dark.pepper-table table tbody tr th, .bg-dark.pepper-table table tbody tr td :not(a) {
    color:#000;
}
.bg-dark.pepper-table table thead tr th, .bg-dark.pepper-table table tbody tr th, .bg-dark.pepper-table table tbody tr td, .bg-dark.pepper-table table thead tr th, .bg-dark.pepper-table table tbody tr th, .bg-dark.pepper-table table tbody tr td :not(a) {
    color:#000;
}
.bg-light.pepper-table table thead tr th {
    background-color: #fff;
}
.bg-light.pepper-table table tbody tr td {
    background-color: #eee;
}

.cols-2-lg-sm.short-form label span p {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: left;
  font-size: 16px !important;
  line-height: 21px !important;
}
