$header-height: 60px;

.app-header {
    position: fixed;
    left: 0;
    top: 0;
    height: $header-height;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    background-color: #fff;
    z-index: 99999;
    &:not(.no-desktop-nav) {
        @include breakpoint($desktop) {
            top: 30px;
        }    
    }
}

.app-content {
    margin-top: $header-height;
    position: relative;
    @include breakpoint($desktop) {
        margin-top: 90px;
    }
}

.no-desktop-nav ~ .app-content {
    @include breakpoint($desktop) {
        margin-top: $header-height;
    }
}

.no-desktop-nav {
    // "No desktop nav" means no level-1 navigation

    .desktop-nav {
        display: none !important;
    }
    .nav-main > .level-one:not(.level-two):not(.level-three) > li > a {
        display:none !important;
    }
    .app-nav .site-brand {
        margin-left: 14px;
    }
    @include breakpoint($desktop) {
        .nav-main .level-three {
            top: auto;
        }
    }
}


#HamburgerToggle {
    display: none !important;
}

.tracking-img,img[width="1"] {
    display:none !important;
    visibility:hidden
}