.app-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    @include breakpoint($desktop) {
        position: relative;
        top: auto;
        left: auto;
        @include container;
        padding: 0 0;
    }

    .nav-icons {
        margin: 0;
        padding: 0;
        label {
            float: left;
            width: 48px;
            height: 48px;
            margin-top: 6px;
            cursor: pointer;
            text-align: center;
            display: inline-block;
            @include breakpoint($desktop) {
                display: none;
            }
        }
    }
    .site-brand {
        float: left;
        min-width: 80px; //pepper logo
        max-width: 164px; //pepper money logo
        margin-right: 20px;
        margin-left: 6px;
        overflow: hidden;
        display: block;
        position: relative;
        max-height: $header-height;
        @include font-size(40px);
        font-weight: $normal;
        @include border-box-sizing;
        a {
            display: inline-block;
            width: 100%;
            min-height: 30px;
            margin-top: 4px;
            @include breakpoint($desktop) {
                margin-top: 9px;
            }
            img {
                
            }
            span {
                display: none !important;
                visibility: hidden;
            }
        }
    }
}

//Note: UX review all CTA LInk should center in container;
//font size of tel icon should match with login button icon size

.nav-call, .nav-login {
    width: 30px;
    height: 30px;
    display: inline-block;
    float: right;
    text-align: center;
    margin-right: 10px;
    @include breakpoint($desktop) {
        margin-right: 0;
    }

    @include vertical-align(16%);
    i {
        padding-top: 12px;
        //compromising
        @include font-size(24px);
        @include breakpoint($desktop) {
            padding-top: 8px;
            @include font-size(20px);
        }
    }
    span {
        display: none;
    }
    @include breakpoint($desktop) {
        width: auto;
        height: auto;
        float: right;
        margin-top: 7px;
        
        span {
            display: inline-block;
            padding-left: 4px;
            line-height: 1.8em;
            margin-top: 4px;
            float: right;
        }
        i {
            color: $red;
        }
    }
}

.nav-call {
    @include breakpoint($desktop) {
        margin-right: 14px;
    }
}

.nav-login {
    @include breakpoint($desktop) {
        background-color: $red;
        color: #fff;
        width: 120px;
        height: 30px;
        margin-top: 9px;
        @include border-radius(4px);
        span {
            margin-top: 1px;
            float: left;
            padding-left: 15px;
        }
        i {
            color: #fff;
            font-size: 1.2rem;
            float: left;
            margin-left: 20px;
            line-height: 1rem;
        }
        &.my-ac {
            overflow: hidden;
            i {
                margin-left: 8px;
                margin-top: -2px;
                font-size: 1.0rem;
            }
            span {
                @include font-size(14px);
                padding-left: 5px;
                color: white;
            }
        }
    }

    //desktop
    &.active {
        i {
            &:before {
                content: "\f13e";
            }
        }
        &.my-ac {
            i {
                &:before {
                    content: "\f078";
                }
            }
        }
    }
}

//Hamburger Icon Animation
.nav-icons label {
    position: relative;
    span, span:before, span:after {
        display: block;
        width: 28px;
        height: 4px;
        left: 8px;
        background: $icon-color;
        position: absolute;
        @include transition(all 0.15s ease);
        @include border-radius(4px);
    }
    span {
        top: calc(50% - 4px);
    }
    span:before {
        content: "";
        top: -7px;
        left: 0px;
    }
    span:after {
        content: "";
        bottom: -7px;
        left: 0px;
    }
}

.nav-main {
    margin: 0;
    padding: 0;
    position: fixed;
    height: calc(100% - 60px);
    top: $header-height;
    width: auto;
    left: -320px;
    background-color: #fff;
    overflow-y: scroll;
    cursor: pointer;
    @include transition(all 0.35s ease);
    z-index: 999;
    @include breakpoint($desktop) {
        position: relative;
        height: auto;
        left: auto;
        top: auto;
        overflow-y: visible;
        background-color: transparent;
        padding-top: 11px;
        cursor: default;
        > ul > li > a {
            display: none;
        }
    }

    ul {
        position: relative;
        z-index: 9999;
    }
    a {
        display: inline-block;
        width: 100%;
        @include border-box-sizing;
        padding: 15px 10px 10px;
        max-height: 48px;
        @include font-size($font-size-global-nav);
        @include transition(all 0.35s ease);
        i {
            float: right;
            width: 24px;
            height: 24px;
            @include font-size(15px);
            &:before {
                margin-left: 12px;
                position: relative;
                top: 3px;
            }
        }
        &.active {
            i {
                &:before {
                    content: '\f068';
                }
            }
        }
    }
    //a link
    > .level-one:not(.level-two):not(.level-three) {
        background-color: #222;
        width: calc(100% - 48px);
        min-height: calc(100%);
        max-width: 272px;
        //i.e. 320px - 48px;
        //webkit smooth scrolling
        -webkit-overflow-scrolling: touch;
        //2+ excess space as per UX
        padding-bottom: 96px;
        @include breakpoint($desktop) {
            padding-bottom: 0;
            max-width: 100%;
        }

        > li {
            > a {
                background-color: #222;
                color: #fff;
                border-bottom: 1px solid lighten(#222, 5);
                i {
                    display: none;
                }
                &.has-sub {
                    i {
                        display: inline-block;
                    }
                }
                &:hover {
                    color: $pepper-red;
                }
            }
            i {
                color: #fff;
            }
        }
    }
    .level-two:not(.level-one):not(.level-three) {
        display: none;
        width: 100%;
        &.active {
            display: block;
        }
        > li {
            background-color: #fff;
            color: $pepper-teal-grey;
            width: 100%;
            @include breakpoint($desktop) {
                width: auto;
                float: left;
                background-color: transparent;
            }

            > a {
                color: $pepper-teal-grey;
                @include breakpoint($desktop) {
                    padding-bottom: 20px;
                    padding-top: 12px;
                    display: inline-block;
                }

                &:hover, &.active, &:focus {
                    background-color: darken(#fff, 15);
                    color: $red;
                    outline: none;
                    @include border-top-radius(4px);
                    //only top corners
               
                }
                i {
                    display: none;
                    //keep the html tag for magnolia
               
                }
                &.has-sub {
                    i {
                        display: inline-block;
                        color: $icon-color;
                        @include breakpoint($desktop) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .level-three {
        display: none;
        overflow-y: hidden;
        // @include transition(all 2s cubic-bezier(0, 1, 0.5, 1));
        //@include animation('slide-down .5s 3');
        @include breakpoint($desktop) {
            position: fixed;
            left: 0;
            top: 90px;
            //header-height + desktop-nav
            width: 100%;
            background-color: rgba(255, 255, 255, 0.95);
            @include menu-shadow;
            border: 1px solid #f7f7f7;
        }

        &.active {
            @include breakpoint(0 $tablet) {
                display: block;
            }
        }
        ul.wrapper {
            @include breakpoint($desktop) {
                @include container;
                padding: 20px 0;
            }

            li {
                &:first-child {
                    display: none;
                    //nav-cta
                    @include breakpoint($desktop) {
                        display: inline-block;
                    }
                }
                @include breakpoint($desktop) {
                    @include span(1 of 4 0);
                }

                //level-three li
           
            }
        }
        a {
            color: $icon-color;
            line-height: 100%;
            padding:10px;
            display:block;
            position:relative;
            margin-bottom: 10px;
            i {
                color: $icon-color !important;
                vertical-align: middle;
                &:before {
                    top:-1px;
                }
            }
            span {
                @include vertical-align;
                //MB-3012
                transform: translateY(2%)\9;
            }
            &:hover {
                background-color: darken(#fff, 10);
                color: $red;
                @include border-radius(4px);
                i {
                    color: $red !important;
                }
            }
        }
        i {
            float: left;
            display: inline-block;
            padding-top: 0px;
            &:before {
                margin-left: 0;
                top: 0;
            }
        }
    }
    .level-two a, .level-three a {
        border-bottom: 1px solid darken(#fff, 15);
        @include breakpoint($desktop) {
            border-bottom: none;
        }
    }
    //first level;
}

//Menu Toggle+
#HamburgerToggle:checked ~ .nav-main {
    left: 0;
    background-color: $overlay;
    width: 100%;
}

#HamburgerToggle:checked ~ .nav-icons label span {
    background: transparent;
    &:before, &:after {
        width: 60%;
        left: 0px;
        background-color: $pepper-red;
    }
    &:before {
        @include rotate(132);
        top: -5px;
    }
    &:after {
        @include rotate(-132);
        bottom: -5px;
    }
}

.nav-cta {
    margin-right: 20px;
    padding-right: 10px;
    padding-top: 10px;
    border-right: 1px solid darken(#fff, 10);
    min-height: 100px;
    h3 {
        @include font-size(19px);
        font-weight: 700;
        padding-bottom: 20px;
    }
}

.desktop-nav {
    display: none;
    @include breakpoint($desktop) {
        background-color: #000;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 30px;
        ul {
            @include container;
            li {
                float: left;
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
            }
            a {
                display: inline-block;
                padding: 6px;
                color: #fff;
                position: relative;
                @include font-size($font-size-global-nav);
                line-height: 18px;
                &:hover, &:focus {
                    color: $pepper-red;
                }
                &.active {
                    background-color: #000;
                    &:after {
                        top: 100%;
                        left: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(0, 0, 0, 0);
                        border-top-color: #000;
                        border-width: 5px;
                        margin-left: -5px;
                    }
                }
            }
        }
    }
}

.nav-login-list {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    margin: 0;
    ul {
        width: 270px;
        max-width: 270px;
        @include menu-shadow;
        li {
            display: inline-block;
            width: 100%;
        }
    }
    h5 {
        background-color: #000;
        color: #fff;
        padding: 15px;
        @include font-size(16px);
        width: 100%;
    }
    a {
        display: inline-block;
        padding: 10px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.95);
        border-bottom: 1px solid #D7D7D7;
        line-height: 1.8em;
        color: $print;
        i {
            float: right;
            margin-top: 2px;
        }
        &:hover, &:focus {
            background-color: darken(#fff, 15);
            color: $red;
            i {
                color: $red;
            }
        }
    }
}

//MB-2304
.has-sub-links {
    > ul {
        display:none;
        li {
            //MB-2454 ios applying 56px height causing and issue of unwanted gap
            height: 49px;
            a {
                //MB-2475
                margin-bottom: -8px;
            }
        }
        a {
            padding-left: 20px;
            background-color: rgba(255, 255, 255, 0.95);
            position: relative;
            i {
                position: absolute;
                left:18px;
                top:16px;
                margin-top: 0;
                @include font-size(16px);
            }
            span {
                float:left;
                margin-left: 18px;
            }
        }
    }
    &.active {
        ul {
            display:inline-block;
        }
    }
}

.nav-login-list>ul {
    overflow: scroll;
    max-height: 508px;
    @include breakpoint($tablet) {
        overflow:auto;
        max-height: 100%;
    }
}