$breakcrumb-height: 30px;
$delimeter: 10px;

.bread-crumb {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 997;
    width: 100%;
    margin-top: 0;
    display: none;
    & ~ .content-search, & ~ .hero-image, & ~ .blog-news {
        @include breakpoint(0px 420px) {
            padding-top: 33px;
        }
    }
    //MB-2277
    a {
        line-height: 1.2em;
        min-height: 30px;
    }
    &.has-sec-nav {
        top: 41px;
    }
    // MB-2038: on mobile, Javascript moves a.home outside of menu and prepend it as a direct child of nav.bread-crumb
    > a.home {
        left: 5%;
        position: absolute;
        line-height: 100%;
        span {
            display: none;
        }
        &:after {
            position: absolute;
            right: -$delimeter;
            content: '>';
            @include font-size(16px);
            color: $pepper-text;
            top: 7px;
            @include breakpoint($mobile-landscape) {
                top: 6px;
            }
        }
        i {
            top: 7px;
            position: relative;
            @include font-size(16px);
        }
    }
    &.has-hero {
        > a.home {
            &:after {
                color: #fff;
            }
        }
        a, i {
            color: white;
            &:not(:last-of-type) {
                &:hover {
                    color: darken(white, 8%);
                    span {
                        text-decoration: underline;
                    }
                    &:after {
                        color: white;
                    }
                }
            }
        }
    }
    menu {
        @extend %container;
        margin: 0 auto;
        margin-top: 4px;
        padding: 0;
        @include breakpoint($tablet) {
            margin-top: 8px;
        }

        // MB-2038: on mobile, Javascript moves a.home outside of menu and prepend it as a direct child of nav.bread-crumb
        // the position of menu is re-adjusted for mobile and also allow a smooth horizontal scroll
        &.mobile-adjusted {
            white-space: nowrap;
            overflow-x: auto;
            margin-left: calc(5% + 30px) !important;
            max-width: calc(90% - 30px) !important;
            -ms-touch-action: pan-x;
            touch-action: pan-x;
            -webkit-tap-highlight-color: transparent;
            a {
                float: none;
            }
        }
        .home {
            span {
                display: none;
            }
            i {
                top: -2px;
                position: relative;
                @include font-size(16px);
                @include breakpoint(641px) {
                    top: -1px;
                }
            }
        }
        a {
            @include font-size(12px);
            margin-right: $delimeter;
            position: relative;
            display: inline-block;
            padding: 2px;
            color: $pepper-text;
            float: left;
            &:not(:first-of-type) {
                padding-left: 1px;
                @include breakpoint($tablet) {
                    padding-left: 7px;
                }
            }
            @include breakpoint($tablet) {
                padding: 4px;
            }

            &:not(:last-of-type) {
                &:hover {
                    color: $pepper-red;
                    span {
                        text-decoration: underline;
                    }
                    &:after {
                        color: $pepper-text;
                    }
                }
            }
            &:last-of-type {
                cursor: default;
            }
            &:not(:last-of-type) {
                &:after {
                    position: absolute;
                    right: -$delimeter;
                    content: '>';
                    @include font-size(16px);
                    top: 4px;
                    @include breakpoint($tablet) {
                        top: 3px;
                    }
                }
            }
            span {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-top: 3px;
                @include breakpoint($tablet) {
                    margin-top: 0;
                }
            }
        }
        //a - anchor tag
   
    }
    // MB-2038: on mobile, Javascript moves a.home outside of menu and prepend it as a direct child of nav.bread-crumb
    // The max-width solution below is only applied to Desktop.
    @include breakpoint($desktop) {
        &.two-level a {
            span {
                width: 100%;
            }
            &:nth-child(2) {
                max-width: calc(100% - (14px + 15px + 15px));
                @include breakpoint($tablet) {
                    max-width: calc(100% - (14px + 15px + 15px));
                }

                @include breakpoint($desktop) {
                    max-width: calc(100% - (14px + 70px + 20px + 20px));
                }
            }
        }
        &.three-level a {
            span {
                width: 100%;
            }
            &:nth-child(2) {
                max-width: 11px;
                @include breakpoint($phablet) {
                    max-width: 110px;
                }

                @include breakpoint($tablet) {
                    max-width: 320px;
                }
            }
            &:nth-child(3) {
                max-width: calc(100% - (14px + 14px + 15px + 15px));
                @include breakpoint($tablet) {
                    max-width: calc(100% - (14px + 320px));
                }
            }
        }
        &.four-level a {
            span {
                width: 100%;
            }
            &:nth-child(2) {
                max-width: 11px;
                @include breakpoint($phablet) {
                    max-width: 110px;
                }

                @include breakpoint($tablet) {
                    max-width: 320px;
                }
            }
            &:nth-child(3) {
                max-width: 110px;
                @include breakpoint($phablet) {
                    max-width: 110px;
                }

                @include breakpoint($tablet) {
                    max-width: 320px;
                }
            }
            &:nth-child(4) {
                max-width: calc(100% - (14px + 10px + 110px + 15px + 15px));
                @include breakpoint($tablet) {
                    max-width: calc(100% - (14px + 10px + 178px + 15px + 15px));
                }

                @include breakpoint($desktop) {
                    max-width: calc(100% - (14px + 110px + 70px + 20px + 20px));
                }
            }
        }
    }
}

//have space on mobile.
.bread-crumb ~ article:first-of-type, .bread-crumb ~ section:first-of-type {
    padding-top: 32px !important;
    @include breakpoint($tablet) {
        padding-top: 40px !important;
    }
}

//.bread-crumb