$menu-icon-size: 32px;

.menu-bar {
    background-color: $pepper-red;
    height: 50px;
    overflow: hidden;
    @include clearfix;
    margin-top: -2px;
    .container {
        @include container(90%);
        margin-top: 2px;
        padding:8px 0;
        height: 48px;
        @include breakpoint($tablet) {
            @include container(12);
        }
        li {
            @include span(1 of 4 0);
            text-align: center;
            max-height: 32px;
            &:not(:last-child) {
                border-right: 1px solid lighten($pepper-red, 25%);
            }
        }
        a {
            display: inline-block;
            white-space: nowrap;
            @include breakpoint($tablet) {
                max-width: 90%;
                overflow:hidden;
            }
            span {
                display: none;
                @include font-size(14px);
                @include breakpoint($tablet) {
                    color: #fff;
                    float: left;
                    text-align: left;
                    display: inline-block;
                    padding-top: 8px;
                }
                @include breakpoint($tablet 1024px) {
                  @include font-size(12px);
                }
            }
            &:hover {
                span {
                    color: #eee;
                    text-decoration: underline;
                }
            }
        }
        img {
            max-height: $menu-icon-size;
            max-width: $menu-icon-size;
            @include breakpoint($tablet) {
                max-height: 24px;
                max-width: 24px;
            }

            @include breakpoint($desktop) {
                max-height: $menu-icon-size;
                max-width: $menu-icon-size;
            }

            float: left;
            margin-right: 7px;
        }
    }
}