$secondary-nav-height: 42px;

.secondary-nav {
  @include clearfix;
  background-color: $pepper-light-grey;
  border-bottom: 1px solid darken($pepper-light-grey, 5%);
  height: 42px;
  overflow: hidden;
  position: relative;
  z-index: 998;
  @include breakpoint($desktop) {
    height: auto;
  }

  menu {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    @include container(90%);

    @include breakpoint($desktop) {
      @include container(12);
    }

    a {
      padding: 15px 10px;
      @include span(5 of 5 0);
      text-align: center;
      color: $pepper-teal-grey;
      position: relative;
      font-family: $fontfamily;
      font-weight: 300;
      font-size: 0.85rem;
      line-height: 0.95em;

      @include breakpoint($desktop) {
        @include span(1 of 5);
      }

      &.active {
        i {
          position: absolute;
          right: 20px;
          top: 12px;
          font-size: 1rem;
          color: $pepper-teal-grey;

          @include breakpoint($desktop) {
            display: none;
          }
        }
      }
      
    }
    //anchor
  }
}

.secondary-nav.opened {
  height: auto;

  a.active i:before {
    content: "\f077";
  }
}