.accordion {
    @include container(90%);
    @include breakpoint(desktop) {
        @include container(46em);
    }
    @include breakpoint($tablet) {
        @include container;
    }
    input[type=checkbox] {
            display: none;
    }
    :checked ~ content:first-of-type {
        display:block;
        height:auto;
    }
    :checked ~ label:first-of-type {
        &:before {
            @include transform(rotate(180deg));
        }
    }

    article {
        margin-bottom: 1px;
        label {
            background-color: $pepper-steel;
            padding: 10px;
            padding-left: 36px;
            position: relative;
            cursor: pointer;
            border-left: 1px solid $bg-light;
            border-right: 1px solid $bg-light;
            display: block;
            &:before {
                content: '\f0aa';
                position: absolute;
                font-family: FontAwesome;
                color: #fff;
                left: 10px;
                font-size: 1.2rem;
                @include transition(transform, 0.25s, ease);
            }
            
            h4 {
                font-size: 1.0rem;
                color: #fff;
            }
        }
        content {
            @include transition(height, 2s, linear);
            border-bottom: 1px solid $bg-light;
            height: 0;
            padding: 0px;
            display: none;
        }
    }
}