.ac-menu{

    margin-bottom: -3px;
    input[type=checkbox] {
            display: none;
    }
    
    :checked ~ menu:first-of-type {
        display:none;
    }
    :checked ~ label:first-of-type {
        i{
            @include transition(transform, 0.35s, ease);
            @include transform(rotate(45deg));
        }
    }

    label{
        cursor: pointer;
        i{
            @include transition(transform, 0.35s, ease);
            color: lighten($pepper-steel, 10%);
        }
    }

    menu {
        background-color: $pepper-steel;
        margin-top: 5px;
        padding: 0px;
        display: block;
        width: 100%;
       
        &.opened {
            height: auto;
            padding: 0px;
            display: inline-block;
            * {
                display: block;
            }
        }
        a {
            @include span(1 of 3);
            &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            @include breakpoint($desktop) {
                @include span(1 of 6);
            }

            i, span {
                color: #fff;
                display: block;
            }
            i {
                font-size: 1.4rem;
                width: 48px;
                height: 48px;
                padding-top: 12px;
                text-align: center;
                margin: 0 auto;
                border: 1px solid #fff;
                @include border-radius(24px);
            }
            span {
                font-size: 0.65rem;
                text-align: center;
                width: 100%;
                line-height: 1.1em;
                padding-top: 8px;
                @include clearfix;
            }
            &:hover {
                span {
                    color: #fff;
                }
                i {
                    background-color: #fff;
                    &:before {
                        color: $pepper-steel;
                    }
                }
            }
        }
        //a
   
    }
}
