$bio-tile-photo-width: 100px;
$bio-tile-photo-height: 128px;
$bio-desc-line-height: 1.5rem;
$bio-desc-font-size: 1rem;
$bio-desc-height: $bio-desc-line-height * 3;

// = $bio-desc-line-height x 3 (allow 3 lines)
$bio-h3-small-height: auto;

.bio-tile, .bio-list-item {
    background-color: $ivory;
    font-family: $fontfamily;

    @include blade;

    &:not(:last-child) {
        padding-bottom: 0px;
    }

    > .container {
        @include container(90%);
        @include breakpoint($desktop) {
            @include container(12);
        }
    }

    h2 {
        font-size: 1.25rem;
        color: $text-color;
        text-align: left;
    }

    p {
        font-size: 1rem;
        color: $text-color;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 0;
    }

    figure {
        width: $bio-tile-photo-width;
        height: $bio-tile-photo-height;

        @include breakpoint($mobile) {
            float: left;
        }


        a.disabled {
            cursor: default;
        }
    }

    > .container .bio-grid {
        margin-top: 15px;
        display: table;
        width: 100%;

        @include breakpoint($tablet) {
            margin-top: 0;
        }
    }
}
.bio-grid-item {
  @include breakpoint($tablet) {
        display: table-cell;
        margin-top: 0;
        padding: 30px 0 0 0;
    }
}
.bio-grid-item, .bio-list-item {
    padding: 10px 0 10px 0;

    > header {
        margin: 20px 0 0 0;

        @include breakpoint($mobile) {
            margin: 0 25px 0 $bio-tile-photo-width;
            padding-left: 15px;
        }


        h3 {
            font-size: 1.1rem;
            font-weight: bold;

            a.disabled {
                cursor: default;
            }

            &:hover a:not(.disabled) {
                color: lighten($red, 10);
            }

            &:focus a:not(.disabled) {
                color: darken($red, 10);
            }

            small {
                color: $text-color;
                display: block;
                font-size: 0.9rem;
                margin-bottom: 10px;

                @include breakpoint($tablet) {
                    height: $bio-h3-small-height;
                }
            }
        }
    }

    //header

    .bio-desc {
        @include breakpoint($mobile) {
            margin: 10px 25px 0 $bio-tile-photo-width;
            padding-left: 15px;
        }


        // When the article.bio-grid-item, maximum height is applied on the description
        // to ensure equal height between 2 columns
        @include breakpoint($tablet) {
            max-height: $bio-desc-height;
            line-height: $bio-desc-line-height;
            font-size: $bio-desc-font-size;
            overflow: hidden;
            text-overflow: ellipsis;
        }


        p {
            color: $black;
            margin: 0;
            line-height: $bio-desc-line-height;
            font-size: $bio-desc-font-size;
        }
    }

    //bio-desc

    > footer {
        padding: 0px 0 15px 0;
        border-bottom: 1px solid $border-color;
        clear: both;

        @include clearfix;

        @include breakpoint($tablet) {
            margin-right: 25px;
        }


        menu.social-profiles {
            @include clearfix;

            @include breakpoint($tablet) {
                float: left;
            }


            a {
                padding: 0 15px 0 0;
                margin: 10px 15px 0 0;
                float: left;
                border-right: 1px solid $border-color;

                i[class^='fa'] {
                    color: $icon-grey;
                }

                span.phone-number {
                    color: $icon-grey;
                    font-size: 0.8rem;
                    position: relative;
                    top: -3px;
                    left: 5px;
                    display: none;

                    @include breakpoint($desktop) {
                        display: inline-block;
                    }
                }

                &:last-child {
                    border-right: 0;
                    margin-right: 0;
                }

                &:hover, &:focus {
                    i[class^='fa'] {
                        color: $red;
                    }

                    span.phone-number {
                        color: $red;
                    }
                }
            }
        }

        a.bio-more {
            display: block;
            margin: 13px 10px 0 0;
            text-align: right;
            float: right;

            span {
                display: none;

                // less than $mobile

                @include breakpoint($mobile) {
                    display: inline-block;
                }
            }

            @include breakpoint($phablet) {
                clear: none;
                float: right;
                margin: 13px 10px 0 0;
            }


            i[class^="fa"] {
                font-size: 1.2rem;
                margin-left: 5px;
                color: $red;

                @include breakpoint($mobile) {
                    font-size: 0.7rem;
                }
            }

            &:hover,
            &:hover i[class^="fa"] {
                color: lighten($red, 10);
            }

            &:focus,
            &:focus i[class^="fa"] {
                color: darken($red, 10);
            }
        }
    }

    //footer
}

section.bio-tile {
    // set with two-columns
    &.two-columns > .container article.bio-grid-item {
        @include span(2 of 2 0);

        @include breakpoint($tablet) {
            @include span(1 of 2 0);

            &:nth-child(2n + 1) {
                clear: left;
            }
        }
    }
}

.bio-list-item { 
  background-color: transparent;
}
