.form-wrapper {
        background-color: #eeeeee;
}
.calculator-form {
    margin-top: 0px;
    margin-top: 0;
    width: 310px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($mobile-landscape) {
      width: auto;
    }

    >h2, a.red {
      padding:10px 0;
    }
    h2 {
        @include font-size(22px);
        @include span(1 of 1 0);
        @include breakpoint($tablet) {
          @include span(3 of 4 0);
        }
    }
    //form
    .serviceability-form, .section.result, >.section:last-of-type, .disclaimer, .serviceability-summary {
      @include container(90%);
      @include breakpoint($tablet) {
          @include container;
      }
    }
    a.red {
      @include span(1 of 1 0);  
      margin-top: 6px;
      position: relative;
      padding-left: 21px;
      @include breakpoint($tablet) {
        @include span(1 of 4 0 omega);   
      }
      &:before {
        @include font-size(18px);
        left:0px;
        top: 7px;
        color:$pepper-red;
      }
    }
    .section {
        width: 100%;
        @include breakpoint($desktop) {
            width: 758px;
        }

        .info-box{
            width: calc(100% - 80px);
            margin-left: -226px;
            margin-top: 10px;
            @include breakpoint($tablet) {
                margin-left: -355px;
                margin-top: -35px;
                width: 340px; 
            }
            @include breakpoint($mobile) {
                margin-left: -249px;
            }
            h3{
                height:auto;
            }
        }

        .section-header {
            background-color: $pepper-form-bg;
            width: 100%;
            .row {
                width: 100%;
                h2 {
                    @include font-size(18px);
                }
                .col-15, .col-8{
                    margin-top: 20px;
                }
                .col-15 {
                    width: 100%;
                }
                .col-8 {
                    text-align: left !important;
                    float: left !important;
                }

            }
        }
        .row {
            &.row-inset {
                margin: 0;
                border: none;
                width:100%;

                .col-3{
                  margin-left:20px;
                }
            }
            .col-3, .col-4, .col-5 {
              clear:both;
              margin-top: 20px;
              margin-left:0;
              @include breakpoint($tablet) {
                clear:none;
                margin-left:20px;
              }
            }
            .col-5{
              margin-left: 0px; 
            }
            .col-1{
                margin-top: 20px;
                @include breakpoint(0px 300px) {
                    margin-left: 0px;
                }
            }
        }
        &.result {
            .box-result {
                width: 100%;
            }
        }
        input[type="submit"] {
            &:first-of-type {
                margin-left: 0px;
                @include breakpoint($tablet) {
                    margin-left: 40px;
                }
            }
        }
        
    }
    /*section*/
    input:not([type=submit]) {
        height: 44px;
        padding: 0 10px;
        border-radius: 4px;
        @include border-radius(4px);
        border: 1px solid #c8c8c8;
        font-family: HalisR-Book,Helvetica,sans-serif;
        @include font-size(18px);
        color: #5f6a7d;
    }
    input[type=submit] {
        height: auto;
        background-color: #DF0024;
        font-family: HalisR-Book,Helvetica,sans-serif;
        font-weight: 300;
        line-height: .95em;
        color: #fff;
        appearance:none;
        -webkit-appearance: none;
        -ms-appearance: none;
        @include border-radius(4px);
        min-width: 136px;
        border: none;
        padding: 8px 24px;
        margin-top: 20px;
        font-size: .875rem;
        margin-left: 0;
        margin-right: 36px;
        cursor: pointer;
        @include breakpoint(0px $mobile-landscape) {
            float:none !important;
            clear:both;
            width: 100%;
        }
    }
}


// Custom CSS for Post Code Calculator
.postcode-calculator {
  ol li { height: auto; }

  input.postcode-search-submit,
  input.suburb-search-submit {
    margin-top: 0;
  }

  #suburb-search-result,
  #postcode-search-result-wrapper {
    margin-top: 30px;
  }

  ol li .inputs select {
    height: 44px;
  }
}

// Custom CSS for Responsive calculator results table
.calculator-results-table {
  @include clearfix();
  display: table;
  font-size: 0.9rem;
  margin: 30px 0;
  line-height: 1.5;
  width: 100%;

  dl {
    display: table-row;

    &:first-child {
      display: none; // hide header

      @include breakpoint($desktop) {
        display: table-row; // show header
        font-weight: bold;
      }
    }

    &:nth-child(odd) {
      // odd rows, highlighted on desktop only

      @include breakpoint($desktop) {
        background: lighten($pepper-grey, 10%);
      }
    }
  }

  dt, dd {
    display: table-cell;
    vertical-align: middle
  }

  dt {
    width: 100%;
    float: left;
    margin: 0;
    font-weight: bold;
    padding: 10px;
    background: lighten($pepper-grey, 10%);

    @include breakpoint($desktop) {
      background: none;
    }
  }

  dd {
    width: 50%;
    float: left;
    margin: 0;
    padding: 10px;

    &:before {
      width: 100%;
      color: #b5b5b5;
      font-size: 0.8em;
      font-weight: bold;
      content: attr(data-label);

      display: inline-block;

      @include breakpoint($narrow) {
        width: 30px;
        margin-right: 10px;
      }

      @include breakpoint($desktop) {
        display: none;// hide label
        content: '';
      }
    }
  }

  /** Custom CSS for table with n columns in desktop mode **/
  &.col-6 {
    @include breakpoint($desktop) {
      dt, dd {
        @include span(1 of 6 0);
      }
    }
  }

  &.col-7 {
    @include breakpoint($desktop) {
      dt, dd {
        @include span(1 of 7 0);
      }
    }
  }

  &.col-8 {
    @include breakpoint($desktop) {
      dt, dd {
        @include span(1 of 8 0);
      }
    }
  }
}