.cards {
    @include clearfix;
    @include blade;
    background-color: $pepper-light-grey;

    > header {
        display: block;
        width: 100%;
        clear: both;
        margin-bottom: 20px;
        @include container(90%);
        @include breakpoint($desktop) {
            @include container(12);
        }

        h2 {
            text-align: left;
        }
    }
    //for help center link
    >p {
        
        @include container(90%);
        @include breakpoint($desktop) {
            @include container;
        }
    }
    .container {
        @include container(90%);
        @include breakpoint($desktop) {
            @include container;
        }

        display: flex;
        flex-wrap: wrap;
        //justify-content:space-between;
        // display:table;
   
    }
    .card {
        background-color: #fff;
        margin-bottom: 5px;
        position: relative;
        float: left;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        &:not(.featured) {
            margin-right: 2px;
            width: calc(100% - 2px);
            @include breakpoint($mobile-landscape) {
                margin-right: 2px;
                width: calc(50% - 2px);
            }
        }
        &.featured {
            width: calc(100% - 2px);
        }
        @include breakpoint($desktop) {
            margin-bottom: 1em;
            // height: 257px;
            // overflow:hidden;
            &:not(.featured) {
                margin-right: 1em;
                width: calc(25% - 1em);
            }
            &.featured {
                margin-right: 1em;
                width: calc(50% - 1em);
            }
        }

        header, figure {
            //flex:1;
       
        }
        header {
            padding: 20px;
            align-self: flex-start;
            max-width: 100%;
            legend {
                padding-bottom: 10px;
                position: relative;
                &:after {
                    position: absolute;
                    margin-left: 7px;
                    margin-top: 1px;
                    content: '>';
                    font-weight: 700;
                }
            }
            h4 {
                font-size: 1.0em;
                color: $icon-grey;
                font-weight: 300;
                @include breakpoint($mobile-landscape) {
                    @include font-size(18px);
                }
            }
        }
        figure {
            width:100%;
            align-self: flex-end;
            @include breakpoint($desktop) {
                max-width: 464px;
                height: 223px;
                position: relative;
                overflow: hidden;
                width: 464px;
            }

            img {
                width: 100%;
                max-width: 100%;
                height: auto;
                margin-bottom: -5px;
                @include breakpoint($desktop) {
                    width: 464px;
                    max-width: 464px;
                    height: 223px;
                    position: absolute;
                }
            }
        }
        &:not(.featured) {
            figure {
                img {
                    @include breakpoint($desktop) {
                        left: -50%;
                        left: -26.5%\9; //for ie
                    }
                }
            }
        }
    }
    //card
    .pagination {
        margin-bottom: 0px;
    }
    //MB-2360
    &.bg-white {
        background-color: #fff;
        .card {
            background-color: $pepper-light-grey;
        }
    }
}

//card categories
$cardcategories: ("teal", #646464), ("red", #DF0024), ("blue", $purple), ("light-blue", $pepper-light-blue), ("gold", $orange), ("yellow", $yellow), ("green", #32866A);

@each $category, $color in $cardcategories {
    .tag-#{$category} {
        header legend, &:hover header h4 {
            color: $color;
        }
    }
    .card.tag-#{$category} {
        border-top: 4px solid $color;
    }

    .secondary-nav a {
        &.tag-#{$category} {
            &:hover, &:focus, &.active {
          color: $color;
            }
        }
    }
}