.comparison-rate {
    @include blade;

    header, content {
        @include container(90%);
        @include breakpoint($tablet) {
          @include container;
        }
        display: block;
        position: relative;
    }
    header {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid darken(#fff, 50);
        text-align: center;
    }
    header h4, dl dt {
        @include font-size(24px);
        @include breakpoint($desktop) {
            @include font-size(30px);
        }
    }
    dl {
        text-align: center;
    }
    article {
      dl {
                @include container(90%);
                &:first-of-type {
                    border-bottom: 1px solid darken(#fff, 50);
                    border-right: none;
                }
                @include breakpoint($mobile-landscape) {
                    @include span(1 of 2 0);
                    &:first-of-type {
                        border-right: 1px solid darken(#fff, 50);
                        border-bottom: none;
                    }
                }
            }
    }
    &:not(.no-details) {
        article, aside {
            @include container(90%);
            @include breakpoint($tablet) {
                @include span(1 of 2);
            }
        }
        i {
            text-align: center;
            margin: 20px auto;
            display: block;
            @include font-size(36px);
            color: $red;
            @include breakpoint($tablet) {
                position: absolute;
                left: 49%;
                top: 5%;
            }
        }
    }
    &.icon-arrow {
        i {
            &:before {
                content: "\f13a";
                @include breakpoint($tablet) {
                    content: "\f138";
                }
            }
        }
    }
    &.no-details {
        article {
            @include container(90%);
            @include breakpoint($tablet) {
                @include container(50%);
            }

            
        }
        aside, i {
            display: none;
        }
    }
}

// icons