.hero-image.cover, .content-search, .content-hero {
    @include backImage("//placehold.it");
    @include align-items(center);
    @include justify-content(center);

    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    padding: 15px 0;

    @include breakpoint($mobile-landscape) {
        padding: 105px 0;
    }


    > fieldset, > div, > article, > section, > h1, > h2 {
        @include container(90%);

        color: #fff;

        @include breakpoint($mobile-landscape) {
            @include container(50%);
        }
    }

    //first child always table cell to position middle
    h1, h2, h3, h4, h5 {
        text-align: center;
    }

    h1 {
        font-size: 1.6rem;
        padding-top: 20px;

        @include breakpoint($desktop) {
            padding-top: 0px;
            font-size: 3.4rem;
            line-height: 0.8em;
        }
    }

    h2 {
        font-size: 1.3rem;

        @include breakpoint($desktop) {
            font-size: 2.0rem;
            line-height: 1.0em;
        }
    }
}

.content-search {
    position: relative;

    &:before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        content: ' ';
        background: $overlay;
        z-index: 99;
    }

    h1 {
        @include font-size(30px);
        @include container(90%);
        @include breakpoint($desktop) {
            @include container;
            @include font-size(40px);
        }
    }

    h4 {
        color: #fff;
        margin-bottom: 25px;
    }

    > p {
        @include container(90%);

        color: $white;
        text-align: center;
        margin-top: 10px;

        @include breakpoint($tablet) {
            @include container;
        }
    }

    * {
        position: relative;
        z-index: 100;
    }
}

.help-search, .epi-search {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;

    @include border-radius(4px);

    overflow: hidden;
    position: relative;
    min-height: 46px;
    height: 46px;

    @include transition(background-color 0.25s ease);

    input {
        padding: 12px 12px 11px !important;
        background-color: transparent;
        width: 89.9% !important;
        color: #fff !important;
        font-size: 1.1rem;
        border: none !important;
        left: 0px;
        top: -1px;
        -webkit-appearance: none;
        &:focus {
            color: #1A1A1A !important;
        }

        &:focus ~ a, &:focus ~ button[type=submit] {
            color: #1A1A1A;

            i[class^='fa'] {
                color: #1A1A1A;
            }
        }
    }

    button[type=submit] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        border: none;
        background-color: transparent;
        i {
            top: -5px;
            left: 18px;
        }
    }

    a, button {
        position: absolute;
        right: 0px;
        top: -1px;
        color: #fff;
        display: inline-block;
        text-align: center;
        min-height: 46px;
        width: 10%;

        i[class^='fa'] {
            font-size: 1.6rem;
            padding-top: 9px;
            color: #fff;
        }

        &:hover, &:focus {
            i {
                color: $red;
            }
        }
    }

    input, a, button {
        margin: 0 !important;
        position: absolute;
    }

    //search input type placeholder styling
    input[type="search"]::-webkit-input-placeholder {
        color: $white;

        &:hover {
            color: #999;
        }
    }
}