.cta-with-bg {
  position: relative;
  @include blade;
  @include backImage("//placehold.it/");
  min-height: 250px;
  @include breakpoint($desktop) {
    min-height: 350px;
  }
 
  &:before {
    content:' ';
    position: absolute;
    width:100%;
    height: 100%;
    left:0;
    top:0;
    
  }
  &.with-overlay {
    &:before {
      background-color: $overlay;  
      display:block;
    }
  }

  > article {
    @include container(90%);
    position: relative;
    @include breakpoint($desktop) {
      @include container;
    }

    content {
      display: inline-block;
    }
    content {
      @include span(1 of 1 0 omega);
      @include breakpoint($desktop) {
        @include span(2 of 3);
        @include vertical-align(50%);
      }

      p {
        margin: 0;
      }
    }
    figure {
      @include container(40%);
      width: 100%;
      padding-bottom: 20px;
      margin-top: 0;

      @include breakpoint($desktop) {
        @include span(1 of 3 omega);
        padding-bottom: 0;
        margin-top: 10px;
      }
    }
  }
  h4, p, em {
    color: #fff;
  }
  a, button, h4, p, em {
    text-align: center;
    @include breakpoint($desktop) {
      text-align: left;
    }
  }
  h4 {
    padding-bottom: 20px;
  }
  fieldset {
    text-align: center;
    max-width: 100%;
    padding-left: 0;

    @include breakpoint($desktop) {
      max-width: none;
      text-align: left;
    }

    .in-button-group {
      text-align: center;
    }
    &.button-group {
      .in-button-group {
        @include breakpoint(0 $mobile-landscape) {
          margin: 0;
          margin-left: auto;
          margin-right: auto !important;
          max-width: 80%;
        }
      }
    }
  }
}