section.cta123 {
  @include blade;

  > .container {
    @include container(90%);
    @include breakpoint($desktop) {
      @include container(12);
    }
  }

  h2,
  h3 {
    text-align: center;
    @include breakpoint($tablet) {
      @include container(30em);
    }
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    text-align:center;
    b {
      font-weight: 700;
    }
  }

  menu.cta {
    padding: 0;
    text-align: center;
    a.text-button {
      @include text-button();
      &:last-child {
        @include breakpoint($tablet) {
        margin-right: 0;  
        }
      }
    }
  }
}