.data-card {
    @include container(90%);
    padding: 20px 0;
    border-bottom: 1px solid $bg-dark;
    @include breakpoint($desktop) {
        @include container(46em);
        padding: 20px 10px;
    }
    @include breakpoint($tablet) {
        @include container;
    }
    dl {
        float: left;
        padding-bottom: 10px;
        &:nth-child(1), &:nth-child(2) {
            width: 50%;
        }
        &:nth-child(3),&:nth-child(4) {
            clear: both;
        }
        &:nth-child(4) {
            text-align: left;
        }
        dt {
            font-size: 1.2rem;
            color: $pepper-steel;
            word-break:break-all;
        }
        dd {
            font-size: 0.7rem;
            color: lighten($pepper-steel, 20);
        }
        @include breakpoint($desktop) {
        	padding-bottom: 0px;
            &:nth-child(1), &:nth-child(2), &:nth-child(4) {
                width: 20%;
            }
            &:nth-child(3) {
                width: 40%;
            }
            &:nth-child(3),&:nth-child(4) {
            	clear: none;
        	}
        	&:nth-child(4) {
            	text-align: right;
        	}
        }
    }
    header, footer, article {
        @include clearfix;
    }
    header {
        margin-bottom: 15px;

        i.fa {
          margin-right: 5px;
        }
    }
    footer {
        margin-top: 10px;
    }
    menu {
        a {
            float: left;
            display: inline-block;
            padding: 5px 15px;
            margin-right: 10px;
            color: $pepper-steel;
            border: 1px solid $pepper-steel;
            @include border-radius(4px);
            text-transform: capitalize;
            font-size: 0.8rem;
            @include transition(background-color 0.2s ease);
            &:last-of-type {
                margin-right: 0;
                float: right;
            }
            @include breakpoint($desktop) {
                margin-right: 20px;
                padding: 5px 20px;
                font-size: 1.0rem;
            }

            &:hover {
                color: #fff;
                background-color: $pepper-steel;
                border-color: $pepper-steel;
            }
        }

        a.has-inner-span {
            padding: 0;

            span {
                display: block;
                padding: 5px 15px;
            }
        }
    }

    &.has-adiv {
      menu a {
        padding: 0;

        div {
          padding: 2px 15px;
        }
      }
    }

    h3 {
      font-size: 1.1em;
    }
}
