.data-table {
    @include container(90%);
    @include clearfix;
    margin: 20px auto;
    @include breakpoint($desktop) {
        @include container(46em);
    }

    @include breakpoint($tablet) {
        @include container(12);
    }

    ul {
        background-color: #fff;
        li {
            padding: 20px;
            border-bottom: 1px solid $bg-light;
            clear: both;
            color: $pepper-steel;
            @include clearfix;
            dl {
                @include span(1 of 2 0);
                padding-bottom: 10px;
                &:nth-child(odd) {
                    clear: left;
                }
                @include breakpoint($tablet) {
                    @include span(1 of 4 0);
                    &:nth-child(odd) {
                        clear: none;
                    }
                }

                dt {
                    font-size: 1.0rem;
                    @include breakpoint($desktop) {
                        font-size: 1.2rem;
                    }
                }
                dd {
                    font-size: 0.7rem;
                    color: lighten($pepper-steel, 20%);
                    @include breakpoint($desktop) {
                        font-size: 0.8rem;
                    }
                }
            }
            p {
                clear: both;
                padding-bottom: 0;
                font-size: 0.9rem;
            }
            &.three-cols {
                dl {
                    @include breakpoint($desktop) {
                        @include span(1 of 3 0);
                    }
                }
            }
        }
    }
}

.data-table-box {
    @include container(12);
    padding: 0px;
    margin: 0px auto;
    ul {
        //@include box-shadow(rgba(#333, 0.2) 0 0 6px, rgba(#666, 0.2) 0 0 2px 1px inset);
        li {
            border-bottom: 1px solid #eee;
            @include clearfix;
            &:nth-child(even) {
                @include breakpoint($desktop) {
                    background-color: $bg-light;
                }
            }
            > a {
                dt {
                    text-decoration: underline;
                }
                &:hover {
                    dt {
                        color: $pepper-red;
                        text-decoration: none;
                    }
                }
            }
            dl {
                display: inline-block;
                height: 100%;
                @include span(1 of 1 0);
                padding: 10px;
                &:nth-child(even) {
                    background-color: #eee;
                    @include breakpoint($desktop) {
                        background-color: transparent;
                    }
                }
                //even dl
                @include breakpoint($desktop) {
                    float:left;
                    max-width: 50%;
                    &:nth-child(even) {
                        background-color: transparent;
                    }
                }

                //breakpoint point
                &:first-of-type {
                    border-right: none;
                    border-bottom: 1px solid #d7d7d7;
                    @include breakpoint($desktop) {
                        border-right: 1px solid #d7d7d7;
                        border-bottom: none;
                    }
                }
                dt, dd {
                    
                    padding: 2px;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 0.9rem;
                    line-height: 1.4em;
                    @include span(1 of 1 0);
                    @include breakpoint($desktop) {
                        @include span(1 of 2 0);
                        padding: 5px;
                    }
                }
                dd {
                    font-weight: bold;
                    color: #333;
                    text-align: right;
                }
                dt {
                    color: #666;
                }
            }
            //dl
            &.head {
                padding: 0;
                dl {
                    padding: 0;
                    &:last-of-type {
                        display: none;
                        @include breakpoint($desktop) {
                            display: block;
                        }
                    }
                }
                dt, dd {
                    background-color: #666;
                    color: #fff;
                    padding: 15px;
                }
            }
        }
        //li
   
    }
    &.minimal {
        ul {
            li {
                border-bottom: none;
                dl {
                    padding: 10px 0;
                    border-right: none;
                    border-bottom: none;
                    max-width: none;

                    &:nth-child(even) {
                        background: none;
                    }

                    dd {
                        margin-top: 5px;
                        width: 100%;

                        @include breakpoint($desktop) {
                            margin-top: 0;
                            width: 20%;
                        }
                    }
                }
            }
        }
    }
}

