$datepicker-width: 288px;
$icon-width: 32px;

.date-picker {
    dd {
        position: relative;
    }
    input {
        max-width: $datepicker-width;
        cursor: pointer;
        z-index: 999;
        & + i {
            position: absolute;
            width: $icon-width;
            left: $datepicker-width - $icon-width;
            top: 14px;
            cursor: pointer;
            z-index: 9;
            color: lighten($pepper-text, 50%);
        }
    }
}

//select style placeholder
%border {
  border:1px solid #eee;
}
.jqDatePicker {
    min-width: $datepicker-width;
    background-color: #fff;
    &:first-of-type {
        z-index: 999;
    }
    &:last-of-type {
        z-index: 9999;
    }
    .wrapper {
        width: 100%;
    }
    .month {
        width: 98%;
    }
    td {
        padding: 5px;
        text-align: right;
        &.date {
          cursor: pointer;
          &:hover {
            color:$pepper-red;
          }
          &.disabled {
            cursor:default;
            opacity: 0.4;
          }
        }
        &.prev,&.next {
          font-weight: bold;
          @include font-size(20px);
          color:$pepper-red;
        }
        &.prev {
          text-align: left;
        }
        &.next {
          text-align: right;
        }
    }
    .yearMonth {
        select {
            //Month
            &:first-of-type {
                float: left;
                width: 60%;
            }
            &:last-of-type {
                float: right;
                width: 38%;
            }
        }
    }
    .today {
      @extend %border;
      background-color: darken(#eee,10%);
    }
    .selected {
      @extend %border;
      background-color: $pepper-red;
      color:#fff;
    }
}