.dialog-box {
    @include container(90%);
    @include clearfix;
    margin: 40px auto;
    &.without-head {
        margin: 140px auto;
    }
    @include breakpoint($desktop) {
        @include container(46em);
    }

    @include breakpoint($tablet) {
        @include container(12);
    }

    article {
        padding: 20px;
        @include container;
        display: inline-block;
        width:100%;
        h3, p, em, address {
            color: $pepper-steel;
        }
        h3 {
          @include clearfix;
            font-size: 1.4rem;
            padding-bottom: 10px;
            position:relative;
            width: 100%;
        }
        p {
            font-size: 1.0rem;
            margin-left: 32px;
        }
        i {
            float: left;
            position:absolute;
        }
        em {
            float:left;
            font-weight: bold;
            margin-left: 32px;
        }
        address {
            padding-left: 32px;
            li {
                line-height: 1.4em;
                font-weight: bold;
            }
        }
    }
    &.okay {
        article, section {
            background-color: $color-success-bg;
            i {
                color: $pepper-green;
            }
        }
    }
    &.error {
        article, section {
            background-color: $color-error-bg;
            i {
                color: $pepper-gold;
            }
        }
    }
    &.info {
        article, section {
            background-color: $color-info-bg;
            i {
                color: $color-info;
            }
        }
    }
}

main > .dialog-box {
    margin: 0 auto;
}