.disclaimer {
    @include clearfix;
    @include container(90%);
    font-size: 0.8rem;
    line-height: 1.0em;
    color: lighten($pepper-teal-grey, 35%);
    text-align: center;
    display: block;
    margin-top: 30px;
    &.small {
    	font-size:0.8rem;
    	line-height: 1.0em;
        p {
            @include font-size(11px);
            line-height: 0.9rem;
        }
    }
    &.big {
    	font-size: 1.1rem;
    	line-height: 1.3em;
    }
    &.align-left {
        text-align: left;
    }
    &.align-right {
        text-align: right;
    }
}