.divider {
	padding:20px;
	@include clearfix;
	@include container(90%);
	@include breakpoint($lsn-desktop) {
		@include container;
	}
	text-align: center;
	i {
		color:lighten($color-steel,40);
		font-size: 1.4rem;
	}
	&.line-only {
		i {
			display:none;
		}
		@include container(90%);
		padding:0;
		margin: 20px auto;
		border-bottom: 1px solid lighten($color-steel,40);
		width:100%;

	}
}