.downloads, .document-list-item {
    @include blade;
    font-family: $fontfamily;
    > .container {
        @include container(90%);
        @include breakpoint($desktop) {
            @include container(12);
        }
    }
    h3 {
            border-bottom: 1px solid $border-color;
            padding-bottom: 10px;
            margin: 20px 0;
            font-size: 1.5rem;
            display:inline-block;
            width:100%;
            @include clearfix;
    }
    h4 {
                margin: 20px 0 10px 0;
                font-size: 1rem;
    }
    .articles {
        @include clearfix;
        display: table;
        width: 100%;

        
        > article {
            padding: 0;
            display: table-cell;
            position: relative;
            @include container(100%);
            
        }
        .content {
            margin-bottom: 10px;
            p {
                line-height: 1.25rem;
                margin: 0 0 10px 0;
            }
        }
    }
    footer {
            padding: 10px 0 20px 0;
            position: relative;
            width:100%;
            bottom: 0;
            @include breakpoint($tablet) {
                border-bottom: 1px solid $border-color;
            }
    }
    .button-group {
            text-align: center;
            padding: 0;
            margin: 0;
            max-width: 100%;
            @include breakpoint($tablet) {
                text-align: left;
            }

            a.in-button-group {
                display: inline-block;
                margin: 0;
                i[class^='fa'] {
                    margin-left: 0;
                }
            }
        }
}

section.downloads.two-columns {
    div.articles > article {
        @include container;
        display:block;
        @include breakpoint($mobile-landscape) {
            display:table-cell;
            padding: 0 30px 20px 0;
            @include span(1 of 2 0);
            &:nth-of-type(2n) {
                padding: 0 0 20px 30px;
            }
        }

        &:nth-of-type(2n+1) {
            clear: left;
        }
    }
}