$error-blade-image-width: $thumbsize-tablet;

section.error-blade {
  @include blade;

  > .container {
    @include container(90%);

    @include breakpoint($desktop) {
      @include container(12);
    }
  }

  h2 {
    font-size: 1.5rem;
    color: $grey;
    text-align: center;
    margin-bottom: 10px;
  }

  figure {
    margin: 0 auto;

    @include container(50%);

    @include breakpoint($desktop) {
      max-width: $error-blade-image-width;
    }
  }

  article.message {
    font-size: 1.5rem;
    margin: 20px 0;
    text-align: center;

    p {
      font-size: 1.5rem;
      margin: 20px 0;
      text-align: center;
    }
  }

  fieldset.search-box {
    $search-box-size: 35px;

    border: none;
    border: 1px solid black;
    height: auto;
    padding: 0;
    position: relative;
    @include border-radius(3px);
    @include border-box-sizing;

    @include container(90%);

    @include breakpoint($mobile-landscape) {
      @include container(70%);
    }

    @include breakpoint($tablet) {
      @include container(50%);
    }

    input[type="search"] {
      background: none;
      border: none;
      display: block;
      line-height: $search-box-size;
      margin: 0 0 0 0;
      padding: 0 $search-box-size 0 10px;
      height: $search-box-size;
      outline: none;
      width: 100%;
      font-size: 1.1rem;
      line-height: 1.5rem;
      font-weight: normal;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 30px;
      text-align: center;
      background: none;
      border: none;
      padding: 0;
      margin: 0;

      i[class^="fa"] {
        font-size: 1rem;
        line-height: $search-box-size;
        margin-right: 10px;
      }
    }
  }
}