.faq-accordion, .faq-accordion-item {
    @include container(90%);
    margin-bottom: 40px;
    @include breakpoint($desktop) {
        @include container(46em);
    }

    @include breakpoint($tablet) {
        @include container;
    }

    h2 {
        background-color: $pepper-light-grey;
        border: 1px solid darken($pepper-grey, 8);
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
        font-weight: 600;
        position: relative;
        color: $icon-grey;
        label {
            display: inline-block;
            padding: 20px 20px 20px 40px;
            width: 100%;
            cursor: pointer;
        }
        &:before {
            font-family: FontAwesome;
            font-size: 0.9rem;
            position: absolute;
            content: "\f067";
            left: 20px;
            top: 24px;
            color: $icon-grey;
        }
    }
    content {
        clear: both;
        display: inline-block;
        background-color: $white;
        padding: 0px;
        border: 1px solid $pepper-grey;
        height: 0px;
        margin: 0;
        width: 100%;
        overflow-y: hidden;
        @include transition(height 500ms cubic-bezier(0.17, 0.04, 0.03, 0.94));
        p {
            font: $para-font;
            padding: 0px;
            margin: 0;
            line-height: 1.4em;
            color: $icon-grey;
            @include transition(padding 500ms cubic-bezier(0.17, 0.04, 0.03, 0.94));
        }

        ul, img {
            @include container(86%);
            display: block;
        }
        img {
            margin: 20px auto;
            @include clearfix;
        }
    }
    article {
        clear: both;
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    input[type=checkbox], input[type=radio] {
        display: none;
    }
    input[id^="acc"] ~ content {
        display: none;
        height: 0;
        p {
            display: none;
        }
    }
    input[id^="acc"]:checked ~ h2 {
        background-color: #fff;
        border-bottom: none;
        &:before {
            content: "\f068";
        }
        label {
            padding-bottom: 0;
        }
    }
    input[type=radio]:checked ~ label {
        cursor: auto;
    }
    input[id^="acc"]:checked ~ content {
        display: inline-block;
        border-top: none;
        height: auto;
        p {
            display: block;
            &:not(.infobox) {
                padding: 20px 20px 10px 40px;
            }
            &.info-box {
                @include container(80%);
                padding-left: 50px;
                margin-bottom: 10px;
                position: relative;
                i {
                    position: absolute;
                    left: 17px;
                    top: 23px;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.faq-accordion-item {
    margin-bottom: 0;
}