.file-upload {
    @include container(90%);
    @include breakpoint($tablet) {
        @include container;
    }
    input[type=file] {
      display:none;
    }
    button[type=button] {
        @include text-button;
        display: inline-block !important;
        background-color: transparent;
        border: 1px solid $pepper-steel;
        color: $pepper-steel;
        @include breakpoint($tablet) {
            margin-top: 0 !important;
        }

        &:hover, &:focus {
            background-color: #646464;
            color: #fff;
        }
    }
    p.hint {
      @include font-size(12px);
      margin-top: 5px;
    }
    ul.file-list {
        margin: 0;
        margin-top: 10px;
        margin-bottom: 15px;
        width: 100%;
        border: 1px solid #646464;
        padding-top: 15px;
        @include border-radius(4px);
        display:none;
        li {
            @include clearfix;
            @include container(95%);
            &:not(:last-child) {
              border-bottom: 1px solid darken(#eee, 10);
            }
            //10px extra for right margin from add icon
            padding: 15px;
            margin-top: 0;
            margin-bottom: 10px;
            span {
                display: block;
                float: left;
                margin: 0;
                padding: 0;
                width: 95%;
                overflow: hidden;
                text-overflow: ellipsis;
                @include breakpoint($tablet) {
                    white-space: nowrap;
                }
            }
            i {
                color: #646464;
                float: right;
                margin-right: -10px;
                margin-top: -1px;
                cursor:pointer;
                &:hover {
                  color:$pepper-red;
                }
            }
        }
    }
}