.text-half-image {
    background-color: $pepper-light-grey;
    overflow: hidden;
    max-height: none;
    @include breakpoint($desktop) {
        max-height: 884px;
    }
    >div {
        display:table;
        position: relative;
        width:100%;
    }

    > div, > section {
        @include container(90%);
        @include breakpoint($desktop) {
            @include container(12);
        }
    }
    article, aside {
        @include container(12);
        display:table-cell;
        @include breakpoint($desktop) {
            @include span(6 of 12);
            padding: 0;
            margin-bottom: -4px;
            //due to full blade image
        }
    }
    article {
        margin: 0;
        padding: 40px 0;
        @include breakpoint($desktop) {
            margin: 60px auto;
            padding: 0;
        }

        h2, h3, h4 {
            padding-bottom: 20px;
            @include breakpoint($desktop) {
                padding-right: 40px;
            }
        }
        p {
            @include breakpoint($desktop) {
                padding-right: 40px;
            }
        }
    }
    aside {
        position: relative;
        display: none;
        overflow: hidden;
        margin: 0;
        text-align: right;

        @include breakpoint($desktop) {
            display:table-cell;
            position:absolute;
            right:0;
            top:0;
            height: 100%;
        }
        img {
            height: auto;
            width:auto;
            max-width: 100%;
            min-width: 100%;
        }
    }
}