.hero-video {
    @include clearfix;

    position: relative;
    margin-bottom: 40px;
    background: black;

    @include breakpoint($desktop) {
        min-height: 500px;
    }


    header {
        @include vertical-align;

        position: absolute;
        z-index: 101;
        width: 100%;
        text-align: center;

        h1, p, a {
            color: #fff;
            text-align: center;
            margin: 0 auto;
            max-width: 90%;

            @include breakpoint($desktop) {
                max-width: 50%;
            }
        }

        h1 {
            font-size: 1.3rem;
            line-height: 100%;
            padding-bottom: 10px;

            @include breakpoint($desktop) {
                font-size: 3.0rem;
                padding-bottom: 20px;
            }
        }

        p, a {
            font-size: 1rem;

            @include breakpoint($desktop) {
                font-size: 1.2rem;
            }
        }

        a:not(.call-button) {
            @include scroll-button;
        }
    }

    > article {
        z-index: 99;

        &.video-wrapper {
            position: relative;
            width: 100%;
            overflow: hidden;

            // On mobile, show the background static image and hide the video
            // Background image is loaded by JS
            background-size: cover;
            background-position: center center;

            video {
                display: none;
            }

            // On desktop, hide the background static image and show the video
            @include breakpoint($desktop) {
                background: none !important;

                video {
                    display: block;
                    width: auto;

                    // Width and height will be manipulated by JS based on window size and ratio
                    height: auto;
                    position: absolute;
                    top: -50%;
                    left: -50%;
                }
            }
        }
    }

    aside {
        background: rgba(46, 59, 78, 0.7);
        z-index: 100;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &.no-overlay aside {
        // On mobile, still shows the overlay over the static image
        display: block;

        // On desktop, remove the overlay over the video
        @include breakpoint($desktop) {
            display: none;
        }
    }

    a.scroll-button {
        @include scroll-button;
        &:hover, &:focus {
            margin-top: 25px;
        }
    }
}