$hero-height: 450px;
$hero-height-small: 450px;
$hero-height-small-slim: 300px;
$hero-height-extra-small: 210px;

.hero-image {
    @include backImage("//placehold.it/");
    @include align-items(center);
    @include justify-content(center);
    @include clearfix;
    background-position: top center;
    display: inline-block;
    width: 100%;
    padding: 0;
    position: relative;
    min-height: $hero-height-small;
    @include breakpoint($desktop) {
        min-height: $hero-height;
    }

    .hero-image-inner {
        position: relative;
        height: 100%;
        width: 100%;
        @include breakpoint($desktop) {
            min-height: $hero-height;
        }
    }
    &.full-screen {
        .hero-image-content {
            @include breakpoint($tablet) {
                @include vertical-align;
            }

            a.scroll-button:hover {
                margin-top: 25px;
            }
            h1 {
                @include font-size(28px);
                @include breakpoint($tablet) {
                    @include font-size(32px);
                }
            }
            h2 {
                @include font-size(16px);
                padding-bottom: 0px;
                @include breakpoint($tablet) {
                    @include font-size(18px);
                    padding-bottom: 20px;
                }
            }
        }
    }
    //all full screen issue
    .hero-image-content {
        color: $white;
        text-align: center;
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 20px 0px;
        max-width: 100%;
        overflow: hidden;
        @include breakpoint($tablet) {
            padding: 40px 0px;
        }

        @include breakpoint($desktop) {
            padding: 95px 0px;
        }

        @include breakpoint(0 768px) {
            @include container(80%);
            h1 {
                padding-top: 2px;
            }
        }

        @include breakpoint($desktop) {
            @include container(60%);
        }

        #{headings()} {
            color: $white;
            padding-bottom: 20px;
        }
        h1 {
            width: 100%;
        }
        h1 {
            @include font-size(28px);
            line-height: 100%;
            @include breakpoint($tablet) {
                @include font-size(32px);
            }
        }
        h2 {
            @include font-size(18px);
            line-height: 1.2em;
        }
        a.scroll-button {
            @include scroll-button;
            &:hover, &:focus {
                margin-top: 25px;
            }
        }
        a.text-button {
            @include text-button;
            margin-top: 20px;
            // &:hover, &:focus {
            //     margin-top: 35px;
            // }
            &:last-child {
                margin-right: 0;
            }
        }
        p.hero-call {
            @include font-size(28px);
            margin: 15px 0;
            a.call-button, a {
                color: $white;
                @include transition(color 0.5s ease);
                &:hover {
                    color: $pepper-red;
                }
            }
        }
    }
    //hero image content
    &.vertical-align {}
    position: relative;
    margin-bottom: -5px;
    .hero-image-inner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        .hero-image-content {
            @include vertical-align;
            //reset
            @include breakpoint($tablet) {
                padding: 0px 0px;
            }

            @include breakpoint($desktop) {
                padding: 0px 0px;
            }

            /* ipad Mini issue: MB-960 */
            @media only screen and (resolution: 163dpi) {
                @include vertical-align(0% !important);
                padding-top: 10% !important;
            }
        }
    }
    position: relative;
    margin-bottom: -5px;
    .hero-image-inner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        .hero-image-content {
            @include vertical-align;
            //reset
            @include breakpoint($tablet) {
                padding: 0px 0px;
            }

            @include breakpoint($desktop) {
                padding: 0px 0px;
            }
        }
    }
    &.font-black {
        .hero-image-content {
            p, a, p.hero-call, a.call-button, #{headings()} {
                color: $pepper-text !important;
            }
        }
    }
}

// Extensions to .hero-image component

.hero-image.full-screen {
    // full-screen is taken care by JS
}

.hero-image.with-overlay .hero-image-inner {
    background: $overlay;
}

.hero-image.no-call-link {
    // MB-527 tweak //MB-623 Tweak
    background-size: cover;
    background-position: center;
    @include breakpoint($desktop) {
        min-height: 366px;
        .home-image {
            @include vertical-align;
        }
    }

    p {
        padding-bottom: 60px;
    }
    a {
        @include breakpoint($mobile-landscape) {
            display: none !important;
        }
    }
}

/**
 ** MB-981: Slimmer hero banner which takes up less real estate on the page
 **  - Add red strip at the bottom
 **  - Hide the telephone number
 **/
.hero-image.slim-screen {
    min-height: inherit;
    height: $hero-height-extra-small;
    @include breakpoint($desktop) {
        min-height: inherit;
        height: $hero-height-small-slim;
    }

    .hero-image-inner {
        @include breakpoint($desktop) {
            min-height: inherit;
            height: $hero-height-small-slim;
        }
    }
    p.hero-call {
        display: none;
    }
}

//MB-2105
.hero-carousel {
    .hero-image {
        min-height:$hero-height;
    }
    .slick-dots {
        bottom: 14px;
        li {
            button:before {
                @include font-size(16px);
                font-family: FontAwesome;
                color: #fff;
                \\content: "\f10c";
                content: "\f111";
                opacity: 0.80;
            }
            &.slick-active {
                button:before {
                    color: $pepper-red;
                    content: "\f111";
                }
            }
        }
    }
}

//
.hero-carousel {
    //MB-2248
    max-height: $hero-height-small;
    overflow-y: hidden;
    @include breakpoint($desktop) {
        max-height: $hero-height;
    }

    //MB-2250
    .hero-image-content {
        h1, h3, h5 {
            @include font-size(28px);
            line-height: 100%;
            @include breakpoint($tablet) {
                @include font-size(32px);
            }
        }
        h2, h4, h6 {
            @include font-size(18px);
            line-height: 1.2em;
        }
    }
}

.underline-title {
    header h1, header h3, header h5 {
        position: relative;
        padding-bottom: 0 !important;
        margin:0 auto;
        line-height: 1em;
        &:after {
            content:'\00a0';
            width:90px;
            height: 1px;
            margin:0 auto;
            display: block;
            margin-top: 28px;
            border-bottom: 2px solid #fff;
            margin-bottom: 25px;
        }
    }
    header h1 p, header h3 p, header h5 p {
         @include font-size(28px);
            line-height: 1.3em;
            @include breakpoint($tablet) {
                @include font-size(32px);
            }
    }
    header h2 p, header h4 p, header h6 p  {
        @include font-size(18px);
        line-height: 1.2em;
    }
}

//Retina Display issues //MB-2722
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(-webkit-min-device-pixel-ratio: 1.25), 
(min-resolution: 120dpi),
(-webkit-min-device-pixel-ratio: 1.3), 
(min-resolution: 124.8dpi),
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi)
 { 
    .hero-image {
        margin-bottom: -8px;
    }
    
}