section.iframe {
  padding: 20px 0;

  @include breakpoint($desktop) {
    padding: 40px 0;
  }

  iframe {
    @include box-shadow('none');
    margin: 0 auto;
    display: block;
    border: none;
    overflow-x:hidden;
  }

  &.with-border {
    iframe {
      border: 1px solid $border-color;
    }
  }

  &.full-width {
    padding: 0;

    iframe {
      width: 100% !important;
      border: none;
    }

    > .container {
      @include container(100%);
    }
  }

  &.normal-width {
    iframe {
      width: 100% !important;
    }

    > .container {
      @include container(90%);

      @include breakpoint($desktop) {
        @include container(12);
      }
    }
  }

  &.custom-width {
    > .container {
      @include container(90%);
      position: relative; 
      @include breakpoint($desktop) {
        @include container(12);
      }
    }

    &.float-left {
      @include clearfix();
      iframe {
        float: left;
      }
    }

    &.float-right {
      @include clearfix();

      iframe {
        float: right;
      }
    }
  }
}

// section.iframe {
//   position: relative;
//   .container {
//     max-width:60em;
//     margin:0 auto;
//     position: relative;
//     padding-bottom: 420%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
//     overflow: hidden;
//     height: 0;
//     @include breakpoint($tablet) {
//       padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
//     }
//   }
//   iframe {
//     position: absolute;
//     top: 0; 
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }
// }