.image-separator {
  @include backImage("//placehold.it");
  @include align-items(center);
  @include justify-content(center);
  @include clearfix;
  margin:0 auto;
  min-height: 165px;
  @include breakpoint($mobile 959px) {
  	min-height: 200px;
  }
  @include breakpoint($desktop) {
  	min-height: 335px;
  }
}