.ad-banner {
    background-color: $red;
    overflow: visible;
    z-index: 99;
    @include clearfix;

    &.bg-dark {
        background-color: $bg-dark;
    }
    &.bg-light {
        background-color: $bg-light;
        *:not(a) {
            color:$print;
        }
    }

    .ad-content {
        position: relative;
        @include container;

        @include breakpoint($tablet) {
            height: 190px;

            header, figure {
                position: absolute;
            }
        }

        @include breakpoint($desktop) {
            height: 130px;
        }

        a {
            &:focus{
                display: inline-block;
                width: 100%;
                height: 100%;
                background: rgba(255,255,255,0.25);
            }
        }
        header {
            @include container(95%);
            padding: 20px;

            h1, h2, h3 {
                text-align: center;
            }
            h1, h2, h3 {
                color: $white;
                line-height: 1.1em;
            }
            h1,h2 {
                font-size: 1.6rem;
                margin-bottom: 5px;
            }
            h3 {
                font-size: 1.0rem;
                margin-top: 10px;
                line-height: 1.25em;
            }

            @include breakpoint($tablet) {
                left: 0;
                padding: 0 0 0 20px;

                h1, h2, h3 {
                    text-align: left;
                }

                @include calc( max-width, '100% - 387px');
                @include vertical-align;
                position:absolute;
            }
        }
        figure {
            right: 20px;
            bottom: 0;
            height: 161px;
            display: none;
            z-index: 100;

            img {
                max-width: 361px;
                height: 161px;
            }
            @include breakpoint($tablet) {
                display: block;
            }
        }
    }
}