$minHeightMobile : 1195px;
$minHeightDesktop : 1000px;

.bg-iframe {
	@include blade;
	@include backImage('http://placehold.it');
  //mb-1829
  @include breakpoint($tablet $tablet) {
      background-position: -1460px 0;
  }
  @include breakpoint($tablet-landscape $tablet-landscape) {
      background-position: -950px 0;
  }
	>article {
		@include container(90%);
		position: relative;
		min-height: $minHeightMobile;
		@include breakpoint($tablet) {
			min-height: $minHeightDesktop;
		}
    
		@include breakpoint($desktop) {
			@include container;
		}
	}
	iframe {
		max-width: 480px;
		width:100%; 
		min-height: $minHeightMobile;
		@include breakpoint(300px $mobile) {
			/*width 100% doesn't work on iphone5*/
			width:288px;
		}
		@include breakpoint($tablet) {
			width:480px;
			min-height: $minHeightDesktop;
		}
	}
	&.float-left {
		iframe {
			@include breakpoint($tablet) {
				float:left;
			}
		}
	}
	&.float-right {
		iframe {
			@include breakpoint($tablet) {
				float:right;
			}
		}
	}
	&:not(.float-left), &:not(.float-right) {
		iframe {
			@include breakpoint($tablet) {
				display: block;
				margin:0 auto;
			}
		}
	}
	&.with-border {
		iframe {
			border:1px solid $white !important;
		}
	}
	&.with-shadow {
		iframe {
			@include box-shadow(0 2px 2px rgba(0, 0, 0, 0.15));
		}
	}

}