.info-box {
    @include clearfix;
    border-collapse: collapse;
    border: 1px solid #eee;
    padding: 12px 0 4px;
    position: relative;
    @include container(90%);
    @include breakpoint($desktop) {
        @include container(46em);
    }

    @include breakpoint($tablet) {
        @include container(12);
    }

    &.bg-white {
        border:none;
        p {
            background-color: #fff;
            border:1px solid #ccc;
            b {
             color:#DF0024 !important;     
            }
        }
    }

    &.pay {
        figure {
            @include container;
            border: 1px solid $bg-light;
            @include breakpoint($desktop) {
                @include span(1 of 2 0);
                padding: 0 20px;
                margin-bottom: 10px;
                border: none;
            }

            img {
                //default;
                max-width: 40px;
                max-height: 60px;
                float: left;
            }
            figcaption {
                float: left;
                padding: 10px;
                border: none;
                @include calc(width, "100% - 90px");
                //minus above img width;
                @include breakpoint($desktop) {
                    border: 1px solid $bg-light;
                }

                span {
                    display: block;
                    font-weight: bold;
                    font-size: 0.9rem;
                }
            }
            img {
                &.bpay-logo {
                    max-width: 40px;
                    max-height: 60px;
                    & ~ figcaption {
                        @include calc(width, "100% - 40px");
                    }
                }
                &.postbill-logo {
                    max-width: 92px;
                    max-height: 54px;
                    & ~ figcaption {
                        @include calc(width, "100% - 92px");
                        padding: 7px;
                        span {
                        font-size: 0.72rem;
                        @include breakpoint($desktop)   {
                          font-size: 0.9rem;
                        }
                        }
                        
                    }
                }
            }
        }
        //figure
        i {
            color: $color-info;
        }
    }
    //.pay
    p {
        font-size: 0.8rem;
        padding: 10px 10px 10px 36px;
        margin: 0;
        position: relative;
        @include breakpoint($desktop) {
            @include span(1 of 2 0);
        }
        i {
            position: absolute;
            left: 10px;
            top: 7px;
            padding-top: 2px;
            font-size: 1.2rem;
        }
    }
    &.info {
        color:$color-info;
        padding: 10px;
        i {
            @include font-size(20px);
            color: $color-info;
            padding-right: 10px;
        }
    }
    &.alert {
        i {
            color: $pepper-red;
        }
        p {
            @include breakpoint($desktop) {
                width: 100%;
            }
        }
    }
    ol, ul {
        @include clearfix;
        clear: both;
        padding: 0 20px;
        margin-left: 30px;
        li {
            list-style-type: disc;
            font-size: 0.8rem;
            line-height: 1.4em;
            padding-bottom: 10px;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    &.inside {
        padding: 10px;
        li {
            list-style-type: none;
            i {
                font-size: 1.1rem;
                color: lighten($pepper-steel, 35);
                margin-right: 10px;
            }
        }
    }
    &.half {
        @include breakpoint($desktop) {
            @include span(1 of 2 0);
        }
    }
    legend {
        padding-bottom: 10px;
    }
    .hint {
        padding: 20px 0 0 40px;
        display: inline-block;
        font-size: 0.8rem;
    }
    b, .hint {
        font-weight: 900;
    }
}

//info-box