.info-graphic {
  //apply mobile first
  @include clearfix;

  &.add-margin {
    margin: 40px 0;
    @include breakpoint($mobile-landscape) {
      margin: 80px 0;
    }
  }


  > article {
    position: relative;
    @include container(90%);

    @include breakpoint($desktop) {
      @include container(12);
    }

    > header {
      background-color: $pepper-red; // default colour for info-graphic > header
      color: #fff;
      z-index: 999;
      // height: 70px;
      padding:12px;
      width: 100%;
      max-width: 320px;
      margin:0 auto;

      @include breakpoint($tablet) {
        max-width: 100%;
      }
      &.bg-dark {
        background-color: $bg-dark;
      }
      h2, h3 {
        color: inherit; // inherit from parent element, which is header
        background-color: inherit; // inehrit from parent element, which is header
        margin: 0 auto;
        display: block;
        text-align: center;
        padding: 0px 10px 8px;
        font-size: 1.1rem;
        font-weight: 700;
        position: relative;
      }
      p {
        margin:0;
        padding:0;
        text-align: center;
        color:#fff;
        font-size: 1.0rem;
        line-height: 1.2em;
      }

      h3 {
        background-color: darken($pepper-red, 20%); // default colour for info-graphic > header h3
        font-size: 1rem;
        padding: 10px 21px;
        max-width: 320px;

        @include border-box-sizing;
        @include border-radius(21px);
      }
    }

    figure.infographics-figure {
      z-index: 99;
      list-style: none;
      padding: 0;

      @include container(100%);
      margin: 0;
      padding: 0;

      img {
        overflow: hidden;
        max-height: 400px;
        max-width: 320px;
        margin: 0 auto;
        display:block;
        @include breakpoint($mobile-landscape) {
          @include span(1 of 3 0);
          height: auto;
        }
      }
    }
  }
  //article
}

//info-graphics