.list-cards {
    @include clearfix;
    @include blade;

    background-color: #eee;

    .container {
        @include container(90%);
        @include breakpoint($desktop) {
            @include container;
        }
    }
    article {
        @include container(90%);
        @include breakpoint($tablet) {
            @include span(5 of 7 0);
        }

        ul {
            margin-right: 0px;
            @include breakpoint($tablet) {
              margin-right: 20px;
            }
        }
        li {
            background-color: #fff;
            position: relative;
            width: 100%;
            margin-bottom: 20px;
            display: inline-block;
            &:last-child {
                margin-bottom: 0;
            }
            @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
            figure {
                @include clearfix;
                display: block;
                img {
                    width: 102px;
                    height: 68px;
                    float: left;
                    margin-right: 10px;
                }
                figcaption {
                    width:calc(100% - 127px);
                    padding-top: 10px;
                    @include clearfix;
                    display:inline-block;
                    h5 {
                        margin: 0;
                        padding: 0;
                        font-weight: 700;
                        @include font-size(16px);
                        @include breakpoint($tablet) {
                          @include font-size(18px);
                        }
                        display:inline-block;
                    }
                    p {
                      display:inline-block;
                      @include breakpoint($tablet) {
                        display:block;
                      }
                    }
                }
            }
            menu {
                @include clearfix;
                width:100%;
                display: block;
                margin: 0;
                padding: 0px;
                border-top: 1px solid darken(#eee, 8);
                
                a {
                  color:$print;
                  display: inline-block;

                  @include transition(all 0.3s ease);
                  padding:10px 20px;
                  border-bottom: 1px solid darken(#eee, 8);
                  border-left:none;
                  @include span(1 of 1 0);
                  @include breakpoint($tablet) {
                    @include span(1 of 3 0);
                    border-left: 1px solid darken(#eee, 8);
                    border-bottom: none;
                  &:first-of-type {
                    border-left: none;
                  }
                  }
                  &.completed {
                    cursor:default;
                    color:$green;
                    i {
                      color:$green;
                      &:before {
                        content:"\f00c";
                      }
                    }
                  }
                  &:last-of-type {
                    margin-right: 0;
                  }
                  &:hover:not(.completed) {
                    color:$white;
                    background-color: $red;
                    i {
                      color:$white;
                    }
                  }
                  i {
                    font-size: 1.0rem;
                    margin-right: 6px;
                  }
                  span {
                    @include font-size(14px);
                  }
                }
            }
        }
    } //article
    aside {
        @include container(90%);
        background-color: #fff;
        @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
        padding: 20px;
        margin-top: 20px;
        @include breakpoint($tablet) {
            @include span(2 of 7 0);
            margin-top: 0;
        }
        p {
          line-height: 1.4em;
          overflow: hidden;
        }

      h4 {
        margin-bottom: 10px;
      }

    } //aside
}