section.login-form {
  @include blade;

  > .container {
    @include container(90%);

    @include breakpoint($desktop) {
      @include container(12);
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 200px;
    margin: 0 auto 30px auto;
    text-align: center;

    @include breakpoint($desktop) {
      @include container(100%);
      text-align: left;
      max-width: none;
    }
  }

  form {
    @include breakpoint($desktop) {
      @include span(6 of 12 0);
    }

    > fieldset {
      margin: 0;
      padding: 0;
    }
    > fieldset label {
      width: 100%;
      text-align: left;
      margin: 20px 0 5px 0;
    }

    > fieldset span.error {
      color: $red;
      font-size: 0.9rem;
      display: none;
      padding: 7px 10px;
      background-color: lighten($red, 50%);
    }

    > fieldset.forgot-password {
      margin: 15px 0 30px 0;

      a {
        color: $print;

        &:hover {
          color: $red;
        }
      }
    }

    > fieldset.button-group {
      max-width: 100%;
      text-align: left;

      button {
        width: 100%;

        @include breakpoint($phablet) {
          width: auto;
        }

        i[class^="fa"] {
          color: white;
          font-size: 1rem;
          margin-left: 10px;
        }
      }
    }
  }

  aside {
    margin-top: 40px;
    padding: 80px 0 40px 0;
    border-top: 1px solid $border-color;

    @include breakpoint($desktop) {
      padding: 60px 20px;
      min-height: 200px;

      @include span(4 of 12 0 omega);
      border-top: none;
      border-left: 1px solid $border-color;
    }

    h3 {
      font-size: 1.2rem;
      line-height: 1.5;
      text-align: center;
    }
  }
}