$error-blade-image-width: $thumbsize-tablet;

section.maintenance {
    padding-top: 0;
    .header-strip {
        background-color: #fff;
        border-bottom: 1px solid #d7d7d7;
        min-height: 60px;

        .container {
            @include container(90%);
            @include breakpoint($tablet) {
                @include container;
            }
            menu {
                margin-top: 18px;
            }
        }

        .brand-logo {
            min-width: 80px;
            max-width: 164px;
            float: left;
            margin-top: 14px;

            img {}

            figcaption {
                display: none;
            }
        }

        menu {
            float: right;

            i {
                color: $pepper-red;
            }

            a:hover span {
                color: $pepper-red !important;
            }

            i {
                font-size: 25px;
                @include breakpoint($tablet) {
                    margin-right: 10px;
                    font-size: 18px;
                }
            }

            a span {
                display: none;

                @include breakpoint($tablet) {
                    display: inline-block;
                }
            }
        }
    }

    > .container {
        @include container(90%);

        padding:40px 0 20px 0;

        @include breakpoint($desktop) {
            @include container(12);
        }
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 700;
    }

    figure {
        margin: 0 auto;
        max-width: $error-blade-image-width;
    }

    article.message {
        font-size: 1.5rem;
        margin: 20px 0;
        padding-top: 10px;
        p {
            text-align: center;
        }
    }
}