.menu-card {
    @include container(90%);
    padding: 20px 0;
    @include clearfix;
    @include breakpoint($desktop) {
        @include container(46em);
    }

    @include breakpoint($tablet) {
        @include container;
    }

    legend {
        padding-bottom: 20px;
    }
    menu {
        a {
            display: inline-block;
            padding: 20px;
            background-color: $pepper-steel;
            color: #fff;
            border-bottom: 1px solid lighten($pepper-steel, 20);
            @include transition(background-color 0.3s ease);
            @include span(1 of 1 0);
            @include breakpoint($desktop) {
                @include span(1 of 2 0);
                border-right: 1px solid lighten($pepper-steel, 20);
            }

            &:hover {
                background-color: darken($pepper-steel, 15);
            }
            i {
                margin-right: 20px;
                color:#fff;
                @include font-size(18px);
            }
            i.bpay-icon {
                margin-right: 38px;
            }
        }
        //anchor-tags
   
    }
}

.bpay-icon {
    position: relative;
    &:before {
        position: absolute;
        content: ' ';
        width: 20px;
        height: 20px;
        left: -2px;
        top: -2px;
        background: url("../images/lsn/bpay-icon.png") no-repeat left top transparent;
        background-size: cover;
    }
}