.multi-select {

    legend{
        margin:0;
    }

    input:not([type=checkbox]):not([type=radio]) {
        background-color: #fff;
        @include transition(background-color 0.25s ease);
        &:focus {
            background-color: rgba(255, 255, 255, 0.9);
        }
        margin: 0;
        min-height: 48px;
    }
   dd{
        float:right;
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0px;
        }
        label{
            padding:0;
            min-height: 48px;
            display: block;
            &:first-of-type {
                margin-bottom: 20px;
                min-height: 48px;
                background-color: #fff;
                border: 1px solid darken(#eee, 15%);
                border-radius: 4px;
                color:darken(#eee, 15%);
                cursor: pointer;
            }

            &:last-of-type {
                opacity: 0.5;
                span.currency-symbol{
                    float:left;
                    width:10%;
                    display:block;
                    min-height: 48px;
                    border: 1px solid darken(#eee, 15%);
                    border-right:0;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    background-color: $pepper-grey;

                    i{
                        margin: 0 auto;
                        width: 14px;
                        display: block;
                        padding-top:11px;
                        color:$icon-grey ;
                    }
                }
                input{
                    float:left;
                    width:90%;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }

                p.error{
                    margin-top:5px;
                }
              
            }
            
            @include breakpoint($mobile-landscape) {
                &:first-of-type {
                    float:left;
                    margin-right:10px;
                    width:30%;
                     margin-bottom: 0px;
                }
                &:last-of-type {
                    float:left;
                    width:67.5%;
                };    
            }

            /*for desktop*/
            @include breakpoint($desktop) {
                 &:last-of-type {
                    width:68.5%;
                }; 
            }


            div.checkbox-btn{
                margin: 0 auto;
                width: 175px;
                padding-top: 10px;
                color:$icon-grey;
                position: relative;
                i{
                    color:$icon-grey;
                    margin-right: 7px;
                }
                span { 
                    color:inherit;
                    display:inline-block;
                    position: absolute;
                    top:12px;
                    
                }
            }


        } //label

        input[type=checkbox] {
            display: none;
        }

        :checked ~ label:first-of-type {
            color:$pepper-text;
            border: 1px solid $pepper-green-dark !important;
            outline: 0;

            i{
              color: $pepper-green-dark;  
            }
        }

        :checked ~ label:last-of-type {
            opacity: 1;
            span.currency-symbol{
            
                background-color: $pepper-green-dark;
                border: 1px solid $pepper-green-dark !important;
                i{
                    color: #fff;
                }
            }
            input::-webkit-input-placeholder{
                color: $pepper-text;
                outline: 0; 
            }
            input:-moz-placeholder{
                color: $pepper-text;
                outline: 0;
            }
            input::-moz-placeholder{
                color: $pepper-text;
                outline: 0;
            }
            input:-ms-input-placeholder{
                color: $pepper-text;
                outline: 0;
            }
        }

    }//dd
}
input([type=checkbox]):focus {
    outline: 0;
}
//fix for firefox default red border-shadow for required field
input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow:none;
}

