.options-form {
    @include clearfix;
    @include blade;

    background-color: #eee;

    header, fieldset {
        @include container(90%);
        @include clearfix;
        @include breakpoint($desktop) {
            @include container;
        }
    }
    header {
      margin-bottom: 40px;
    }
    fieldset {
      margin:0 auto;
      padding:0;
      margin-bottom: 30px;
    }
    legend {
      margin:0;
      @include font-size(18px);
      padding-bottom: 10px;
    }
    label {
      margin:0;
      text-align: left;
      padding:10px 0;
      @include font-size(15px);
      position: relative;
      span {
        margin-left: 24px;
        &:before {
          font-family: FontAwesome;
          //content:"\f10c";
          content:"\f111";
          left:0px;
          top:9px;
          color:$white;
          position: absolute;
          @include font-size(18px);
          @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
          //border:1px solid darken(#eee, 8);
          @include border-radius(50%);
        }
      }
    }
    input {
      margin:0;
      padding:0
    }
    fieldset input[type=radio], fieldset input[type=checkbox] {
      margin-left:0;
      margin-right: 0; //reset previous form setting;
      display:none;
    }

    fieldset input[type=radio]:checked + span:before {
        content:"\f192";
        color:$red;
    }
    fieldset input[type=checkbox]:checked + span:before {
        content:"\f05d";
        color:$red;
    }
    fieldset select {
      outline : none;
    overflow : hidden;
    text-indent : 0.01px;
    text-overflow : '';
          -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
            background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>") right no-repeat #fff;
            
    background-transparency: 0.5;
    background-position: right 15px top 50%;
    background-size: 18px;

    }
    select.desktopDropDown::-ms-expand {
      display:none;
    }
    .plain-radio {
      label {
        display:block;
        margin-left: 25px;
      }
    }
    .plain-input {
      dl {
        @include breakpoint($tablet) {
          width:80%;
        }
      }
    }

}

.pepper-form {
    @include clearfix;
    padding-top: 40px;
    padding-bottom: 40px;
    @include breakpoint($desktop) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    header {
        padding-bottom: 40px;
        @include container(90%);
        text-align: center;
        @include breakpoint($desktop) {
            @include container(12);
        }
        h2 {
            font-size: 1.8rem;
            padding-bottom: 20px;
        }
    }
    dl {
        @include container(90%);
        @include breakpoint($desktop) {
            @include container(12);
        }

        &:after {
          clear: both;
          content: " ";
          display: table;
        }
    }
    dt {
        @include breakpoint($desktop) {
            @include span(3 of 12);
        }
    }
    dd {
        display: inline-block;
        width: 100%;
        @include breakpoint($desktop) {
            @include span(9 of 12);
            display: block;
        }
        p.error {
          float: left;
          line-height: 1.25;
          margin: 0 0 5px 0;
          width: 100%;
        }
    }
    legend {
        margin: 5px 0;
        width:100%;
        @include breakpoint($desktop) {
            margin: 10px 0;            
        }
    }
    fieldset.button-group {
        @include container(90%);
        text-align: right;
        @include breakpoint($desktop) {
            @include container(12);
            padding-right: 0.83333%;
        }
    }
    .choice-switch {
        p.error {
          // margin-top:53px !important;

          span {
            width: calc(100% - 24px);
          }
        }
    }
    &.with-slider
    {
        header {
            text-align: center;
            padding-bottom: 0;
        }
    }
    .approval-list{

      li{
        margin-bottom: 10px;
        a{
          display: inline-block;
          padding: 20px;
          padding-left:40px;
          width: 100%;
          background-color: #fff;
          position: relative;
          line-height: 1.25;
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
          -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

          i{
            position: absolute;
            left: 14px;
            top: 24px;
            font-size: 0.85rem;
            margin-right: 20px;
            color: #DF0024;
            
          }
        }
   
     }

      max-height: 250px;
      overflow-y: scroll;
      @include container(90%);
      -webkit-overflow-scrolling: touch;
      padding-left:0; 
      text-align:left; 
      @include breakpoint($tablet) {
        @include container(80%);
      }
    }
}

.pepper-form.workflow{
  header{
    padding-top: 30px;
    padding-bottom: 0px;
  }
  fieldset{
    @include container(90%);
  }
}

.centre-block {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  @include blade;
  font-size: 2.2rem;
  text-align: center;
}