.contact-cards {
    @include clearfix;
    @include blade;
}

nav.page-tabs {
    @include clearfix;
    margin-top: 40px;
    @include breakpoint($desktop) {
        margin-top: 80px;
    }

    ul {
        background-color: $pepper-light-grey;
        @include container(90%);
        padding: 0;
        margin: 0 auto;
        @include border-radius(4px);
        overflow: hidden;
        li {
            @include span(1 of 1 0);
            margin: 0;
            a {
                display: block;
                text-align: center;
                text-transform: capitalize;
                padding: 20px 40px;
                width: 100%;
                color: $pepper-teal-grey;
                @include transition(background-color 0.3s ease);
                @include breakpoint($desktop) {
                    @include border-radius(4px);
                }

                &.active, &:hover {
                    background-color: $red;
                    color: #fff;
                }
            }
            &:first-child {
                a {
                    @include border-top-radius(4px);
                }
            }
            &:last-child {
                @include border-bottom-radius(4px);
            }
        }

        @include breakpoint($desktop) {
            @include container(59em);
        }
    }

    // by default, 4 tabs
    &:not(.five-tabs) {
        ul li {
            @include breakpoint($desktop) {
                @include span(1 of 4 0);
            }
        }
    }

    // extended classes
    &.five-tabs {
        ul li {
            @include breakpoint($desktop) {
                @include span(1 of 5 0);
                a {
                    padding: 20px 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

ul.page-tabs {
    @include clearfix;
    width: 90%;
    @include container(12);
    margin-top: 20px;
    display: none;
    &.active {
        display: table;
    }
    li {
        @include transition(all 0.3s ease);
        display: table-cell;
        @include container(90%);
        @include breakpoint($desktop) {
            @include container(12);
        }

        article, aside {
            background-color: $pepper-light-grey;
            margin-bottom: 20px;
            text-align: center;
            padding: 20px;
            position: relative;
        }
        article {
            min-height: 260px;
            @include breakpoint($desktop) {
                @include span(4 of 12);
                min-height: 220px;
            }
        }
        .featured {
            min-height:auto;
            @include breakpoint($desktop) {
                @include span(6 of 12);
            
            }

            #{headings()} {
                @include pad(2);
                font-size: 1.6rem;
            }
        }
    }
    //li first level
    #{headings()} {
        display: inline-block;
        width: 100%;
        @include clearfix;
        @include pad(1);
        font-size: 1.0rem;
        margin-bottom: 10px;
    }
    article > a:not(.email) {
        font-size: 2.1rem;
        margin: 10px 0;
        @include container(12);
        @include clearfix;
        &:hover, &:focus {
            color: $pepper-teal-grey;
        }
        display: inline-block;
    }
    time {
        @include clearfix;
        &:first-of-type {
            margin-top: 10px;
            display: block;
        }
        &:last-of-type {
            margin-bottom: 10px;
            display: block;
        }
    }
    article > a.email {
        font-size: 0.9rem;
        color: $pepper-teal-grey;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 20px;
        @include clearfix;
        left: 0;
        &:hover, &:focus {
            color: $pepper-red;
        }
    }
    a {
        @include transition(color 0.3s ease);
    }
    menu {
        @include clearfix;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        ul {
            margin-top: 10px;
            @include container;
            li {
                @include span(1 of 1 0);
                text-align: left;
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0;
                }
                @include breakpoint($tablet) {
                    @include span(1 of 3);
                    margin-bottom: 0px;
                    text-align: center;
                }
            }
        }
        a {
            width: auto;
            padding: 10px;
            display: inline-block;
            @include breakpoint($tablet) {
                width: 100%;
            }

            i, span {
                color: $red;
                float: left;
                @include font-size(16px);
            }
            &:hover {
                i, span {
                    color: lighten($red, 8);
                }
            }
            i {
                margin-top: 6px;
                @include breakpoint($tablet) {
                    margin-top: 3px;
                }
            }
            span {
                margin-left: 10px;
            }
        }
    }
    //menu
    p {
        margin: 10px 0;
        @include container(80%);
    }
    fieldset.button-group {
        margin-top: 20px;
    }
}