.page-navigation {
@include clearfix;
padding-top: 10px;
}
.pagination {
    margin-bottom: 40px;
    @include breakpoint(0 768px) {
        margin-top: 20px;
        margin-left: 20px;
    }

    ul {
        @include container(90%);
        @include clearfix;
        @include breakpoint($desktop) {
            @include container(12);
        }

        li {
            float: left;
            width: 48px;
            height: 48px;
            max-width: 48px;
            max-height: 48px;
            margin-right: 12px;
            margin-left: 2px;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: inline-block;
                width: 41px;
                text-align: center;
                padding: 13px;
                @include border-radius(50%);
                padding-right: 15px;
                @include transition(all, 0.35s, ease);
                @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
                background-color: $white;
                color: $icon-grey;
                font-family: $fontfamily;
                line-height: 0.95em;
                font-size: 0.8rem;
                font-weight: 700;
                border: 1px solid $pepper-steel;
                &:hover, &:focus {
                    background-color: $pepper-steel;
                    color: #fff;
                }
            }
            > span {
                @include border-radius(50%);
                text-align: center;
                width: 41px;
                display: inline-block;
                padding: 13px;
            }
            &.current {
                a {
                    background-color: $pepper-red;
                    border-color: $pepper-red;
                    color: #fff;
                    cursor: default;
                }
            }
        }
    }
}