.pepper-testimonial {
  background-color: $pepper-light-grey;
  padding-top: 40px;
  margin-top: 40px;
  @include breakpoint($desktop) {
    padding-top: 80px;
    margin-top: 80px;
  }

  > section, > div {
    @include container(12);
  }
  article {
    position: relative;
    @include container(90%);
    padding-bottom: 10px;
    @include breakpoint($desktop) {
      @include span(6 of 12);
      padding-bottom: 0;
      p {
        padding-right: 60px;
        line-height: 1.7rem;
        font-size: 1.2rem;
      }
    }
    h2, h3, h4 {
      padding-bottom: 20px;
    }
  }
  aside {
    @include breakpoint($desktop) {
      @include span(6 of 12);
      margin-top: -110px;
    }
  }
  blockquote {
    @include border-radius(4px);
    background-color: $red;
    color: #fff;
    margin: 0 auto;
    padding: 20px 20px 40px;
    margin-bottom: -50px;
    position: relative;
    width: 90%;
    @include breakpoint(641px 768px) {
      width: 70%;
    }

    @include breakpoint($desktop) {
      float: left;
      width: 98%;
      padding: 40px 20px;
    }

    &:after {
      top: 100%;
      left: 8%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: $red;
      border-width: 6px;
      margin-left: -6px;
    }
    &.second {
      &:after {
        left: 90%;
        @include breakpoint($desktop) {
          left: 80%;
        }
      }
      a {
        right: auto;
        left: 10px;
      }
      small {
        text-align: left;
      }
    }
    p {
      font-size: 1.2rem;
      line-height: 1.4em;
      margin: 0 0 10px 0;
    }
    small {
      text-align: right;
      font-size: 1.0rem;
      width: 100%;
      display: inline-block;
      padding-bottom: 20px;
    }
    a {
      text-align: right;
      color: lighten($pepper-teal, 50%);
      font-size: 0.74rem;
      position: absolute;
      right: 20px;
      bottom: 30px;
      text-decoration: underline;
      display: inline-block;
      z-index: 9999;
      padding: 10px;
      padding-right: 0;
      &:hover, &:focus {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  figure {
    margin: auto;
    position: relative;
    width: 90%;
    @include breakpoint(641px 768px) {
      width: 60%;
    }

    @include breakpoint($desktop) {
      width: 100%;
    }

    img {
      @include transition(opacity 0.2s ease-out);
      width: 35%;
      @include opacity(0.5);
      cursor: pointer;
      margin-bottom: -4px;
      &:first-of-type {
        width: 49%;
        @include opacity(1);
      }
      &:last-of-type {
        margin-left: 22px;
        @include breakpoint($desktop) {
          margin-left: 0;
        }
      }
    }
  }
}
