.pepper-button {
    text-align: center;
    width: 100%;
    a {
        @include text-button;
        &.secondary {
            background-color: transparent;
            border: 1px solid $pepper-steel;
            color: $pepper-steel;
            &:hover {
              background-color: $pepper-steel;
              color:#fff;
            }
        }
    }
    &.stick-to-bottom {
        position: absolute;
        bottom: -40px;
        left: 0;
        margin-bottom: 0;
    }
}