%porthole-item-title {
    display: block;
            padding: 10px 0;
            text-align: center;
            @include container;
            @include font-size(20px);
            line-height: normal;
            @include breakpoint($mobile-landscape) {
                @include font-size(24px);
                line-height: 1.3em;
            }

            @include breakpoint($tablet) {
                @include container(90%);
            }
}

.porthole-feature, .porthole-item {
    @include clearfix;
    @include blade;
    p {
        margin: 0;
    }
    header {
        text-align: center;
        margin-bottom: 40px;
        p {
            padding-top: 10px;
        }
    }
    > header {
        color: $pepper-grey-text;
        @include container(90%);
        @include breakpoint($tablet) {
            @include container;
        }
    }
    > div.swipe-slider {
        @include container;
        display: table;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
    }
    .porthole {
        position: relative;
        margin-bottom: 40px;
        &.grey-out {
          opacity: 0.25;
        }
        > a {
            display: block;
            color: $pepper-grey-text;
            &:hover:not(.grey-out) {
                figcaption {
                    color: $red;
                }
            }
        }
        ul {
            list-style: disc;
            list-style-type: disc;
        }
        ol {
            list-style: decimal;
            list-style-type: decimal;
        }
        ul, ol {
            margin: 10px auto;
            padding: 0;
            margin-left: 20px;
        }
        li {
            line-height: 1.6em;
        }
        p, li {
            word-break: break-word;
            word-wrap: break-word;
        }
        article {
            @include container(90%);
            @include breakpoint($tablet) {
                @include container(90%);
            }
        }
        p {
            padding-bottom: 10px;
            text-align: center;
            &:last-of-type {
                padding-bottom: 0;
            }
            > a {
                color: $red;
                &:hover {
                    color: lighten($red, 15);
                }
            }
        }
        fieldset.button-group {
            position: static;
            @include breakpoint($tablet) {
                position: relative;
                bottom: 0;
                width: 100%;
                max-width: 100%;
                margin-bottom: 0;
            }
        }
    }
    figure {
        @include clearfix;
        width: 100%;
        padding-bottom: 15px;
        min-height: 193px;
        @include breakpoint($tablet) {
            padding-bottom: 0;
        }

        img {
            @include container($thumbsize-mobile);
            width: $thumbsize-mobile;
            display: block;
            @include breakpoint($tablet) {
                @include container($thumbsize-tablet);
                width: $thumbsize-tablet;
                display: inherit;
            }
        }
        figcaption {
           @extend %porthole-item-title;
        }
    }
    &:not(.has-swipe):not(.three-columns):not(.two-columns) {
        .porthole {
            @include container(90%);
            display: block;
            @include breakpoint($desktop) {
                display: table-cell;
                @include span(1 of 4);
                padding: 0;
                &:nth-child(odd) {
                    clear: none;
                }
                &:nth-child(5) {
                    clear: left;
                }
            }
        }
    }
    &.has-swipe:not(.three-columns):not(.two-columns):not(.desktop-swipe) {
        .porthole {
            @include span(1 of 1 0);
            margin: 20px 40px 0;
            -moz-transition: margin 0.3s ease;
            -o-transition: margin 0.3s ease;
            -webkit-transition: margin 0.3s ease;
            transition: margin 0.3s ease;
            @include breakpoint($mobile-landscape) {
                @include span(1 of 2);
                &:nth-child(odd) {
                    clear: left;
                }
            }

            @include breakpoint($desktop) {
                @include span(1 of 4);
                &:nth-child(odd) {
                    clear: none;
                }
                &:nth-child(5) {
                    clear: left;
                }
            }
        }
        //porthole
        .slick-next, .slick-prev {
            @include breakpoint(0 960px) {
                top: 80px;
                //&:before {
                    //font: normal normal normal 1.2rem/1.4em FontAwesome;
                //}
            }
        }
        //MB-2623
        // .slick-next {
        //     right: -10px;
        // }
        // .slick-prev {
        //     left: -10px;
        // }
    }
    &.desktop-swipe {
        .slick-dots {
            bottom: 0;
            li button:before {
                @include font-size(24px);
                content: '\25CB';
            }
            .slick-active button:before {
                color: $pepper-red;
                font-size: 46px !important;
                content: '\2022';
            }
        }
        .slick-next {
            @include breakpoint($desktop) {
                right: -63px;
                top: 125px;
            }
        }
        .slick-prev {
            @include breakpoint($desktop) {
                left: -63px;
                top: 125px;
            }
        }
    }
    &.three-columns:not(.desktop-swipe) {
        .porthole {
            @include span(1 of 1 0);
            @include breakpoint($mobile-landscape) {
                @include span(1 of 2);
                &:nth-chil(odd) {
                    clear: left;
                }
            }

            @include breakpoint($desktop) {
                @include span(1 of 3);
                &:nth-child(odd) {
                    clear: none;
                }
                &:nth-child(4), &:nth-child(7) {
                    clear: left;
                }
            }
        }
    }
    &.two-columns:not(.desktop-swipe) {
        .porthole {
            @include span(1 of 1 0);
            @include breakpoint($desktop) {
                @include span(1 of 2 1em);
            }
        }
    }
    .slick-slider {
        position: relative;
        display: block !important;
        .porthole {
            display: block !important;
        }
    }
    .slick-list {
        @include container;
    }
    //flex implementation
    &:not(.desktop-swipe):not(.porthole-two-column) {
        @include breakpoint($tablet) {
            > div.swipe-slider {
                display: flex;
                    flex-wrap: wrap;
                .porthole {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 60px !important;
                    img {
                        max-height: 142px;
                        display:block;
                    }
                    >a {
                        display: flex;
                        flex-wrap:nowrap;
                        flex-direction:column;
                        width:100%;
                        max-width: 100%;
                    }
                    figure, figcaption, article {
                        align-self: flex-start;
                    }
                    fieldset {
                        align-self: flex-end;
                    }
                }
            }
        }

        //only tablets
   
    }
    // no desktop-swipe
}

.porthole-feature.has-swipe:not(.desktop-swipe) {
    .slick-dots {
        bottom:-11px;
    }
    .slick-dots li button:before {
        font-size: 16px;
    }
}

//MB-2624 Due to new script
.slick-next, .slick-prev {
    z-index: 9999;
}

.porthole-item {
    #{headings()} {
    @extend %porthole-item-title
   }
   figure {
    min-height: auto;
   }
   > p {
    text-align: center;
   }
   > p, figure, fieldset {
    @include container(90%);
   }
   > ul {
    @include container(90%);
    margin-bottom: 30px;
    @include breakpoint($tablet) {
        @include container(80%);
    }
   }
}

.align-left {
    text-align: left !important;
    * {
       text-align: left !important; 
    }
    figure img {
        margin:0 !important;
    }
}