$press-release-figure-max-width: $thumbsize-tablet;
$press-release-h3-font-size: 1.2rem;

section.press-release {
  @include container(12);
  @include blade;

  > div.articles {
    @include container(90%);

    @include breakpoint($desktop) {
      @include span(8 of 12 0);
    }

    > article {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $border-color;
      @include clearfix();

      &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
        padding-bottom: 0;
      }

      @include breakpoint($desktop) {
        padding-bottom: 40px;
        margin-bottom: 40px;
      }
    }

    > article > figure {
      @include container(50%);
      max-width: $press-release-figure-max-width;
      margin: 0 auto 20px auto;

      @include breakpoint($desktop) {
        @include span(1 of 3 0);

        margin-right: 40px;
        margin-bottom: 0;
      }

      img {
        display: block;
      }
    }

    > article > div.content {
      @include container(100%);

      @include breakpoint($desktop) {
        @include span(2 of 3 0);
      }

      header {
        h3 {
          font-size: $press-release-h3-font-size;
          line-height: 1.25;
        }
        small.date {
          font-size: 1rem;
          margin-top: 10px;
          display: block;
          color: darken($grey, 30%);
        }
      }

      p {
        margin: 10px 0;
      }

      footer {
        margin: 10px 0 0 0;

        a.read-more i[class^='fa'] {
          color: $red;
          font-size: 0.7rem;
          margin: 0 0 0 10px;
        }
      }
    }

    > article.page-navigation {
      border-bottom: none;
      padding-bottom: 0;

      .pagination {
        margin-bottom: 0;
      }
    }
  }

  > aside.archive {
    @include container(90%);

    margin-top: 40px;

    @include breakpoint($desktop) {
      @include span(4 of 12 0);
      padding-left: 50px;
      margin-top: 0;
    }

    h3 {
      font-size: 1rem;
      text-transform: uppercase;
      background-color: darken($ivory, 10%);
      padding: 15px 25px;
    }

    label[for^='archive-year-'] {
      display: block;
      cursor: pointer;
      padding: 15px 25px;

      i[class^='fa'] {
        color: $red;
        font-size: 0.8rem;
        margin-left: 5px;
      }
    }

    input[id^='archive-year-'] {
      ~ label i[class^='fa']:before {
        content: '\f054';
      }

      ~ ul {
        display: none;
      }

      &:checked ~ label i[class^='fa']:before {
        content: '\f078';
      }

      &:checked ~ ul {
        display: block;
      }
    }

    li.archive-year {
      margin: 2px 0;
      background-color: $ivory;
    }

    li.archive-month {
      border-top: 1px solid white;

      a, span.notice {
        color: $print;
        text-transform: uppercase;
        font-size: 0.7rem;
        padding: 20px 25px;
        display: block;
        span {
          color:$pepper-red;
          margin-right: 6px;
        }
      }

      a:hover {
        color: $red;
      }
    }
  }
}