.promo-banner {
    @include backImage("//placehold.it/");
    padding: 40px 0;
    @include breakpoint($mobile-landscape) {
        padding: 80px 0;
    }
    &.with-overlay {
        position:relative;
        &:before {
            content:' ';
            position: absolute;
            width:100%;
            height: 100%;
            left:0;
            top:0;
            background-color: $overlay;
        }
    }

    > article {
        @include container(90%);
        position: relative;
        @include breakpoint($mobile-landscape) {
            @include container;
        }

        content, figure {
            display: inline-block;
        }
        content {
            @include span(1 of 1 0 omega);
            @include breakpoint($mobile-landscape) {
                @include span(2 of 3);
                @include vertical-align(20%);
            }
            @include breakpoint($tablet) {
             @include vertical-align(50%);   
            }
        }
        figure {
            @include span(1 of 1);
            padding-bottom: 20px;
            margin-top: 0;
            @include breakpoint($mobile-landscape) {
                @include span(1 of 3 omega);
                padding-bottom: 0;
            }
        }
    }
    h4, p, em {
        color: #fff;
        margin:0;
    }
    a, button, h4, p, em {
        text-align: center;
        @include breakpoint($mobile-landscape) {
            text-align: left;
        }
    }
    h4 {
        padding-bottom: 10px;
    }
    fieldset {
        text-align: center;
        max-width: 100%;
        @include breakpoint($mobile-landscape) {
            max-width: auto;
            text-align: left;
        }

        .in-button-group {
            text-align: center;
        }
        &.button-group {
            .in-button-group {
                @include breakpoint(0 $mobile) {
                    margin: 0;
                    margin-left: auto;
                    margin-right: auto !important;
                    max-width: 80%;
                }
            }
        }
    }
}