.radio-choice {
    width: 100%;
    @include container(100%);

    label{
    	width: 100%;
	    text-align: left;
	    position: relative;
	    display: block;
    	cursor: pointer;

    	input[type=radio]{
			display: none;
    	}
    	:checked ~ .radio-option:first-of-type {
        	background-color: $pepper-green-dark;
        	color:#fff;
        	&:before {
	            border: none;
			    height: 10px;
			    top: 40%;
			    border-left: 4px solid #fff;
			    border-bottom: 4px solid #fff;
			    @include transform(rotate(-45deg));
	        }
	    }
    	
    	.radio-option{
			display: block;
			position: relative;
			width:100%;
			height:100%;
			padding: 20px 20px 20px 60px;
			border-top: 1px solid $border-color;
			border-left: 1px solid $border-color;
			border-right: 1px solid $border-color;
			background-color: #fff;
			&:before {
				content: '';
				position: absolute;
			    top: 33%;
			    left: 20px;
			    width: 20px;
			    height: 20px;
			    border: 1px solid $border-color;
			    display: block;
			    @include transition(all 0.35s ease);
			}
			&:hover {
	        	background-color: $pepper-steel;
	        	color:#fff;
	        }
			
    	}//.radio-option

    	&:first-child{
    		.radio-option{
    			border-top: 1px solid $border-color;
				border-left: 1px solid $border-color;
				border-right: 1px solid $border-color;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
    		}
				
		}
		&:last-child{
    		.radio-option{
    			border: 1px solid $border-color;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
    		}
				
		}

    }//label
}//.radio-choice