//Range Slider
.form-range-slider {
  @include container(65%);
  height: 225px;
  @include breakpoint(0 $mobile-landscape) {
    height: 130px;
    margin-bottom: 60px;
    //iphone 6 margin bottom
    // margin-bottom: -30px;
  }
  @include breakpoint($desktop) {
    @include container(35em);
  }
  legend {
    margin-bottom: 20px;
    margin-left: -16.5%;
    padding-top: 10px;
    text-align: center;
    @include breakpoint($mobile-landscape) {
      margin-left: -8.5%;
    }
  }
  .slider-wrapper {
    margin-left: -5%;
    margin-top: 110px;
    @include breakpoint(0 320px) {
      margin-top: 92px;
    }

    @include breakpoint(321px $mobile-landscape) {
      //margin-top: 55px;
    }

    @include breakpoint($mobile-landscape) {
      margin-left: -9%;
    }

    .display-box {
      margin-top: -80px;
      background-color: #fff;
      max-width: 60%;
      @include breakpoint($desktop) {
        max-width: 45%;
        left:-65px; //initial value;
      }

      /* padding: 2%; */
      display: none; //initialize in powerrange;
      position: relative;
      border: 1px solid #d7d7d7;
      @include box-shadow(darken(#eee, 25%) 0px 1px 2px);
      @include breakpoint(0 $mobile-landscape) {
        max-width: 100%;
      }

      @include breakpoint($mobile-landscape) {
        max-width: 160px;
      }

      @include breakpoint(0 959px) {
        margin-left: auto;
        margin-right: auto;
      }

      &:after, &:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #fff;
        border-width: 7px;
        margin-left: -8px;
      }
      &:before {
        border-color: rgba(215, 215, 215, 0);
        border-top-color: #d7d7d7;
        border-width: 5px;
        margin-left: -5px;
      }
      input {
        border: none;
        // @include fontHelveticaLt;
        @include font-size(27px);
        width: 80%;
        margin: 0;
        //reset general input value
        padding: 0;
        //reset general input value
        margin-top: -4px;
        padding-left: 5px;
        background: none;
        padding-top: 4px;
        outline: none !important;
      }
      span.currency-symbol {
        width: 20%;
        float: left;
        color: $pepper-steel;
        height: 101%;
        background: #d7d7d7;
        display: inline-block;
        padding: 9px;
        padding-right: 10px;
        text-align: center;
        @include font-size(18px);
        line-height:1.25em;
      }
    }
  }
  .slide-error {
    display: none;
    color: $pepper-red;
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 30px;
    @include breakpoint($desktop) {
      margin-top: 40px;
    }
  }
}

.range-min, .range-max {
  display: none;
  @include breakpoint($desktop) {
    display: inline-block;
    top: -8px;
  }
}

.range-bar {
  @include border-radius(16px);
  height: 16px;
  @include breakpoint(0 939px) {
    width: 120% !important;
    left: -10%;
  }
}
