.rate-tabs {

    @include clearfix;
    @include blade;

    .container {
        @include container(90%);
        @include breakpoint($desktop) {
            @include container(12);
        }
        h2 {
            padding-bottom: 20px;
            line-height: 1.25em;
        }
        p:first-of-type {
            padding-top: 20px;
        }
    }
    .main-tabs {
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        @include clearfix;
        a {
            padding: 10px;
            @include border-radius(4px);
            text-align: center;
            @include container;
            display: block;
            margin-bottom: 5px;
            @include breakpoint($tablet) {
                @include span(1 of 3);
                margin-bottom: 0;
            }

            //tablet query
       
        }
        //anchor
   
    }
    //menu
    .tabs-swipe {
        @include clearfix;
        display:none;
        &.active {
            display:block;
        }
        &.two {
          >div {
             @include span(1 of 2 0);
          }
        }
        &:not(.two) {
          >div {
             @include span(1 of 4 0);
          }
        }
        > div {
            display: block;
            //@include breakpoint($tablet) {
           
            //}
            a {
                display: block;
                padding: 10px;
                background-color: #eee;
                border-right: 1px solid $white;
                border-bottom: 1px solid $white;
                text-align: center;
                width: 100%;
                @include border-top-radius(6px);
                &.active {
                    border-bottom: none;
                    padding-bottom: 11px;
                }
            }
            &:last-of-type {
                a {
                    border-right: none;
                }
            }
        }
    }
    //tabs-swipe
    .table-header {
                display:none;
        &.active {
            display:block;
        }
        h3 {
            padding: 10px 0;
            @include font-size(20px);
            @include container(90%);
        }
    }
    .prod-header, .prod-rate {
        display:none;
        &.active {
            display:block;
        }
    }
    .rate-table {
        @include clearfix;
        width: 100%;
        margin-top: 1px;
        display:none;
        &.active {
          display:table;  
        }
        li.table-head {
            background-color: #818181;
            color: $white;
            display: table-row;
            width: 100%;
            dd,dt {
              color: $white;
              @include font-size(11px);
              @include breakpoint($tablet) {
                @include font-size(16px);
              }
            }
        }
        li {
          @include clearfix;
          dl {
            display:block;
            margin:0;
            padding:0;
          }
            dt, dd {
                display: inline-block;
                padding:8px 3px;
                color:$print;
                @include span(1 of 4 0);
                text-align: center;
                overflow:hidden;
                @include breakpoint($tablet) {
                    padding: 10px;
                }

            }
            dd:last-child {
                a {
                    i {
                        color:$bg-dark;
                        @include font-size(16px);
                    }
                    span {
                        margin-left: 10px;
                        color:$red;
                        @include breakpoint(0 640px) {
                            display:block;
                            width:100%;
                            margin-left: 0;
                            margin-top:5px;
                            clear:both;  
                            @include font-size(12px);
                        }
                    }
                    &:hover {
                        i {
                            color:$red;
                        }
                    }
                }
            }
        }
    }
}

//tabs colours
$tabscolours: ("green", $green-dark), ("orange", $orange), ("red", $red);

@each $class, $color in $tabscolours {
    .main-tabs .#{$class} {
        background-color: #eee;
        color: $print;
        &:hover {
            &.#{$class} {
                background-color: lighten($color, 8);
                color: $white;
            }
        }
        // @include breakpoint($tablet) {
        //     background-color: $color;
        //     color: $white;
        //     &:hover {
        //         background-color: lighten($color, 8);
        //     }
        // }
    }
    //for desktop
    .main-tabs .#{$class}.active {
        background-color: $color;
        color: $white;
        &:hover {
            background-color: lighten($color, 8);
        }
    }
    .tabs-swipe.#{$class} {
        > div {
            a {
                background-color: lighten($color, 10);
                color: $white;
                &.active {
                    background-color: $color;
                    color: $white;
                    cursor: default;
                }
                &:hover:not(.active) {
                    background-color: lighten($color, 8);
                }
            }
        }
    }
    .table-header.#{$class} {
        background-color: $color;
        color: $white;
        text-align: center;
    }
    
}

.rate-table li:not(.table-head) {
      &:nth-child(odd) {
        background-color: darken(#F3EFEC,1%);
      }
      &:nth-child(even) {
        background-color: lighten(#F3EFEC, 2%);
      }
    }