.search-results {
    @include blade;

    > .container {
        @include container(90%);

        @include breakpoint($desktop) {
            @include container(12);
        }
    }

    h2 {
        margin-bottom: 30px;
    }

    > .container > ul {
        margin: 0;
        padding: 0;

        h3 {
            font-weight: 300;
            font-size: 1.5rem;
        }

        a {
            padding: 30px 0;
            border-bottom: 1px solid $border-color;
            display: block;
        }
    }
}

/*overidding CSS from default google*/
#customGoogleSearchDIV, .search-results>.container {
    div {
        font-family: $fontfamily !important;
        text-decoration: none !important;

        a {
            text-decoration: none !important;
            color: $pepper-red !important;
        }

        b {
            text-decoration: none !important;
        }
    }

    /*hidding google's search box, adds and google branding info, short urls*/
    .gsc-search-box, .gsc-adBlock, .gcsc-branding, .gs-webResult div.gs-visibleUrl-short, .gsc-above-wrapper-area {
        display: none;
    }

    .gsc-adBlockNoHeight {
        height: 0px !important;
    }

    /*search result info section*/
    .gsc-result-info {
        color: $black;
        font-weight: bold;

        @include font-size(18px);

        font-style: italic;
    }

    /*search result sections*/
    .gsc-results-wrapper-nooverlay {
        .gsc-url-top {
            padding-bottom: 10px;
        }

        .gsc-webResult .gsc-result {
            border-bottom: 1px solid $border-color !important;
            padding: 25px 0;
            padding-left: 5px;
        }
    }

    .gs-result {
        /*title of searched page*/
        .gs-title {
            height: auto;
            b {
                color: #DF0024 !important;
            }
        }

        /*description snippet of searched page*/
        .gs-snippet {
            @include font-size(15px);

            padding: 5px 0;
        }

        /*url of searched page*/
        .gsc-url-bottom {
            .gs-visibleUrl-long {
                display: block !important;
                color: lighten($pepper-grey-text, 40%);

                @include font-size(15px);
            }
        }
    }

    .gsc-results {
        /*bottom pagination section*/
        .gsc-cursor-box {
            padding-top: 25px;
        }

        /*searched page's image section*/
        .gs-web-image-box, .gs-promotion-image-box {
            width: 100px !important;

            img.gs-image, img.gs-promotion-image {
                max-width: 100%;
                border: none;
            }
        }
    }
    .gsc-cursor-page {
                display: inline-block !important;
                width: 41px;
                text-align: center;
                padding: 13px;
                @include border-radius(50%);
                padding-right: 15px;
                @include transition(all, 0.35s, ease);
                @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
                background-color: $white;
                color: #646464 !important;
                font-family: $fontfamily;
                line-height: 0.95em;
                font-size: 0.8rem;
                font-weight: 700;
                border: 1px solid $pepper-steel;
                &:not(.gsc-cursor-current-page) {
                    &:hover, &:focus {
                        background-color: $pepper-steel;
                        color: #fff !important;
                    }    
                }
                &.gsc-cursor-current-page {
                     background-color: $pepper-red;
                    border-color: $pepper-red;
                    color: #fff !important;
                    cursor: default;
                }
    }
}

/*#customGoogleSearchDIV*/

.epi-find {
    @include blade;
    border-bottom: 1px solid #CCC !important;
    padding: 25px 0 !important;

    figure {
        max-width: 100px;
        float: left;
        margin-right: 15px;

        a {
            display: inline-block;
        }

        img {
            min-width: 100px;
        }
    }

    content {
        float: left;
        width: calc(100% - 115px);
    }

    h2 {
        color: #DF0024 !important;
        font-size: 22px;
        font-size: 1.375rem;
        padding: 2px 0;
    }

    p {
        font-size: 15px;
        font-size: 0.9375rem;
        padding: 4px 0;
        line-height: 1.2em;
    }

    footer {
        a {
            display: block !important;
            color: gray;
            font-size: 15px;
            font-size: 0.9375rem;
        }
    }
}

.gsc-cursor-box {
    @include blade;
}