.server-errors {
    @include blade;
    header {
        margin-bottom: 0;
        h4 {
            color:$red;
            @include font-size(24px);
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 10px;
        }
    }
    ul, header {
    @include container(90%);
        @include breakpoint($tablet) {
            @include container;
        }
    }
    li {
        font-size: 0.85rem;
        line-height: 1.2em;
        margin-bottom: 10px;
        padding-left: 34px;
        text-align: left;
        position: relative;
        color: #fff;
        padding:10px 10px 10px 48px;
        color: #fff;
        &:last-child {
            margin-bottom: 0;
        }
        &:before {
            font-family: FontAwesome;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 10px;
            top: 10px;
            padding-left: 4px;
            padding-top: 1px;
            @include font-size(20px);
            content: '\f071';
        }
        &.form-error {
            background-color: darken($pepper-yellow, 22%);
        }
        &.form-warn {
            background-color: $pepper-orange;
        }
        &.form-info {
            background-color: $pepper-blue;
        }
        &.form-fatal {
            background-color: $pepper-red;
        }
        &.form-error:before {
            content: '\f071';
        }
        &.form-warn:before {
            content: '\f071';
        }
        &.form-info {
            &:before {
                content: '\f05a';
            }
        }
        &.form-fatal:before {
            content:"\f00d";
            color: #fff;
        }
    }
}