#shortForm {
    background: #eee;
}

.short-form {
    // margin-top: -20px;
    padding-top: 20px;
    height: 100%;
    background-color: rgb(238, 238, 238);
}

.short-form {
    @include breakpoint($desktop) {
        padding: 20px 0;
    }
}

.slides-wrapper {
    @include container(90%);

    min-height: 120px;
    overflow: hidden;
    position: relative;
    margin-bottom: 32px;

    .slides-container {
        position: absolute;
        left: 0;
        top: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        &.transition-left {
            // -webkit-transition: left .2s ease-in;
            // -moz-transition: left .2s ease-in;
            // -o-transition: left .2s ease-in;
            // transition: left .2s ease-in;
            -webkit-transition: transform 300ms ease;
            -moz-transition: transform 300ms ease;
            -o-transition: transform 300ms ease;
            transition: transform 300ms ease;
        }

        .slide {
            float: left;
            min-height: 120px;
            visibility: hidden;
            display: block;

            &.active {
                visibility: visible;
                display: block;
            }

            > h1, > h2, > h3, > p, > q, button, div {
                text-align: center;
            }

            h1 {
                @include font-size(28.8px);

                padding: 10px 0 20px 0;
                margin: auto;
            }

            img {}

            h2 {
                @include container(75%);
                @include font-size(16px);

                line-height: 1.4rem;
                font-family: $fontheadingsbold;
                padding-bottom: 20px;
            }

            a.page-scroll-button {
                margin: 20px auto;
                display: block;
                width: 200px;
                text-align: center;
                background-color: #eee;
                border: 1px solid lighten($pepper-teal, 5%);
                color: $pepper-teal;
                padding: 15px;

                @include border-radius(30px);
            }

            p:not(.error), legend, dt > label {
                @include font-size(16px);

                line-height: 1.2em;
                font-family: $fontfamily;
            }

            p:not(.error) {
                max-width: 640px;
                margin: auto;
                margin-bottom: 15px;
                padding: 10px;
            }

            p.disclaimer {
                font-size: 0.8rem;
                text-align: left;
                display: block;
                clear: both;
                margin: 20px auto;
            }

            p.hint {
                font-size: 1.0rem;
                padding: 0;
            }

            p.error {
                float: left;
                color: $pepper-red;
                text-align: left;
                padding: 10px;
                margin: 0;
                width: 100%;
                font-weight: 700;
                letter-spacing: 0.0625em;
            }

            small.disclaimer {
                @include container(80%);
                @include clearfix;

                p {
                    font-size: 0.8rem;
                    color: lighten($pepper-teal-grey, 25%);
                    text-align: center;
                    margin: 0 auto;
                    padding-top: 40px;
                }
            }

            q {
                color: darken(#eee, 12%);
                text-transform: uppercase;
                font-size: 0.75rem;
                max-width: 475px;
                margin: auto;
                display: block;
                margin-top: 20px;
            }

            blockquote {
                margin: 20px auto;
                display: block;
                width: auto;
                text-align: center;
                color: red;
                font-size: 2.2rem;

                @include breakpoint($desktop) {
                    width: 50%;
                    font-size: 3.2rem;
                }
            }

            fieldset.large {
                float: none;
            }

            fieldset.button-group {
                //MB-2884
                @include container(100%);

                button, a.in-button-group {
                    &:first-of-type {
                        margin-bottom: 20px;
                    }
                    @include breakpoint(0px 450px) {
                        height: 47px;
                        width: 99%;
                    }
                }
            }
        }
    }
}

//MB-2884
.app-content > .short-form .form-steps > h1 {
    @include breakpoint(0px 410px) {
        margin-top: -5px;
        padding-top: 0;
    }
}

.shortform-icon {
    //MB-2884
    width: 110px;
    min-height: 110px;
    max-width: 110px;
    height: auto;

    @include breakpoint($tablet) {
        width: 120px;
        min-height: 120px;
        max-width: 120px;
        height: auto;
    }


    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.form-questions {
    @include container(85%);

    margin: 12px auto;

    legend, fieldset {
        @include clearfix;
    }

    //i.e. min 640px
    @include breakpoint($mobile) {
        @include container(75%);

        legend {
            @include span(7 of 12);
        }

        fieldset {
            @include span(5 of 12 last 0);
        }
    }
}

.form-questions, .short-form {
    legend, dt > label {
        // font-size: 1.3rem;
        // line-height: 1.2em;
        // color: $pepper-teal;
        padding-top: 3px;
        display: inline-block;

        @include breakpoint(0 639px) {
            padding-bottom: 10px;
        }
    }

    &.year-month {
        dd {
            input, label {
                @include span(1 of 4);
            }

            label {
                height: 3.0em;
                line-height: 3.2em;
            }
        }
    }
}

.currency-mark {
    dd {
        position: relative;
        overflow: visible;

        &:before {
            position: absolute;
            content: '$';
            font-family: $fontheadingsbold;
            background-color: darken(#eee, 5%);
            width: 42px;
            height: 42px;
            text-align: center;
            color: darken(#eee, 35%);
            padding-top: 10px;
            font-size: 1.2rem;
            padding-right: 3px;
            left: 1px;
            top: 5px;
        }

        input {
            padding-left: 50px !important;
        }
    }
}

//Range Slider
//commenting it since these styles is already part of range-slider.scss
/*
.form-range-slider {
    @include container(65%);
    height: 225px;
    @include breakpoint(0 $mobile) {
        height: 130px;
        margin-bottom: 60px;
        //iphone 6 margin bottom
        // margin-bottom: -30px;
    }

    @include breakpoint($desktop) {
        @include container(35em);
    }

    legend {
        margin-bottom: 20px;
        margin-left: -16.5%;
        padding-top: 10px;
        text-align: center;
        @include breakpoint($mobile) {
            margin-left: -8.5%;
        }
    }
    .slider-wrapper {
        margin-left: -5%;
        margin-top: 110px;
        @include breakpoint(0 320px) {
            margin-top: 92px;
        }

        @include breakpoint(321px $mobile) {
            //margin-top: 55px;
        }

        @include breakpoint($mobile) {
            margin-left: -9%;
        }

        .display-box {
            margin-top: -80px;
            background-color: #fff;
            max-width: 60%;
            @include breakpoint($desktop) {
                max-width: 45%;
                left: -65px;
                //initial value;
            }*/

/* padding: 2%; */
           /* display: none;
            //initialize in powerrange;
            position: relative;
            border: 1px solid #d7d7d7;
            @include box-shadow(darken(#eee, 25%) 0px 1px 2px);
            @include breakpoint(0 $mobile) {
                max-width: 100%;
            }

            @include breakpoint($mobile) {
                max-width: 160px;
            }

            @include breakpoint(0 959px) {
                margin-left: auto;
                margin-right: auto;
            }

            &:after, &:before {
                top: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            &:after {
                border-color: rgba(255, 255, 255, 0);
                border-top-color: #fff;
                border-width: 7px;
                margin-left: -8px;
            }
            &:before {
                border-color: rgba(215, 215, 215, 0);
                border-top-color: #d7d7d7;
                border-width: 5px;
                margin-left: -5px;
            }
            input {
                border: none;
                // @include fontHelveticaLt;
                @include font-size(24px);
                width: 77%;
                margin: 0;
                //reset general input value
                padding: 0;
                //reset general input value
                margin-top: -4px;
                padding-left: 5px;
                background: none;
                padding-top: 4px;
                outline: none !important;
            }
            span.currency-symbol {
                width: 20%;
                float: left;
                color: $pepper-steel;
                height: 101%;
                background: #d7d7d7;
                display: inline-block;
                padding: 9px;
                padding-right: 10px;
                text-align: center;
                font-size: 1.2rem;
            }
        }
    }
    .slide-error {
        display: none;
        color: $pepper-red;
        text-align: center;
        max-width: 75%;
        margin: 0 auto;
        margin-top: 30px;
        @include breakpoint($desktop) {
            margin-top: 40px;
        }
    }
}*/

.range-min, .range-max {
    display: none;

    @include breakpoint($desktop) {
        display: inline-block;
        top: -8px;
    }
}

.range-bar {
    @include border-radius(16px);

    height: 16px;

    @include breakpoint(0 939px) {
        width: 120% !important;
        left: -10%;
    }
}

.slide[data-nav='StepReferral'] {
    .button-group {
        button {
            @include breakpoint($desktop) {
                margin-right: 36px !important;
            }
        }

        button, a.in-button-group {
            margin-right: 36px !important;
            margin-top: 10px;
            margin-bottom: 0;
            white-space: nowrap;
            display: inline-block;
        }

        a.in-button-group {
            border: none !important;
        }
    }
}

.slide[data-nav='StepFinish'] {
    .button-group {
        @include breakpoint($desktop) {
            margin-top: 40px !important;
        }


        > a:first-of-type {
            margin-top: 1px;
        }

        button, a.in-button-group {
            margin-right: 36px !important;
            margin-top: 10px;
            margin-bottom: 0;
            white-space: nowrap;
            display: inline-block;

            &.start-again {
                margin-right: 0 !important;
            }
        }

        a.in-button-group {
            border: none !important;
        }
    }
}

.form-steps {
    ul {
        margin-top: 20px;
        margin-bottom: 20px;

        @include container(95%);

        overflow: hidden;
        height: 22px;

        @include breakpoint($desktop) {
            @include container(12);

            height: auto;
        }


        padding: 0;
        background-color: $stepsnav-bg;

        @include border-radius(10px);

        li {
            @include span(2 of 12);

            padding: 0;
            position: relative;

            @include breakpoint(0 $mobile) {
                width: 16.66%;
                float: left;
                margin: 0;
            }


            a {
                font-family: $fontfamily;
                font-weight: 300;
                line-height: 0.95em;
                display: inline-block;
                width: 100%;
                height: 100%;
                text-align: center;
                color: #666;
                text-transform: uppercase;
                -webkit-transition: all 0.25s ease-in-out;
                -moz-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
                padding: 5px 0;
                font-size: 0.7rem;

                @include breakpoint(0 $mobile) {
                    border-right: 1px solid #fff;
                    height: 24px;
                }


                &:not(.back-link):hover {
                    cursor: default;
                }

                &.back-link:hover {
                    color: $pepper-red;
                }

                &.active {
                    @include breakpoint(651px) {
                        @include border-radius(10px);
                    }


                    background-color: $pepper-green-dark;
                    color: #fff;
                    text-decoration: none;
                }

                span {
                    display: none;

                    @include breakpoint($desktop) {
                        display: block;
                    }
                }
            }

            //a
            // &:after {
            //   content: '\2022';
            //   position:absolute;
            //   right:0;
            //   top:0;
            //   &:last-child {
            //     content: '';
            //   }
            // }
            &:last-child {
                a {
                    border-right: none;
                }
            }
        }

        //li
   
    }
}

.cols-2-lg-sm {
    padding: 0;

    dl {
        @include clearfix;

        margin-bottom: 14px;
    }

    &.short-form {
        @include container(12);
        @include breakpoint(0 639px) {
            @include container(99%);
        }


        input:not([type=checkbox]):not([type=radio]) {
            background-color: rgba(255, 255, 255, 0.4);

            @include transition(background-color 0.25s ease);

            &:focus {
                background-color: rgba(255, 255, 255, 0.9);
            }
        }

        @include breakpoint(640px) {
            dt {
                @include span(7 of 12);
            }

            dd {
                @include span(5 of 12 last 0);
            }
        }
    }

    //short-form grid
    &.general {
        @include container(12);
        @include breakpoint(640px) {
            dt {
                @include span(8 of 12);
            }

            dd {
                @include span(4 of 12 last 0);
            }
        }
    }

    //general grid
}

.slide[data-nav=StepContact], .slide[data-nav=StepResult], .slide.contact-form {
    @include breakpoint(640px) {
        dt {
            @include span(4 of 12);
        }

        dd {
            @include span(8 of 12 last 0);
        }
    }
}

/*
 * The Expandable Component:
 *   - Show expandable content. The content is collapsed by default.
 *   - Header contains:
 *       - Title
 *       - (Optional) Icon
 *       - (Optional) Button to expand/collapse the main content
 */
.expandable {
    border: 1px solid #DF0024;
    margin-top: 20px;
    background: $white;

    @include border-radius(4px);

    > header {
        cursor: pointer;
        height: 49px;
        position: relative;
        overflow: hidden;

        > .icon {
            padding: 15px;
            font-weight: bold;
            position: absolute;
            left: 0;
            top: 0;

            i {
                color: $red;

                @include font-size(20px);
            }
        }

        > h4 {
            position: absolute;
            top: 0;
            left: 40px;
            padding: 17px 10px;

            @include font-size(14px);

            white-space: nowrap;
            overflow: hidden;

            @include breakpoint($mobile) {
                padding: 15px 2px;
            }
        }

        > .expand-btn {
            position: absolute;
            top: 2px;
            right: 0px;
            padding: 13px 15px;

            @include font-size(14px);

            i {
                @include font-size(14px);

                position: absolute;
                left: -4px;
                top: 14px;
                color: $red;
            }

            > span:first-child {
                display: none;
            }

            > span:nth-child(2) {
                display: inline-block;
            }

            > span > label {
                cursor: pointer;
                display: none;
            }

            display: inline-block;

            @include breakpoint($narrow) {
                display: inline-block;

                > span > label {
                    display: none;
                }
            }


            @include breakpoint($mobile) {
                > span > label {
                    display: inline-block;
                }
            }
        }
    }

    > content {
        padding: 20px;
        border-top: 1px solid #DF0024;
        display: none;
    }

    &.expanded {
        > header > .expand-btn {
            > span:first-child {
                display: inline-block;
            }

            > span:nth-child(2) {
                display: none;
            }
        }

        > content {
            display: inline-block;
        }
    }
}

.disclaimer-expandable {
    .expandable {
        @include container(90%);
        @include breakpoint($desktop) {
            max-width: 570px;
        }
    }
}

.ghost-style {
    .expandable {
        background-color: transparent;
        border: 1px solid #ccc;
        margin-top: -20px;
        content {
            border-top-color: #ccc;
        }
    }
    header {
        .icon {
            display: none;
        }

        h4 {
            left: 12px;
        }
    }
}