.shortform-slider {
  &:not(.within-form) {
    @include backImage("//placehold.it", to bottom, 0, 0);
    background-color: $pepper-light-grey;
    padding: 40px 0;
    @include breakpoint($desktop) {
      padding: 90px 0;
    }

    header {
      h2 {
        font-family: $fontfamily;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 1.2em;
      }
      h3 {
        font-family: $fontfamily;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1.4em;
        padding: 20px 0;
      }
      @include container(100%);
      text-align: center;
      @include breakpoint($desktop) {
        @include container(12);
        p {
          max-width: 90%;
          margin: 0 auto;
        }
      }
    }
  }
  //not within form
  //header
  &:not(.new-cta):not(.within-form) {
    @include breakpoint(0 939px) {
      background-image: none !important;
    }

    header {
      @include container(100%);
      text-align: center;
      @include breakpoint($desktop) {
        @include container(12);
        p {
          max-width: 50%;
          margin: 0 auto;
        }
      }
    }
    //header

  }
  &.new-cta {
    display: inline-block;
    width: 100%;
    margin-bottom: -5px;
    background-position: center center;
    @include breakpoint($desktop 1024px) {
      background-size: 100% 100%;
    }

    @include breakpoint(1100px) {
      background-size: 100% 100%;
      //background-position: 0 -260px;
    }

    header {
      p {
        @include breakpoint($desktop) {
          margin-top: 40px;
        }
      }
    }
    .cta-wrapper {
      @include container(90%);
      @include breakpoint($desktop) {
        @include container(12);
      }
    }
    .content {
      @include container(100%);
      text-align: center;
      @include breakpoint($desktop) {
        @include span(2 of 3 0);
      }
    }
    .slider-iphone {
      display: none;
      position: relative;
      @include breakpoint($desktop) {
        display: block;
        @include span(1 of 3 0);
      }
    }
    .disclaimer {
      color: #fff;
    }
    &:not(.no-slider) {
      .slider-iphone {
        figure {
          position: absolute;
          top: -30px;
        }
      }
    }
  }
  //new-cta
  &.within-form {
    header {
      padding-top: 10px;
      #{headings()} {
        font-size: 1.5rem;
      }
    }
    //header
    .form-range-slider {
      @include container(75%);
      height: auto;
      @include breakpoint(tablet) {
        min-height: 127px;
      }
      @include breakpoint($desktop) {
        //margin-bottom: 60px;
        @include container;
      }

      @include breakpoint($desktop) {
        //@include container(35em);
      }

      .slider-wrapper {
        margin-left: 0;
        margin-top: 80px;
        margin-bottom: 0;
        @include breakpoint($mobile-landscape) {
          margin-bottom: 60px;
        }
      }
    }
  }
}

//iphone slider
.slider-iphone {
  figure {
    img {
      max-width: 320px;
      z-index: 999;
      position: relative;
      left: 0;
      top: 0;
    }
    .slider-content {
      position: absolute;
      background-color: cyan;
      z-index: 9999;
      @include calc(width, "100% - 55px");
      @include calc(height, "100% - 180px");
      top: 78px;
      left: 36px;
      overflow: hidden;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.new-cta {
  .form-range-slider {
    display: inline-block;
    height: 75px;
    @include breakpoint(321px) {
      height: 100px;
    }
    @include breakpoint($mobile-landscape) {
      height: 150px;
    }
    .slider-wrapper {
      .display-box {
        @include breakpoint($mobile-landscape) {
          max-width: 45%;
        }
      }
    }
  }
  fieldset.button-group {
    margin-top: 16px;
    .disclaimer {
      margin-top: 72px;
      font-size: 0.65rem;
      line-height: 1.2em;
    }
  }
  &.no-slider {
    @include breakpoint($desktop) {
      padding: 120px 0;
      .cta-wrapper {
        
      }
    }
    header {
      @include breakpoint($desktop) {
        float: left;
      }
    }
    fieldset.button-group {
      margin-top: 46px;

      @include breakpoint($desktop) {
        float: left;
      }
    }
    .slider-iphone {
      figure {
        position: absolute;
        top: -76px;
        .slider-content {
          top: 69px;
          left: 32px;
          width: calc(100% - 49px);
          height: calc(100% - 162px);
        }
      }
    }
    .content {
      @include breakpoint($desktop) {
        @include span(3 of 4 0);
      }
    }
    .slider-iphone {
      @include breakpoint($desktop) {
        display: block;
        @include span(1 of 4 0);
      }
    }
  }
}