.side-nav {
    display: none;
    padding:0;
    @include breakpoint($desktop) {
        display: block;
        position: fixed;
        z-index: 99999;
        top: 418px;
        &.small-banner {
            top: 349px;
        }
        &.medium-banner {
            top: 428px;
        }
        &.big-banner {
            top: 561px;
        }
        right: -227px;
        width:280px;
        max-width: 280px;
        background: $pepper-teal-grey;
        @include transition(all 0.25s ease-in-out);
        a {
            width: 100%;
            @include clearfix;
            display: inline-block;
            color: #eee;
            padding: 15px;
            border-bottom: 1px solid lighten($pepper-teal-grey, 8%);
            @include transition(background-color 0.3s ease);
            &:hover, &:focus {
                color: #fff;
                background-color: lighten($pepper-teal-grey, 8%);
            }
            
            i {
                color:#fff;
                padding-right: 20px;
                font-size: 1.4rem;
            }
 
        }
        >a {
            &:first-of-type {
                background-color: $pepper-red;
                &:hover {
                   background-color: lighten($pepper-red, 8%);
                }
            }
        }
    }
}