%container {
    @include container(90%);
    @include breakpoint($desktop) {
        @include container(12);
    }
}
.sitemap{
    >h1, >.container {
        @extend %container;
    }
    >h1 {
        padding-bottom: 20px;
    }
    .container{
        color:$pepper-teal-grey;
        a{
            display: inline-block;
            padding: 10px;
            width: 100%;
            background-color: #fff;
            position: relative;
            line-height: 1.25;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            color:inherit;
            text-transform: capitalize;

            @include font-size(16px);
            &:hover{
                color:$pepper-red;
            }
            i{
                color: inherit;
            }
        }

        h1 {
          padding-bottom:10px;
          @include font-size(30px);
          @include breakpoint($desktop) {
            @include font-size(29px);
          }
        }
        h2{
            padding-bottom: 7px;
            /*border-bottom: 1px solid #ccc;*/
            .home-link{
                @include font-size(18px);
                font-weight:700;
            }
        }
        .footer-link{
            @include font-size(16px);
            font-weight:700;
            i{
               @include font-size(16px); 
            }
        }

        .sitemap-sections {
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            width: auto;
            height: auto;

            .category {
                /*border:1px solid #ccc;*/
                height: auto;
                display: inline-block;
                width: 100%;
                margin: 5px;
                padding: 10px;
                position: relative;
                /*background: rgba(0, 0, 0, .1);*/
                @include breakpoint($tablet) {
                   flex: 0 0 31.8%;
                }
                @include breakpoint($desktop) {
                   flex: 0 0 32.2%;
                }

                .category-title{
                    @include font-size(16px);
                    font-weight:700;
                    margin-bottom: 7px;
                    a{
                        color: #fff;
                        background-color: $pepper-red;
                        &:hover{
                            background-color: $pepper-red-light;
                        }
                    }
                    
                }

                .category-items{
                    padding-left: 10px;

                    .category-item{

                        margin-top: 5px;
                        position: relative;
                        position: relative;
                        label {
                            position:absolute;
                            right:0;
                            width:32px;
                            height: 100%;
                            display:inline-block;
                        }

                        input[type=checkbox] {
                            display: none;
                        }

                        input[type=checkbox]:checked ~ .category-items {
                            display: block;
                        }
                        input[type=checkbox]:checked ~ label:first-of-type {
                            &:after {
                                content: '\f056';
                            }
                        }
                        a{
                            padding: 10px;
                            display: inline-block;
                        }
                        .nest{

                            &:after {
                                content: '\f055';
                                cursor: pointer;
                                position: absolute;
                                top: 17px;
                                right:10px;
                                z-index: 10;
                                font-family: FontAwesome;
                                @include transition(all 0.35s ease);
                                @include font-size(20px);
                                @include breakpoint($desktop) {
                                    top: 13px;
                                }
                                &:hover{
                                    color:$pepper-red;
                                }
                            }
                        }//nest
                        .parent{
                            @include font-size(16px);
                        }
                        .category-items{
                            padding-left: 20px;
                            display: none;
                        }
                    }//category-item

                }//category-items

            }//category
        }//sitemap-sections

    }//container
}//sitemap