.slidedown-modal {
	position:fixed;
	width:100%;
	top:0;
	left:0;
	z-index: 99999;
	color:white;
	height: 0;
	overflow: visible;
	&.shown {
		display:none;
	}
	&.pos-bottom {
		top:auto;
		bottom:0;
		.container {
			max-width: 100% !important;
			position: absolute;
			top:auto;
			bottom:0;
            left:0;
            right:0;
			@include breakpoint($tablet) {
				@include container(12);
				max-width: 60em !important;
			}
			@include slide-down(slideUpBottom);
		}
	}
	&:not(.pos-bottom) {
		.container {
			//slide animation on load
			@include slide-down(slideDown);
		}
	}
	.container {
		@include container(90%);
		background: $modal-overlay;
		padding:20px;
		position:relative;
		@include breakpoint($tablet) {
			@include container(12);
		}
	}
	h4 {
		@include font-size(16px);
		font-weight: 700;
		position: relative;
	}
	.close-bt {
		position: absolute;
		right:0;
		top:-8px;
		color:#fff;
		span {
			@include font-size(14px);
			margin-right: 5px;
		}
		i {
			color:#fff;
			@include font-size(16px);
		}
		&:hover {
			color:darken(#fff, 10);
			i {
				color:darken(#fff, 10);
			}	
		}
	}
	p {
		a {
			color:$white;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	fieldset {
		text-align: center;
		margin-top: 20px;
		margin-bottom: 0;
	}
	.action {
		@extend %primary-button;
		text-transform: uppercase;
		max-width: 250px;
		margin:0 auto;
	}
}

//toggle
#SlideDown:checked ~ .slidedown-modal:not(.pos-bottom) .container {
	@include slide-down(slideUp);
	@include transform(translateY(-550px));
}
#SlideDown:checked ~ .slidedown-modal.pos-bottom .container {
	@include slide-down(slideDownBottom);
	@include transform(translateY(550px));
}
//animation tranisition for slide down
@-moz-keyframes slideDown {
    0% {
        -moz-transform: translateY(-550px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-550px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes slideDown {
    0% {
        transform: translateY(-550px);
    }
    100% {
        transform: translateY(0);
    }
}

//animation tranisition for slide up
@-moz-keyframes slideUp {
    0% {
        -moz-transform: translateY(0);
    }
    100% {
        -moz-transform: translateY(-550px);
    }
}
@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-550px);
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-550px);
    }
}

//animation tranisition for slide up from bottom
@-moz-keyframes slideUpBottom {
    0% {
        -moz-transform: translateY(550px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes slideUpBottom {
    0% {
        -webkit-transform: translateY(550px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes slideUpBottom {
    0% {
        transform: translateY(550px);
    }
    100% {
        transform: translateY(0);
    }
}

//animation tranisition for slide down from bottom
@-moz-keyframes slideDownBottom {
    0% {
        -moz-transform: translateY(0);
    }
    100% {
        -moz-transform: translateY(550px);
    }
}
@-webkit-keyframes slideDownBottom {
    0% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(550px);
    }
}
@keyframes slideDownBottom {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(550px);
    }
}

.notice.pos-bottom {
  bottom:0px;
  @include breakpoint(769px) {
    bottom:20px;
  }
	.container {
	  top: auto;
    background: transparent;
    width: 100%;
    position: absolute;
    background:transparent;
    padding:0;
    @include breakpoint($tablet) {
      max-width: 100% !important;
    }
	}
  p {
    @include font-size(14px);
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: $modal-overlay;
    padding: 15px;
    width:100%;
    max-width: 960px;
    padding-right: 30px;
  }
  .close-bt {
    right:16px;
    top:16px;
  }
  .important {
    color:$pepper-yellow;
    margin-right: 3px;
    font-weight: bold;
  }
}