.swipe-cards {
    @include blade;

    background-color: #eee;
    padding-bottom: 40px;

    > header {
        @include container(90%);
        margin-bottom: 20px;
        @include breakpoint($desktop) {
            @include container;
        }
    }
    .card-list {
        @include container(90%);
        padding-left: 10px;
        padding-right: 10px;
        @include breakpoint($tablet) {
            padding-left: 35px;
            padding-right: 25px;
        }

        @include breakpoint($desktop) {
            @include container(12);
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .card {
        position: relative;
        @include breakpoint($tablet) {
            margin-right: 1em;
        }

        > a {
            display: inline-block;
            color: $print;
            &:hover {
                h5 {
                    color: $red;
                }
            }
        }
        dl {
            display: none;
        }
        &.new {
            &:before {
                position: absolute;
                content: 'NEW';
                padding: 10px;
                background-color: $red;
                color: $white;
                z-index: 999;
                @include font-size(14px);
                font-weight: 400;
                padding: 5px 15px;
                top: 28px;
                left: auto;
                right: 1px;
                @include breakpoint(400px) {
                    top: 1px;
                    left: 1px;
                    right: auto;
                }
            }
        }
    }
    //card
    //card
    figure {
        margin-bottom: 24px;
        position: relative;
        border-bottom: 3px solid #fff;
        &.not-started {
            border-color: $red;
        }
        &.in-progress {
            border-color: $orange;
        }
        &.completed {
            border-color: $green;
        }
        /*&.amber {
            border-color: $yellow;
        }*/
    }
    article {
        padding: 0 20px;
        h5 {
            @include font-size(20px);
            font-weight: 700;
            @include transition(color 0.5s ease);
        }
    }
    .status {
        position: absolute;
        right: 0px;
        bottom: -19px;
        width: 36px;
        height: 36px;
        @include border-radius(50%);
        background-color: #fff;
        text-align: center;
        @include breakpoint($mobile-landscape) {
            right: 20px;
        }
        &:before {
            font-family: FontAwesome;
            font-size: 1.2rem;
            content: ' ';
            color: #fff;
            position: absolute;
            right: 8px;
            top: 7px;
        }
        &.in-progress {
            background-color: $orange;
            &:before {
                content: "\f0e4";
            }
        }
        &.completed {
            background-color: $green;
            &:before {
                content: "\f164";
            }
        }
        &.not-started {
            background-color: $red;
            &:before {
                content: "\f070";
            }
        }
        /*&.amber {
            background-color: $yellow;
            &:before {
                content: "\f06e";
            }
        }*/
    }
    .slick-next, .slick-prev {
        width: 20px;
        height: 20px;
        &:before {
            font-size: 1.0rem;
            @include breakpoint($tablet) {
                font-size: 1.2rem;
            }
        }
        top: 190px;
        @include breakpoint($tablet) {
            top: 195px;
        }

        @include breakpoint($desktop) {
            top: 178px;
        }
    }
    .slick-dots {
        bottom: -31px;
        @include breakpoint($tablet) {
            bottom: -33px;
        }
    }
    .slick-dots li {
        button {
            &:before {
                color: $print;
                @include font-size(24px);
            }
        }
        &.slick-active {
            button {
                &:before {
                    color: $red;
                }
            }
        }
    }
}

.no-swipe {
    .card-list {
        display: table;
        background-color: #fff;
        padding: 30px 0;
    }
    .card {
        display: table-cell;
        margin-bottom: 10px;
        @include span(1 of 1);
        @include breakpoint($mobile-landscape) {
            @include span(1 of 2);
            &:nth-child(even) {
                clear: right;
            }
        }

        @include breakpoint($desktop) {
            @include span(1 of 3);
            &:nth-child(4), &:nth-child(7), &:nth-child(10) {
                clear: left;
            }
        }

        img {
            margin-bottom: -4px;
            border: 1px solid #d7d7d7;
            border-bottom: none;
        }
        dl {
            display: inline-block;
            position: absolute;
            bottom: 0px;
            left: 1px;
            margin: 0;
            dt, dd {
                padding: 5px;
                background-color: rgba(255, 255, 255, 0.9);
                color: $print;
                @include font-size(14px);
            }
            dt, dd {
                float: left;
                margin-right: 1px;
            }
            dd {
                color: $red;
                &:first-of-type {
                    margin-right: 5px;
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}