.text-only {
    color: $pepper-teal-grey;
    @include blade;
    > .container {
        @include container(90%);
        @include breakpoint($desktop) {
            @include container(12);
        }
    }
    h1 {}
    h1, h2 {
        padding-bottom: 20px;
    }
    h3 {
        font-family: $fontfamily;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1.4em;
        padding: 10px 0;
    }
    &.small-hd {
        h1, h2 {
            font-size: 1.8rem;
            line-height: 1.0em;
        }
    }
}

$table-border: 1px solid darken($bg-light, 10);

//MB-2059
//Table styling
.pepper-table {
    &.side-header {
        table tr {
            td:first-of-type {
                background-color: $bg-light;
            }
        }
    }
    &:not(.side-header) {
        table tr {
            &:first-of-type {
                //first row
                background-color: $bg-light;
            }
        }
    }
    table {
        width: 100% !important;
        background-color: #fff;
        border: $table-border;
        border-top: 4px solid $pepper-red;
        tbody {
            @include font-size(14px);
            @include breakpoint($tablet) {
                @include font-size(16px);
            }
        }
        tr {
            &:not(:last-of-type) {
                border-bottom: $table-border;
            }
            td {
                padding: 10px;
                &:not(:first-of-type) {
                    border-left: $table-border;
                }
                @include breakpoint($tablet) {
                    padding: 15px;
                }
            }
        }
    }
}

//compare table

@include breakpoint($desktop) {
    .home-buyer {
        &.main-quote {
            margin-bottom: 0px !important;
        }
        &.text-image {
            padding-bottom: 0px !important;
        }
        &.text-only {
            padding-top: 40px !important;
        }
    }
    //home buyer
    .refinancer {
        &.main-quote {
            margin-bottom: 0px !important;
        }
        &.text-image {
            padding-bottom: 80px !important;
        }
    }
    //refinancer
}


.brand-guide {
    @include clearfix;
    padding: 40px 20px;
    @include container;
    @include breakpoint($desktop) {
        padding: 80px 0px;
        padding-left: 20px;
        /*just for ui lib on smaller devices*/
    }
}