.text-bullets {
    @include blade;
    color: $pepper-teal-grey;

    > .container {
        @include container(90%);

        @include breakpoint($desktop) {
            @include container(12);
        }
    }

    h1, h2 {
        padding-bottom: 20px;
    }

    h3 {
        margin: 20px 0 10px 0;
        @include font-size(19.2px); // 19.2px is obtained from Direct
    }

    p {
        line-height: 1.5rem;
    }

    ul li {
        @include breakpoint($desktop) {
            @include span(1 of 2);
        }
    }
}

// Extensions on text-bullets