//cta with image
.text-figure {
    background-size: cover;
    background-position: top center;

    @include blade;

    article {
        @include container(95%);
        @include clearfix;
        position: relative;
        @include breakpoint($desktop) {
            margin: 0;
            margin-top: 40px;
            @include container(12);
            padding-bottom: 40px;
        }
    }
    figure {
        display: none;
        @include breakpoint($desktop) {
            position: absolute;
            bottom: -40px;
            @include span(3 of 12);
            &.image-right {
                @include span(3 of 12 last);
            }
            display: block;
        }

        img {
            float: left;
            @include breakpoint($desktop) {
                width: 120%;
                max-width: 120%;
            }
        }
    }
    div {
        @include container(95%);
        color: $pepper-night-sky;
        text-align: center;
        @include breakpoint($desktop) {
            @include span(9 of 12);
            padding-left: 60px;
            text-align: left;
            margin-left: 225px;
        }
    }
    &.image-right {
        figure {
            @include breakpoint($desktop) {
                @include span(3 of 12 last);
            }
        }
        div {
            @include breakpoint($desktop) {
                padding-left: 0;
                padding-right: 60px;
            }
        }
    }
    h4 {
        font-size: 1.8rem;
    }
    h2, h3, h4, h5 {
        padding-bottom: 20px;
    }
    em {
        text-align: center;
        padding: 20px 0;
        display: inline-block;
        width: 100%;
        font-size: 1.4rem;
    }
    .button-group {
        margin-top: 30px !important;
    }
}
//text figure