.text-image-right-left {
    @include clearfix;
    @include blade;

    .container {
        @include container(90%);
        @include breakpoint($tablet) {
            @include container(12);
        }
    }
    &.pic-right {
        figure {
            float: none;
            margin: 0 auto;
            @include breakpoint($tablet) {
                float: right;
                margin-left: 20px;
            }
        }
    }
    &:not(.pic-right) {
        figure {
            float: none;
            margin: 0 auto;
            @include breakpoint($tablet) {
                float: left;
                margin-right: 20px;
            }
        }
    }
    figure {
        max-width: 140px;
    }
    article {
        float: none;
        @include breakpoint($tablet) {
            float: left;
            width: calc(100% - 160px);
        }
    }
    h2 {
        @include font-size(24px);
        color: $red;
        text-align: center;
        padding-top: 20px;
        @include breakpoint($tablet) {
            text-align: left;
            padding-top: 0;
        }
    }
    h3 {
        @include font-size(16px);
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
        @include breakpoint($tablet) {
            text-align: left;
            padding-bottom: 0;
            border-bottom: none;
        }
    }
    ul, ol {
        overflow:hidden;
        @include container;
    }
}