section.text-left-bullets-right {
  &.has-bg {
    @include backImage("//placehold.it");
    @include align-items(center);
    @include justify-content(center);
    position: relative;
    h1, p, li, li:before {
      color:#fff;
    }
    &:before {
      width:100%;
      height: 100%;
      position: absolute;
      content:' ';
      background: $overlay;
      z-index: 99;
    }
    .container {
      z-index: 999;
      position: relative;
    }
  }
  > .container {
    padding: 40px 0;
    @include container(90%);

    @include breakpoint($desktop) {
      @include container(12);
    }
  }

  h1 {
    font-size: 1.8rem;
    margin-bottom: 25px;
  }

  div.text-left {
    p {
      text-align: left;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include breakpoint($desktop) {
      @include span(3 of 5 0);
      padding-right: 80px;
    }
  }

  div.bullets-right {
    margin: 30px 0 0 0;

    @include breakpoint($desktop) {
      @include span(2 of 5 0);
      margin-top: 0;
    }

    ul {
      margin: 0;
      @include clearfix();

      > li {
        @include span(1 of 1 0);
        line-height: 1.2rem;
        padding-bottom: 0.5em;
      }
    }
  }

  &.tick-bullet {

    ul {
      list-style-type: none;
    }

  }
}