$text-image_image-size: 140px;

.text-image {
  color: $pepper-teal-grey;
  @include blade;

  > section {
    @include container(90%);
    @include breakpoint($desktop) {
      @include container(12);
    }

    h1, h2 {
      padding-bottom: 20px;
    }

    img {
      @include container(90%);
      margin: 10px auto;
      display: block;
      width: $text-image_image-size;
      height: $text-image_image-size;
      padding: 0;
      @include breakpoint($desktop) {
        @include span(2 of 12);
        display: inline-block;
        margin: 0 14px 0 0;
      }
    }

    > p, > div, > ul {
      margin-top: 0;
      margin-bottom: 10px;
      line-height: 1.5;

      @include breakpoint($desktop) {
        @include span(10 of 12 last);
      }
    }

    > ul {
      li {
        @include breakpoint($desktop) {
          @include span(1 of 2);
        }
      }
    }
  }
}