.text-col2-hd-img {
    @include blade;

    > div {
        @include container(90%);
        @include breakpoint($desktop) {
            @include container(12);
        }
    }
    header {
        @include clearfix;

        h2, h3, h4, p {
            margin-bottom: 20px;
        }
    }
    article {
        text-align: center;
        position: relative;
        margin-bottom: 80px;
        @include breakpoint($desktop) {
            @include span(6 of 12);
            padding: 0 2%;
            margin-bottom: 40px;
        }

        img {
            @include container(33%);
            @include clearfix;
            margin: 20px auto;
            @include breakpoint($desktop) {}
        }
        h2, h3, h4 {
            font-size: 1.2rem;
            line-height: 1.4em;
            margin-bottom: 10px;
        }
        h2, h3, h4, p {
            text-align: left;
        }

        nav.pepper-button {
            position: absolute;
            bottom:-50px;
            text-align: center;
            @include breakpoint($desktop) {
                text-align: left;  
            }

        }
        &:first-of-type {
            nav.pepper-button {
                @include breakpoint($desktop) {
                    left:20px;    
                }
            }
        }
    }
    ul, ol {
        li {
            text-align: left;
        }
    }
}

//text-col2-hd-img