.toggle-accordion {
    @include clearfix;
    @include container;
    border-top: 1px solid #fff;
    input[type=checkbox] {
        display: none;
    }
    label {
        display: block;
        position: relative;
        padding-top: 15px;
        cursor: pointer;
        font-weight: 700;
        padding-bottom: 10px;
        @include breakpoint($tablet) {
            padding-bottom: 0;
        }
        &:after {
            position: absolute;
            right: 0;
            content: "\f077";
            font-family: FontAwesome;
            top:17px;
        }
    }
    label, p {
        @include font-size(12px);
        @include container(90%);
        @include breakpoint($tablet) {
            @include container(100%);
        }
    }
    p {
      padding-top: 15px;
    }
    &.collapsed {
        label {
            &:after {
                content: "\f078";
            }
        }
        p {
            display: none;
        }
        input[type=checkbox]:checked {
            & ~ {
                p {
                    display: block;
                    padding-bottom: 20px;
                    @include breakpoint($tablet) {
                        padding-bottom: 0;
                    }
                }
                label {
                    &:after {
                        content: "\f077";
                    }
                }
            }
        }
    }
    &:not(.collapsed) {
      input[type=checkbox]:checked {
            & ~ {
                p {
                    display: none;
                }
                label {
                    &:after {
                        content: "\f078";
                    }
                }
            }
        }
    }
}