.transaction-card {
    @include container(90%);
    @include clearfix;
    padding: 20px;
    &:not(:first-of-type) {
    	margin:20px auto;
    }
    background-color: $bg-light;
     @include breakpoint($desktop) {
        @include container(46em);
    }

    @include breakpoint($tablet) {
        @include container;
    }
    legend {
    	padding-bottom: 20px;
    }

    header {
      padding-bottom: 20px;
      position: relative;
      i.fa {
        margin-right: 5px;
      }
      >span:last-of-type {
        position: absolute;
        top:1px;
      }
    }
    &.bg-white {
        background-color: #fff !important;
        border:1px solid #ccc !important;
    }
}

//articles
.amount-detail, .account-detail {
    padding: 10px !important;
    display: inline-block;
    width: 100%;
    @include breakpoint($desktop) {
        padding: 0px !important;
    }
    dl {
        @include lsnDataLabelStyle;
    }
}

.amount-detail {
    border-bottom: 1px solid darken($bg-light, 25);
    overflow: hidden;
    dl {
        // &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        //     @include span(1 of 2 0);
        //     padding-bottom: 10px;
        // }
        // &:nth-child(5), &:nth-child(6) {
        //     @include span(1 of 1 0);
        // }
        // &:nth-child(5) {
        //     clear: left;
        // }
        @include span(1 of 1 0);
        padding-bottom: 10px;
        @include breakpoint($desktop) {
            @include span(1 of 2 0);
            // &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
            //     //@include span(1 of 4 0);
            //     padding-bottom: 20px;
            // }
            // &:nth-child(5), &:nth-child(6) {
            //     @include span(1 of 2 0);
            // }
        }
    }
    //dl
}

.account-detail {
    dl {
        &:nth-child(1), &:nth-child(4) {
            @include span(1 of 1 0);
            clear: both;
            padding-bottom: 10px;
        }
        &:nth-child(2), &:nth-child(3) {
            @include span(1 of 2 0);
            padding-bottom: 10px;
        }
        @include breakpoint($desktop) {
            &:nth-child(2), &:nth-child(3) {
                @include span(1 of 2 0);
                padding-bottom: 0;
            }
            &:nth-child(4) {
                clear: none;
            }
        }
    }
    //dl
}

.dialog-box {
    .transaction-card {
        .amount-detail {
            border-bottom: none;
        }
    }
}