.video-blade
{
	&.single {
		@include clearfix;
		padding:40px 0;

		@include breakpoint($desktop) {
			padding: 80px 0;
		}
		.video-header{
			@include container(90%);
			padding: 10px 0;
			@include breakpoint($desktop) {
				@include container(12);
			}
			h2{
				margin-bottom: 20px;
			}
			p{
				margin-bottom: 15px;
			}
		}
		.video-container {
			@include container(90%);
			position: relative;
			height: 0;
			padding: 0 0 56.25% 0;
			background: $pepper-teal-grey;

			.BrightcoveExperience, iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100% !important;
				height: 100% !important;
			}

			@include breakpoint($desktop) {
				@include container(12);
				height: 540px;
				padding: 0;
			}
		}

	}
}