.video-gallery {
    @include clearfix;
    @include blade;
    background-color: #eee;
    .container {
        @include container(90%);
        @include breakpoint($desktop) {
            @include container;
        }
    }
    header {
        margin-bottom: 20px;
    }
    &.new {
        article {
            position: relative;
            &:before {
                position: absolute;
                content: 'NEW';
                padding: 10px;
                background-color: #DF0024;
                color: #fff;
                z-index: 999;
                font-size: 14px;
                font-size: 0.875rem;
                font-weight: 400;
                padding: 5px 15px;
                top: 0px;
                left:0px;
            }
        }
    }
    article {
        @include container(90%);
        @include breakpoint($tablet) {
            @include span(4 of 6 0);
        }

        iframe {
            width: 100% !important;
            min-height: 150px;
            height: auto !important;
            @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
            @include breakpoint($mobile-landscape) {
                height: 334px !important;
            }
        }
        footer {
            background-color: #fff;
            padding: 20px;
            margin-top: 20px;
            @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
            p {
                line-height: 1.2em;
            }
        }
        fieldset.button-group {
            margin-bottom: 20px;
        }
        ul {
            padding: 10px 0;
            @include container(100%);
            @include breakpoint($tablet) {
                @include span(1 of 2 0);
                padding: 40px 0;
                &:first-of-type {
                    li {
                        margin-right: 10px;
                    }
                }
            }

            li {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                h5 {
                    @include font-size(20px);
                    margin-bottom: 20px;
                }
                a {
                    display: inline-block;
                    padding: 20px;
                    width: 100%;
                    background-color: #fff;
                    position: relative;
                    line-height: 1.25;
                    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
                    i {
                        position: absolute;
                        left: 14px;
                        top: 24px;
                        font-size: 0.85rem;
                        margin-right: 5px;
                        color: $red;
                    }
                    span {
                        color: $print;
                        margin-left: 20px;
                        display: inline-block;
                    }
                    &:hover {
                        span {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
    .video-list {
        @include container(90%);
        margin-top: 20px;
        @include breakpoint($tablet) {
            @include span(2 of 6 0);
            margin-top: 0px;
            padding-left: 20px;
        }

        h5 {
            margin-bottom: 5px;
            background-color: #fff;
            padding: 8px;
            font-weight: 400;
            @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
        }
        ul {
            //disable and changes reverted back as requested in MB-1662
            // @include breakpoint($tablet) {
            //     max-height: 322px; //5 item in a roow
            //     overflow-x:hidden;
            //     overflow-y:scroll;
            // }
            li {
                background-color: #fff;
                width: 100%;
                @include clearfix;
                margin-bottom: 5px;
                @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    display: inline-block;
                    width: 100%;
                    &:hover, &.active {
                        figcaption {
                            color: $red;
                        }
                    }
                }
            }
        }
        figure {
            figcaption, time {
                color: $print;
                padding-left: 10px;
            }
            time {
                font-size: 0.7rem;
            }
            figcaption {
                font-weight: 400;
                font-size: 0.9rem;
                padding-top: 5px;
                @include span(2 of 3 0);
                overflow: hidden;
                max-height: 2.9em;
                @include transition(color 0.3s ease);
            }
            img {
                @include span(1 of 3 0);
                height: 100%;
            }
        }
    }
    &.with-blades {
        .container > header {
            display: none;
        }
        article {
            ul, fieldset {
                display: none;
            }
        }
        aside {
            @include breakpoint($mobile-landscape) {
                height: 334px;
            }

            ul {
                overflow-x: hidden;
                overflow-y: scroll;
                height: calc(100% - 50px);
                @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
            }
        }
    }
    .with-blades-link {
        background-color: #fff;
        margin-top: 23px;
        a {
            display: inline-block;
            padding: 20px;
            width: 100%;
            background-color: #fff;
            position: relative;
            line-height: 1.25;
            @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
            i {
                position: absolute;
                left: 14px;
                top: 24px;
                font-size: 0.85rem;
                margin-right: 5px;
                color: $red;
            }
            span {
                color: $print;
                margin-left: 20px;
                display: inline-block;
            }
            &:hover {
                span {
                    color: $red;
                }
            }
        }
    }
}

//video-gallery