.tick-bullet, .circle-bullet {
  li {
    margin: 0 0 10px 0;
    padding: 0;
    font-family: $fontheadinglight;
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
  }

  ul {
    margin: 20px 0;
    padding: 0;
    @include clearfix;

    li {
      padding: 0 0 0 30px;

      > p {
        margin: 0;
      }
    }
  }

  ol {
    padding: 0 0 0 20px;
    li {
      padding: 0 0 0 10px;

      > p {
        margin: 0;
      }
    }
  }
}

.tick-bullet, .circle-bullet {
  ul li {
    &:before {
      position: absolute;
      left: 0;
      top: 2px;
      content: "\f058";
      font-family: FontAwesome;
      font-weight: normal;
      font-size: 1.1rem;
      line-height: inherit;
      color: $pepper-green-dark;
    }
  }

  &.bg-red, &.bg-blue, &.bg-dark {
    ul li {
      &:before {
        color:#fff;
      }
    }
  }
}

.circle-bullet {
  ul li {
    &:before {
      left: 5px;
      top: 1px;
      content: "\f111";
      font-size: 0.5rem;
      color: $print;
    }
  }
}