.light-box {
    display: none;
    position: fixed;
    z-index: 100065;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 59, 78, 0.8);
    > section, > .light-box-section {
        display: block;
        background: #fff;
        @include container(90%);
        @include clearfix;
        @include vertical-align;
        padding: 40px;
        @include breakpoint($desktop) {
            @include container(12);
        }
    }
    header, article, fieldset, .light-box-header, .light-box-article {
        @include clearfix;
    }
    header, .light-box-header {
        margin-bottom: 20px;
        h4 {
            font-size: 1.2rem;
            @include breakpoint($desktop) {
                font-size: 1.8rem;
            }

            @include span(5 of 6 0);
            overflow: hidden;
            text-overflow: ellipsis;
        }
        a {
            @include span(1 of 6 0 last);
            text-align: right;
            span {
                display: none;
                @include breakpoint($desktop) {
                    display: inline-block;
                    color: $pepper-teal-grey;
                    position: relative;
                    top: 11%;
                    -webkit-transform: translateY(-10%);
                    -ms-transform: translateY(-10%);
                    transform: translateY(-10%);
                }
            }
            &:hover {
                i, span {
                    color: lighten($pepper-red, 8%);
                }
            }
        }
        i {
            margin-right: 10px;
            font-size: 1.4rem;
        }
    }
    article, .light-box-article {
        width: 100%;
        max-height: 240px;
        overflow-x: hidden;
        overflow-y: scroll;
        @include breakpoint($desktop) {
            overflow-y: auto;
        }
    }

    &.generic{
        section.popupbody{
            padding:0;
            header.header{
                margin-bottom: 0px;
                padding: 10px 5px;
                border:1px solid $pepper-grey;

                h4{
                    @include span(4 of 6 0);
                    @include breakpoint($phablet) {
                        @include span(5 of 6 0);
                    }
                }

                label.title{
                    font-weight: 600;
                    padding-left:10px;
                    @include font-size(18px);
                }
                a.link{
                    width:auto;
                    border: 1px solid $pepper-grey;
                    padding:2px 5px;
                    margin-left:5px;

                    i{
                        margin-right: 0px;
                        &.fa-times{
                           @include font-size(26px);
                        }
                    }

                    &.close-bt{
                        padding: 0 5px;
                    }

                }

            }
            article.content{
                padding:15px;
            }
            footer.footer{
              padding: 18px 5px;
            }
        }
    }
}

//light box

// Light box for gallery slider, extended class on top of .light-box
.light-box.gallery-slider-light-box {
    > section {
        padding: 0;
        position: relative;
        background: none;
        text-align: center;
        > header {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
        }
        > article {
            max-height: 800px;
            figure img {
                width: auto;
                height: auto;
                max-width: 1024px;
                max-height: 512px;
            }
        }
    }
}

.image-box {
    section {
        position: relative;
        padding: 0;
        max-height: 750px;
        overflow:hidden;
    }
    figcaption, .close-bt {
        position: absolute;
    }
    figcaption {
        background:linear-gradient(to top, #1e2733 0%, rgba(30, 39, 51, 0) 100%);
        bottom: 0;
        left: 0;
        padding: 40px 20px 20px 20px;
        text-align: left;
        width:100%;
        color:#fff;
    }
    .close-bt {
        background:rgba(30, 39, 51, 0.6);
        padding:6px 10px 6px 9px;
        @include border-radius(28px);
        right:20px;
        top:20px;
        color:#fff;
        &:hover {
            background:rgba(30, 39, 51, 0.9);
        }
        i[class^="fa"] {
            color: #fff;
        }
    }
}

//light box for html markup
.html-markup-lightbox{
    z-index: 9999999;
    section{
        display: block;
        padding:0;
        header{
            background-color: #f5f2f0; 
            margin-bottom: 0px;
            padding: 10px 5px;
            border:1px solid $pepper-grey;

            label{
                font-weight: 600;
                padding-left:10px;
                .component-name{
                    text-transform: capitalize;
                }
            }
            a{
                width:auto;
                border: 1px solid $pepper-grey;
                padding:2px 5px;
                margin-left:5px;

                i{
                    margin-right: 0px;
                    &.fa-times{
                        font-size:1.6rem;

                    }
                }

                &.close-bt{
                    padding: 0 5px;
                }

            }

        }
        article{
            background-color: #f5f2f0;
            overflow-y: scroll;
            border-bottom: 1px solid $pepper-grey;
        }
        footer{
          background-color: #f5f2f0; 
          padding: 27px 5px;
        }
    }
}
