// External libraries
@import "compass";

// this is the compass-mixins library from node_modules, not Ruby-based compass

@import "susy";
@import "breakpoint";

// Core
@import "../core/grid-960";
@import "../core/mixins";
@import "../core/variables";
@import "../core/breakpoints";
@import "../core/headings";
@import "../core/backgrounds";
@import "../core/extends";

@import "../components/sections/video-players";

$pad-mobile: 30px;
$pad-tablet: 60px;
$newBreakpoint : 1024px;

p {
    font-family: $fontheadinglight;
    line-height: 1.5em;
    @include font-size(16px);
    margin: 0;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

//Require style
.text-blade, .video-blade {
    width: 100%;
    @include clearfix;
    > div {
        @include container(90%);
        padding: $pad-mobile 0;
        text-align: center;
        @include breakpoint($tablet) {
            @include container($newBreakpoint);
            padding: $pad-tablet 0;
        }
    }
    &.no-bottom-pad {
        > div {
            padding-bottom: 0;
        }
    }
    h2 {
        color: $pepper-red;
        padding-bottom: $pad-mobile;
    }
    h2, p {
        @include container(100%);
        text-align: center;
    }
    iframe {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
    a.primary-button {
        @extend %primary-button;
        text-decoration: none;
        display: inline-block;
        margin-top: 11px;
    }
}

.video-blade {
    margin: 0 auto !important;
    padding: $pad-mobile 0 !important;
    @include breakpoint($tablet) {
        padding: $pad-tablet 0 !important;
    }
}

.video-blade p {
    padding-bottom: $pad-mobile;
}

.team-list {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    @include container(90%);
    @include breakpoint($tablet) {
        @include container($newBreakpoint);
    }

    li {
        @include container(90%);
        padding-bottom: $pad-mobile;
        @include breakpoint($mobile-landscape) {
            @include span(1 of 3);
        }

        @include breakpoint($desktop) {
            @include span(1 of 4);
            padding-bottom: $pad-tablet;
        }
    }
    a {
        text-decoration: none;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    img {
        @include border-radius(50%);
        width: 100%;
        height: auto;
        max-width: 156px;
        max-height: 156px;
        margin-bottom: 15px;
    }
}