// External libraries
@import "susy";
@import "breakpoint";

// Core
@import "../core/grid-960";
@import "../core/mixins";
@import "../vendors/prism";
@import "../core/variables";
@import "../core/breakpoints";

// Import only for UI Library
@import "../components/sections/faq-accordion";

$pepper-red: #df0024;
$nav-hieght: calc(100% - 117px);

//Holy grail layout
.holy-grail {
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: 60px;
    > article, > aside {
        display: table-cell;
    }
    > aside {
        width: 250px;
        float: left;
        position: fixed;
        padding-left: 10px;
        margin-top: 50px;
        .ui-components {
            position: fixed;
            top: 75px;
            left: 0;
            height: $nav-hieght;
            overflow-y: scroll;
            width: 250px;
            max-width: 250px;
            padding-left: 10px;
            margin-top: 20px;
            a {
                display: inline-block;
                padding: 10px;
                padding-left: 15px;
                color: #000;
                @include transition(background-color 0.5s ease-in-out);
                margin-bottom: 1px;
                width: 100%;
                text-align: left;
                &:hover, &.active {
                    color: $pepper-red-dark;
                }
            }
        }
        div {
            padding: 10px 10px 5px 5px;
            text-shadow: 2px 2px $pepper-light-grey;
            font-weight: bold;
            text-transform: Capitalize;
            border-bottom: 1px solid $pepper-gold;
            text-align: left;
            /*box-shadow: 0px 3px 5px $pepper-light-grey;*/
            -webkit-box-shadow: 0 8px 6px -7px #D8D8D8;
            -moz-box-shadow: 0 8px 6px -7px #D8D8D8;
            box-shadow: 0 8px 6px -7px #D8D8D8;
        }
        input[type=search] {
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #f1dec6;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            padding: 5px;
            text-align: left;
            /*box-shadow: 0px 0px 2px 0px $pepper-gold inset;*/
        }
    }
    //aside
    > article {
        margin: 50px 2px 0 252px;
        position: relative;
        display: none;
        padding: 0 20px 20px;
        .app-header, .desktop-nav {
            position: absolute !important;
            @include breakpoint(960px) {
                position: absolute !important;
            }
        }
        .desktop-nav {
            @include breakpoint(960px) {
                margin-top: -30px;
            }
        }
        .nav-main .level-three {
            position: absolute;
        }
        .display-area {
            min-height: 60px;
            height: auto;
            @include clearfix;
        }
        pre {
            position: relative;
            /*border: 2px dashed #ABA1A1;*/
            /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
            padding: 15px;
            @include container;
            @include clearfix;
            .copy {
                position: absolute;
                right: 17px;
                bottom: 17px;
                border: 1px dashed #ABA1A1;
                border-radius: 4px;
                padding: 0px 5px;
                cursor: pointer;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            .message {
                position: absolute;
                right: 8px;
                bottom: 44px;
                color: $pepper-green-dark;
                text-shadow: 2px 2px 2px $pepper-green-light;
            }
        }
    }
    //article
    > header {
        position: fixed;
        z-index: 9998;
        background-color: #fff;
        top: 0;
        left: 0;
        color: $pepper-red-dark;
        width: 100%;
        height: 50px;
        max-height: 50px;
        clear: both;
        overflow: hidden;
        h1 {
            font-size: 1rem;
            font-weight: bold;
            @include vertical-align;
            padding-left: 10px;
            text-align: left;
            float: left;
        }
        .content-header {
            margin-left: 100px;
            text-transform: uppercase;
        }
    }
    //header
    > footer {
        bottom: 0;
        position: fixed;
        left: 0;
        height: 60px;
        max-height: 60px;
        width: 100%;
        z-index: 9999;
        background-color: #fff;
        border-top: 1px solid $pepper-light-grey;
        /*box-shadow: 0px 0px 30px 0px $pepper-gold inset;*/
        .credits {
            padding: 10px;
            font-size: 0.8rem;
            @include container(39em);
            i {
                font-size: inherit;
            }
        }
        a {
            color: #000;
        }
    }
}

.css-markup {
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    color: slategray;
    code {
        line-height: 1.5;
        font-size: 13px;
        font-family: Consolas,Menlo,'Liberation Mono',Courier,monospace;
        color: #222;
        padding: 1px 2px;
        border: 1px solid #e3e3e3;
        vertical-align: 1px;
        background-color: #fff;
        -moz-box-shadow: inset 1px 1px 1px gray;
        -webkit-box-shadow: inset 1px 1px 1px gray;
        box-shadow: inset 1px 1px 1px gray;
    }
}

pre#css-code {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

pre#html-code {
    position: relative;
    .copy {
        position: fixed;
        right: 17px;
        bottom: 16px;
        border: 1px dashed #ABA1A1;
        border-radius: 4px;
        padding: 0px 5px;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        &:hover {
            color: $pepper-green-dark;
        }
    }
    .message {
        position: fixed;
        right: 71px;
        bottom: 17px;
        color: $pepper-green-dark;
        text-shadow: 2px 2px 2px $pepper-green-light;
    }
}

/*iframe css v2*/
.break-points {
    float: left;
    padding: 0;
    margin: 0;
    li {
        background-color: $pepper-red;
        border-radius: 4px;
        list-style-type: none;
        display: inline-block;
        padding: 5px 10px;
        color: #fff;
        cursor: pointer;
        i {
            color: inherit;
            font-size: 1rem;
        }
        &:hover {
            background-color: $pepper-red-light;
        }
    }
    li.active {
        background-color: $pepper-green;
    }
}

.breakpoint-animation {
    margin: 0 auto;
    width: auto;
}

/* ui lib changes v3*/
.lib-interface {
    .sticky-header {
        background-color: #fff;
        height: 48px;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        border-bottom: 1px solid #ddd;
        nav {
            position: fixed;
            right: 20px;
            top: 8px;
            display: none;
            @include breakpoint($tablet-landscape) {
                display: block;
            }
            legend {
                float: left;
                display: inline-block;
                font-size: 0.75rem;
                margin-right: 10px;
                margin-top: 8px;
            }
        }
        img {
            float: left;
            display: inline-block;
            color: $pepper-red-dark;
            margin-left: 5px;
            margin-top: 5px;
            cursor: pointer;
        }
        .delimiter {
            border-left: 1px solid $pepper-grey;
            float: left;
            display: inline-block;
            height: 28px;
            margin-top: 6px;
            margin-left: 25px;
        }
        fieldset {
            border: none;
            border-left: 1px solid #eee;
            float: left;
            width: 80%;
            position: relative;
            margin-top: 10px;
            padding: 0;
            @include breakpoint($tablet) {
                width:30%;
            }
            label {
                font-size: 0.8rem;
                width: 15%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                text-align: right;
                float: left;
                margin-right: 5px;
                margin-top: 8px;
            }
            select {
                height: 30px;
                padding: 0 10px;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                border: 1px solid #c8c8c8;
                font-family: "HalisR-Book", Helvetica, sans-serif;
                font-size: 0.9rem;
                color: #5f6a7d;
                -webkit-appearance: none;
                -moz-appearance: none;
                cursor: pointer;
                width: 83%;
            }
            &:after {
                position: absolute;
                font-family: FontAwesome;
                content: "\f078";
                right: 15px;
                top: 8px;
                z-index: 9999;
                font-size: 0.75rem;
                color: #2f3d4a;
            }
        }
        //fieldset select
   
    }
    //sticky header
    .sticky-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #ccc;
        height: 30px;
        padding-top: 2px;
        @include breakpoint($tablet) {
            padding-top: 5px;
        }
        small {
            padding-top: 2px;
            padding-left: 10px;
            @include span(2 of 6 0);
            @include breakpoint($tablet) {
                @include span(1 of 2 0);
            }
        }
        menu {
            margin: 0;
            @include span(4 of 6 omega 0);
            @include breakpoint($tablet) {
                @include span(1 of 2 omega 0);
            }
            a {
                float: right;
                padding-right: 20px;
                margin-right: 10px;
                color: $pepper-red;
                text-decoration: none;
                &:hover {
                    color: $pepper-red-dark;
                }
                &:last-of-type {
                    border-right: 1px solid #ccc;
                }
                i {
                    margin-right: 5px;
                }
            }
        }
    }
    .breakpoint-animation {
        margin-top: 48px;
        iframe {
            position: fixed;
            left: 0;
            top: 48px !important;
            margin-bottom: 30px;
            height: calc(100% - 78px);
            //header and footer space
       
        }
    }
}

.ui-lib {
    position: fixed;
    z-index: 999999;
    width: 275px;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.85);
    @include menu-shadow;
    border-right: 1px solid #ccc;
    height: 100%;
    @include transition(left 0.5s ease);
    .left-nav {
        width: auto;
        position: relative;
        height: 100%;
        header {
            padding: 20px 20px 5px 10px;
            position: relative;
            top: 0;
            h6 {
                font-size: 0.85rem;
            }
            h1 {
                @include font-size(24px);
                color: $pepper-red-dark;
                font-weight: bold;
                padding-bottom: 10px;
            }
            fieldset {
                display: block;
                margin: 0;
            }
        }
        header.breakpoint-activated {}
        .ui-components {
            overflow-y: scroll;
            width: 100%;
            margin: 0;
            background-color: #fff;
            height: calc(100% - 171px);
            a {
                display: inline-block;
                padding: 10px;
                padding-left: 15px;
                color: #000;
                @include transition(background-color 0.5s ease-in-out);
                margin-bottom: 1px;
                width: 90%;
                text-align: left;
                &:hover, &.active {
                    color: $pepper-red-dark;
                }
            }
            div {
                padding: 10px 10px 5px 10px;
                text-shadow: 2px 2px $pepper-light-grey;
                font-weight: bold;
                text-transform: Capitalize;
                border-bottom: 1px solid $pepper-gold;
                text-align: left;
                /*box-shadow: 0px 3px 5px $pepper-light-grey;*/
                -webkit-box-shadow: 0 8px 6px -7px #D8D8D8;
                -moz-box-shadow: 0 8px 6px -7px #D8D8D8;
                box-shadow: 0 8px 6px -7px #D8D8D8;
            }
            li {
                padding-left: 10px;
                border-bottom: 1px solid #ccc;
                .fa.fa-exclamation-circle {
                    color: $pepper-red;
                    line-height: 1.5;
                    font-size: 1rem;
                }
            }
        }
        input[type=search] {
            width: 100%;
            height: 45px;
            box-sizing: border-box;
            border: 1px solid darkent($pepper-grey, 25);
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            padding: 5px;
            text-align: left;
            /*box-shadow: 0px 0px 2px 0px $pepper-gold inset;*/
        }
    }
}

.ui-lib-main {
    display: none;
    margin: 0;
    padding: 0;
    margin-left: 275px;
    width: calc(100% - 275px);
    @include transition(all 0.5s ease);
}

blockquote {
    background: $pepper-grey;
    padding: 10px;
    q {
        line-height: 1.4em;
        width: 85%;
        border-left: 2px solid #fff;
        display: inline-block;
        padding-left: 30px;
        font-size: 1.2rem;
        position: relative;
        &:before {
            position: absolute;
            left: 10px;
            top: 5px;
            font-size: 2.2rem;
            color: darken($pepper-grey, 35%);
        }
    }
    #bookmark-this {
        cursor: pointer;
        color: $pepper-red;
    }
}

.compo-nav {
    @include clearfix;
    @include container;
    margin: 0;
    padding: 0;
    a {
        @include span(1 of 2 0);
        background: #eee;
        color: $pepper-grey-text;
        display: inline-block;
        padding: 10px;
        text-align: center;
        font-size: 0.85rem;
        font-weight: 700;
        &.active {
            background: #fff;
            color: $pepper-red;
        }
    }
}

.compo-info-block {
    display: none;
    padding: 5px 10px 0px 10px;
    width: 100%;
    overflow: hidden;
    height: $nav-hieght;
    overflow-y: scroll;
    dl {
        margin: 0;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $pepper-grey;
        dt {
            font-weight: 700;
            padding-bottom: 10px;
            @include font-size(18px);
        }
        //dt
        dd {
            padding-bottom: 5px;
            em, span {
                display: inline;
            }
            em {
                font-weight: 700;
                @include font-size(14px);
                i{
                    @include font-size(13px);
                }
            }
            > a.text-button {
                display: inline-block;
                padding: 8px 16px;
                background-color: $pepper-red;
                @include border-radius(4px);
                color: #fff;
                i{
                    color: inherit;
                }
            }
            a.link{
                display:block;
                @include font-size(13px);
            }
            span {
                @include font-size(13px);
                display: block;
                &.big {
                    @include font-size(15px);
                }
            }
        }
        //dd
        a {
            i {
                font-size: 0.7rem;
                color: $pepper-red;
                margin-left: 5px;
                @include font-size(14px);
            }
        }
        fieldset {
            label {
                margin: 0;
                text-align: left;
                position: relative;
                cursor: pointer;
                width: 100%;
                padding-bottom: 10px;
                margin: 10px;
                border-bottom: 1px solid #eee;
                &:last-of-type {
                    padding-bottom: 0;
                }
                input[type=checkbox] {
                    display: none;
                }
                code {
                    @include border-radius(2px);
                    border: 1px solid $pepper-grey;
                    background-color: $pepper-grey;
                    @include font-size(14px);
                    font-weight: 700;
                    &.checkbox {
                        margin-left: 25px;
                        padding: 1px 10px;
                        &:before {
                            content: "\f096";
                            position: absolute;
                            left: 0;
                            top: 2px;
                            font-family: FontAwesome;
                            color: $pepper-red;
                            @include font-size(24px);
                        }
                    }
                }
                input[type=checkbox]:checked ~ code {
                    &:before {
                        content: "\f14a";
                    }
                }
                span {
                    padding-top: 10px;
                    color: darken($pepper-grey, 30);
                    @include font-size(14px);
                }
            }
        }
        //fieldset
   
    }
    //dl
}

//hamburger icon
.hamburger {
    position: fixed;
    top: 0;
    left: 280px;
    z-index: 1000050;
    //always top
    cursor: pointer;
    @include transition(left 0.5s ease);
    i {
        color: #333;
    }
}

#Hamburger:checked ~ .ui-lib {
    left: -275px;
}

//hamburger icon
#Hamburger:checked ~ .hamburger {
    left: 0px;
}

#Hamburger:checked ~ .ui-lib-main {
    margin-left: 0;
    width: 100%;
}